<div class="ingrain-fullmodal" id="sampledataModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="sampledataModalTitle" aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sampledataModalTitle">View Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='onClose()'>
          <span aria-hidden="true">&nbsp;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 500px;">
        <div class="ml-auto float-right vds-download-link" style="cursor: pointer;">
          <img class="vds-icon" title="Export the password protected file, click on info icon to know the password hint" (click)="downloadData()" src="assets/MonteCarlo/images/download-template.png"
              alt="Download Data" />
        </div>
        <div class="myw-scrollbar mt-4">
          <table class="table table-striped table-hover table-vmiddle myw-table" *ngIf="tableData.length>0">
            <thead>
              <tr>
                <ng-container *ngFor="let rowData of tableData[0] | keyvalue">
                  <th *ngFor="let data of rowData.value | keyvalue">{{data.key}}</th>
                </ng-container>   
              </tr>
            </thead>
            <ng-container *ngIf="isLoading; then displayLoader else displayTableData"></ng-container>
            <ng-template #displayLoader>
              <tbody>
                <app-loader-display></app-loader-display>
                <div *ngIf="pythonProgressStatus == 'P'" class="IngrAI-python-progress-dialogbox">
                  <p>Data process in progress</p>
                  <p> {{pythonProgress}}% Completed </p>
                </div>
              </tbody>
            </ng-template>
            <ng-template #displayTableData>
              <tbody>
                <tr *ngFor="let rowData of tableData | paginate: { id: 'showData_pagination',
                        itemsPerPage: 10,
                        currentPage: page
                       }; let i = index">
                  <ng-container *ngFor="let data of rowData | keyvalue">
                    <td align="center" *ngFor="let el of data.value | keyvalue" >{{el.value}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </ng-template>
          </table>
          <div *ngIf="tableData.length === 0 && isLoading==false">There is no data to show</div>
        </div>  
        <!-- </div> -->

        <div class="d-flex align-items-center justify-content-end myw-pagination mt-0">
          <div class="d-flex pt-10">
              <pagination-controls id="showData_pagination" maxSize="10" directionLinks="true" (pageChange)="page = $event">
                </pagination-controls>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>