<mat-form-field class="col">
  <mat-label *ngIf="!displayCount">Filters</mat-label>
  <mat-label *ngIf="displayCount && filterSelected.length ==0">Select Filters</mat-label>
  <mat-select multiple
  [(ngModel)]="filterSelected"
  (selectionChange)="onChangeOfSelect($event)"
  [formControl]="selectedOptions">
    <mat-select-trigger>
      <div class="myw-columns">
        <div *ngFor="let label of filterLabels | slice: 0 : defaultDisplayCount; let i = index" style="display: inline-flex;">
          <label [popover]='label.name' triggers="mouseenter:mouseleave">
            <div style=" max-width: 11em;overflow: hidden;text-overflow: ellipsis;">{{label.name}}</div>
            <div href="javascript:;" title="Remove" class="ml-2" (click)="removeFilter($event, label.name.split(': ')[0] + this.seperatorParentChild + label.name.split(': ')[1])" aria-label="Remove"
              class="remove-filter">x</div>
          </label>
        </div>
        <div *ngFor="let label of filterLabels | slice: defaultDisplayCount : defaultDisplayCount + 1 " style="display: inline-flex;">
          <label *ngIf="filterLabels.length > defaultDisplayCount" style="color: #fff; background-color: #004dff;">
            <div>+ {{filterLabels.length - defaultDisplayCount}} {{filterLabels.length == defaultDisplayCount + 1 ? 'other' : 'others'}}</div>
          </label>
        </div>
        

        
        <!-- <label *ngFor="let label of filterLabels">
          <div>{{label.name}}</div>
          <div href="javascript:;" title="Remove" class="ml-3" (click)="removeFilter($event, label.value)" aria-label="Remove" class="remove-filter">x</div>
        </label> -->
      </div>
    </mat-select-trigger>
    <mat-optgroup *ngFor="let filterParent of filterGroup;let parentIndex = index">
      <div>
        <!-- <button mat-button (click)="expandFilters(filterParent.name)">
          <img src="assets/images/Down.png" alt="Expand" style="width: 0.6rem;"/>
        </button>
        <mat-checkbox (change)="toggleParent($event, filterParent)"
          (click)="$event.stopPropagation()">
          {{filterParent.name}}
        </mat-checkbox> -->
        <mat-checkbox [checked]='isExpandFilter[filterParent.name]' 
        (change)="expandFilters(filterParent.name, $event)">
          {{filterParent.name}}
        </mat-checkbox>
      </div>
    <mat-option #selectAllRef [value]="'SelectAll'+filterParent.name" [ngClass]="isExpandFilter[filterParent.name] ? 'list-show' : 'list-hide'"  
    (click)="selectAllFiltersForAttribute(selectAllRef, filterParent, parentIndex)">Select All</mat-option>

    <mat-option *ngFor="let filterChild of filterParent['filterAttrs']" 
    [value]="filterParent.name + this.seperatorParentChild + filterChild.name"
    [ngClass]="isExpandFilter[filterParent.name] ? 'list-show' : 'list-hide'">
      <!-- (click)="onChangeMatOption(filterParent.name, filterChild.name)" -->
      <!-- <mat-checkbox (change)="toggleChild($event, filterParent, filterChild)"
      [checked]="filterChild.checked" (click)="$event.stopPropagation()">
        {{filterChild.name}}
      </mat-checkbox> -->
      <span>{{filterChild.name}}</span>
    </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>