<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ingrAI-enter-model-title">Save Test Scenario</h5>
      <button type="button" class="close" aria-label="Close" (click)='onClose()'></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column justify-content-center">
        <form #form=ngForm>
          <div class="ingrAI-search ml-auto ingrAI-search-container">
            <input placeholder="Enter Test Case" type="text" #modalNameInput=ngModel class="form-control" name='testScenarioName'
              required maxlength="70" [(ngModel)]='testScenarioName'>
              <label class="form-label">You have {{ 70 - testScenarioName?.length}} of 70 characters remaining.</label>

          </div>
        </form>
      </div>
      <div class="d-flex justify-content-end myw-actions" style="margin-top: 1.56rem;">
        <button type="button" class="btn btn-secondary" (click)='onClose()'>Cancel</button>
        <button type="button" class="btn btn-primary" (click)='onEnter(modalNameInput)'>Save</button>
      </div>
    </div>
  </div>
</div>