<!-- New UX Ingrain-->

<!-- OutLier Treatment-->
<ng-container *ngIf="Available.Outlier">
  <div class="row py-2">
    <div class="col-5 col-lg-2">
      <div class="form-group mb-0">
        <label class="form-label">Outlier Treatment</label>
        <app-info-tooltip [className]="'toggleLeft'">
          <div class="htmlDesignedTooltip">
            <div class="myw-scrollbar" style="max-height: 45vh">
              <div>
                Techniques to deal with Outliers:
                <ul>
                  <li>The user has an option to replace the outliers in the identified input attributes with Mean,
                    Median, Mode, CustomValue or None. In case the data distribution is continuous and
                    symmetrical, i.e. normally distributed, we can replace outliers using Mean. If the dataset is
                    skewed or is of ordinal type, then Median can be used. In case data is of nominal type, we can
                    replace outliers using Mode. To replace outliers using some business logic, it is best to use
                    the Custom Value Option</li>
                  <li> SMOTE - SMOTE is an oversampling technique that generates synthetic samples from the
                    minority class in case of imbalanced categorical Target attribute.</li>
                  <li> Interpolation - Interpolation is the process of estimating unknown values that fall
                    between the known values for sequential data. The technique is applicable only for time-series
                    models.</li>
                </ul>
              </div>
            </div>
          </div>
        </app-info-tooltip>
      </div>
    </div>
    <div class="col">
      <div class="form-group mb-0">
        <label class="form-label">Recommendations</label>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let attribute of dataModificationAttributes; let i = index">

    <div class="row py-2"
      *ngIf="(dataModificationOutlierOptions.hasOwnProperty(attribute) ) && dataModificationOutlierOptions[attribute].length>0 ">
      <div class="col-5 col-lg-2"
        *ngIf="(dataModificationOutlierOptions.hasOwnProperty(attribute) ) && dataModificationOutlierOptions[attribute].length>0 ">

        <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
          [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
          <div class="form-group mb-0 wordbreak">
            <!-- <label class="form-label">Outlier Treatment</label> -->
            <div>{{attribute}}</div>
          </div>
        </div>

        <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
          <div class="form-group mb-0 wordbreak">
            <!-- <label class="form-label">Outlier Treatment</label> -->
            <div>{{attribute}}</div>
          </div>
        </div>

      </div>
      <div class="col"
        *ngIf="(dataModificationOutlierOptions.hasOwnProperty(attribute) ) && dataModificationOutlierOptions[attribute].length>0 ">

        <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
          [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
          <div class="form-group mb-0">
            <!-- <label class="form-label">Recommendations</label> -->
            <div class="ingrain-collapse">
              <!-- <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)" [ngClass] ="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}"> -->
              <a class="dropdown-toggle collapsed text-reset text-decoration-none" data-toggle="collapse"
                [attr.href]="'#collapse1'+i" role="button" aria-expanded="false" [attr.aria-controls]="'collapse1'+i">
                {{OutlierMessage[attribute]}} </a>
              <div class="collapse" [id]="'collapse1'+i"
                *ngIf="(dataModificationOutlierOptions.hasOwnProperty(attribute) ) && dataModificationOutlierOptions[attribute]">
                <div class="form-group mb-0">
                  <fieldset [disabled]="readOnly">
                    <div class="form-inline">
                      <ng-container *ngFor='let item of dataModificationOutlierOptions[attribute]'>
                        <label class="myw-checkbox"
                          *ngIf="item !== 'Text' && item !=='ChangeRequest' && item !== 'PChangeRequest'">
                          <input type="radio" [checked]='defaultModificationOptions[attribute] === item'
                            [name]="'radio-1'+i" [value]="item" (click)='onChange(i,"Outlier",attribute,item);'>
                          <span>{{item}}</span>
                        </label>

                        <input type="text" #select [value]='item'
                          *ngIf="item == 'CustomValue' && radioTextBox['displayRadioTextBox' + i]" class="form-control"
                          [value]="dataModificationOutlierCustomValue[attribute]" maxlength="70" placeholder="Enter Custom Value"
                          (change)='onChange(i,"Outlier",attribute,"CustomValue",select.value)'>
                          <label class="form-label">You have {{ 70 - select?.value.length}} of 70 characters remaining.</label>

                      </ng-container>

                    </div>
                  </fieldset>
                </div>
              </div>
              <!-- </div> -->

            </div>
          </div>
        </div>

        <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
          <div class="form-group mb-0">
            <!-- <label class="form-label">Recommendations</label> -->
            <div class="ingrain-collapse">
              <!-- <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)" [ngClass] ="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}"> -->
              <a class="dropdown-toggle collapsed text-reset text-decoration-none" data-toggle="collapse"
                [attr.href]="'#collapse1'+i" role="button" aria-expanded="false" [attr.aria-controls]="'collapse1'+i">
                {{OutlierMessage[attribute]}} </a>
              <div class="collapse" [id]="'collapse1'+i"
                *ngIf="(dataModificationOutlierOptions.hasOwnProperty(attribute) ) && dataModificationOutlierOptions[attribute]">
                <div class="form-group mb-0">
                  <fieldset [disabled]="readOnly">
                    <div class="form-inline">
                      <ng-container *ngFor='let item of dataModificationOutlierOptions[attribute]'>
                        <label class="myw-checkbox"
                          *ngIf="item !== 'Text' && item !=='ChangeRequest' && item !== 'PChangeRequest'">
                          <input type="radio" [checked]='defaultModificationOptions[attribute] === item'
                            [name]="'radio-1'+i" [value]="item" (click)='onChange(i,"Outlier",attribute,item);'>
                          <span>{{item}}</span>
                        </label>

                        <input type="text" #select [value]='item'
                          *ngIf="item == 'CustomValue' && radioTextBox['displayRadioTextBox' + i]" class="form-control"
                          [value]="dataModificationOutlierCustomValue[attribute]" maxlength="70" placeholder="Enter Custom Value"
                          (change)='onChange(i,"Outlier",attribute,"CustomValue",select.value)'>
                          <label class="form-label">You have {{ 70 - select?.value.length}} of 70 characters remaining.</label>

                      </ng-container>

                    </div>
                  </fieldset>
                </div>
              </div>
              <!-- </div> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<!-- OutLier Treatment-->

<!-- Skewness Treatment-->
<ng-container *ngIf="Available.Skewness">
  <div class="row py-2">
    <div class="col-5 col-lg-2">
      <div class="form-group mb-0">
        <label class="form-label">Skewness Treatment</label>
        <app-info-tooltip [className]="'toggleLeft'">
          <div class="htmlDesignedTooltip">
            <div class="myw-scrollbar" style="max-height: 45vh">
              <div>
                Skewness:
                • There are three techniques available to address the issue of data skewness.
                <ul>
                  <li> <b>Box Cox</b> – The Box-Cox procedure automatically identifies a transformation from the family of power transformations that are indexed by a parameter λ which varies from -5 to 5. All values of λ are considered and the optimal value for your data is selected. The “optimal value” is the one which results in the best approximation of a normal distribution curve.
                    <br/>
                    <img src="assets/images/skewTreatment.PNG" alt="Image" width="165" height="60" style="width:165px">
                  </li>
                  <li> <b>Reciprocal</b> – This technique is used for non-zero values only. The value will be replaced by it's inverse.</li>
                  <li> <b>Log</b> – Commonly used for reducing right skewness and is often appropriate for
                    measured
                    variables. It cannot be applied to zero or negative values.</li>
                </ul>
              </div>
            </div>
          </div>
        </app-info-tooltip>
      </div>
    </div>
    <div class="col">
      <div class="form-group mb-0">
        <label class="form-label">Recommendations</label>

      </div>
    </div>
  </div>
  <ng-container *ngFor="let attribute of dataModificationAttributes; let i = index">
    <div class="row py-2"
      *ngIf="(dataModificationSkewnessOptions.hasOwnProperty(attribute) ) && dataModificationSkewnessOptions[attribute].length>0">
      <div class="col-5 col-lg-2"
        *ngIf="(dataModificationSkewnessOptions.hasOwnProperty(attribute) ) && dataModificationSkewnessOptions[attribute].length>0">
        <div class="form-group mb-0 wordbreak">
          <!-- <label class="form-label">Skewness Treatment</label> -->
          <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
            [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
            <div>{{attribute}}</div>
          </div>
          <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
            <div>{{attribute}}</div>
          </div>
        </div>
      </div>
      <div class="col"
        *ngIf="(dataModificationSkewnessOptions.hasOwnProperty(attribute) ) && dataModificationSkewnessOptions[attribute].length>0">
        <div class="form-group mb-0">
          <!-- <label class="form-label">Recommendations</label> -->
          <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
            [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
            <div class="ingrain-collapse">
              <a class="dropdown-toggle collapsed text-reset text-decoration-none" data-toggle="collapse"
                [attr.href]="'#collapse2'+i" role="button" aria-expanded="false" [attr.aria-controls]="'collapse2'+i">
                {{RecommendationMessage.Skewness}}</a>
              <div class="collapse" [id]="'collapse2'+i">
                <div class="form-group mb-0">
                  <fieldset [disabled]="readOnly">
                    <div class="form-inline">
                      <ng-container *ngFor='let item of dataModificationSkewnessOptions[attribute]'>
                        <label class="myw-checkbox"
                          *ngIf="item !== 'Skewness' && item !== 'Skeweness' && item !=='ChangeRequest' && item !== 'PChangeRequest'">
                          <input type="radio" [checked]='defaultModificationOptionsSkewness[attribute] === item'
                            [name]="'radio-2'+i" [value]="item" (click)='onChange(i,"Skewness",attribute,item)'>
                          <span>{{item}}</span>
                        </label>
                        <input type="text" #select [value]='item'
                          *ngIf="item == 'CustomValue' && radioTextBox['displayRadioTextBox' + i]"
                          class="form-control mb-2" maxlength="70" [value]='dataModificationSkewnessCustomValue[attribute]'
                          placeholder="CustomValue"
                          (change)='onChange(i,"Skewness",attribute,"CustomValue",select.value)'>
                          <label class="form-label">You have {{ 70 - select?.value.length}} of 70 characters remaining.</label>

                      </ng-container>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
            <div class="ingrain-collapse">
              <a class="dropdown-toggle collapsed text-reset text-decoration-none" data-toggle="collapse"
                [attr.href]="'#collapse2'+i" role="button" aria-expanded="false" [attr.aria-controls]="'collapse2'+i">
                {{RecommendationMessage.Skewness}}</a>
              <div class="collapse" [id]="'collapse2'+i">
                <div class="form-group mb-0">
                  <fieldset [disabled]="readOnly">
                    <div class="form-inline">
                      <ng-container *ngFor='let item of dataModificationSkewnessOptions[attribute]'>
                        <label class="myw-checkbox"
                          *ngIf="item !== 'Skewness' && item !== 'Skeweness' && item !=='ChangeRequest' && item !== 'PChangeRequest'">
                          <input type="radio" [checked]='defaultModificationOptionsSkewness[attribute] === item'
                            [name]="'radio-2'+i" [value]="item" (click)='onChange(i,"Skewness",attribute,item)'>
                          <span>{{item}}</span>
                        </label>

                        <input type="text" #select [value]='item'
                          *ngIf="item == 'CustomValue' && radioTextBox['displayRadioTextBox' + i]"
                          class="form-control mb-2" maxlength="70" [value]='dataModificationSkewnessCustomValue[attribute]'
                          placeholder="CustomValue"
                          (change)='onChange(i,"Skewness",attribute,"CustomValue",select.value)'>
                          <label class="form-label">You have {{ 70 - select?.value.length}} of 70 characters remaining.</label>

                      </ng-container>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  
  </ng-container>
</ng-container>
<!-- Skewness Treatment-->

<!-- Imbalance/Remove Treatment-->
<ng-container *ngIf="Available.RemoveColumn">
  <div class="row py-2">
    <div class="col-5 col-lg-2">
      <div class="form-group mb-0">
        <label class="form-label">Imbalance</label>
        <app-info-tooltip [className]="'toggleLeft'">
          <div class="htmlDesignedTooltip">
            <div class="myw-scrollbar" style="max-height: 45vh">
              Techniques to deal with Data Imbalance:
              <div>
                <b>Binning </b> – Binning is a data processing technique used to reduce the imbalance present in
                the
                identified attributes. In this technique, the dataset points which are in minority and thus
                creating imbalance in data are grouped into a bin, and the original data values are replaced by a
                value representative of that group OR Binning is a way to bucketize/group less or imbalanced data
                replaced by a value representative of
                that group
              </div>

            </div>
          </div>
        </app-info-tooltip>
      </div>
    </div>
    <div class="col">
      <div class="form-group mb-0">
        <label class="form-label">Recommendations</label>
      </div>
    </div>
  </div>

  <ng-container *ngFor="let attribute of dataModificationAttributes; let i = index">
    <fieldset [disabled]="readOnly">
      <div class="row py-2"
        *ngIf="(dataModificationRemoveColumnOptions.hasOwnProperty(attribute) ) && dataModificationRemoveColumnOptions[attribute].length>0 ">
        <div class="col-5 col-lg-2"
          *ngIf="(dataModificationRemoveColumnOptions.hasOwnProperty(attribute) ) && dataModificationRemoveColumnOptions[attribute].length>0 ">
          <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
            [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
            <div class="form-group mb-0 wordbreak">
              <!-- <label class="form-label">Imbalance</label> -->
              <div>{{attribute}}</div>
            </div>
          </div>
          <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
            <div class="form-group mb-0 wordbreak">
              <!-- <label class="form-label">Imbalance</label> -->
              <div>{{attribute}}</div>
            </div>
          </div>

        </div>
        <div class="col"
          *ngIf="(dataModificationRemoveColumnOptions.hasOwnProperty(attribute) ) && dataModificationRemoveColumnOptions[attribute].length>0 ">
          <div class="form-group mb-0">
            <!-- <label class="form-label">Recommendations</label> -->
            <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
              [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
              <div class="ingrain-collapse">
                <a class="dropdown-toggle collapsed text-reset text-decoration-none" data-toggle="collapse"
                  [attr.href]="'#collapse3'+i" role="button" aria-expanded="false" [attr.aria-controls]="'collapse3'+i">
                  {{RecommendationMessage.RemoveColumn}}</a>
                <div class="collapse" [id]="'collapse3'+i">
                  <div class="form-group mb-0">
                    <fieldset [disabled]="readOnly">
                      <div class="form-inline">
                        <ng-container *ngFor='let item of dataModificationRemoveColumnOptions[attribute]'>
                          <label class="myw-checkbox"
                            *ngIf="item !== 'Skewness' && item !== 'Skeweness' && item !=='ChangeRequest' && item !== 'PChangeRequest'">
                            <input type="radio" [name]="'radio-3'+i" [value]="item"
                              (click)='onChange(i,"RemoveColumn",attribute,item)'
                              (change)="onRadioClick($event,attribute,i,'Skewness')">
                            <span>{{item}}</span>
                          </label>

                          <input type="text" #select [value]='item'
                            *ngIf="item == 'CustomValue' && radioTextBox['displayRadioTextBox' + i]"
                            class="form-control mb-2" maxlength="70" [value]="dataModificationRemoveColumnCustomValue[attribute]"
                            placeholder="CustomValue"
                            (change)='onChange(i,"RemoveColumn",attribute,"CustomValue",select.value)'>
                            <label class="form-label">You have {{ 70 - select?.value.length}} of 70 characters remaining.</label>

                        </ng-container>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
              <div class="ingrain-collapse">
                <a class="dropdown-toggle collapsed text-reset text-decoration-none" data-toggle="collapse"
                  [attr.href]="'#collapse3'+i" role="button" aria-expanded="false" [attr.aria-controls]="'collapse3'+i">
                  {{RecommendationMessage.RemoveColumn}}</a>
                <div class="collapse" [id]="'collapse3'+i">
                  <div class="form-group mb-0">
                    <div class="form-inline">
                      <ng-container *ngFor='let item of dataModificationRemoveColumnOptions[attribute]'>
                        <fieldset [disabled]="readOnly">
                          <label class="myw-checkbox"
                            *ngIf="item !== 'Skewness' && item !== 'Skeweness' && item !=='ChangeRequest' && item !== 'PChangeRequest'">
                            <input type="radio" [name]="'radio-3'+i" [value]="item"
                              (click)='onChange(i,"RemoveColumn",attribute,item);'
                              (change)="onRadioClick($event,attribute,i,'Skewness')">
                            <span>{{item}}</span>
                          </label>
                          <input type="text" #select [value]='item'
                            *ngIf="item == 'CustomValue' && radioTextBox['displayRadioTextBox' + i]"
                            class="form-control mb-2" maxlength="70" [value]="dataModificationRemoveColumnCustomValue[attribute]"
                            placeholder="CustomValue"
                            (change)='onChange(i,"RemoveColumn",attribute,"CustomValue",select.value)'>
                            <label class="form-label">You have {{ 70 - select?.value.length}} of 70 characters remaining.</label>
                        </fieldset>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </fieldset>
  </ng-container>
</ng-container>
<!-- Imbalance/Remove  Treatment-->

<!-- Binning Treatment-->
<ng-container *ngIf="Available.binning">
  <div class="row py-2">
    <div class="col-5 col-lg-2">
      <div class="form-group mb-0">
        <label class="form-label mr-1">Binning</label>
        <app-info-tooltip [className]="'toggleLeft'">
          <div class="htmlDesignedTooltip">
            <div class="myw-scrollbar">
              <!-- Techniques to deal with Data Imbalance: -->
              <div>
                <b>Binning </b> – Binning is a data processing technique used to reduce the imbalance present in
                the
                identified attributes. In this technique, the dataset points which are in minority and thus
                creating imbalance in data are grouped into a bin, and the original data values are replaced by a
                value representative of that group OR Binning is a way to bucketize/group less or imbalanced data
                replaced by a value representative of
                that group
              </div>

            </div>
          </div>
        </app-info-tooltip>
        <!-- <div>-</div> -->
      </div>
    </div>
    <div class="col">
      <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
        [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
        <div class="form-group mb-0">
          <label class="form-label">Recommendations</label>
        </div>
        <div class="form-group mb-0">
          {{RecommendationMessage.binning}}
        </div>
      </div>

      <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
        <div class="form-group mb-0">
          <label class="form-label">Recommendations</label>
        </div>
        <div class="form-group mb-0">
          {{RecommendationMessage.binning}}
        </div>
      </div>

    </div>
  </div>

  <ng-container *ngFor="let attribute of dataModificationAttributes; let i = index">
    <div class="row pt-1 border-0" *ngIf="binning[attribute]">
      <div class="col-6 col-lg-4" *ngIf="binning[attribute]">
        <div class="form-group mb-2">
          <label class="form-label"></label>
        </div>
        <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)">
          <div class="form-group wordbreak">
            {{attribute}}
          </div>
        </div>

        <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
          <div class="form-group wordbreak">
            {{attribute}}
          </div>
        </div>

      </div>
      <div class="col-6 col-lg-4" *ngIf="binning[attribute]">
        <div class="form-group mb-2">
          <label class="form-label">Bin Name</label>
        </div>
        <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
          [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
          <div class="form-group">
            <fieldset [disabled]="readOnly">
              <div *ngIf="columnBinning[attribute]" class="d-flex" style="flex-wrap: wrap;">
                <ng-container>
                  <div class="ingrain-slider d-flex disable" style="flex-wrap: wrap;width: -webkit-fill-available;">
                    <input #binningInput type="text" class="form-control col-10" maxlength="70" placeholder="Enter Bin Name"
                      name="binningName" id="binning + i" disabled>
                  </div>
                </ng-container>
              </div>
            </fieldset>
          </div>
        </div>

        <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
          <div class="form-group">

            <div *ngIf="columnBinning[attribute]" class="d-flex" style="flex-wrap: wrap;">
              <ng-container>
                <div class="ingrain-slider d-flex" style="flex-wrap: wrap;width: -webkit-fill-available;">
                  <ng-container *ngFor="let binningName of binning[attribute]['BinningNames']; let i = index">
                    <div class="ingrAIn-feature-filter-item">
                      <span class="ml-1"
                        style="max-width: 13em;;overflow: hidden;word-break: break-word;">{{binningName}} </span> {{'
                      '}}

                      <app-info-tooltip>
                        <div class="htmlDesignedTooltip myw-scrollbar" style="max-height: 30em;">
                          {{binning[attribute][binningName].join(', ')}}
                        </div>
                      </app-info-tooltip>
                      <span class="item-close m-auto" (click)="removeBinning(attribute,binningName,i)">x</span>
                    </div>
                  </ng-container>
                  <fieldset [disabled]="readOnly">
                    <input #binningInput type="text" class="form-control col-10" maxlength="70" placeholder="Enter Bin Name"
                      name="binningName" id="binning + i">
                      <label class="form-label">You have {{ 70 - binningInput?.value.length}} of 70 characters remaining.</label>
                    <a class="mt-2" (click)="createNewBin(attribute,binningInput.value,binningInput)"
                      href="javascript:;" *ngIf="bininngDataOptions[attribute].length>0">Add</a>
                  </fieldset>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
      <div class="col-6 col-lg-4" *ngIf="binning[attribute]">
        <div class="form-group mb-2">
          <label class="form-label">Bin Values</label>
        </div>
        <div *ngIf="autobinningcolumsitem.hasOwnProperty(attribute)"
          [ngClass]="{'disable' : autobinningcolumsitem.hasOwnProperty(attribute)== true}">
          <div class="form-group">
            <div *ngIf="columnBinning[attribute]"
              class="ingrAI-list-item-container ingerAI-predescription-list-item-container form-control disable">
              <ng-container *ngIf="bininngDataOptions[attribute].length>0">
                <fieldset [disabled]="readOnly">
                  <app-multi-select-drop-down id="{{removeWhiteSpace(attribute)}}" class="ingrAI-list-item"
                    [defaultValues]="binning[attribute]['defaultSeleted']" [disableDropdown]="'true'"
                    (outputData)='onBinningDataChange(attribute,$event)' [columnData]='bininngDataOptions[attribute]'
                    [moduleName]="'DataTransformation'">
                  </app-multi-select-drop-down>
                </fieldset>
              </ng-container>
            </div>
          </div>
        </div>

        <div *ngIf="!autobinningcolumsitem.hasOwnProperty(attribute)">
          <div class="form-group">
            <div *ngIf="columnBinning[attribute]"
              class="ingrAI-list-item-container ingerAI-predescription-list-item-container form-control">
              <ng-container *ngIf="bininngDataOptions[attribute].length>0">
                <fieldset [disabled]="readOnly">
                  <app-multi-select-drop-down id="{{removeWhiteSpace(attribute)}}" class="ingrAI-list-item"
                    [defaultValues]="binning[attribute]['defaultSeleted']"
                    (outputData)='onBinningDataChange(attribute,$event)' [columnData]='bininngDataOptions[attribute]'
                    [moduleName]="'DataTransformation'">
                  </app-multi-select-drop-down>
                </fieldset>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
    </div>   
  </ng-container>
</ng-container>
<!-- Binning Treatment-->


<!-- Interpolation-->
<ng-container *ngIf='problemTypeFlag'>
  <div class="row py-2">
    <div class="col-5 col-lg-2">
      <div class="form-group mb-0">
        <label class="form-label">Interpolation</label>
      </div>
    </div>
    <div class="col">
      <div class="form-group mb-0">
        <label class="form-label">Recommendations</label>
      </div>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-5 col-lg-2">
      <div>
        <div class="form-group mb-0 wordbreak">
          <!-- <div>Interpolation Data</div> -->
        </div>
      </div>

    </div>

    <div>
      <div class="ingrain-collapse">
        <a class="dropdown-toggle collapsed text-reset text-decoration-none" data-toggle="collapse"
          [attr.href]="'#collapse4'" role="button" aria-expanded="false" [attr.aria-controls]="'collapse4'">
          Interpolation Data &nbsp; &nbsp;</a>
        <div class="collapse" id="collapse4">
          <div class="form-group mb-0">
            <div class="form-inline">
              <ng-container *ngFor='let interpolationItem of interpolationItems;let t = index'>
                <fieldset [disabled]="readOnly">
                  <label class="myw-checkbox">
                    <input #radio [value]='interpolationItem' name='ingrAIrecommendationInterpolation'
                      [checked]='interpolationDefaultValue == interpolationItem'
                      (click)='onChange(i,"Interpolation","Interpolation",interpolationItem);' type="radio">
                    <!-- <span class="checkradio"> -->
                    <span>{{interpolationItem}}</span>
                  </label>
                </fieldset>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>



<!-- Auto Binning -->
<ng-container *ngIf="modelType == 'Classification' && SmoteMultiFlag === false">

  <div class="row border-0">
    <div class="col-6 col-lg-4">
      <div class="form-group mb-2 d-flex">
        <div class="d-flex justify-content-binning-end align-items-end">
          <fieldset [disabled]="readOnly">
            <table>
              <tr>
                <td>
                  <input [checked]="chkbinning" #selectedLabel (change)="onChecked(selectedLabel)" type="checkbox"
                    name="AutoBinning" /> Auto Binning
                </td>
                <td style="padding-left: 10%">
                  <div>

                    <mat-form-field>
                      <mat-select [disabled]="notcheckbinning" matTooltip="{{getToolTipData(colnames)}}"
                        [(ngModel)]="colnames" (ngModelChange)="bindbinningcolums(colnames)"
                        placeholder="select columns" multiple>
                        <mat-option [value]="columns" *ngFor="let columns of autobinningcolumns">
                          {{columns}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

</ng-container>
<!-- Auto Binning -->