.ingrain-card:hover{ box-shadow: 0 0 .5rem #D6DEFF; cursor: pointer;}

.bell-icon {
    position: absolute;
    left: 20px;
    top: 6px;
    z-index: 1;
    cursor: pointer;
    height: 1.6rem !important;
  }

.disable-pointer {
    pointer-events: none;
}
.disabled-tile{
  opacity:0.7;
  background-color: lightgrey;
  display:  none;
}

.color-black{
    color:black !important;
  }

.templateDescription{
  height: 120px;
  overflow-y: auto;
  z-index: 1;
}