<div id="main" class="myw-content d-flex flex-column flex-fill">

  <ng-container *ngIf="templateCategoryView; then showTemplateCategoryView else showDefaultTemplateView"></ng-container>

  <ng-template #showDefaultTemplateView>

    <div class="myw-container ingr-landing d-flex flex-column align-items-center py-4">
      <!-- <h1>Welcome to IngrAIn</h1> -->
      <h3>Select any one option from below based on your requirement.</h3>
      <div class="row mt-4">
        <div class="col-6 col-lg">
          <div class="card ingr-card">
            <div class="card-header">
              <img class="bell-icon" src="assets/images/icon-bell-green.png"
                *ngIf="modelTrainingStatus === 'success' && isAdmin === true && showBellIcon === true"
                (click)="getDefaultModelsTrainingStatus(true)">
              <img class="bell-icon" src="assets/images/icon-bell-red.png"
                *ngIf="modelTrainingStatus === 'error' && isAdmin === true && showBellIcon === true"
                (click)="getDefaultModelsTrainingStatus(true)">
              <div class="mt-2">
                <img src="assets/images/mt.svg" alt="Model Templates" />
              </div>
              <div class="card-title">Model Templates</div>
            </div>
            <div class="card-body">
              <p>Ready to consume business usecases template for rapid creation, training and model deployment
                using an Intuitive, Interactive and Instruction based approach.</p>
            </div>
            <div class="card-footer mb-2">
              <a style="cursor: pointer;color:white;" (click)="onTileClicked('prebuilt')" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg">
          <div class="card ingr-card">
            <div class="card-header">
              <div class="mt-2"><img src="assets/images/ccm.svg" alt="CCM" /></div>
              <div class="card-title">Create Custom Model</div>
            </div>
            <div class="card-body">
              <p>Create business contextualised AI models to meet a specific requirement using an Intuitive,
                Interactive and Instruction-based approach.</p>
            </div>
            <div class="card-footer mb-2">
              <a style="cursor: pointer;color: white;" class="btn btn-primary" (click)="onTileClicked('createNewModel')">Select</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg">
          <div class="card ingr-card">
            <div class="card-header">
              <div class="mt-2"><img src="assets/images/ais.svg" alt="AI Services" /></div>
              <div class="card-title">Ready to Use AI Services</div>
            </div>
            <div class="card-body">
              <p>Discover the ready to use plug-n-play AI services for common usecases like Text Analytics and
                Clustering, that can be easily integrated with your applications.</p>
            </div>
            <div class="card-footer mb-2">
              <a style="cursor: pointer;color: white;" (click)="onTileClicked('nlpservices')" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-lg">
          <div class="card ingr-card">
            <div class="card-header">
              <div class="mt-2"><img src="assets/images/mm.svg" alt="My Models" /></div>
              <div class="card-title">My Models</div>
            </div>
            <div class="card-body">
              <p>View and Edit all your In-progress and deployed models for a selected Client and Delivery Centre.</p>
            </div>
            <div class="card-footer mb-2">
              <a style="cursor: pointer;color: white;" class="btn btn-primary" (click)="selectMyModels()">Select</a>
            </div>
          </div>
        </div>


        <div class="col-6 col-lg">
          <div class="card ingr-card">
            <div class="card-header">
              <div class="mt-2"><img src="assets/images/mds.svg" alt="My Data Source" /></div>
              <div class="card-title">My Data Source</div>
            </div>
            <div class="card-body">
              <p>Find the datasets from the existing repository or create new datasets using File upload, API or Database for your AI model creation.</p>
            </div>
            <div class="card-footer mb-2">
              <a style="cursor: pointer;color: white;" class="btn btn-primary" (click)="redirecttoutilities()">Select</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </ng-template>

  <ng-template #showTemplateCategoryView>

    <!-- navbar -->
    <div class="myw-navbar" style="z-index: 800 !important; top: 0rem !important;"  [ngClass]="pinUnpinIconsBar ? 'collapsed' : ''">
      <div class="myw-container d-flex flex-wrap">
        <div class="d-flex flex-nowrap align-items-center myw-navbar-wrap">
          <div class="myw-navbar-inner d-flex align-items-center">
            <a style="cursor: pointer;" class="text-reset text-decoration-none mr-2" title="Back" aria-label="Back"
              (click)="backToDefaultView()">
              <img src="assets/images/back.svg" alt="Back" class="myw-icon"></a>
            <ng-container *ngIf="view === 'prebuilt'">
              <h6 class="m-0">Model Templates</h6>
            </ng-container>
            <ng-container *ngIf="view === 'createNewModel'">
              <h6 class="m-0">Create Custom Model</h6>
            </ng-container>
            <ng-container *ngIf="view === 'nlpservices'">
              <h6 class="m-0">Ready to Use AI Services</h6>
            </ng-container>
          </div>
        </div>

        <!-- <div *ngIf="view != 'createNewModel'" class="myw-navbar-action myw-navbar-search">
          <input type="text" class="form-control form-control-sm" (input)="searchModel($event.target.value)"
            placeholder="Search...">
          <img src="assets/images/close.svg" alt="Close" />
        </div> -->

        <ng-container *ngIf="view != 'createNewModel'">
        <div  class="myw-navbar-action myw-navbar-search" *ngIf="toggle" (click)="toggle = !toggle">
          <input #searchInput type="text" class="form-control form-control-sm"
              (input)="searchModel($event.target.value)" maxlength="70" placeholder="Search..." />
          <img src="assets/images/close.svg" alt="Close" (click)="toggle = !toggle; closeSearchBox()"  style=" width: 0.8em;"/>
       </div>
        <div *ngIf="!toggle" style="display:inline-flex; margin-right: 1em;">
          <input #searchInput type="text" class="form-control form-control-sm"
              (input)="searchModel($event.target.value)" maxlength="70" placeholder="Search..."  style="width: 11.5rem;" />
          <img src="assets/images/close.svg" alt="Close" (click)="toggle = !toggle; closeSearchBox()" style=" width: 0.8em;"/>
        </div>
      </ng-container>

      </div>
      <a style="cursor: pointer;" class="myw-navbar-pin" title="Toggle Navbar" data-toggle="tooltip" data-placement="left"
        data-trigger="hover" (click)="iconsPinUnpin()">
        <img src="assets/images/pin.svg" alt="" /><span class="sr-only">Toggle Navbar</span>
      </a>
    </div>
    <!-- /navbar -->

    <div class="row no-gutters flex-fill">
      <div class="col-auto">
        <!-- Sidebar -->
        <div class="myw-sidebar d-flex flex-column" [ngClass]="toggelSideBar ? 'collapsed' : ''">
          <a style="cursor: pointer;" class="myw-sidebar-toggle" title="Toggle Sidebar" (click)="categorySideBarToggling()">
            <img src="assets/images/menu.svg" alt="">
            <span class="invisible">Toggle Sidebar</span>
          </a>
          <div class="myw-sidebar-navlist" *ngFor="let templatesCategory of categoryTypes; let i = index">

            <ng-container *ngIf="view === 'prebuilt'">
              <a href="#" class="myw-sidebar-nav" title="{{templatesCategory.name}}"
                (click)='onClickCategory(templatesCategory.value,i)'
                [ngClass]="{'active': templatesCategory.value === category, 'disable-pointer' : (view === 'nlpservices' && templatesCategory.value !== 'Others' && templatesCategory.value !== 'Devops') || ((env == 'PAM' || env == 'FDS') && (requestType == 'AM' || requestType == 'IO'))}">
                <img src="{{templatesCategory.imgPath}}"
                  alt="System Integration"><span>{{templatesCategory.name}}</span>
              </a>
            </ng-container>

            <ng-container *ngIf="view !== 'prebuilt'">
              <a href="#" class="myw-sidebar-nav active" title="{{templatesCategory.name}}"
                (click)='onCategoryClick(templatesCategory.value, i)'
                [ngClass]="{'active': templatesCategory.value === category, 'disable-pointer' : (view === 'nlpservices' && templatesCategory.value !== 'Others' && templatesCategory.value !== 'Devops') || ((env == 'PAM' || env == 'FDS') && (requestType == 'AM' || requestType == 'IO'))}">
                <img src="{{templatesCategory.imgPath}}"
                  alt="System Integration"><span>{{templatesCategory.name}}</span>
              </a>
            </ng-container>

          </div>
        </div>
        <!-- /Sidebar -->
      </div>

      <ng-container *ngIf="view === 'prebuilt'">
        <div class="col">
          <div class="myw-maincontent myw-container py-4 myw-scrollbar" style="height: 32em;">
            <div class="fs-16 myw-500 flex-0" *ngIf="prebuiltModels!=null">
              <ng-container *ngIf="category === 'release Management'">
                <span>Total System Integration Model</span>
              </ng-container>
              <ng-container *ngIf="category != 'release Management'">
                <span>Total {{category}} Model</span>
              </ng-container>

              <span class="myw-chips ingrain-chips">{{prebuiltModels.length}}</span>
            </div>
            <div class="row">
              <ng-container *ngIf="prebuiltModels!=null">
                <div class="col-6 col-lg-4" *ngFor="let templatemodel of prebuiltModels">
                  <div class="card ingrain-card"
                    (click)="onSelectedModel(templatemodel.CorrelationId,templatemodel.TemplateName[1], templatemodel.TemplateName[0], templatemodel.Custom, templatemodel.IsCascadeModelTemplate)">
                    <div class="card-header">
                      <a
                        class="card-title stretched-link text-reset text-decoration-none">{{templatemodel.TemplateName[0]}}</a>
                    </div>
                    <div class="card-body d-flex flex-column fs-12">
                      <!-- <p class="templateDescription">{{templatemodel.BusinessProblem}}</p> -->
                      <p class="templateDescription" title="{{templatemodel.BusinessProblem}}"> {{(templatemodel.BusinessProblem).length > 255?
                        ((templatemodel.BusinessProblem) | slice:0:255)+'....':(templatemodel.BusinessProblem)}}</p>
                      <div class="mt-auto"><span class="myw-500">Connected Application: </span>
                        <span>{{templatemodel.LinkedApps}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="prebuiltModels==null">
                <h4 class="h"
                  style="display: flex;padding: 10rem;font-size: 1.125rem;align-items: center;justify-content: center;font-weight: 500;min-height: 23.625rem;height: 5.625rem;">
                  No model available for this category.</h4>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="view === 'createNewModel'">
        <div class="col" style="height: 26.6rem;">
          <div class="myw-maincontent myw-container py-4">
            <div class="fs-16 myw-500 flex-0">
              <span>Custom Model</span>
            </div>
            <div class="fs-12 pt-4">Click on Create button to Connect to data source and create a custom model</div>
            <div>
              <div #createNewmodel class="ingrAI-model-template-tile ingrAI-create-model">
                <div class="d-flex flex-column">
                  <button style="width: 30px;margin-top: 30px;z-index: 1;" type="submit" class="btn btn-primary"
                    data-dismiss="modal" data-toggle="modal" (click)="openModalForApi()">Create</button>
                  <img style="position: absolute;width: 70em;" src="assets/images/Custom_template icon.svg">
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="view === 'nlpservices'">
        <div class="col">
          <div class="myw-maincontent myw-container py-4 myw-scrollbar" style="height: 32em;">
            <div class="fs-16 myw-500 flex-0">
              <span>Ready to Use AI Services </span>
              <span *ngIf="nlpServices!=null" class="myw-chips ingrain-chips">{{nlpServices.length}}</span>
            </div>
            <div class="row">
              <div class="col-6 col-lg-4" *ngFor="let service of nlpServices">
                <!-- ServiceName: "Inference Engine" -->
                <ng-container *ngIf="service.ServiceName != 'Inference Engine' && service.ServiceName != 'Anomaly Detection'">
                  <div class="card ingrain-card" [ngClass]="{'disable-pointer disabled-tile':service.Active !== true }"
                  routerLink="/reusable-NLP-services"
                  [queryParams]="{ 'serviceName': service.ServiceName,'serviceId': service.ServiceId, 'longdescription': service.LongDescription, 'templateFlag': service.TemplateFlag}">
                  <div class="card-header">
                    <a class="card-title stretched-link text-reset text-decoration-none">{{service.ServiceName}}</a>
                  </div>
                  <div class="card-body d-flex flex-column fs-12">
                    <!-- <p class="templateDescription" [ngClass]="{'color-black':service.Active !== true }">
                      {{service.Description}}</p> -->
                      <p class="templateDescription" [ngClass]="{'color-black':service.Active !== true }" 
                      title="{{service.Description}}"> {{(service.Description).length > 255?
                        ((service.Description) | slice:0:255)+'....':(service.Description)}}</p>
                  </div>
                </div>
                </ng-container>
                <ng-container *ngIf="service.ServiceName == 'Inference Engine'">
                <div class="card ingrain-card" [ngClass]="{'disable-pointer disabled-tile':service.Active !== true }"
                  routerLink="/inferenceEngine"
                  [queryParams]="{ 'serviceName': service.ServiceName,'serviceId': service.ServiceId, 'longdescription': service.LongDescription, 'templateFlag': service.TemplateFlag}">
                  <div class="card-header">
                    <a class="card-title stretched-link text-reset text-decoration-none">{{service.ServiceName}}</a>
                  </div>
                  <div class="card-body d-flex flex-column fs-12">
                    <!-- <p class="templateDescription" [ngClass]="{'color-black':service.Active !== true }">
                      {{service.Description}}</p> -->
                      <p class="templateDescription" [ngClass]="{'color-black':service.Active !== true }" 
                      title="{{service.Description}}"> {{(service.Description).length > 255?
                        ((service.Description) | slice:0:255)+'....':(service.Description)}}</p>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="service.ServiceName == 'Anomaly Detection'">
                <div class="card ingrain-card" [ngClass]="{'disable-pointer disabled-tile':service.Active !== true }"
                  routerLink="/anomaly-detection-dashboard"
                  [queryParams]="{ 'serviceName': service.ServiceName,'serviceId': service.ServiceId, 'longdescription': service.LongDescription, 'templateFlag': service.TemplateFlag}">
                  <div class="card-header">
                    <a class="card-title stretched-link text-reset text-decoration-none">{{service.ServiceName}}</a>
                  </div>
                  <div class="card-body d-flex flex-column fs-12">
                    <!-- <p class="templateDescription" [ngClass]="{'color-black':service.Active !== true }">
                      {{service.Description}}</p> -->
                      <p class="templateDescription" [ngClass]="{'color-black':service.Active !== true }" 
                      title="{{service.Description}}"> {{(service.Description).length > 255?
                        ((service.Description) | slice:0:255)+'....':(service.Description)}}</p>
                  </div>
                </div>
              </ng-container>

              </div>

            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </ng-template>

</div>