<div class="myw-ingrain-table-details">
    <h4 class="myw-600 fs-18 px-2 pt-2">Below is a sample inference generated</h4>
    <div class="px-2">
        <div class="row">

            <div [ngClass]="{ 'col-12 col-lg-6': outputDisplay == false , 'col-12 col-lg-12': outputDisplay == true}">
                <div class="myw-ingrain-inc-rcol">
                    <!-- <h4 class="myw-600 fs-16">Outputs</h4> -->
                    <div class="mb-3" style="display: flex;">
                        <h6 class="myw-600 mt-2">Inference on Data Inflow Analysis </h6>
                        <a   class="btn btn-primary ml-auto" (click)="outputDisplay = !outputDisplay">
                            {{ (outputDisplay) ? 'View ': 'Hide ' }}Configuration</a>
                    </div>
                    <div class="myw-accordion-wrap mb-1">
                        <a  role="button" class="myw-600 d-flex justify-content-end mb-3 ingrain-acc-action text-decoration-none"
                *ngIf="dataInflowaccordian.expandAll" (click)="expandDAll()">Expand All</a>
              <a role="button" class="myw-600 d-flex justify-content-end mb-3 ingrain-acc-action text-decoration-none"
                *ngIf="!dataInflowaccordian.expandAll" (click)="collapseDAll()">Collapse All</a>
                        <div class="myw-accordion" *ngFor="let v of outputInflowDataToBeShown?.VolumetricInferences; let i = index">
                            <div class="myw-accordion-header">
                                <div class="myw-accordion-title myw-600">
                                    {{v.DisplayName}}</div>
                                <a   class="myw-action" data-toggle="popover" [title]="v.DisplayName"
                                    triggers="mouseenter:mouseleave" [popover]="dateTypeIconInfo[v.DisplayName]"
                                    data-trigger="hover"><img src="assets/images/info.svg" alt=""></a>
                                    <a class="myw-accordion-toggle" role="button"
                                    [ngClass]="{'collapsed': dataInflowaccordian['accOutput'+i] }"
                                    (click)=" dataInflowaccordian['accOutput'+i] = !dataInflowaccordian['accOutput'+i]"
                                        data-toggle="collapse" aria-expanded="false" [attr.aria-controls]="'accOutput'+i"></a>
                            </div>
                            <div class="myw-accordion-content collapse" [id]="'accOutput'+i" [ngClass]="{ 'collapse ': dataInflowaccordian['accOutput'+i] }">
                                <div class="p-3">
                                    <div class="myw-accordion-bdy" style="max-height: 15em;overflow-y: auto;">
                                        <ng-container *ngFor="let u of v.Value">
                                            <ng-container *ngIf="u.hasOwnProperty('Value') && u.Value">
                                                <p class="myw-acc-d- myw-600"> {{ u.DisplayName }} </p>
                                                <ul *ngFor="let w of u.Value">
                                                    <li>{{ w.narratives }}</li>
                                                </ul>
                                            </ng-container>

                                            <ng-container *ngIf="u.hasOwnProperty('narratives')">
                                                <ul>
                                                    <li>{{ u.narratives }}</li>
                                                </ul>
                                            </ng-container>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <h6 class="myw-600 mb-3">Inference on Measure Analysis</h6>
                    <div class="myw-accordion-wrap mb-1">
                        <a  role="button" class="myw-600 d-flex justify-content-end mb-3 ingrain-acc-action text-decoration-none"
                    *ngIf="measureaccordian.expandAll" (click)="expandMAll()">Expand All</a>
                  <a  role="button" class="myw-600 d-flex justify-content-end mb-3 ingrain-acc-action text-decoration-none"
                    *ngIf="!measureaccordian.expandAll" (click)="collapseMAll()">Collapse All</a>
                        <div class="myw-accordion" 
                        *ngFor="let v of outputInflowMeasureToBeShown.MeasureAnalysisInferences; let i = index">
                            <div class="myw-accordion-header">
                                <div class="myw-accordion-title myw-600">
                                    {{v.DisplayName}}</div>
                                <a   class="myw-action" data-toggle="popover"
                                    triggers="mouseenter:mouseleave" [popover]="measureIconInfo[v.DisplayName]"
                                    data-trigger="hover"><img src="assets/images/info.svg" alt=""></a>
                                    <a class="myw-accordion-toggle" role="button"  [ngClass]="{'collapsed': measureaccordian['acc'+i] }"
                                    aria-expanded="false" [attr.aria-controls]="'acc'+i"
                                   (click)=" measureaccordian['acc'+i] = ! measureaccordian['acc'+i]"></a>
                            </div>
                            <div class="myw-accordion-content" [id]="'acc'+i" [ngClass]="{ 'collapse ': measureaccordian['acc'+i]}">
                                <div class="p-3">
                                    <div class="myw-accordion-bdy" style="max-height: 15em;overflow-y: auto;">
                                        <!-- <ng-container>
                                            <ul *ngFor="let u of v.Value">
                                                <li>{{ u.narratives }}</li>
                                            </ul>
                                        </ng-container> -->

                                        
                                        <ng-container *ngFor="let u of v.Value">
                                            <ng-container *ngIf="u.hasOwnProperty('Value') && u.Value">
                                                <p class="myw-acc-d- myw-600"> {{ u.DisplayName }} </p>
                                                <ul >
                                                    <li *ngFor="let w of u.Value">{{ w.narratives }}</li>
                                                </ul>
                                            </ng-container>
    
                                            <ng-container *ngIf="u.hasOwnProperty('narratives')">
                                                <ul>
                                                    <li>{{ u.narratives }}</li>
                                                </ul>
                                            </ng-container>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6" *ngIf="outputDisplay == false">
                <div class="myw-ingrain-inc-lcol">
                    <!-- <h4 class="myw-600 fs-16">Inputs</h4> -->
                    <h6 class="myw-600 mb-3">Inputs for Data Inflow Analysis
                    </h6>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <label class="form-label   myw-required mr-2">Date
                                    Attribute for Analysis {{ inputInflowDataToBeShown.DateColumn }}</label>
                                <a triggers="mouseenter:mouseleave" [popover]="dateTypeIconInfo['DateColumnList']"
                                     ><img src="assets/images/info.svg" alt=""
                                        class="myw-icon myw-12"></a>
                                <select class="form-control w-75" disabled>
                                    <option selected> {{inputInflowDataToBeShown.DateColumn}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group   mb-2">
                                <label class="form-label myw-required mr-2">Do
                                    you Require Trend Forecast?</label>
                                <a   triggers="mouseenter:mouseleave"
                                    [popover]="dateTypeIconInfo['TrendForeCast']">
                                    <img src="assets/images/info.svg" alt="" class="myw-icon myw-12"></a>
                                <select class="form-control w-75" disabled>
                                    <option selected> {{inputInflowDataToBeShown.TrendForecast}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group   mb-2">
                                <label class="form-label myw-required mr-2">If
                                    Yes, Please Provide
                                    Frequency</label>
                                <a   triggers="mouseenter:mouseleave"
                                    [popover]="dateTypeIconInfo['Frequency']">
                                    <img src="assets/images/info.svg" alt="" class="myw-icon myw-12">
                                </a>
                                <select class="form-control w-75" disabled="">
                                    <option selected> {{inputInflowDataToBeShown.Frequency}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="myw-500 myw-required mb-2">Selected Correlated Attributes Will Be Utilized To Analyze
                        Data Inflow Trends</div>
                    <div class="myw-columns-container myw-scrollbar">
                        <div class="d-flex flex-wrap myw-columns">
                            <label *ngFor="let dimension of inputInflowDataToBeShown.Dimensions">
                                <input type="checkbox" name="select-columns" checked=""
                                    disabled><span>{{dimension}}</span></label>

                        </div>
                    </div>
                    <h6 class="myw-600 mb-3">Inputs for Measure Analysis
                    </h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group   mb-2">
                                <label class="form-label myw-required mr-2">Selected
                                    Date</label>
                                <a   triggers="mouseenter:mouseleave"
                                    [popover]="measureIconInfo['DateColumnList']">
                                    <img src="assets/images/info.svg" alt="" class="myw-icon myw-12">
                                </a>
                                <select class="form-control w-75" disabled="">
                                    <option selected>{{ inputInflowMeasureToBeShown.DateColumn}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mb-2">
                                <label class="form-label myw-required mr-2">Measure
                                    to be analyzed</label><a triggers="mouseenter:mouseleave"
                                    [popover]="measureIconInfo['AttributeList']"  ><img
                                        src="assets/images/info.svg" alt="" class="myw-icon myw-12">
                                </a>
                                <select class="form-control w-75" disabled>
                                    <option selected>{{ inputInflowMeasureToBeShown.MetricColumn}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="col-6">
                            <div class="form-group">
                                <label class="form-label myw-required mr-2">Application
                                    Name</label><img src="assets/images/info.svg" alt=""
                                    class="myw-icon myw-12">
                                <select class="form-control w-75">
                                    <option>Select Data</option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                    <div class="myw-500 myw-required mb-3">Selected Correlated Attributes will be utilized to generate
                        inferences on the Measure</div>
                    <div class="myw-columns-container myw-scrollbar" style="height: 180px;">
                        <div class="d-flex flex-wrap myw-columns">
                            <label *ngFor="let dimension of inputInflowMeasureToBeShown.Features"><input type="checkbox"
                                    name="select-columns" checked="" disabled><span>{{dimension}}</span></label>
                        </div>
                    </div>
                    <div class="myw-500 myw-required mb-3">Selected Correlated Attributes Combinations will be utilized
                        to generate inferences on the Measure</div>
                    <div class="myw-columns-container myw-scrollbar" style="height: 180px;">
                        <div class="d-flex flex-wrap myw-columns">
                            <label *ngFor="let dimension of inputInflowMeasureToBeShown.FeatureCombinations"><input
                                    type="checkbox" name="select-columns" checked=""
                                    disabled><span>{{dimension.ConnectedFeatures}}</span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pb-3" *ngIf="showAddButton">
            <div class="fs-16 myw-500 mb-2">To obtain similar inferences for
                the measure of your choice, click on Add Configuration</div>
            <a   class="btn btn-primary" (click)="configurationView()">Add
                Configuration</a>
        </div>
    </div>
</div>