.ingrAIn-cas-icon { width: 3rem; height: 3rem; }
.optioncontainer { display: block; position: relative; padding-left: 2rem; cursor: pointer; -webkit-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none; color:#353D47; min-height: 1.25rem; }
.optioncontainer input { position: absolute; opacity: 0; cursor: pointer; }
.op-radiobtn {  position: absolute; height: 1.25rem; width: 1.25rem; background-color:transparent; border:1px solid #BDC9DA; border-radius: 50%; 		left: 50%; top: 0.325rem; transform: translateX(-50%);}
.optioncontainer .op-radiobtn:after { top: 5px; left: 5px; width: 8px; height: 8px; }
.op-radiobtn:after { content: ""; position: absolute; display: none; }
.optioncontainer input:checked ~ .op-radiobtn { background-color: #21ba41; border: 1px solid #21ba41; }
.optioncontainer input:checked ~ .op-radiobtn:after { display: block; left: 7px; top: 3px; width: 5px; height: 10px; border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.ingrAIn-siderbar-menu  { width: 320px; background-color: #F5F5F5; height: 100%; padding: 1rem 2rem 1rem 2rem; box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,.3); }
.ingrAIn-siderbar-menu-title { font-weight: bold; color: #000; font-size: 1rem;   }
.ingrAIn-roles-items { display: inline-flex; align-items: center; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); border: 1px solid #707070; border-radius: 1rem; -ms-border-radius: 1rem; padding: 0.2rem 0.625rem; width: auto; margin-bottom: 0.625rem;  }
.ingrAIn-roles-items:hover { box-shadow: 0 0 .5rem rgba(0,0,0,.29); }
.ingrAIn-roles-items a { color: #000; }
.ingrAIn-roles-items a  +  a { margin-left: 0.3125rem;}
.ingrAIn-roles-items a:first-child {  cursor: move; line-height: 1; }
.ingrAIn-mainsection { background-color: #fff; box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,.3); z-index: 1; height: 100%; 
    margin: 0 2rem 0 0.75rem; padding: 1rem 2rem 1rem 2rem;  }
.ingrAIn-mainsection-title { font-size: 1.125rem; font-weight: 700; color: #000;  }
.ingrAIn-modal-attribute { font-size: 1.125rem; font-weight: 700; color: #000;  width: 150px; }
.ingrAIn-modal-columns {  display: flex; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16); border: 1px solid #cfcfcf; border-radius: 1rem; -ms-border-radius: 1rem; padding: 0.625rem 0.625rem 0 0.625rem; min-height:3rem; width: 80%;   }
.ingrAIn-modal-columns.active { border-color: #079dda; box-shadow: 0px 1px 6px rgba(195, 255, 255, 0.3); }
.ingrAI-intermediate { margin-bottom: 0; }
.ingrAIn-del { height: 1.25rem; width: 1.25rem; }
.ingrAIn-add-model { position: relative; text-align: center; width: 80%; margin: 1rem 0; display: none; }
.ingrAIn-add-model:before { content:''; position: absolute; top: 0.625rem; left: 0; right: 0; height: 1px; background-color: #079dda; }
.ingrAIn-add-model a { background-color: #079dda; color: #fff; padding: 0.125rem 1rem; position: relative; z-index: 3; }
.ingrAIn-add-model a:hover { text-decoration: none; }
.ingrAIn-add-model-col { cursor: pointer;  }
.ingrAIn-add-model-col:hover .ingrAIn-add-model { display: block; }
.ingrAIn-mappping-chart { height: 600px; }
.ingrAIn-SLA-title { color: #792e38; font-size: 1.25rem; }
.ingrAIn-filter .dropdown-toggle::after { display: none; } 
.ingrAIn-filter .dropdown-menu { min-width: 30rem; max-width: 30rem; box-shadow: 0 0 0.25rem 0.125rem rgba(0,0,0,.05); border: 1px solid #ccc; font-size: 0.875rem; }
.ingrAIn-filter .dropdown-menu:before { display: none; }
.ingrAIn-filter .dropdown-header { color: #353D47; padding: 0.625rem; font-weight: bold;  }
.ingrAIn-filter .dropdown-body { padding: 0.625rem; }
.ingrAIn-filter .form-group label { font-size: 0.875rem; text-transform: capitalize; color: #353D47; } 
.ingrAIn-search { display:flex; align-items:center; height:36px; border:1px solid #ccc; border-radius: 1rem; 
	-webkit-border-radius: 1rem;  max-width:13rem; padding:0.2rem; }
.ingrAIn-search.si-search-sm { max-width:7rem; height: 2rem; border-radius:1rem; -webkit-border-radius:1rem;}
.ingrAIn-search .btn { min-width:2rem; padding:0; box-shadow:none; background-color: transparent; }
.ingrAIn-search  .form-control { border:0;  background:transparent;}
.ingrAIn-feature-collapse { padding: 0.625rem 0; font-size: 0.875rem; font-weight: bold; }
.ingrAIn-feature-collapse .dropdown-toggle { display: inline-block; background: url("../../../../../assets/images/minus.svg") no-repeat left center transparent; width: 1rem; height: 1rem; background-size: 100%; }
.ingrAIn-feature-collapse .dropdown-toggle.collapsed { background: url("../../../../../assets/images/plus.svg") no-repeat left center transparent; width: 1rem; height: 1rem; background-size: 100%; }
.ingrAIn-feature-collapse .dropdown-toggle:after { display: none; }
.ingrAIn-btn { height: 2rem; padding: 0.5rem 0.9rem; line-height: 1; color: #fff; min-width: 5rem; }
.ingrAIn-btn:hover { padding: 0.5rem 0.9rem; line-height: 1;  }
.ingrAIn-dep-column label { color: #acacac; text-transform: capitalize; font-weight: normal; font-size: 0.75rem; }
.ingrAIn-dep-column .form-control{ border-width: 0 0 1px 0; min-width: 10rem; max-width: 15rem; width: auto;  } 

.ingrAI-subnavrbar { min-height: 50px; /*height: 50px;*/ background-color:#95DFE6; -webkit-box-shadow: 0 0 5px 0 #d9d9d9; box-shadow: 0 0 5px 0 #d9d9d9; margin-top:0.5rem; }
.ingrAI-subnav-col { padding: 0.2rem 2rem; border-top: 2px solid #286E99; font-weight: 500; }
.ingrAI-subnav-col-name  + .ingrAI-subnav-col-name  { border-left:1px solid #fff; }
.ingrAI-subnav-col-name a {  color:rgba(40, 111, 153, 0.5);  margin-right:0.4rem; }
.ingrAI-subnav-col-name  { color:#286e99; }
.ingrAI-subnav-col-name .ingrAI-subnav-col-filename { color:#353D47; }
.ingrAI-search-container { display:flex; border:0 solid #BDC9DA; /*min-width:18rem;*/ width:calc( 100% - 25px ); margin:-3px 0 -4px 0; height: 48px;  }
.ingrAI-search-container .form-control { padding: 0.2rem 0.5rem; border: 0; border-radius:0; color:#353D47; }
.ingrAI-search-container .btn-primary { padding: 0.2rem 0.3rem; background: #fff; border: 0; box-shadow: none!important;}
.ingrAI-search-container .btn-primary svg { fill:#286E99!important; }
.ingrAI-search-container .btn-primary:not(:disabled):not(.disabled):active { border-color:transparent; background: #fff; box-shadow: none!important; }
.ingrAI-subnav-col-filename { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

.breadcrumb{ padding: 0; background: transparent; font-size: .875rem; margin-bottom: 0; }
.breadcrumb .breadcrumb-item{ margin: 0; text-decoration: none; }
.breadcrumb .breadcrumb-item:hover, .breadcrumb .breadcrumb-item:focus{ outline: 0; box-shadow: none; }
.breadcrumb-item + .breadcrumb-item:before{ content: '>'; }
.breadcrumb-item.active{ color: #000; text-decoration: none; pointer-events: none; font-weight: 500; }
.breadcrumb-item a { color: #000; }

.dropdown-menu{ padding:0; margin:0.65rem 0 0; max-width:15rem; font-size:0.875rem; color:#262626;
    top:62% !important; left:0 !important; border-width:3px; border-color:#10add3; background-color:#fff;
    -webkit-border-radius:1px; border-radius:1px;  display: none;
    -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.12); box-shadow:0 0 4px 0 rgba(0,0,0,0.12);
    -webkit-transform:translate3d(0px,0px,0px) !important; transform:translate3d(0px,0px,0px) !important; min-width:350px !important; }
  .dropdown-menu-right{ left:auto !important; right:0 !important; }
/*   .dropdown-menu:before{ content:''; display:block; width:0; height:0; position:absolute; right:0; top:-1.3rem;} */
  .dropdown-menu.show{ display: block;}
  .weserviceUrl{word-break: break-all; white-space: normal !important;}

  .ingrAI-drop-close { display:flex; justify-content:flex-end; padding:0.2rem; color:#FF000E; float: right;}
  .ingrAI-drop-close a { color:#FF000E!important;  }
  .ingrAI-drop-close svg { fill:#FF000E!important;  }

  .deploymodel-closeicon {
    display: inline-block; width: 1.25rem; height: 1.25rem; text-decoration: none;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.945 9.943'%3E%3Cg transform='translate(-0.026 -0.029)'%3E%3Cpath fill='%23000000' d='M6.151,4.971,9.7,1.419A.832.832,0,1,0,8.526.242L4.974,3.794,1.422.242A.832.832,0,1,0,.245,1.419L3.8,4.971.245,8.523A.832.832,0,0,0,1.422,9.7L4.974,6.148,8.526,9.7A.832.832,0,0,0,9.7,8.523Z' transform='translate(0.026 0.029)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center transparent; 
    background-size: .75rem; position: relative; right: -.25rem;
  }