.model-data{
    height: 590px !important;
    width: 870px !important;
    min-width: 870px !important;
}.modal-dialog-main {
    max-width: 500px !important;
    margin: 1.75rem 16.0rem auto !important;
}