.ingrAI-list-item-container { padding:0.5rem 0; }
.ingrAI-list-item-container  .ingrAI-list-item { padding:0.6rem 0; border-top:1px solid #BDC9DA; }
.ingrAI-list-item-container  .ingrAI-list-item:last-child { border-bottom:1px solid #BDC9DA; }
.ingrAI-list-item-container  .ingrAI-list-item  label { margin-bottom:0; }
.ingrAI-list-item-container  .ingrAI-list-item  textarea{ border:1px solid #BDC9DA; width:100%;}
.ingerAI-predescription-content-container .ingrAI-list-item-container .ingrAI-list-item  { border-top:0; border-bottom:1px dashed #BDC9DA; }
.ingerAI-predescription-content-container .ingerAI-predescription-list-item-container { height:12rem; overflow-y:auto; }
.ingrAI-list-item-container  .ingrAI-list-item ul { padding-left:20px; margin:0; }
.ingrAI-list-item-container  .ingrAI-list-item ul  li {list-style-type:disc; }


.deploymodle-confirmpopup{
    color:#353D47; 
    font-size: 1rem;
}

.IngrAI-python-progress-dialogbox{
    p{
        margin-bottom: 0.2rem;
    }
    position: absolute;
    bottom: 14%;
    left: 49%;
    background-color: #e4e4e4;
    padding: 2px;
	text-align: center;
	font-size: 88%;
}

.ingrain-flyout {
	top: 12rem !important;
}

.ingrAI-list-item{
    border: none !important;
}

.myw-accordion{ overflow: unset !important; }
