<ng-container *ngIf="isLoading; then displayLoader else displayTableData"></ng-container>
      <ng-template #displayLoader>
        <div class="row">
          <div class="col-12">
            <app-loader-display></app-loader-display>
          </div>
        </div>
      </ng-template>
<ng-template #displayTableData>
    <div class="row my-3">
        <div class="col-12 col-lg-4" *ngIf="isTimeSeriesModelType == false">

            <div class="myw-section section-height myw-scrollbar">
                <div style="padding: 0.96rem;">
                    <label class="label-mr mr-1" style="font-weight: 500;">Feature Importance </label>
                    <app-info-tooltip class="ml-auto" [className]="'featureselection-tip toggleLeft'">
                        <div class="htmlDesignedTooltip">
                            Feature importance table contains influencing attributes arranged in decreasing order of
                            their
                            importance
                        </div>
                    </app-info-tooltip>
                </div>
                <table class="table table-striped table-hover table-vmiddle myw-table">
                    <thead>
                        <tr>
                            <th scope="col" width="5%">&nbsp;</th>
                            <th scope="col" width="70%">Attributes</th>
                            <th scope="col" width="25%">Importance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let featurename of featurenames">
                            <td>
                                <label class="myw-checkbox myw-inline">
                                    <input
                                        [disabled]="isTimeSeriesModelType || (featurename === targetUniqueIdentifier && isCascadeEnabledUniqueIdentifier)"
                                        #isImportanceValueChecked [checked]="isTrueForCheckbox(featurename)"
                                        (click)="onCheckChanged(featurename, isImportanceValueChecked)" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>{{featurename}}</td>
                            <td>
                                <span>
                                    {{importanceValue[featurename]}}
                                </span>
                                <!-- <span *ngIf="featurename == 'All_Text' && isClusteringFlag">                    
                  </span> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div [ngClass]="isTimeSeriesModelType == false ? 'col-12 col-lg-8' : 'col-12'">
            <app-ad-recommended-ai (isNextDisabled)="toDisableNext($event)"></app-ad-recommended-ai>
        </div>
    </div>
</ng-template>