<ng-container *ngIf="publishAIServiceUseCase == false">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ingrAI-enter-model-title">Save View</h5>
        <button type="button" class="close" aria-label="Close" (click)='onClose()'></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column justify-content-center">
          <form #form=ngForm>
            <div class="ingrAI-search ml-auto ingrAI-search-container">
              <input placeholder="{{title}}" type="text" #modalNameInput=ngModel maxlength="70" class="form-control" name='modalName'
                required [(ngModel)]='modalName'>
                <label class="form-label">You have {{ 70 - modalName?.length}} of 70 characters remaining.</label>

            </div>

            <div class="ingrAI-search ml-auto ingrAI-search-container form-inline mt-3" *ngIf="this.pageInfo === 'InferenceEngine' && this.source && this.source.toLowerCase() === 'file'">
              <label class="form-label mr-2">Entity Name:</label>
              <input placeholder="Enter Entity Name" type="text" #entityNameRef=ngModel maxlength="70" class="form-control" name='Name'
              [(ngModel)]="entityNameInput">
              <label class="form-label">You have {{ 70 - entityNameInput?.length}} of 70 characters remaining.</label>

            </div>
          </form>
        </div>
        <div class="d-flex justify-content-end myw-actions" style="margin-top: 1.56rem;">
          <button type="button" class="btn btn-primary" [disabled]="disableSave" (click)='onEnter(modalNameInput, entityNameRef)'>Save</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>



<ng-container *ngIf="publishAIServiceUseCase == true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="ingrAI-enter-model-title">&nbsp;</h5>
        <button type="button" class="close" aria-label="Close" (click)='onClose()'>
          <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
            <use xlink:href="#ingrAI-icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body py-0">
        <div class="d-flex flex-column justify-content-center">
          <form #form=ngForm>
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <label>UseCaseName:</label>
                  <input type="text" #usecaseNameInput=ngModel class="form-control" maxlength="70" name='usecaseName' required
                    [(ngModel)]='usecaseName'>
                    <label class="form-label">You have {{ 70 - usecaseName?.length}} of 70 characters remaining.</label>
                </div>
                <div class="mb-3">
                  <label>UseCase Description:</label>
                  <!-- <input type="text" #usecaseDec=ngModel class="form-control" name='usecaseDecription' required
                [(ngModel)]='usecaseDecription'> -->

                  <textarea class="form-control control-border rounded" #usecaseDec=ngModel rows="5"
                    name='usecaseDecription' maxlength="250" [(ngModel)]='usecaseDecription'></textarea>
                    <label class="form-label">You have {{ 250 - usecaseDecription?.length}} of 250 characters remaining.</label>

                </div>

            <ng-container *ngIf="!isWordCloud">
              <div class="row" style="margin-left: 1px;">
                <label style="color: #080808 !important;">How to carry out the training,
                  retraining & prediction?
                </label>
              </div>
                <div class="row" style="margin-left: 1px;">
                  <label class="mb-0">
                    <input #offlineSelected type="radio" (click)="radioSelectedIsOffline(offlineSelected)"
                      name="modal-rd-m">
                    <span>Offline</span>
                  </label>&nbsp; &nbsp;
                  <label class="mb-0">
                    <input #onlineSelected type="radio" (click)="radioSelectedIsOnline(onlineSelected)"
                      name="modal-rd-m">
                    <span>Online</span>
                  </label>
                </div>
              

              <div *ngIf='isOnlineSelected && showTrainingDetails'>
                <div class="row">
                  <div class="col-3" style="margin-top: 1rem;"> 
                    <label class="myw-checkbox">
                      <input #offlineRetrainingSelected type="checkbox"
                        (change)="checkboxSelectedIsOffline(offlineRetrainingSelected)" [checked]='selectedOfflineRetrain'>
                        <span>Retraining</span>
                    </label>

                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <mat-form-field style="width: 7.7rem;">
                      <mat-select #frequency=ngModel placeholder="Frequency" [disabled]='selectedOfflineRetrain==false'
                        (selectionChange)="selectedRetrainingFrequency(selectedRFrequency)"                        
                        [(ngModel)]="selectedRFrequency" name="frequency">
                        <mat-option *ngFor="let rfrequency of
                        reTrainingFrequency" [value]="rfrequency">
                          {{rfrequency.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field style="width: 7.7rem;">
                          <mat-select #rFrequency=ngModel placeholder="Frequency Value" 
                            (selectionChange)="selectedRFeqValue(selectedRFeqValues)"                          
                            [(ngModel)]="selectedRFeqValues" name="rFrequency" [disabled]='isTrainingFrequencyValueSelected==false'>
                            <mat-option *ngFor="let freqVal of
                            reTrainingFrequencyValue"
                              [value]="freqVal">
                              {{freqVal}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                  <div class="col-3 config-div" *ngIf="isCustomConstraintsEnabled == true">
                    <button class="btn btn-config btn-primary" (click)="showCustomConfiguration(serviceType.ReTraining)" [disabled]='selectedOfflineRetrain==false'>Custom Configuration</button>
                  </div>
                </div>
              </div>

              <div *ngIf="isOfflineSelected && showTrainingDetails">
                <div class="row">
                  <div class="col-2">
                    <label style="margin-top: 1rem;">Training</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Frequency" (selectionChange)="selectedTrainingFrequency(selectedTFrequency)"                         
                        [(ngModel)]="selectedTFrequency" name="tFrequency" matTooltip="{{tFrequency}}">
                        <mat-option *ngFor="let frequency of
                          trainingFrequency" [value]="frequency">
                          {{frequency.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Frequency Value"
                        (selectionChange)="selectedTFeqValue(selectedTFeqValues)"
                        matTooltip="{{selectedTFeqValues}}"
                        [(ngModel)]="selectedTFeqValues" name="freqValue">
                        <mat-option *ngFor="let freqVal of
                          trainingFrequencyValue"
                          [value]="freqVal">
                          {{freqVal}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Retry Attempt"
                        (selectionChange)="selectedTRetryAttempt(selectedTretryCount)"
                        matTooltip="{{selectedTretryCount}}"
                        [(ngModel)]="selectedTretryCount" name="retryAttempt">
                        <mat-option *ngFor="let retryAtmpt of
                          retryAttemptValue"
                          [value]="retryAtmpt">
                          {{retryAtmpt}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3 config-div" *ngIf="isCustomConstraintsEnabled == true">
                    <button class="btn btn-config btn-primary" (click)="showCustomConfiguration(serviceType.Training)">Custom Configuration</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <label  style="margin-top: 1rem; margin-bottom: 0rem;">Prediction </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Frequency"
                        (selectionChange)="selectedPredictionFrequency(selectedPFrequency)"
                        matTooltip="{{pFrequency}}"
                        [(ngModel)]="selectedPFrequency"  name="pFrequency">
                        <mat-option *ngFor="let pfrequency of
                          trainingFrequency" [value]="pfrequency">
                          {{pfrequency.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Frequency Value"
                        (selectionChange)="selectedPFeqValue(selectedPFeqValues)"
                        matTooltip="{{selectedPFeqValues}}"
                        [(ngModel)]="selectedPFeqValues" name="freqValueTraining">
                        <mat-option *ngFor="let freqVal of
                        predictionFrequencyValues"
                          [value]="freqVal">
                          {{freqVal}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Retry Attempt"
                        (selectionChange)="selectedPRetryAttempt(selectedPretryCount)"
                        matTooltip="{{selectedPretryCount}}"
                        [(ngModel)]="selectedPretryCount" name="retryAttemptValue">
                        <mat-option *ngFor="let retryAtmpt of
                          retryAttemptValue"
                          [value]="retryAtmpt">
                          {{retryAtmpt}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3 config-div" *ngIf="isCustomConstraintsEnabled == true">
                    <button class="btn btn-config btn-primary" (click)="showCustomConfiguration(serviceType.Prediction)">Custom Configuration</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    
                    <label class="myw-checkbox">
                      <input #offlineRetrainingSelected type="checkbox"
                        (change)="checkboxSelectedIsOffline(offlineRetrainingSelected)">
                        <span style="margin-top: 1rem;">Retraining</span>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3" >
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Frequency" [disabled]='selectedOfflineRetrain==false'
                        (selectionChange)="selectedRetrainingFrequency(selectedRFrequency)"
                        matTooltip="{{rFrequency}}"
                        [(ngModel)]="selectedRFrequency" name="pFrequencyValue">
                        <mat-option *ngFor="let pfrequency of
                        reTrainingFrequency" [value]="pfrequency">
                          {{pfrequency.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3">
                    <mat-form-field style="width: 5.7rem;">
                      <mat-select placeholder="Frequency Value"  [disabled]='selectedOfflineRetrain==false'
                        (selectionChange)="selectedRFeqValue(selectedRFeqValues)"
                        matTooltip="{{selectedRFeqValues}}"
                        [(ngModel)]="selectedRFeqValues" name="selectedRFrequency">
                        <mat-option *ngFor="let freqVal of
                        reTrainingFrequencyValue"
                          [value]="freqVal">
                          {{freqVal}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-3 config-div" *ngIf="isCustomConstraintsEnabled == true">
                    <button class="btn btn-config btn-primary" (click)="showCustomConfiguration(serviceType.ReTraining)" [disabled]='selectedOfflineRetrain==false'>Custom Configuration</button>
                  </div>
                </div>
              </div>
            </ng-container>

                <label>Application Name: </label>
                <!-- <input type="text" #appName=ngModel class="form-control" name='applicationName'
              required [(ngModel)]='applicationName'> -->
                <span class="ml-2">
                  <mat-form-field style="width: 69%;">
                    <mat-select [(ngModel)]="appname" (ngModelChange)="changeapp(appname)" #applicationName=ngModel
                      name='appname' placeholder="Select app to publish" single>
                      <mat-option *ngFor="let apps of appsData" [value]='apps.ApplicationName'>
                        {{apps.ApplicationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" (click)='onClose()'>Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="showTrainingDetails ? (isOnlineSelected ? !isOnlineValid : isOfflineSelected ? !isOfflineValid : false) : false"
          (click)='createUseCase(usecaseNameInput,usecaseDec,applicationName)'>Submit</button>
      </div>
    </div>
  </div>
</ng-container>