.ingrAI-subnavrbar { min-height: 50px; height: 50px; background-color:#95DFE6; -webkit-box-shadow: 0 0 5px 0 #d9d9d9; box-shadow: 0 0 5px 0 #d9d9d9; margin-top:0.5rem; }
.ingrAI-subnav-col { padding: 0.2rem 2rem; border-top: 2px solid #286E99; font-weight: 500; }
.ingrAI-subnav-col-name  + .ingrAI-subnav-col-name  { border-left:1px solid #fff; }
.ingrAI-subnav-col-name a {  color:#286e99;  margin-right:0.4rem; }
.ingrAI-subnav-col-name  { color:#286e99; }
.ingrAI-subnav-col-name .ingrAI-subnav-col-filename { color:#353D47; }
.ingrAI-search-container { display:flex; border:0 solid #BDC9DA;  width:calc( 100% - 25px ); margin:-3px 0 -4px 0; }
.ingrAI-search-container .form-control { padding: 0.2rem 0.5rem; border: 0; border-radius:0; color:#353D47; }
.ingrAI-search-container .btn-primary { padding: 0.2rem 0.3rem; background: #fff; border: 0; box-shadow: none!important;}
.ingrAI-search-container .btn-primary svg { fill:#286E99!important; }
.ingrAI-search-container .btn-primary:not(:disabled):not(.disabled):active { border-color:transparent; background: #fff; box-shadow: none!important; }
.ingrAI-subnav-col-filename { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

.custom-range-slider{ -webkit-appearance: none; width: 100%; height: 25px; padding: 0; margin: 0; 
	position: relative; overflow: hidden; border-radius: 0; border: 1px solid #ccc; }
.custom-range-slider::-webkit-slider-runnable-track{ width: 100%; height: 100%; background: #fff; }
.custom-range-slider::-webkit-slider-thumb{ height: 100%; width: 10px; background: #6bcdfd; position: relative;
	-webkit-appearance: none; border: 1px solid #6fb2e0; box-shadow: -100vw 0 0 100vw #aedfde; cursor:pointer; }

.custom-range-slider::-moz-range-track{ width: 100%; height: 100%; background: #fff; }
.custom-range-slider::-moz-range-thumb{ height: 100%; width: 10px; background: #6bcdfd;
    position: relative;
	border: 1px solid #6fb2e0; border-radius: 0; box-shadow: -100vw 0 0 100vw #aedfde; cursor:pointer; }

.custom-range-slider::-ms-track{ width: 100%; height: 100%; background: #fff; color: transparent; border: none; }
.custom-range-slider::-ms-thumb{ height: 25px; width: 10px; background: #6bcdfd; 
	border: 1px solid #6fb2e0; border-radius: 0; cursor:pointer; }
.custom-range-slider::-ms-fill-lower{ background: #aedfde; }
.custom-range-slider::-ms-fill-upper{ background: #fff; }
.custom-range-slider::-ms-ticks-after{ display: none; }
.custom-range-slider::-ms-ticks-before{ display: none; }
.custom-range-slider::-ms-tooltip{ display: none; }

.custom-range-slider-xs{ height: 15px; }
.custom-range-slider-xs::-ms-thumb{ height: 15px; }

.ingrAI-model-engineering-table { height:490px; }
.ingrAI-model-engineering-table td { padding:.75rem; }
.ingrAI-model-engineering-table .checkmark { top:-4px; }
.ingrAI-feature-container { border-bottom:1px solid #C7CEDE; padding:0.5rem 0; }
.ingrAI-feature-container .ingrAI-range-label { text-transform:uppercase; color:#333333; font-size:0.75rem;}
.ingrAI-slider .ingrAI-slider-label { color:#BDC9DA; }	
.ingrAI-feature-slider-container { height:455px; }
.ingrAI-body-contentBG-recomendedAI { background: #fff; padding: 1rem; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); }
.ingrAI-body-contentBG-recomendedAI a { text-transform:uppercase; text-align:center; background:#CCCCCC; color:#706F6F; border-color:#CCCCCC;padding: 1rem 0; display:flex; align-items: center;
    justify-content: center; font-weight:500; }
.ingrAI-body-contentBG-recomendedAI a.btn-primary:hover {  background:#CCCCCC; color:#706F6F; border-color:#CCCCCC; box-shadow: none; padding: 1rem 0; }
.ingrAI-body-contentBG-recomendedAI a.btn-primary:not(:disabled):not(.disabled):active, .ingrAI-body-contentBG-recomendedAI a.btn-primary:not(:disabled):not(.disabled).active,  .ingrAI-body-contentBG-recomendedAI a.btn:focus  { background:#6DB473; color:#ffffff; border-color:#6DB473; }
.ingrAI-usage-text { font-size:0.75rem; }
.ingrAI-usage-box-container { border:1px solid #C7CEDE; height:65px; }
.ingrAI-body-contentBG.ingrAI-recommendedAI-tile { min-height: 310px; max-height: 310px;  margin-bottom: 1.25rem; }
.ingrAI-recommendedAI-tile .ingrAI-open-help svg { cursor: pointer; fill: #10ADD3; }


.ingrAI-explainableAI {  position:absolute; height:275px; top:60%; left:0;  z-index:111;background: rgba(73,155,234,1); cursor:pointer;
background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
border-top-right-radius:2rem; border-bottom-right-radius:2rem; padding: 1rem 0; }
.ingrAI-explainableAI-text { font-size:1rem; transform:rotate(270deg); color:#fff; width:1.8rem; position:relative; margin-top:165px; top: -36px; left: -2px; text-transform:uppercase; font-weight:500; white-space:nowrap; }
.ingrAI-explainableAI-content-container { display:none; top:60%;background: #E9F2F5;position:absolute;width: 625px;height: 275px;z-index: 1;left: 0px; border-top:1px solid rgba(0,0,0,0.2); border-bottom:1px solid rgba(0,0,0,0.2); padding:1rem; }
.ingrAI-explainableAI-container.ingrAI-open  .ingrAI-explainableAI-content-container { display:block!important; }
.ingrAI-explainableAI-container.ingrAI-open .ingrAI-explainableAI { left:625px;  }
.ingrAI-open  .ingrAI-explainableAI svg { transform: rotate(180deg); }
.ingrAI-explainableAI-content-container .ingrAI-list-item-container .ingrAI-list-item  { border-top:0; border-bottom:1px dashed #BDC9DA; }
.ingrAI-explainableAI-content-container .ingrAI-explainableAI-list-item-container { height:12rem; overflow-y:auto; }
.ingrAI-chart { height:230px; }
.ingrAI-box-container { background:#fff; padding:1rem; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); }
.ingrAI-recomended-checkbox { margin-top:-20px; }
.ingrAI-test-chart { height:140px; }
.ingrAI-test-bar-chart { height:310px; }
.ingrAI-test-table { height:370px; overflow-y:auto; }
.ingrAI-box-container .close { color:#FF000E; opacity:1; }
.ingrAI-update-button { color: #fff; background-color: #10ADD3; border-color: #10ADD3; box-shadow: none; padding: 0.5rem 2rem; height: 2.5rem; cursor: pointer; margin-right: 0.6rem; }

.myingrAI-logistics-box { display:flex; align-items:center; border:1px solid #C7CEDE; height:100%; }
.myingrAI-logistics-text { font-size:0.75rem; }
.myingrAI-logistics-chart { height:90px; }
.ingrAI-heading { color:#353D47; text-transform:uppercase; font-weight: 500;}
.app-d3-donut-chart-div {
    margin-top: -60px;
}
.width-100{
	width: 100%
}
.ingrAI-heading { 
    color:#353D47;
     text-transform:uppercase;
      font-weight: 500;
    }
.font-txt{
    padding-left: 10px;color: #353D47;text-transform: none;
    font-weight: 500;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif !important;
}
 .green-line{
    height:0.7em;width:5em;border:4px solid #6DB473; background-color: #6DB473;
    border: 0 none;
    color: #6DB473;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
 }  
 .aligncentre{
	text-align: center;
}
.fontweight
{font-weight: 500}
.hidden-scrollbar{
	overflow: hidden !important;
}
.pad-top-15 {
    padding-top: 15px;
}.display-div{
	display: block;
}.hide-div{
	display: none;
}
.width-600{
 width:100%;
}
.bt-bg-color {
    background-color: #10ADD3 !important;
}
.ingr-filter-table{
    height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
}