<!-- <fieldset [disabled]="readOnly"> -->
<div id="main" class="myw-content d-flex flex-column flex-fill">
  <!-- Description -->
  <div id="dvPrescription" [ngClass]="prescriptionStatus ? 'open' : 't'" class="ingrain-flyout-container prescription">
    <div class="ingrain-flyout" style="margin-left: -1rem;">
      <div class="ingrain-flyout-content myw-scrollbar" style=" max-height: 22rem;">
        <fieldset [disabled]="readOnly">
          <ng-container *ngIf="isTrainingStart; then explainableTemplate else  prescriptionTemplate"></ng-container>
          <ng-template #prescriptionTemplate>
            <div class="ingrAI-list-item" id="dvPrescription">
              <label class="checkcontainer" style="cursor: auto;">
                <span>Please train all the recommended/available options to arrive at the best fit model</span>
              </label>
            </div>
          </ng-template>

          <ng-template #explainableTemplate>
            <div *ngIf="classificationAIShow" id="dvAITempClassification">
              <div class="ingrAI-list-item">
                <ul class="ingrAI-list-item">
                  <li>
                    <ng-container *ngIf='explainableAIAccuracyValue>80'>
                      Identified {{explainableAImodelName}} as best-fit model for the selected problem statement with
                      maximum accuracy of {{explainableAIAccuracyValue}} % and run time of
                      {{explainableAIRunTime}}s
                    </ng-container>

                    <ng-container *ngIf='explainableAIAccuracyValue == 60 || explainableAIAccuracyValue < 79.9'>
                      Identified {{explainableAImodelName}} as best-fit model for the selected problem statement with
                      maximum accuracy of {{explainableAIAccuracyValue}} % and run time of
                      {{explainableAIRunTime}}s.
                      <div>Suggest to perform hyper-tuning and evaluate data. Else click on Next to proceed.</div>
                    </ng-container>
                    <ng-container *ngIf='explainableAIAccuracyValue<60'>
                      None of the models are satisfactory. Please revisit the input parameters and check the data
                      quality to improve the accuracy, else, click on Next to proceed
                    </ng-container>
                  </li>
                </ul>
              </div>
              <div class="ingrAI-list-item">
                <ul *ngIf='explainableAIAccuracyValue>=60'>
                  <li>
                    ROC/AUC curves :Area under the curve is showing {{explainableAIROCAUCValue}}% indicates the
                    measure
                    of best-fit model
                  </li>
                </ul>
              </div>

            </div>

            <div *ngIf="regressionAIShow || timeSeriesAIShow" id="dvAITempRegression">
              <div class="ingrAI-list-item">
                <ul>
                  <li>
                    <ng-container *ngIf='explainableAIAccuracyValue>=80'>
                      Identified {{explainableAImodelName}} best-fit model for the selected problem statement with
                      accuracy
                      of {{explainableAIAccuracyValue}} and run time of {{explainableAIRunTime}}sec
                    </ng-container>
                    <ng-container *ngIf='explainableAIAccuracyValue == 60 || explainableAIAccuracyValue < 79.9'>
                      Identified {{explainableAImodelName}} best-fit model for the selected problem statement with
                      accuracy of {{explainableAIAccuracyValue}} and run time of
                      {{explainableAIRunTime}}sec.
                      <div> Suggest to perform hyper-tuning and evaluate data. Else click on Next to proceed</div>
                    </ng-container>
                    <ng-container *ngIf='explainableAIAccuracyValue < 60'>
                      None of the models are satisfactory. Please revisit the input parameters and check the data
                      quality to improve the accuracy, else, click on Next to proceed
                    </ng-container>
                  </li>
                </ul>
              </div>
              <div class="ingrAI-list-item" *ngIf="regressionAIShow">
                <ul *ngIf='explainableAIAccuracyValue>=60'>
                  <li>
                    Coefficient of determination (R² Value): R² Value is showing {{explainableAIr2Value}} indicates
                    the measure of best fit model
                  </li>
                </ul>
              </div>

              <div class="ingrAI-list-item" *ngIf="timeSeriesAIShow">
                <ul>
                  <li>
                    Coefficient of determination (Mae Value): Mae Value is showing {{explainableAIMaeValue}} indicates
                    the
                    measure of
                    best fit model
                  </li>
                </ul>
              </div>
              <div class="ingrAI-list-item" *ngIf="timeSeriesAIShow">
                <ul>
                  <li>
                    Chart shows the actual vs prediction outcome for Test Data
                  </li>
                </ul>
              </div>
            </div>

            <div *ngIf="textClassificationAIShow" id="dvAITempClassification">
              <div class="ingrAI-list-item">
                <ul>
                  <li>
                    Identified {{explainableAImodelName}} as best-fit model for the selected problem statement with
                    maximum
                    accuracy of {{explainableAIAccuracyValue}} % and run time of {{explainableAIRunTime}}s
                  </li>
                </ul>
              </div>
              <div *ngIf="!isTextPreProcessing" class="ingrAI-list-item">
                <ul>
                  <li>
                    ROC/AUC curves: Area under the curve is showing {{explainableAIROCAUCValue}}% indicates the
                    measure
                    of best fit model
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
        </fieldset>
      </div>
      <div class="ingrain-fly-header">
        <div class="ingrain-flytext" (click)="prescriptionOpen()">Prescription</div>
      </div>
    </div>
  </div>
  <!-- /Description -->
  <fieldset [disabled]="readOnly">
    <div class="myw-container py-4">

      <div class="myw-section">
        <div class="row align-items-center my-3">
          <div class="col ingrain-bdr">
            <div class="ingrain-reg-col d-flex flex-fill">
              <ng-container
                *ngIf="this.selectedModelOnLoad === 'Regression' || this.selectedModelOnLoad === 'regression'">
                <a id="btnRegression" [ngClass]="{'disabled': disableRegression}" (click)="loadRegressionModel()"
                  href="javascript:;" class="ingrain-reg-item text-decoration-none modelname-tab active">
                  <img src="assets/images/regression.svg" alt="Regression" /> <span>Regression</span>
                </a>
              </ng-container>
              <ng-container
                *ngIf="this.selectedModelOnLoad !== 'Regression' && this.selectedModelOnLoad !== 'regression'">
                <a id="btnRegression" [ngClass]="{'disabled': disableRegression}" (click)="loadRegressionModel()"
                  href="javascript:;" class="ingrain-reg-item text-decoration-none modelname-tab">
                  <img src="assets/images/regression.svg" alt="Regression" /> <span>Regression</span>
                </a>
              </ng-container>
              <ng-container
                *ngIf="this.selectedModelOnLoad === 'TimeSeries' || this.selectedModelOnLoad === 'timeseries'">
                <a id="btnTimeSeries" [ngClass]="{'disabled': disableTimeSeries}" (click)="loadTimeSeries()"
                  href="javascript:;" class="ingrain-reg-item text-decoration-none modelname-tab active">
                  <img src="assets/images/time-series.svg" alt="Time Series" /> <span>Time Series</span>
                </a>
              </ng-container>
              <ng-container
                *ngIf="this.selectedModelOnLoad !== 'TimeSeries' && this.selectedModelOnLoad !== 'timeseries'">
                <a id="btnTimeSeries" [ngClass]="{'disabled': disableTimeSeries}" (click)="loadTimeSeries()"
                  href="javascript:;" class="ingrain-reg-item text-decoration-none modelname-tab">
                  <img src="assets/images/time-series.svg" alt="Time Series" /> <span>Time Series</span>
                </a>
              </ng-container>
            </div>
          </div>

          <ng-container *ngIf="isTrainingStart; then startTrainningTemplateRevamp else recommendedModelTemplateRevamp">
          </ng-container>

          <ng-template #recommendedModelTemplateRevamp>
            <div class="col">
              <div class="ingrain-reg-row">
                <div class="row align-items-center">
                  <div class="ingrain-reg-col-usage col">
                    <div class="ingrain-chart-md">
                      <app-d3-donut-chart [donutInnerRadius]=35 [pageInfoForDonutChart]="'StartTrainning'"
                        [pythonProgressVal]="pythonProgressVal">
                      </app-d3-donut-chart>
                    </div>
                  </div>
                  <!-- <div class="ingrain-reg-col-usage col">
                          <span>CPU Usage:</span>
                          <span>{{cpuUsageValue}}%</span>
                        </div> -->
                  <div class="ingrain-reg-col-usage col-auto" style="margin-right: 3rem;">
                    <input type="button" class="btn btn-primary btn-lg" [disabled]=!isModelTrained value="Start Training"
                      (click)="startTrainingAI()" />
                    <div class="fs-12 mt-2">Estimated Run Time: {{totalEstimatedRuntime}}s</div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template #startTrainningTemplateRevamp>
            <div class="col">
              <div class="ingrain-reg-row">
                <ng-container *ngIf="cpuUsageValue>=70 && cpuUsageValue<100">
                  <div class="row align-items-center">
                    <div class="ingrain-reg-col-usage col">
                      <div class="ingrain-chart-md">
                        <app-d3-donut-chart [donutInnerRadius]=35 [pageInfoForDonutChart]="'StartTrainning'"
                          [pythonProgressVal]="pythonProgressVal">
                        </app-d3-donut-chart>
                      </div>
                    </div>
                    <!-- <div class="ingrain-reg-col-usage col">
                          <span>CPU Usage:</span>
                          <span>{{cpuUsageValue}}%</span>
                        </div> -->
                    <div class="ingrain-reg-col-usage col">
                      <span style="font-weight: normal;">System is busy,</span>
                      <span>Please wait</span>
                    </div>
                    <div class="ingrain-reg-col-usage col-auto">
                      <ng-container *ngIf='!retrainModels'>
                        <input type="button" class="btn btn-primary btn-lg" [disabled]="true" value="Start Training"
                          (click)="startTrainingAI()" />
                      </ng-container>
                      <!-- <ng-container *ngIf='retrainModels'>
                        <input type="button" class="btn btn-primary btn-lg" [disabled]="!retrainModels"
                          value="Restart Training" (click)="reStartTraining(confirmRetrainModels,$event)" />
                      </ng-container> -->
                      <div class="fs-12 mt-2" style="text-align: center;" *ngIf='!retrainModels'>Time Taken: {{trainingCompletionTime}}s</div>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="cpuUsageValue < 70 || cpuUsageValue == 100">
                  <div class="row align-items-center">
                    <div class="ingrain-reg-col-usage col">
                      <div class="ingrain-chart-md">
                        <app-d3-donut-chart [donutInnerRadius]=35 [pageInfoForDonutChart]="'StartTrainning'"
                          [pythonProgressVal]="pythonProgressVal">
                        </app-d3-donut-chart>
                      </div>
                    </div>
                    <!-- <div class="ingrain-reg-col-usage col">
                          <span>CPU Usage:</span>
                          <span>{{cpuUsageValue}}%</span>
                        </div> -->
                    <div class="ingrain-reg-col-usage col-auto" style="margin-right: 3rem;">
                      <ng-container *ngIf='!retrainModels'>
                        <input type="button" class="btn btn-primary btn-lg" [disabled]="true" value="Start Training"
                          (click)="startTrainingAI()" />
                      </ng-container>
                      <!-- <ng-container *ngIf='retrainModels'>
                        <input type="button" class="btn btn-primary btn-lg" [disabled]="!retrainModels"
                          value="Restart Training" (click)="reStartTraining(confirmRetrainModels,$event)" />
                      </ng-container>-->
                      <div class="fs-12 mt-2" style="text-align: center;" *ngIf='!retrainModels'>Time Taken: {{trainingCompletionTime}}s</div>
                    </div>
                  </div>
                </ng-container>

              </div>
            </div>

            <!-- carousel Button -->
          </ng-template>
        </div>
      </div>

      <ng-container *ngIf="isTrainingStart; then startTrainningTemplate else recommendedModelTemplate"></ng-container>

      <ng-template #recommendedModelTemplate>

        <div class="myw-section">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-vmiddle myw-table">
              <thead>
                <tr class="txt-capital">
                  <th scope="col">Recommended models
                    <!-- <a href="javascript:;"><img src="assets/images/info.svg" alt="Info" class="myw-icon myw-12" /></a> -->
                  </th>
                  <th scope="col">Estimate run time <span style="text-transform: lowercase;">(sec)</span></th>
                  <th scope="col">Select</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let model of recommendedModelNamesBeforeTraining; let i = index">
                  <td>
                    {{model}}
                  </td>
                  <td>{{runTimeOfRecommendedModels[model]}}</td>
                  <td>
                    <label class="myw-switch">
                      <input #switch type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" [id]="'estime1'+ i"
                        [checked]="isModelChecked[model] == 'True'" (click)="onSwitchChanged(switch, model)">
                      <span class="label-first">OFF</span>
                      <span class="switch-toggle"></span>
                      <span class="label-last">ON</span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </ng-template>

      <ng-template #startTrainningTemplate>
        <!-- carousel Button -->

        <ng-container *ngIf="trainedModels.length==1">
          <div class="myw-carousel myw-chart-carousel" style="padding: 0 35%;">
            <div id="carouselExampleControls" class="carousel slide mb-3" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex">
                    <ng-container *ngFor='let name of trainedModels; let i = index'>
                      <div class="myw-col">
                        <div class="card" (click)="getBestModel(name.Accuracy,name.modelName,name.RunTime,i)"
                          id="dvModelDetailsContainer" [ngClass]="{'active': selectedIndex == i}" style="margin-right: 1rem;
                              width: 193.021px;">
                          <div class="card-header" style="height: 30%;">
                            <div class="card-title" style=" word-break: break-all;">{{name.modelName}}</div>
                          </div>
                          <div class="card-body d-flex flex-column align-items-center">
                            <div class="ingrain-chart">
                              <app-d3-donut-chart [donutInnerRadius]=50 [trainedModelAccuracy] = "getDecimalValue(name.Accuracy)"
                                [pageInfoForDonutChart]="'ADTrainedModel'" [selectedModelOnLoad]="selectedModelOnLoad"
                                (selectedAIModelAccuracy)="receiveSelectAccuracy($event)">
                              </app-d3-donut-chart>
                            </div>
                            <div class="fs-12 mt-auto">Run Time: {{name.RunTime}}s</div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="myw-section p-3" *ngIf="isRegressionR2Val">

          <div class="col" *ngIf="barChartData.length > 0">
            <app-ad-bar-chart [modelName]="selectedTrainedModelName" [barData]="barChartData" [ChartWidth]="400" [ChartHeight]="400"></app-ad-bar-chart>
            <!-- <app-ad-bar-chart [modelName]="selectedTrainedModelName" [barData]="barChartData" [ChartWidth]="barChartWidth" [ChartHeight]="350"></app-ad-bar-chart> -->
          </div>
        </div>

        <div class="myw-section p-3" *ngIf="isTimeSeriesVal">
          <div class="col" *ngIf="lineChartData.length > 0">
            <app-ad-line-chart [modelName]="selectedTrainedModelName" [lineChartData]="lineChartData" [ChartWidth]="200" [ChartHeight]="200"></app-ad-line-chart>
          </div>
        </div>
      </ng-template>
    </div>
  </fieldset>
</div>
<!--  -->

<ng-template #confirmRetrainModels>
  <div class="deploymodle-confirmpopup">
    <div class="modal-header" style="border-bottom: none;">
      <h5 class="modal-title" id="saveViewModalTitle">&nbsp;</h5>
      <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
        (click)="modalRef.hide()">
        <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
          <use xlink:href="#ingrAI-icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      {{retrainModelMsg}}
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-secondary" style=" font-size: 1rem;" (click)="decline()">No</button>
        <button type="button" class="btn btn-primary" style=" font-size: 1rem;" (click)="confirm()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>