
      <div class="form-group" *ngIf="!applyFlag && missingValueAttributes.length !== 0" > 
      <span> Missing Values are identified in the below attributes. Please replace them with one of the recommended option</span>
    </div>

    <div class="d-flex justify-content-center align-items-center ingrAI-data-tranform h-100"
    *ngIf="missingValueAttributes.length == 0">
    <div class="row">
      <div class="col ingrAI-nodata">
        <p><img src="assets/images/missing-dataIcon.svg" title="There are no missing values"
            alt="There are no missing values" /></p>
        <p class="data-tranform-title">There are no missing values</p>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-6 col-lg-4"  *ngFor="let attribute of missingValueAttributes;let i = index">
          <div class="form-group mb-3">
              <label class="form-group mb-0 wordbreak" style="font-weight: 500;">{{attribute}}</label>
              <!-- <select class="form-control">
                  <option>Met</option>
              </select> -->
              <select  class="form-control" #select (change)='onChange("MissingValues",attribute,select.value, missingValuesCustomValue[attribute]);'
                [id]="missingValueDropDown + 'i'">
                  <ng-container *ngFor="let option of missingValueOptions[attribute]; let i = index">
                    <option *ngIf="option !== 'ChangeRequest' && option !== 'PChangeRequest'"
                      [selected]='option === defaultMissingValueOptions[attribute]'
                      [disabled]='option === defaultMissingValueOptions[attribute]' 
                      [value]='option'>
                      {{option}}
                    </option>
                  </ng-container>
              </select>
              <ng-container *ngIf="defaultMissingValueOptions[attribute] == 'CustomValue' ||  select.value == 'CustomValue'  ">
              <input class="form-control" #inputTypeText [value]="missingValuesCustomValue[attribute]"  placeholder="Enter Custom value"
                *ngIf="FeatureDataTypes[attribute] == 'object' || FeatureDataTypes[attribute] == 'category'"
                (change)='onChange("MissingValues",attribute,"CustomValue",inputTypeText.value)' type="text" maxlength="70"/>
                <label class="form-label">You have {{ 70 - inputTypeText?.value?.length}} of 70 characters remaining.</label>

                <input #inputInt  class="form-control"  placeholder="Enter numberic value"
                [(ngModel)]="missingValuesCustomValue[attribute]"
                *ngIf="FeatureDataTypes[attribute] == 'int64'"
                (keyup)="inputOnlyIntegers(attribute, inputInt.value)" 
                type="number">

                <input #inputFloat  class="form-control"  [value]="(missingValuesCustomValue[attribute] == 'False' ? 1 : missingValuesCustomValue[attribute] * 1)"
                *ngIf="FeatureDataTypes[attribute] == 'float64'"  placeholder="Enter numberic value"
                (change)='onChange("MissingValues",attribute,"CustomValue",( inputFloat.value * 1))' type="number">  
              <!-- <img src="assets/images/pencil.svg" alt=""
              style="margin-top: 15px;float: right;" /> -->
            </ng-container>
          </div>
      </div>
  </div>