<ng-container *ngIf="apiResponseEnabled">

    <div class="modal-content modal-dialog-scrollable">
        <div class="modal-header">
            <h5 class="modal-title" id="ingrAI-enter-model-title">{{title}}</h5>
            <button type="button" class="close" aria-label="Close" (click)='onClose()'></button>
        </div>
        <div class="modal-body modal-body-height">
            <div class="d-flex flex-column justify-content-center">
                <div style="padding: 3%;">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-label title">HTTP
                                    Method</label>
                                &nbsp;
                                <!-- <app-info-tooltip class="ml-auto" [className]="'toggleLeft'"
                                            [description]="'samplepayload'">
                                        </app-info-tooltip> -->
                                <div class="title">{{MethodType}}</div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <label class="form-label title">API URL</label>
                                <input type="text" #apiurlNameInput=ngModel class="form-control" name='apiurl'
                                    [(ngModel)]='apiurl' maxlength="500" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex" *ngIf="dynamicArray.length > 0">
                        <div class="myw-api-bg mb-4">
                            <div class="table-responsive mb-0">
                                <table class="table table-striped table-hover table-vmiddle myw-table">
                                    <thead>
                                        <tr>
                                            <th scope="col title">Key</th>
                                            <th scope="col title">Value</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                                            <td><input type="text" #headerkeyInput=ngModel class="form-control"
                                                    [(ngModel)]='dynamicArray[i].key' maxlength="70" readonly></td>
                                            <td><input type="text" #headervalueInput=ngModel class="form-control"
                                                    required [(ngModel)]='dynamicArray[i].value' maxlength="70" readonly></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label title">Body Parameters</label>
                        <textarea class="form-control txt-area-border" [(ngModel)]="bodyparameter" maxlength="5000" readonly></textarea>
                    </div>
                    <div class="form-group" *ngIf="fetchType">
                        <label class="form-label title">Fetch Type</label>
                        <div class="form-inline">
                            <div class="form-inline" *ngIf="fetchType=='single'">
                                <label class="myw-checkbox"><input type="radio" name="radio-fetch-Type" checked
                                        disabled><span>Single</span></label>
                                <label class="myw-checkbox"><input type="radio" name="radio-fetch-Type"
                                        disabled><span>Multiple</span></label>
                            </div>
                        </div>
                        <div class="form-inline" *ngIf="fetchType=='multiple'">
                            <div class="form-inline">
                                <label class="myw-checkbox"><input type="radio" name="radio-fetch-Type"
                                        disabled><span>Single</span></label>
                                <label class="myw-checkbox"><input type="radio" name="radio-fetch-Type" checked
                                        disabled><span>Multiple</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label title">Authentication Method</label>
                        <div class="form-inline">
                            <div *ngIf="isAuthenticationtoken === true">
                                <label class="myw-checkbox"><input type="radio" name="radio-auth" value="1" checked
                                        disabled><span class="title">Token</span></label>
                            </div>
                            &nbsp;&nbsp;
                            <div>
                                <ng-container *ngIf="isAuthenticationtoken === true">
                                    <label class="myw-checkbox"><input type="radio" name="radio-auth" value="2"
                                            disabled><span class="title">Credentials</span></label>
                                </ng-container>
                                <ng-container *ngIf="isAuthenticationtoken === false">
                                    <div class="row">
                                        <label class="myw-checkbox"><input type="radio" name="radio-auth" value="1"
                                                disabled><span class="title">Token</span></label>

                                        <label class="myw-checkbox"><input type="radio" name="radio-auth" value="2"
                                                checked disabled><span class="title">Credentials</span></label>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="UseIngrainAzureCredentials && credentialdetail">
                        <label class="form-label">Use Same as Ingrain</label>
                        <div class="form-inline">
                            <div class="form-inline">
                                <label class="myw-checkbox"><input type="radio" (click)="setIngrainToken()"
                                        name="radio-ingrain-token" checked disabled><span>Yes</span></label>
                                <label class="myw-checkbox"><input type="radio" (click)="setIngrainToken()"
                                        name="radio-ingrain-token" disabled><span>No</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" *ngIf="!UseIngrainAzureCredentials && credentialdetail">
                        <label class="form-label">Use Same as Ingrain</label>
                        <div class="form-inline">
                            <div class="form-inline">
                                <label class="myw-checkbox"><input type="radio" (click)="setIngrainToken()"
                                        name="radio-ingrain-token" disabled><span>Yes</span></label>
                                <label class="myw-checkbox"><input type="radio" (click)="setIngrainToken()"
                                        name="radio-ingrain-token" disabled checked><span>No</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="myw-token" *ngIf="tokentext === true">
                        <div class="form-group">
                            <label class="form-label title">Authentication Token</label>
                            <textarea class="form-control txt-area-border" [(ngModel)]="authenticationtoken"
                            maxlength="2000" readonly></textarea>
                        </div>
                    </div>
                    <div *ngIf="credentialdetail === true">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label title">TokenURL</label>
                                    <input type="text" #tokenurlInput=ngModel class="form-control" name='tokenurl'
                                        [(ngModel)]='tokenurl' maxlength="500" readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label title">Grant Type</label>
                                    <input type="text" #granttypeInput=ngModel class="form-control" name='granttype'
                                        required [(ngModel)]='granttype' maxlength="70" readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label title">Client ID</label>
                                    <input type="text" #clientidInput=ngModel class="form-control" name='clientid'
                                        required [(ngModel)]='clientid' maxlength="70" readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label title">Client Secret</label>
                                    <input type="text" #clientsecretInput=ngModel class="form-control"
                                        name='clientsecret' required maxlength="70" [(ngModel)]='clientsecret' readonly>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label title">Resource</label>
                                    <input type="text" #resourceInput=ngModel class="form-control" name='resource'
                                        required [(ngModel)]='resource' maxlength="70" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        style="margin-right: 10em;font-size: 0.85rem;font-weight: 500;border-left: 5px solid #004dff;padding-left: 5px;">
                        <!-- <input type="checkbox" [checked]="PIConfirmCheckbox"> -->
                        <div>
                            <span style="margin-right: 5px;" class="title">Does this file contain PII
                                Data?</span>
                            <span>
                                <app-info-tooltip [labelTitle]="''" [description]="'pidatahelpDataSet'"
                                    [isImage1]="true">
                                </app-info-tooltip>
                            </span>
                        </div>
                        <ng-container *ngIf="isSensitiveData">
                            <input type="radio" name="PIConfirmRadio" class="myw-checkbox" checked disabled>
                            <span class="ml-2 title">Yes</span>&nbsp;&nbsp;
                            <input type="radio" name="PIConfirmRadio" class="myw-checkbox" disabled>
                            <span class="ml-2 title">No</span>
                        </ng-container>
                        <ng-container *ngIf="!isSensitiveData">
                            <input type="radio" name="PIConfirmRadio" class="myw-checkbox" disabled>
                            <span class="ml-2 title">Yes</span>&nbsp;&nbsp;
                            <input type="radio" name="PIConfirmRadio" class="myw-checkbox" checked disabled>
                            <span class="ml-2 title">No</span>
                        </ng-container>
                    </div>

                </div>
                <div class="d-flex justify-content-end myw-actions">
                    <button type="button" class="btn btn-secondary" (click)='onClose()'>Close</button>
                </div>
            </div>
        </div>
    </div>

</ng-container>

<ng-container *ngIf="queryResponseEnabled">

    <div class="modal-content">
        <div class="modal-header">

            <h5 class="modal-title" id="ingrAI-enter-model-title">{{title}}</h5>
            <button type="button" class="close" aria-label="Close" (click)='onClose()'></button>

        </div>
        <div class="modal-body modal-body-height">
            <!-- <div class="d-flex flex-column justify-content-center">
                        <div style="padding: 3%;">

                            <div class="row">
                                <span class="col-1 title">Query :</span>
                                <textarea class="col-10 txt-area-border form-control" [(ngModel)]="query" style="position: relative;
                                top: 10px;" readonly>
                                </textarea>
                            </div>

                        </div>
                    </div> -->
            <app-custom-query-save [modalNameRequired]="false" [previousQuery]="previousQuery" [isDisabled]="true"
                (onSaveQuery)="saveQuery($event)"></app-custom-query-save>

        </div>
    </div>

</ng-container>
