.response-body{
    padding: 1.5rem 0rem;
}
.ingrain-fullmodal{
    padding: 5% 5% 0%;
}
.modal-body-height{
    max-height: 80vh;
}
.title{
    align-self: center;
    font-weight: bold;
}
.txt-area-border{
    border : none;
}
.myw-api-bg{
    border: 1px solid #CCCCCC;
    background-color: #F6F5FF;
    flex: 1 1 auto;
}