.ingrAI-left-menu-container .ingrAI-left-menu-item {
  border-bottom: 1px solid #BDC9DA;
}

.ingrAI-left-menu-container .ingrAI-left-menu-item a {
  color: #333333;
  padding: 0.5rem 0;
}

.ingrAI-left-menu-container .ingrAI-left-menu-item a:hover {
  text-decoration: none;
}

.ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-name {
  width: calc( 100% - 4rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-value {
  width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingrAI-left-menu-container {
  height: 400px;
  overflow-y: auto;
}

.ingrAI-visualization-chart {
  height: 350px;
}
