<div id="main" class="ingrAI-content ingrAI-cust-wrap flex-fill">
  <div class="ingrAI-body-content">
    <div class="ingrAI-body-contentBG ingrAI-preprocess-tile">
      <div class="row">

        <div class="col-sm-12 col-md-2 col-lg-2">

            
          <div class="form-group">
              <label for = 'graph-drop-down'>Graph Type</label>
            <select #graph (change)='onGraphTypeSelect(graph.value)' class="form-control" id="graph-drop-down">
              <option value=''>Select type of Graph</option>
              <option *ngFor='let chart of chartDropDownData' value={{chart}}>{{chart}}</option>
            </select>
          </div>
        </div>

        <ng-container *ngIf='displayAxisDropDowns == "true"'>
          <div *ngFor='let axisname of axisNames;let i= index' class="col-sm-12 col-md-2 col-lg-2">

            
            <div class="form-group">
                <label [for] = '"axis-type-dropdown"+i'>{{axisname}}</label>
              <select (change) = 'onAxisTypeSelect($event.target.value,axisname)' class="form-control" [id]="'axis-type-dropdown' +i">
                <option value="">Please Select an Option</option>
                <option *ngFor='let option of dropDownsData["axis"]' value='{{option}}'>{{option}}</option>
              </select>
            </div>
          </div>
        </ng-container>

        <div class="col-sm-12 col-md-2 col-lg-2 d-flex justify-content-center align-items-end">
          <div class="form-group">
              <button type="button" class="btn btn-primary" [disabled] = 'isDisabled' (click)=onSubmit()>Submit</button>
          </div>
        </div>

      </div>
      <div class="row mt-2">
        <div class="col-sm-12 col-md-3 col-lg-2">
          <div class="ingrAI-heading">Statistics</div>
          <div class="ingrAI-left-menu-container">
            <div *ngFor='let stat of statistics' class="ingrAI-left-menu-item">
              <a (click)='changeStat(stat)' class="d-flex">
                <div class="ingrAI-left-menu-name">{{stat}}</div>
              </a>
            </div>

          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-10">
          <div class="ingrAI-heading">Visualization</div>
          <div class="ingrAI-visualization-chart mt-2">
            <div id='chart-area'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>