<div id="main" class="myw-content d-flex flex-column flex-fill">
  <div *ngIf='!isLoading' [ngClass]="statusForPrescription ? 'open' : ''" class="ingrain-flyout-container">
    <div class="ingrain-flyout" style="margin-left: -1rem;">
      <div *ngIf='processData' class="ingrain-flyout-content myw-scrollbar" style="max-height: 22rem;">
        <!-- <div  class="ingrAI-list-item-container ingerAI-predescription-list-item-container"> -->
          <fieldset [disabled]="readOnly">
        <!-- UI Revamp -->
        <div class="fs-12 myw-500 mb-2" *ngIf='fixFeatureImportnaceofZero && fixFeatureImportnaceofZero.size>0'>
          <span>Prescription</span>
        </div>
        <div class="ingrAI-list-item" *ngIf='fixFeatureImportnaceofZero && fixFeatureImportnaceofZero.size>0'>
          <div>Listed attributes do not influence the prediction results. You may choose to remove them from
            training</div>
          <label class="d-flex myw-checkbox" *ngFor="let fixfeature of fixFeatureImportnaceofZero">
            <input [disabled]="isTimeSeriesModelType" #selectedLabel (change)="onChecked(selectedLabel)"
              [value]='fixfeature' type="checkbox">
            <span class="checkmark">{{fixfeature}}</span>
          </label>
        </div>
        <div class="fs-12 myw-500 my-2">Informative</div>
        <div class="ingrAI-list-item">
          <ol>
            <li>Train and Test Split: Recommended Training data should be between 60% and 80% for better prediction
            </li>
            <li>K-Fold Validation: Using k-fold validation every data point will be tested exactly once and used in
              training k-1 times thereby reducing bias. Number of folds will increase the model training time</li>
          </ol>
        </div>

        <!-- </div> -->
        <div class="d-flex justify-content-end py-2"
          *ngIf='fixFeatureImportnaceofZero && fixFeatureImportnaceofZero.size>0'>
          <!-- <input [disabled]="isTimeSeriesModelType" (click)="fixIt()" type="button" class="btn btn-primary mr-4"
              value="Fix it" /> -->
          <button class="btn btn-sm btn-secondary ml-auto mt-auto" (click)='fixIt()' type="button"
            [disabled]="isTimeSeriesModelType">Auto Fix</button>
          <!-- <input [disabled]="isTimeSeriesModelType" (click)="ignore()" type="button" class="btn btn-primary"
              value="Ignore" /> -->
        </div>
          </fieldset>
      </div>
      <div class="ingrain-fly-header">
        <div class="ingrain-flytext" (click)="prescriptionOpen($event)">Prescription</div>
      </div>
    </div>
  </div>
  <!-- /Prescription -->
  <fieldset [disabled]="readOnly">
    <div class="myw-container py-2">

      <!-- Help Panel -->
      <ng-container *ngIf="isLoading; then displayLoader else displayTableData"></ng-container>
      <ng-template #displayLoader>
        <div class="row">
          <div class="col-12">
            <app-loader-display></app-loader-display>
          </div>
        </div>
      </ng-template>
      <ng-template #displayTableData>
        <div class="row my-3">
          <div class="col-12 col-lg-5">

            <div class="myw-section section-height myw-scrollbar">
              <div style="padding: 0.96rem;">
                <label class="label-mr mr-1" style="font-weight: 500;">Feature Importance </label>
                <app-info-tooltip class="ml-auto" [className]="'featureselection-tip toggleLeft'">
                  <div class="htmlDesignedTooltip">
                    Feature importance table contains influencing attributes arranged in decreasing order of their
                    importance
                  </div>
                </app-info-tooltip>
              </div>
              <table class="table table-striped table-hover table-vmiddle myw-table">
                <thead>
                  <tr>
                    <th scope="col" width="5%">&nbsp;</th>
                    <th scope="col" width="70%">Attributes</th>
                    <th scope="col" width="25%">Importance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let featurename of featurenames">
                    <td>
                      <label class="myw-checkbox myw-inline">
                        <input [disabled]="isTimeSeriesModelType || (featurename === targetUniqueIdentifier && isCascadeEnabledUniqueIdentifier)" #isImportanceValueChecked
                          [checked]="isTrueForCheckbox(featurename)"
                          (click)="onCheckChanged(featurename, isImportanceValueChecked)" type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>{{featurename}}</td>
                    <td>
                      <span>
                        {{importanceValue[featurename]}}
                      </span>
                      <!-- <span *ngIf="featurename == 'All_Text' && isClusteringFlag">                    
                      </span> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 col-lg-7 ">
            <div class="myw-section p-3">
              <div class="row">
                <ng-container *ngIf='featureForSplit.length<=40'>
                  <div class="col-12 col-lg-6">
                    <div class="form-group">
                      <label class="label-mr">Attribute to Predict</label>
                      <!-- <input class='form-control' [(ngModel)]='featureForSplit' type="text" [disabled]="true"> -->
                      <input class='form-control' type="text" [disabled]="true" maxlength="70" value={{featureForSplit}}>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf='featureForSplit.length>40'>
                  <div class="col-12">
                    <div class="form-group">
                      <label class="label-mr">Attribute to Predict</label>
                      <!-- <input class='form-control' [(ngModel)]='featureForSplit' type="text" [disabled]="true"> -->
                      <input class='form-control' type="text" [disabled]="true" maxlength="70" value={{featureForSplit}}>
                    </div>
                  </div>
                </ng-container>

                <div class="col-12">
                  <div class="form-group mb-4" *ngIf="!isTimeSeriesModelType">
                    <label class="myw-checkbox">
                      <input [disabled]="isTimeSeriesModelType" #featureselection100percentage
                        [checked]="isAllData_Flag" type="checkbox"
                        (change)="AllData_FlagChecked(featureselection100percentage)"><span>Use 100% of Data for
                        training</span>
                    </label>
                    <span class="pl-2">
                      <app-info-tooltip [description]="'featureselection100percentage'"></app-info-tooltip>
                    </span>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group ingrain-range">
                    <!-- <label class="form-label">Training Data</label> -->
                    <!-- <a href="javascript:;"><img src="assets/images/info.svg" class="myw-icon myw-12" /></a> -->
                    <div class="d-inline-flex mb-3">
                      <app-info-tooltip [labelTitle]="'Training Data'" [description]="'featureSelectionTrainData'">
                      </app-info-tooltip>
                    </div>
                    <div class="ingrain-slider d-flex align-items-center">
                      <span class="slider-val">60</span>
                      <input type="range" #TrainingData class="myw-range" [id]="input + 'indx'" [value]="trainingData"
                        [(ngModel)]="trainingData" (change)="changedValueForTrainingData(TrainingData.value)" min="60"
                        max="80" [disabled]="isTimeSeriesModelType || isAllData_Flag">
                      <span class="myw-range-output"
                        [ngStyle]="getStyles(TrainingData.value,60, 80)">{{TrainingData.value}}</span>
                      <span class="slider-val">80</span>
                    </div>

                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group ingrain-range">
                    <div class="d-inline-flex mb-3">
                      <app-info-tooltip [labelTitle]="'Apply K-Fold Validation'"
                        [description]="'featureSelectionKFold'">
                      </app-info-tooltip>
                    </div>
                    <div class="ingrain-slider d-flex align-items-center">
                      <span class="slider-val">02</span>

                      <input type="range" #kfoldValidationinput class="myw-range" [id]="input + 'indx'"
                        [value]="SelectedKFold" (change)="changedValueForTrainingData(TrainingData.value)" min="2"
                        max="{{maxKfoldValidation}}" [(ngModel)]="SelectedKFold"
                        (change)="changedValueForValidation(kfoldValidationinput.value)"
                        (keydown)="changedValueForValidation(kfoldValidationinput.value)"
                        [disabled]="isTimeSeriesModelType || isAllData_Flag">

                      <span class="myw-range-output"
                        [ngStyle]="getStylesKfold(kfoldValidationinput.value,2, maxKfoldValidation)">{{kfoldValidationinput.value}}</span>
                      <span class="slider-val">{{maxKfoldValidation}}</span>
                    </div>

                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <!-- <label class="form-label">Stratified Sampling</label> <a href="javascript:;"><img
                        src="assets/images/info.svg" class="myw-icon myw-12" /></a> -->
                    <div class="d-inline-flex mb-3">
                      <app-info-tooltip [labelTitle]="'Stratified Sampling'"
                        [description]="'featureSelectionStratifiedSampling'">
                      </app-info-tooltip>
                    </div>
                    <div>
                      <label class="myw-switch ingr-switch">
                        <input [disabled]="isTimeSeriesModelType || isAllData_Flag" #switch
                          (click)="onSwitchChanged(switch)" type="checkbox" name="onoffswitch" id="myonoffswitch"
                          [checked]="stratifiedSampling == 'True'">
                        <span class="label-first">OFF</span>
                        <span class="switch-toggle"></span>
                        <span class="label-last">ON</span>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Custom Cascading -->
                <div class="col-12">
                  <div class="form-group">
                    <div class="d-inline-flex mb-3">
                      <app-info-tooltip [labelTitle]="'Cascading'" [description]="'featureSelectionCascadingToggle'">
                      </app-info-tooltip>
                    </div>
                    <div>
                      <label class="myw-switch ingr-switch">
                        <input [disabled]="isTimeSeriesModelType || isFMFlag || isIncludedInNormalCascade" #switch1
                          type="checkbox" name="onoffswitch1" [checked]="isCascadingEnabled"
                          (click)="cascadeSwitchToggle($event)">
                        <span class="label-first">OFF</span>
                        <span class="switch-toggle"></span>
                        <span class="label-last">ON</span>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Custom Cascading -->
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </fieldset>
</div>


<ng-template #confirmChangesOnFeatureSelection>
  <div class="deploymodle-confirmpopup">
    <div class="modal-header" style="border-bottom: none;">
      <h5 class="modal-title" id="saveViewModalTitle">&nbsp;</h5>
      <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
        (click)="modalRef.hide()">
        <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
          <use xlink:href="#ingrAI-icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      You have made some changes to the trained model. By saving these changes, the model will have to be retrained
      in the Recommended AI section. Click Yes if you wish to Proceed or No to Return.
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-secondary" style=" font-size: 1rem;" (click)="decline()">No</button>
        <button type="button" class="btn btn-primary" style=" font-size: 1rem;" (click)="confirm()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>