// .ingrAI-subnavrbar { min-height: 50px; height: 50px; background-color:#95DFE6; -webkit-box-shadow: 0 0 5px 0 #d9d9d9; box-shadow: 0 0 5px 0 #d9d9d9; margin-top:0.5rem; }
// .ingrAI-subnav-col { padding: 0.2rem 2rem; border-top: 2px solid #286E99; font-weight: 500; }
// .ingrAI-subnav-col-name  + .ingrAI-subnav-col-name  { border-left:1px solid #fff; }
// .ingrAI-subnav-col-name a {  color:#286e99;  margin-right:0.4rem; }
// .ingrAI-subnav-col-name  { color:#286e99; }
// .ingrAI-subnav-col-name .ingrAI-subnav-col-filename { color:#353D47; }
// .ingrAI-search-container { display:flex; border:0 solid #BDC9DA; width:calc( 100% - 25px ); margin:-3px 0 -4px 0; }
// .ingrAI-search-container .form-control { padding: 0.2rem 0.5rem; border: 0; border-radius:0; color:#353D47; }
// .ingrAI-search-container .btn-primary { padding: 0.2rem 0.3rem; background: #fff; border: 0; box-shadow: none!important;}
// .ingrAI-search-container .btn-primary svg { fill:#286E99!important; }
// .ingrAI-search-container .btn-primary:not(:disabled):not(.disabled):active { border-color:transparent; background: #fff; box-shadow: none!important; }
// .ingrAI-subnav-col-filename { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

// .custom-range-slider{ -webkit-appearance: none; width: 100%; height: 25px; padding: 0; margin: 0; 
// 	position: relative; overflow: hidden; border-radius: 0; border: 1px solid #ccc; }
// .custom-range-slider::-webkit-slider-runnable-track{ width: 100%; height: 100%; background: #fff; }
// .custom-range-slider::-webkit-slider-thumb{ height: 100%; width: 10px; background: #6bcdfd; position: relative;
// 	-webkit-appearance: none; border: 1px solid #6fb2e0; box-shadow: -100vw 0 0 100vw #aedfde; cursor:pointer; }

// .custom-range-slider::-moz-range-track{ width: 100%; height: 100%; background: #fff; }
// .custom-range-slider::-moz-range-thumb{ height: 100%; width: 10px; background: #6bcdfd;
//     position: relative;
// 	border: 1px solid #6fb2e0; border-radius: 0; box-shadow: -100vw 0 0 100vw #aedfde; cursor:pointer; }

// .custom-range-slider::-ms-track{ width: 100%; height: 100%; background: #fff; color: transparent; border: none; }
// .custom-range-slider::-ms-thumb{ height: 25px; width: 10px; background: #6bcdfd; 
// 	border: 1px solid #6fb2e0; border-radius: 0; cursor:pointer; }
// .custom-range-slider::-ms-fill-lower{ background: #aedfde; }
// .custom-range-slider::-ms-fill-upper{ background: #fff; }
// .custom-range-slider::-ms-ticks-after{ display: none; }
// .custom-range-slider::-ms-ticks-before{ display: none; }
// .custom-range-slider::-ms-tooltip{ display: none; }

// .custom-range-slider-xs{ height: 15px; }
// .custom-range-slider-xs::-ms-thumb{ height: 15px; }

// .onoffswitch { position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; width:50px; }
// .onoffswitch label { margin-bottom:0; font-weight:normal; }
// .onoffswitch-checkbox { display: none; }
// .onoffswitch-label { display: block; overflow: hidden; cursor: pointer; border: 1px solid #BDC9DA; border-radius: 15px; padding: 0 0.2rem; }
// .onoffswitch-inner { display: block; width: 200%; margin-left: -100%; -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
//     -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s; }
// .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner { margin-left: 0; }
// .onoffswitch-switch { display: block; width: 12px; height: 12px; margin:5px 6px; background: #E66E6E; border-radius: 20px;
//     position: absolute; top: 0; left: 0; -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s;
//     transition: all 0.3s ease-in 0s; }
// .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch { right: 0; left: auto; background:#10ADD3; }
// .onoffswitch-checkbox:disabled + .onoffswitch-label .onoffswitch-switch  {  background:grey; }
// .onoffswitch-inner:before, .onoffswitch-inner:after { display: block; float: left; width: 50%; padding: 0; color: white; -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box; box-sizing: border-box; }
// .onoffswitch-inner:after {  content: "OFF"; background-color: #fff; color: #333; text-align: right; padding-right: 3px; line-height: 22px; position: relative; top: -1px; }
// .onoffswitch-inner:before { content: "ON"; background-color: #fff; color: #333333; padding-left: 3px;line-height: 22px; position: relative; top: -1px;}

// .ingrAI-help-panel { display: none; position: absolute; top: 1px; right: 0; height: calc(100% + 25px); z-index: 100; background-color: #fff; -webkit-box-shadow: -2px 0 3px 0 #ccc; box-shadow: -2px 0 3px 0 #ccc; } 
// .ingrAI-help-panel.show { display:block; }
// .ingrAI-help-panel-container { width: 690px; max-width: calc(100vw - 20%); height: 100%; overflow: auto; padding: 1.5rem; }
// .ingrAI-help-panel-header { -webkit-flex: 0 0 auto; flex: 0 0 auto;  padding-bottom: 0.5rem; position:relative; }
// .ingrAI-help-panel-close { position: absolute; top: -16px; right: 0; color:#FF000E; }
// .ingrAI-help-panel-header a:hover {  color:#FF000E;  }
// .ingrAI-help-panel-body { position: relative; height: 100%; min-height: 0; padding: 0.75rem 0; color:#353D47;   }
// .ingrAI-help-container { margin-bottom:0.8rem; }
// .ingrAI-help-heading { margin-bottom:0.3rem; font-weight:500; }


// .ingrAI-data-table tr:nth-child(even) {background: #fff;}
// .ingrAI-data-table tr:nth-child(odd) {background: #fff;}
// .ingr-missing-table { height:325px; }
// .ingr-filter-table { height:275px; }
// .ingrAI-eye-view { margin-right:0.5rem; }
// .ingrAI-eye-view svg, .ingrAI-preprocess-tile  svg { fill:#10ADD3; }
// .ingrAI-preprocess-tile .ingrAI-open-help svg { cursor:pointer; fill:#10ADD3; }
// .ingrAI-data-modification-table { height:490px; }
// .ingrAI-data-modification-table .ingrAI-table td { vertical-align:center; }
// .ingrAI-data-encoding-table { height: 525px; }
// .ingrAI-data-collapse .ingrAI-arrow { width: 0;  height: 0;  border-left: 0.4rem solid transparent; border-right: 0.4rem solid transparent; border-top: 0.4rem solid #10ADD3; cursor:pointer; margin-top:0.5rem;}
// .ingrAI-data-collapse .ingrAI-arrow { transform: rotate(180deg);}
// .ingrAI-data-collapse .ingrAI-arrow.collapsed { transform: rotate(0deg); }
// .ingrAI-recommendation .ingrAI-list-item-container .ingrAI-list-item { border-top:0; padding: 0.2rem 0; }
// .ingrAI-recommendation .ingrAI-list-item-container .ingrAI-list-item .checkmark {top:1px; }
// .ingrAI-recommendation .ingrAI-list-item-container .ingrAI-list-item:last-child { border-bottom:0; }
// .ingrAI-data-collapse .ingrAI-recommendation-name { padding-right: 0.8rem; }
// .ingrAI-add-filter-modal label { font-weight:normal; } 
// .ingrAI-add-filter-modal .ingrAI-list-item-container .ingrAI-list-item:first-child { border-top:0; } 
// .ingrAI-filter-modal-container { height:400px; overflow-y:auto; }
// .ingrAI-customize-column { border: 1px solid #BDC9DA; background: #fff; padding:0; height: 275px; overflow: auto; margin-bottom: 0.5rem; }
// .ingrAI-customize-column .ingrAI-column-item a { color:#353D47; text-decoration: none; padding: 0.2rem 0.7rem; display: flex; border-bottom:0; }
// .ingrAI-customize-column-swapper.ingrAI-move-to-right { position: absolute; top: 45%; left: 50%; margin-left: -10px; margin-top: -10px; cursor:pointer; }
// .ingrAI-customize-column-swapper.ingrAI-move-to-left { position: absolute; top: 60%; left: 50%; margin-left: -10px; margin-top: -10px; cursor:pointer; }
// .ingrAI-customize-column-swapper svg { fill:#10ADD3; }
// .ingrAI-customize-column-swapper.ingrAI-move-to-left { transform:rotate(180deg); }
// .ingrAI-left-menu-container .ingrAI-left-menu-item { border-bottom:1px solid #BDC9DA; }
// .ingrAI-left-menu-container .ingrAI-left-menu-item a { color:#333333; padding: 0.5rem 0; }
// .ingrAI-left-menu-container .ingrAI-left-menu-item a:hover { text-decoration:none; }
// .ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-name { width:calc( 100% - 4rem); white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
// .ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-value { width:4rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
// .ingrAI-left-menu-container { height:400px; overflow-y:auto; }
// .ingrAI-visualization-chart { height:350px; }
// .ingrAI-col-container .ingrAI-list-item-container { margin-top:0.5rem; padding: 0; }
// .ingrAI-link-app-count { width: 1.5rem; height: 1.5rem; background: #10ADD3; border-radius: 50%; color: #fff; display: flex; justify-content: center; align-items: center; }
// .ingrAI-data-collapse { min-height:2.2rem; padding-right: 0.5rem; }
// .ingrAI-link-apps .dropdown-menu { border:0; -webkit-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.76);  box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.76)}
// .ingrAI-link-apps .dropdown-menu:before { display:none; }
// .ingrAI-link-apps  a.ingrAI-link-app-count, .ingrAI-link-apps  a:hover.ingrAI-link-app-count  { color:#fff; text-decoration:none;  }
// .ingrAI-link-apps  .dropdown-item { color:#333; }
// .ingrAI-link-apps .dropdown-item:focus, .ingrAI-link-apps .dropdown-item:hover { background:#fff; color:#333; }
// .ingrAI-drop-close { display:flex; justify-content:end; padding:0.2rem; color:#FF000E; float: right;}
// .ingrAI-drop-close a { color:#FF000E!important;  }
// .ingrAI-drop-close svg { fill:#FF000E!important;  }

// .ingrAI-model-engineering-table { height:490px; }
// .ingrAI-model-engineering-table td { padding:.75rem; }
// .ingrAI-model-engineering-table .checkmark { top:-4px; }
// .ingrAI-feature-container { border-bottom:1px solid #C7CEDE; padding:0.5rem 0; }
// .ingrAI-feature-container .ingrAI-range-label { text-transform:uppercase; color:#333333; font-size:0.75rem;}
// .ingrAI-slider .ingrAI-slider-label { color:#BDC9DA; }	
// .ingrAI-feature-slider-container { height:455px; }
// .ingrAI-body-contentBG-recomendedAI { background: #fff; padding: 1rem; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
//     box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); }
// .ingrAI-body-contentBG-recomendedAI a { text-transform:uppercase; text-align:center; background:#CCCCCC; color:#706F6F; border-color:#CCCCCC;padding: 1rem 0; display:flex; align-items: center;
//     justify-content: center; font-weight:500; }
// .ingrAI-body-contentBG-recomendedAI a.btn-primary:hover {  background:#CCCCCC; color:#706F6F; border-color:#CCCCCC; box-shadow: none; padding: 1rem 0; }
// .ingrAI-body-contentBG-recomendedAI a.btn-primary:not(:disabled):not(.disabled):active, .ingrAI-body-contentBG-recomendedAI a.btn-primary:not(:disabled):not(.disabled).active,  .ingrAI-body-contentBG-recomendedAI a.btn:focus  { background:#6DB473; color:#ffffff; border-color:#6DB473; }
// .ingrAI-usage-text { font-size:0.75rem; }
// .ingrAI-usage-box-container { border:1px solid #C7CEDE; height:65px; }
// .ingrAI-body-contentBG.ingrAI-recommendedAI-tile { min-height: 310px; max-height: 310px;  margin-bottom: 1.25rem; }
// .ingrAI-recommendedAI-tile .ingrAI-open-help svg { cursor: pointer; fill: #10ADD3; }


// .ingrAI-explainableAI {  position:absolute; height:275px; top:60%; left:0;  z-index:111;background: rgba(73,155,234,1); cursor:pointer;
// background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
// background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
// background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
// background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
// background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
// background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
// border-top-right-radius:2rem; border-bottom-right-radius:2rem; padding: 1rem 0; }
// .ingrAI-explainableAI-text { font-size:1rem; transform:rotate(270deg); color:#fff; width:1.8rem; position:relative; margin-top:165px; top: -36px; left: -2px; text-transform:uppercase; font-weight:500; white-space:nowrap; }
// .ingrAI-explainableAI-content-container { display:none; top:60%;background: #E9F2F5;position:absolute;width: 625px;height: 275px;z-index: 1;left: 0px; border-top:1px solid rgba(0,0,0,0.2); border-bottom:1px solid rgba(0,0,0,0.2); padding:1rem; }
// .ingrAI-explainableAI-container.ingrAI-open  .ingrAI-explainableAI-content-container { display:block!important; }
// .ingrAI-explainableAI-container.ingrAI-open .ingrAI-explainableAI { left:625px;  }
// .ingrAI-open  .ingrAI-explainableAI svg { transform: rotate(180deg); }
// .ingrAI-explainableAI-content-container .ingrAI-list-item-container .ingrAI-list-item  { border-top:0; border-bottom:1px dashed #BDC9DA; }
// .ingrAI-explainableAI-content-container .ingrAI-explainableAI-list-item-container { height:12rem; overflow-y:auto; }
// .ingrAI-chart { height:230px; }
// .ingrAI-box-container { background:#fff; padding:1rem; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
// box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); }
// .ingrAI-recomended-checkbox { margin-top:-20px; }
// .ingrAI-test-chart { height:140px; }
// .ingrAI-test-bar-chart { height:310px; }
// .ingrAI-test-table { height:370px; overflow-y:auto; }
// .ingrAI-box-container .close { color:#FF000E; opacity:1; }
// .ingrAI-update-button { color: #fff; background-color: #10ADD3; border-color: #10ADD3; box-shadow: none; padding: 0.5rem 2rem; height: 2.5rem; cursor: pointer; margin-right: 0.6rem; }

// .myingrAI-logistics-box { display:flex; align-items:center; border:1px solid #C7CEDE; height:100%; }
// .myingrAI-logistics-text { font-size:0.75rem; }
// .myingrAI-logistics-chart { height:90px; }

// .ingrAI-tunning-slider { max-width:728px; margin:0 auto; }
// .ingrAI-carousel-container { background:#fff; padding:1rem; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
// box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); height:100%; }
// .carousel-item-tile { width:20%; border:1px solid #BDC9DA; height:200px; border-radius: 2rem; -webkit-border-radius:2rem; display: flex;  text-align: center; flex-direction:column; padding: 1rem 0.2rem;}
// .carousel-item-tile  + .carousel-item-tile  { margin-left:20px; } 
// .carousel-title { font-size:0.75rem; margin-bottom:0.5rem; height: 2rem; }
// .carousel-image { height:110px; } 
// .carousel-run-titme { font-size:0.75rem;} 
// .carousel-control-prev { left: -60px; width: 60px; opacity: 1; width: 0;  height: 0;  border-top: 20px solid transparent; border-bottom: 20px solid transparent;  border-right:20px solid #10ADD3;  top:40%; }
// .carousel-control-next { right: -60px; width: 60px; opacity: 1; width: 0;  height: 0;  border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #10ADD3; top:40%; }

// @media (max-width: 992px) {
// .ingrAI-body-contentBG.ingrAI-recommendedAI-tile, .ingrAI-body-contentBG.ingrAI-preprocess-tile { max-height:100%; }
// .ingrAI-filter-modal-container { height:310px; }
// .carousel-control-prev { left:-40px; }
// .carousel-control-next { right:-40px; }
// .ingrAI-log-regression { margin-bottom:1.5rem; }
// .btn-primary, .btn-primary:hover { padding:0.5rem 1rem }
// .ingrAI-sub-nav-button { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:100%; }
// .ingrAI-sub-nav-button  span { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
// .ingrAI-sub-nav-button + .ingrAI-sub-nav-button { margin-left: 0.6rem; }
// }
// @media (min-width: 768px) { 
// .ingrAI-tunning-slider  { max-width:660px; }
// .carousel-control-prev { left:-30px; }
// .carousel-control-next { right:-30px; }
// }

// .ingrAI-stop-process svg { fill:#e66d6e!important; }
// .ingrAI-start-process svg { fill:#6DB473!important; }
// .ingrAI-stop-process a, .ingrAI-start-process a { text-decoration:none; color:#286E99; }

// .range-value-training-data{
//     color: #286e99;
//     font-weight: 700;
// }

// .range-value-validation-data{
//     color: #286e99;
//     font-weight: 700;
//     font-size: 11px;
// }

// .ingrAI-python-progress-dialogbox{
//     p{
//         margin-bottom: 0.2rem;
//     }
//     position: absolute;
//     bottom: -200px;
//     left: 46%;
//     background-color: #e4e4e4;
//     padding: 2px;
//     text-align: center;
// }
// .btn-primary:disabled{
//     border-color: #10ADD3 !important;
//     background-color: #10ADD3 !important;
// }

// .modal-header svg { color:#FF000E; }
// .modal-header .close { padding:0.5rem; opacity:1;  }

// .deploymodle-confirmpopup{
//     color:#353D47; 
//     font-size: 1rem;
// }

// .ingrAI-slider .ingrAI-slider-label { color:#BDC9DA; }	
// .slider {
//     -webkit-appearance: none;
//     width: 100%;
//     height: 4px;
//     border-radius: 5px;  
//     background: #cdcdcd;
//     border: 1px solid #afafaf;
//     outline: none;
//     -webkit-transition: .2s;
//     transition: opacity .2s;
//   }
  
//   .slider::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     appearance: none;
//     width: 0.7rem;
//     height: 0.7rem;
//     border-radius: 50%; 
//     border: 1px solid #02a6ec;
//     background: #fff;
//     cursor: pointer;
//   }
  
//   .slider::-moz-range-thumb {
//     width: 0.7rem;
//     height: 0.7rem;
//     border-radius: 50%;
//     background: #10ADD3;
//     cursor: pointer;
//   }
  
// .slider::-ms-track{ width: 100%; height: 100%; background: #fff; color: transparent; border: none; }
// .slider::-ms-fill-lower{ background: #aedfde; }
// .slider::-ms-fill-upper{ background: #fff; }

/* Feature Selection UI Revamp */
.section-height {
    height: 528px; // 438px;
    // overflow: auto;
}

.ingrain-flyout {
    top: 4rem;
}

.myw-range-output { 
    position: absolute; 
    top: -0.625rem; left: 50%; 
    transform: translateX(-50%); 
    color: #004dff; 
    font-size: 0.75rem; 
    font-weight: 600; 
    border-radius:7px; 
    padding:.125rem .425rem; 
    background-color: #fff; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
}

.ingrain-range .myw-range {
    margin-top: 0rem;
}


.deploymodle-confirmpopup{
    color:#353D47; 
    font-size: 1rem;
}