.ingrAIn-monitoring { margin-top: 1rem; }
.ingrAIn-monitoring .ingrAI-box-container { margin-bottom: 2rem;  }
.ingrAIn-status { padding: 0rem 1rem; display: flex; align-items: center; background-color: #fff;  }
.ingrAIn-status label { color: #595959;   font-weight: 700; margin-bottom: 0;  }
.ingrAIn-legends { border-radius: 0.5rem; -ms-border-radius:0.5rem; color: #fff;   font-weight: 700; padding: 0.625rem; }
.ingrAIn-legends.unhealthy { background-color: #db5e5a; }
.ingrAIn-legends.success { background-color: #8ed498; }
.ingrAIn-monitoring .ingrAI-heading { text-transform: inherit;   }
.ingrAIn-monitoring .ingrAI-box-container .ingrAIn-legends { margin-left: 1rem; }
.ingrAIn-train-modal .modal-dialog { max-width: 70%; }
.ingrAIn-train-modal .modal-header { background-color: #039fd8; color: #fff; border-top-left-radius: 1rem; border-top-right-radius: 1rem; }
.ingrAIn-train-modal .modal-title { text-transform: inherit; }
.ingrAIn-train-modal .modal-content { border-radius: 1rem; -ms-border-radius: 1rem;  }
.ingrAIn-train-modal .close { color: #fff;  text-shadow: none; margin: -0.6125rem -1rem -1rem auto;  }
.ingrAIn-train-modal .table thead th { vertical-align: middle;}
.ingrAIn-visual-monitoring-chart { height: auto; }


.ingrAIn-vis-legends-item{ display: inline-flex;  align-items: center; }
.ingrAIn-vis-legends-item + .ingrAIn-vis-legends-item { margin-left: 1rem; }
.ingrAIn-vis-legends-item span { width: 0.7rem; height: 0.7rem; background:red; margin-right: 0.6rem; }
.ingrAIn-vis-legends-item.low span { background: #48C7F0; }
.ingrAIn-vis-legends-item.medium span { background: #2F98D4; }
.ingrAIn-vis-legends-item.high span { background: #263A80; }
.ingrAIn-vis-legends-item.critical span { background: #ADC70D; }
.ingrAIn-legends-item { display: flex; margin-bottom: 0.4rem; }
.ingrAIn-legends-item span { color: #48C7F0; padding-left: 0.3rem; font-weight: 500;  }
.ingrAIn-visual-prediction-chart {  height: auto;  }
.ingrAI-visual-table { margin:2rem 0 4rem 0; }


/* layout */
.ingrAI-wrapper{ min-height:100vh; position:relative; padding-left:0; padding-right:0; min-width:768px; }
.ingrAI-content{ position:relative; }
.ingrAI-footer{ text-align:center;padding:0.25rem 0.5rem; flex-shrink:0; color:#7D7D7D; }
.ingrAI-cust-wrap{ padding-left:1rem; padding-right:1rem; }
.ingrAI-block{ min-height:5rem; }
.ingrAI-body-cust-wrap{ padding-left:1.5rem; padding-right:1.5rem; }
.ingrAI-content.ingrAI-cust-wrap { padding-left:0rem; padding-right:0rem; }


.ingrAI-body-content { padding:1rem 0rem; }

.ingrAI-box-container { background:#fff; padding:1rem; -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25); }


    /* Sub nav */
.ingrAI-sub-nav { height: 45px; padding: 0 1rem; border-bottom: 2px solid #C7CEDE; display: -webkit-box; display: -ms-flexbox; display: flex; }
.ingrAI-sub-nav-nav { height: 100%; bottom: -2px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; width: 100%; max-width: 100%; min-height: 1px; position: relative; }
.ingrAI-sub-nav-button { border-bottom: 2px solid transparent; min-width: 2rem; padding: 0.25rem 0.5rem; display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.ingrAI-sub-nav-button + .ingrAI-sub-nav-button { margin-left: 1rem; }
.ingrAI-sub-nav-button.active	 { border-color: #286F99; color:#286F99; font-weight: 700;  }
.ingrAI-sub-nav-button:hover { border-color: #286F99; color:#353D47; }
.ingrAI-sub-nav a, .ingrAI-sub-nav a:hover { text-decoration: none; color: #353D47; text-transform:uppercase; }

