

/* Deploy Model */
.ingrain-dropdown .dropdown-toggle:after { content:''; position: absolute; margin: 0; height: 0; width: 0; border-top: .4rem solid #000;
	border-bottom: .4rem solid transparent; border-right: .4rem solid transparent; border-left: .4rem solid transparent; right: 0;
	transform: rotate(360deg); top: 1rem; right: .3125rem;  }
.ingrain-dropdown .form-control { padding-right: 1.5rem; }
.ingrain-dropdown .dropdown-menu.show { width: 100%; }
.ingrain-dropdown.show .form-control { border-color: #004DFF; }
.ingrain-dropdown.show .dropdown-toggle:after { transform: rotate(180deg); top: 0.65rem; border-top-color: #004DFF; }
.ingrain-entity { position: absolute; top: .625rem; right: 2rem; }
.ingrain-dropdown.ingrain-deploy-dropdown .form-control  { padding-right: 3.25rem; }
.myw-legends.myw-small > i { width: .5rem; height: .5rem; flex: 0 0 .5rem; }
.ingrain-card.ingrain-deploy-card { min-height: 415px; }
.ingrain-card.ingrain-deploy-card .card-title { font-size: 1rem; }
.healthy { background-color: #8FD399; }
.unhealthy { background-color: #DD5E56; }


.dropdown-menu {
    min-width: 0px !important;
    top: 229% !important;
}

.adisabled {
    cursor: not-allowed;
    opacity: .65;
  }
  
.aenable {
    cursor: pointer;
}
 .adisabled:active { text-decoration: none; }

 @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  // .htmlDesignedTooltip{
  //   margin-right: 200px;
  //   position: relative;
  //  // text-align: left;
  // }

 // ::ng-deep{
  .myw-checkbox input:indeterminate + span:before{ border-color: #0089EF !important; background-color:transparent; }
 // }
  
.btn-config{
  font-size: 8px;
  width: min-content;
}
.config-div{
  align-self: center;
}