
.show-data-container{
    margin:50px;
    flex-wrap: nowrap;
    height:550px;
}

.show-data-pagination{
    background-color: white;
}

.pr-10{
    padding-right: 10px;
}

.pt-10{
    padding-top:16px
}

.pl-10{
    padding-left:10px
}

.ingrain-nav .nav-link span:first-child {
    width: 100%;
}
