
  
    <!--
    Aaruhsi to check
     <a *ngIf="this.router.url.includes('cascadeModels') != true" id="anchorUseCase"  routerLink = "usecasedefinition" routerLinkActive="active" [ngClass]="useCaseDefClass" title="Use Case Definition" (click)="viewRadio()">

    <div class="dashboard-secondary-tabs">
      <div class="secondary-tabs">
          <a routerLink = "templates" routerLinkActive="active">Templates</a>
          <a routerLink = "usecasedefinition" routerLinkActive="active">Use Case Definition</a>
      </div>      
      <div class="secondary-buttons">
          <button class="btn btn-success mr-1"> Previous </button>
          <button class="btn btn-success mr-1"> Next </button>
        </div>
    </div> -->
    <!-- <app-dashboard-tabs tabName= "problemstatement"></app-dashboard-tabs> -->

    <!-- <div class="ingrAI-sub-nav">
      <div class="ingrAI-sub-nav-nav">
        <a id="myModel" routerLink = "templates" routerLinkActive="active" [ngClass]="myModelsClass" title="Templates"
          (click)="viewMyModel()">
          <span class="ingrAI-sub-nav-button-text">My Models</span>									
        </a>
        <a id="anchorUseCase"  routerLink = "usecasedefinition" routerLinkActive="active" [ngClass]="useCaseDefClass" title="Use Case Definition" (click)="viewRadio()">
          <span class="ingrAI-sub-nav-button-text">Use Case Definition</span>									
        </a>
      </div>
      <div class="d-flex ml-auto ingrAI-flow-control align-items-center" *ngIf="nextAndPreviousButtons === true">
        <input type="button" class="btn btn-primary bt-bg-color" value="Previous" [disabled] = 'previousDisabled' (click) = previous() />
        <input type="button" class="btn btn-primary bt-bg-color" value="Next" [disabled]="problemStatementService.isPredefinedTemplate == 'True'" (click) = next()/>
      </div>
    </div> -->
    <!-- <div class="myw-container py-4">
      <div class="d-flex align-items-center">
        <div class="fs-18 myw-500">Model Name : {{modelName}}</div>
        <div class="myw-steps ml-auto">
            <a id="myModel" class="myw-step completed" routerLink="templates" routerLinkActive="active" [ngClass]="myModelsClass" title="Templates" (click)="viewMyModel()"><span>Model Templates</span></a>
            <a id="anchorUseCase" class="myw-step active" routerLink = "usecasedefinition" routerLinkActive="active" [ngClass]="useCaseDefClass" title="Use Case Definition" (click)="viewRadio()"><span>Use Case Definition</span></a>
        </div>
    </div>
  </div>
 -->
      <router-outlet></router-outlet>
    
    
 
