.show-data-container{
  margin:50px;
  flex-wrap: nowrap;
  height:550px;
}

.show-data-pagination{
  background-color: white;
  margin-left:1rem;
  margin-right:1rem;
}

.pt-10{
  padding-top:16px
}

.pr-10{
  padding-right: 10px;
}

.data-curation-heading{
  position: relative;
  text-align: center;
  cursor: pointer;
  .data-curation-tooltip{
      display: none;
      width: 240px;
      background-color: #fff;
      color: #000;
      text-align: center;
      font-weight:500;
      text-transform: none;
      padding: 5px;
      position: absolute;
      z-index: 100;
      top: -20px;
      left: -240px;
      box-shadow: -2px 0 3px 0 #ccc;
      border: 1px solid;
  }
  .data-curation-end-tooltip{
      display: none;
      width: 140px;
      background-color: #fff;
      color: #000;
      text-align: center;
      font-weight:500;
      text-transform: none;
      padding: 5px;
      position: absolute;
      z-index: 100;
      top: 40px;
      right: 2px;
      box-shadow: -2px 0 3px 0 #ccc;
  }
}

.data-curation-heading:hover .data-curation-tooltip{
  display: block;
  opacity: 1
}

.data-curation-heading:hover .data-curation-end-tooltip{
  display: block;
  opacity: 1
}

.tooltip-x {
  position: relative;
  display: inline-block;
}

.tooltip-x .tooltiptext {
  visibility: hidden;
  width: 200px;
  height: 100px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
}

.tooltip-x .tooltiptext {
  content: "";
  position: absolute;
  top: 100%;
  left: -1000%;
  margin-left: -5px;
  border: 1px solid #e4e4e4;
}

.tooltip-x .tooltiptext p {
    font-weight: 500;
}

.tooltip-x .tooltiptext.show {
  visibility: visible;
  opacity: 1;
}

.ingrAI-body-contentBG {
  min-height: 100px;
  padding-bottom: 50px;
}

.train-btn:disabled {
  background-color: #999;
}


.modal-dialog {
  max-width: 100% !important;
}


.table-responsive > .table{ margin-bottom: 0; }
.table{ color: inherit; word-wrap: break-word; overflow-wrap: break-word; }
.table th, .table td{ padding: .75rem .5rem; border-color: #ddd; }
.table-sm th, .table-sm td{ padding: .25rem; }
.table thead th{ padding-top: .875rem; padding-bottom: .875rem; font-weight: 500; background-color: #faf9ff; }
.table-sm thead th{ padding-top: .325rem; padding-bottom: .325rem; }
.table-striped:not(.table-bordered) thead th{ border-top: 0; border-bottom: 0; }
.table-striped:not(.table-bordered) tbody td{ border-top: 0; }
.table-striped tbody tr{ background-color: #F5F8FF; }
.table-striped tbody tr:nth-of-type(2n+1){ background-color: #fff; }
.table-bordered, .table-bordered td, .table-bordered th{ border-color: #ccc; }
.table-hover tbody tr:hover{ color: inherit; background-color: rgba(204,204,204,.7); }
.table tbody tr.active{ background-color: #eff8ff; }
.table tfoot tr{ background-color: #f2f2f2; }

.table-vmiddle tbody th, .table-vmiddle tbody td{ vertical-align: middle; }
.myw-table thead th{ height: 4.375rem; vertical-align: middle; }
.myw-table tbody td{ padding-top: .875rem; padding-bottom: .875rem; }
.myw-table tr th:first-child, .myw-table tr td:first-child{ padding-left: 1.25rem; }
.myw-table tr th:last-child, .myw-table tr td:last-child{ padding-right: 1.25rem; }
.myw-table-options{ visibility: hidden; margin-left: .625rem; white-space: nowrap; -ms-flex-item-align: center; align-self: center; }
.myw-table tr:hover .myw-table-options{ visibility: visible; }
.myw-table-options a, .myw-table-actions a{ display: inline-block; vertical-align: middle; }
.myw-table-options a:not(:last-child), .myw-table-actions a:not(:last-child){ margin-right: .375rem; }
.myw-table-options a img, .myw-table-actions a img{ height: 1rem; width: auto; }

.table .table-sort{ display: inline-block; text-decoration: none; color: inherit; position: relative; padding-right: .75rem; }
.table .table-sort:before { content: ''; display: block; width: 0; height: 0; position: absolute;
border: .25rem solid transparent; top: 50%; right: 0; }
.table .table-sort:before{ border-top-color: #BEBEBE; margin-top: -.135rem; }
.table .table-sort.active:before{ border-bottom-color: #000; border-top-color: transparent; margin-top: -.335rem; }
.table .form-control, .table .input-group .btn{ background-color: transparent; }
.table .form-control-trans{ background-color: transparent; border: 0; padding-left: 0; padding-top: 0; padding-bottom: 0;
height: calc(1.5em + 0px); }
 

.ingrain-main-container { height: calc(100vh - 300px); overflow: auto; }
.ingrain-main-container .myw-table thead th { position: sticky; top: 0;  }
.ingrain-dq { border-radius: .3125em; background-color: #8FD399; margin-right: .625rem; font-size: .75rem; padding: .125rem .3125rem; }
.ingrain-flyout { position: absolute; top: 10rem; left: 0;  border-top-right-radius: 1rem; border-bottom-right-radius: 1rem; z-index: 4; 
height: 350px; width: 2.25rem; background-color: #004dff; 
background: transparent linear-gradient(180deg, #00BAFF 0%, #004DFF 100%) 0% 0% no-repeat padding-box; }
.ingrain-flyout-container .ingrain-flyout-content  { display: none; }
.ingrain-fly-header { font-size: 1rem; transform: rotate(270deg); color: #fff; text-transform: uppercase;  
font-weight: 500; width: 2.5rem; height: 330PX; display: flex; align-items: center; justify-content: center; cursor: pointer;   }
.ingrain-flyout-container.open .ingrain-flyout{ display: flex; width: 585px;  }
.ingrain-flyout-container.open .ingrain-flyout-content { font-size: .75rem; display: block; width: calc(100% - 2.5rem); padding: 1rem; height: 100%; background-color: #D9EEFF; }
.ingrain-flyout-container.open .ingrain-flytext:before, .ingrain-flyout-container.open .ingrain-flytext:after { transform: rotate(270deg); }

.ingrain-flyout ol { list-style-position: inside; padding: 0; margin: 0; }
.ingrain-flyout ol li { padding: .125rem 0; }
.ingrain-attr-col { border: 1px solid #CFCFCF;  padding: 1.125rem 1.25rem; margin-bottom: 1rem;  }
.ingrain-slider .slider-val { border: 1px solid #707070; font-size: .625rem; padding: .125rem .325rem; border-radius: .4375rem;  }
.ingrain-slider .slider-val:not(:last-child) { margin: 0 .625rem; }
.ingrain-slider .slider-val:first-child { margin-left: 0; }
.ingrain-slider .slider-val:last-child { margin-right: 0; margin-left: .625rem;}
.ingrain-slider .myw-range { height: 10px; }
.ingrain-dmodification .row + .row { border-top: 1px solid #cfcfcf; }

.ingrain-collapse  { border-bottom: 1px solid #cfcfcf; }
.ingrain-collapse .dropdown-toggle { position: relative;  padding-bottom: .5rem; cursor: pointer; display: block; }
.ingrain-collapse .dropdown-toggle.collapsed:after  { content:''; position: absolute; top: 50%; right: 0; height: 0; width: 0; 
border-top: .3125rem solid #000; border-right: .3125rem solid transparent; border-bottom: .3125rem solid transparent; 
border-left: .3125rem solid transparent; margin: 0; transform: rotate(0deg) translateY(-50%);  }
.ingrain-collapse .dropdown-toggle:after { content:''; position: absolute; top: 5px; right: 0; height: 0; width: 0; border-top: .3125rem solid #000;
border-right: .3125rem solid transparent; border-bottom: .3125rem solid transparent; border-left: .3125rem solid transparent; margin: 0; transform: rotate(180deg) translateY(0); }