// .loggedin-user {
//   border-radius: 50%;
//   height: 40px;
//   width: 40px;
// }
// .fa_custom {
//   color: #1c9aa7;
// }
// .client-height {
//   height: 30px;
// }
// .client-div {
//   width: 100%;
// }
// .btn-multiSelect {
//   position: relative;
//   box-sizing: content-box;
//   padding: 0rem;
//   width: 200px;
//   font-size: 14px;
//   border-radius: 0px;
//   text-align: left;
//   display: inline-flex;
//   vertical-align: middle;
//   padding-top: 15px;
// }
// .caret-parent {
//   position: relative;
// }
// .caret {
//   position: relative;
// }
// .ignore-caret-width .btn .caret {
//   position: absolute;
//   top: calc(50% - 1px);
// }

// .topbar-user-content {
//   display: block;
//   line-height: 1.1;
//   text-align: right;
//   font-size: 0.875rem;
//   color: #262626;
// }
// .user-dropdown-menu {
//   background-color: #fff !important;
//   margin: 0;
//   border-width: 1px !important;
//   border: 1px solid rgba(0, 0, 0, 0.15);
//   min-width: 150px;
//   top: 0px;
//   transform: translate3d(0px, -46px, 0px);
//   background-color: rgb(235, 235, 235) !important;
//   top: 100%;
//   max-width: 150px;
//   width: 100%;
//   background: #fafafa;
//   padding: 3px;
//   border: 1px solid #ccc;
//   -webkit-box-shadow: 0 0 5px 0 #d9d9d9;
//   box-shadow: 0 0 5px 0 #d9d9d9;

//   left: auto !important;
//   right: 100% !important;
//   margin-left: 0 !important;
//   margin-right: -1px !important;
//   right: 0px !important;
// }
// .user-dropdown-menu:before {
//   content: "";
//   display: none;
//   width: 0;
//   height: 0;
// }
// .ingrAI-topbarhead {
//   z-index: auto !important;
// }
// .display {
//   display: none;
// }
// .enableheader {
//   display: block !important;
// }

// .site-wrap {
//   min-height: 100vh;
//   min-width: 768px;
//   position: relative;
//   padding-left: 0;
//   padding-right: 0;
// }

// .c-header {
//   position: relative;
//   height: 70px;
//   background-color: #fff;
//   display: flex;
//   padding-left: 3rem;
//   padding-right: 3rem;
//   align-items: center;
//   justify-content: space-between;
// }

// .c-header__left {
//   display: inline-flex;
//   align-items: flex-end;
// }

// .c-header__right {
//   display: inline-flex;
//   justify-content: flex-end;
//   position: relative;
//   min-width: 375px;
//   // align-items: center;
//   height: 100%;
// }

// .c-icons {
//   display: flex;
//   align-items: center;
//   height: 100%;
// }

// .c-icons li {
//   list-style: none;
//   display: inline-flex;
//   padding: 0 16px;
//   /* cursor: pointer; */
//   vertical-align: middle;
//   font-size: 0.875rem;
//   align-items: center;
//   color: #000;
//   position: relative;
//   height: 100%;
// }

// .c-icons > li:hover,
// li.navlist-active {
//   background: #f2f2f2;
//   color: #0032a5;
// }

// .-selected {
//   background: #deecf9;
// }

// .c-icons__dropdown {
//   padding: 0;
//   margin: 0;
//   font-size: 0.875rem;
//   color: #000;
//   min-height: 2rem;
//   border: 1px solid #979797;
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
//   min-width: 15rem;
//   max-width: auto;
//   position: absolute;
//   right: 0;
//   top: 67px;
//   z-index: 5;
//   background: #fff;
//   padding: 16px;
//   display: none;
// }

// .c-icons__dropdown:before {
//   content: "";
//   display: block;
//   width: 10px;
//   height: 10px;
//   position: absolute;
//   top: -6px;
//   border: 1px solid #979797;
//   border-width: 1px 0 0 1px;
//   background-color: #fff;
//   transform: rotate(45deg);
//   z-index: -1;
//   right: 8px;
// }

// .c-icons__textdropdown {
//   height: 60vh;
//   padding: 0;
//   margin: 0;
//   font-size: 0.875rem;
//   color: inherit;
//   min-height: 2rem;
//   border: 1px solid #979797;
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
//   position: absolute;
//   top: 66px;
//   left: 0;
//   z-index: 5;
//   float: left;
//   text-align: left;
//   list-style: none;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #00000026;
//   display: none;
// }

// .nav-active {
//   display: block;
// }

// .c-icons__textdropdown-wrapper {
//   display: flex;
//   flex-direction: column !important;
//   height: 100% !important;
// }

// .c-icons__scope-filter {
//   border-bottom: 1px solid #ddd;
//   padding: 0.5rem;
// }

// .c-icons__search {
//   border-color: transparent !important;
//   display: block;
//   width: 100%;
//   background-clip: padding-box;
//   border: 1px solid #ced4da;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   margin: 0;
//   height: calc(1.5em + 0.5rem + 2px);
//   padding: 0.25rem 0;
//   font-size: 0.875rem;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #000;
//   padding-left: 0.2rem;
//   font-family: "Graphik";
// }

// .c-icons__search:focus {
//   outline: 1px solid #007bff;
// }

// .c-icons__dropdown .c-cta__button,
// .c-cta .c-cta__button {
//   background-image: linear-gradient(90deg, #004dff, #00baff);
//   border: 1px solid #00baff;
//   color: #fff;
//   display: inline-flex;
//   border-radius: 20px;
//   font-size: 0.875rem;
//   justify-content: center;
//   align-items: center;
//   padding: 5px 20px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   outline: none;
//   /* pointer-events: auto; */
//   cursor: pointer;
// }

// .c-icons__dropdown .c-cta__button:hover,
// .c-icons__dropdown .c-cta__button:focus,
// .c-cta .c-cta__button:hover,
// .c-cta .c-cta__button:focus {
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
// }

// .c-icons .c-icons__help {
//   height: 26px;
//   width: 26px;
//   //   background-image:url('../../../../assets/images/help.svg');
//   background-size: cover;
//   cursor: pointer;
// }

// .c-icons .c-icons__uva {
//   height: 26px;
//   width: 26px;
//   //   background-image:url('../../../../assets/images/uva.svg');
//   background-size: cover;
//   // cursor: pointer;
// }

// .c-icons .c-icons__settings {
//   height: 25px;
//   width: 25px;
//   //   background-image:url('../../../../assets/images/settings.svg');
//   background-size: cover;
//   // cursor: pointer;
// }

// .c-icons .c-icons__scope {
//   height: 26px;
//   width: 26px;
//   //   background-image:url('../../../../assets/images/scope.svg');
//   background-size: cover;
//   display: none;
//   cursor: pointer;
// }

// .c-icons .c-icons__user {
//   height: 26px;
//   width: 26px;
// //   $user-img: image-url("../../../../assets/images/user.svg", false, false);
// //   background-image: $user-img;
// //   background: url(../../../../assets/images/user.svg);
//   background-size: cover;
//   margin-right: 10px;
//   position: relative;
//   cursor: pointer;
// }

// .c-icons__user-details {
//   margin-bottom: 5px;
//   font-family: "Graphik light";
//   font-size: 0.875rem;
// }

// .c-icons__user-name {
//   font-family: "Graphik semibold";
// }

// .c-icons__user:after {
//   content: "";
//   width: 5px;
//   height: 5px;
//   vertical-align: auto;
//   border: 1px solid #000;
//   border-width: 0 0 1px 1px;
//   margin: -0.125rem 0 0 0.375rem;
//   transform: rotate(-45deg);
//   opacity: 0.8;
//   display: inline-block;
//   position: relative;
//   right: -25px;
//   top: 12px;
// }

// .c-icons__text {
//   display: flex;
//   align-items: center;
// }

// .c-icons__text .-arrow-link {
//   position: relative;
//   display: flex;
//   align-items: center;
//   line-height: 60px;
//   cursor: pointer;
// }

// .c-icons__text .-arrow-link:after {
//   content: "";
//   width: 5px;
//   height: 5px;
//   vertical-align: auto;
//   border: 1px solid #000;
//   border-width: 0 0 1px 1px;
//   margin: -0.125rem 0 0 0.375rem;
//   transform: rotate(-45deg);
//   opacity: 0.8;
//   display: inline-block;
//   position: relative;
//   top: 0;
//   right: 5px;
// }

// .c-icons__text span {
//   color: #695e6c;
//   font-size: 0.875rem;
//   padding: 0 3px;
//   font-family: "Graphik semibold";
// }

// .c-icons__text-main,
// .c-icons__text-sub {
//   display: inline-block;
//   max-width: 10rem;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
// }

// .c-icons__scope-img {
//   width: auto;
//   height: 1.25rem;
// }

// .c-header__logo {
//   height: 24px;
//   width: 88px;
// }

// .c-header__brand-logo {
//   display: block;
//   margin: 0 0.625rem;
//   padding: 0 0 0 10px;
//   border-left: 1px solid #000;
//   position: relative;
//   top: 2px;
// }

// .c-header__brand-logo img {
//   margin-bottom: -5px;
// }

// .c-header__mywizard-logo {
//   //   background-image:url('../../../../assets/images/pbmywiz.png');
//   height: 34px;
//   width: 89px;
//   margin-bottom: -2px;
// }

// .c-topbar__title {
//   /* font-size: 18px; */
//   font-size: 1.125rem;
//   font-family: "Graphik semibold";
//   margin-bottom: 0;
//   padding: 6px 3rem;
//   color: #fff;
//   text-decoration: none;
// }

// .c-topbar__title:hover {
//   text-decoration: underline;
// }

// .c-topbar {
//   background: #000088;
//   height: 50px;
//   display: flex;
//   width: 100%;
//   transition: all 1s ease;
// }

// .c-sticky {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 1;
// }

// .c-tabsticky {
//   position: fixed;
//   top: 50px;
//   width: 100%;
//   z-index: 1;
// }

// .c-topbar__inner {
//   //   background-image:url('../../../../assets/images/bg-topbar.png') no-repeat -4.75rem center transparent;
//   width: 100%;
//   max-width: 100%;
//   margin: 0 auto;
//   display: flex;
//   align-items: center;
// }

// .c-container {
//   min-height: 400px;
//   height: 100%;
// }

// .c-navtab {
//   display: flex;
//   padding-left: 3rem;
//   background: #f5f5f5;
// }

// .c-navtab__wrapper {
//   padding-top: 10px;
// }

// .c-navtab__navitem {
//   list-style: none;
//   display: inline-flex;
//   padding: 0.25rem 0;
//   border: 0;
//   color: #4a4a4a;
//   font-size: inherit;
//   line-height: 1;
//   margin-right: 40px;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   position: relative;
// }

// .c-navtab__navitem:last-child {
//   margin-right: 10px;
// }

// .c-navtab__navitem a {
//   color: #4a4a4a;
//   font-size: 0.875rem;
//   text-decoration: none;
//   font-family: "Graphik";
// }

// .c-navtab__navitem.-active a {
//   font-family: "Graphik semibold";
//   color: #000;
// }

// .c-navtab__navitem.-active:after {
//   /* background: #4435ac; */
//   //   background-image: linear-gradient(90deg, #004dff, #00baff);
//   content: "";
//   display: block;
//   height: 0.25rem;
//   border-radius: 0.125rem;
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
// }

// .c-navtab__navitem:hover:after,
// .c-navtab__navitem:focus:after {
//   background: #4435ac;
//   background: linear-gradient(90deg, #979797 0%, #979797 100%);
//   content: "";
//   display: block;
//   height: 0.25rem;
//   border-radius: 0.125rem;
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
// }

// .--show {
//   display: block;
// }

// .--hide {
//   display: none;
// }

// /* Style the caret/arrow */
// .caret {
//   cursor: pointer;
//   user-select: none;
//   /* Prevent text selection */
// }

// /* Create the caret/arrow with a unicode, and style it */
// .caret::before {
//   content: "\25B6";
//   color: black;
//   display: inline-block;
//   margin-right: 6px;
// }

// /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
// .caret-down::before {
//   transform: rotate(90deg);
// }

// .c-treeview {
//   height: 100%;
//   position: relative;
//   min-height: 0;
//   overflow: auto;
//   flex: 1 1 auto;
// }

// .c-treeview ul {
//   width: 100%;
//   display: block;
// }

// .c-treeview li {
//   font-weight: normal;
//   height: auto;
//   width: 100%;
//   padding: 0;
//   box-sizing: border-box;
//   flex-wrap: wrap;
// }

// .c-treeview li a {
//   width: 100%;
//   display: flex;
//   padding: 5px 10px;
//   border-bottom: 1px dashed #ccc;
//   color: #000;
//   text-decoration: none;
//   font-family: "Graphik";
// }

// .c-treeview li ul li a {
//   padding-left: 30px;
// }

// .c-treeview li ul li ul li a {
//   padding-left: 50px;
// }

// .c-treeview li ul li ul li ul li a {
//   padding-left: 70px;
// }

// .c-treeview li ul li ul li ul li ul li a {
//   padding-left: 90px;
// }

// .c-treeview__minus {
//   //   background-image:url('../../../../assets/images/scope-minus.png');
//   cursor: pointer;
//   width: 1.5rem;
//   height: 20px;
//   display: table-cell;
//   vertical-align: middle;
//   background-repeat: no-repeat;
//   background-position: left center;
//   background-color: transparent;
//   margin-right: 5px;
// }

// .c-treeview__plus {
//   //   background-image:url('../../../../assets/images/scope-plus.png');
//   cursor: pointer;
//   width: 1.5rem;
//   height: 20px;
//   display: table-cell;
//   vertical-align: middle;
//   background-repeat: no-repeat;
//   background-position: left center;
//   background-color: transparent;
//   margin-right: 5px;
// }

// .c-treeview__empty {
//   //   background-image:url('../../../../assets/images/scope-end.png');
//   cursor: pointer;
//   width: 1.5rem;
//   height: 20px;
//   display: table-cell;
//   vertical-align: middle;
//   background-repeat: no-repeat;
//   background-position: left center;
//   background-color: transparent;
//   margin-right: 5px;
// }

// .c-cta {
//   display: block;
//   text-align: right;
//   padding-right: 10px;
//   border-top: 1px solid #ddd;
// }

// @media (max-width: 768px) {
//   .c-icons li {
//     padding: 0 5px;
//   }

//   .c-icons__textdropdown {
//     /* width: 340px; */
//   }
// }

// /* small devices (tablets, 992px and up)*/
// @media (max-width: 992px) {
//   .c-icons__text-wrapper {
//     display: none;
//   }

//   .c-icons__scope-img {
//     display: inline-block;
//   }

//   .c-icons__textdropdown {
//     left: -200px;
//     min-width: 350px;
//     max-width: 450px;
//     height: calc(100vh - 10rem);
//   }

//   .c-icons__textdropdown:before {
//     content: "";
//     display: none;
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     top: -6px;
//     border: 1px solid #979797;
//     border-width: 1px 0 0 1px;
//     background-color: #fff;
//     transform: rotate(45deg);
//     z-index: -1;
//     left: 1px;
//   }

//   .c-header {
//     padding-left: 1rem;
//     padding-right: 1rem;
//   }

//   .c-topbar__title {
//     padding: 6px 1rem;
//   }

//   .c-navtab {
//     padding-left: 1rem;
//   }
// }

// /* Medium devices (desktops, 992px and up)*/
// @media (min-width: 992px) {
//   .c-icons__text-wrapper {
//     display: flex;
//     align-items: center;
//   }

//   .c-icons__scope-img {
//     display: none;
//   }

//   .c-icons__textdropdown {
//     left: 0;
//     min-width: 475px;
//     max-width: 550px;
//     /* height: 58vh; */
//   }

//   .c-icons__textdropdown:before {
//     content: "";
//     display: block;
//     width: 10px;
//     height: 10px;
//     position: absolute;
//     top: -6px;
//     border: 1px solid #979797;
//     border-width: 1px 0 0 1px;
//     background-color: #fff;
//     transform: rotate(45deg);
//     z-index: -1;
//     left: 1px;
//   }
// }

// .js-dropdown {
//   display: flex;
// }

// @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
// }
.c-topbar__title:hover {
  text-decoration: underline;
  color: #fff !important;
}

.c-topbar__title_custom:hover {
  text-decoration: none;
}

.disclaimer-tooltip {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: 50%;
  .disclaimer-tooltip-text {
    display: none;
    width: 210px;
    background-color: #424242;
    color: #fff;
    text-align: left;
    font-weight: 500;
    text-transform: none;
    padding: 10px;
    position: absolute;
    z-index: 100;
    top: 176%;
    left: 50%;
    /* box-shadow: -2px 0 3px 0 #ccc; */
    margin-left: -105px;
    border-radius: 6px;
  }
}

.disclaimer-tooltip .disclaimer-tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #424242 transparent;
}

.disclaimer-tooltip:hover .disclaimer-tooltip-text {
  display: block;
  opacity: 1;
}

.cursor-none{
  cursor: none;
  pointer-events: none;
}
.disabledScopeSelector{
  background-color: lightgray;
}

.deploymentNotificationAlert {
  position: relative;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-family: Graphik,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background: no-repeat padding-box #fbbed5;
  line-height: 37px;
  white-space: nowrap;
  box-sizing: border-box;
  font-weight: 400;
  height: 36px;
  width: 102%;
  overflow: hidden;
  opacity: 1;
}