<!-- <div class="myw-section">
    <div class="table-responsive" > -->
        <table mat-table [dataSource]="uploadedInferencesList" multiTemplateDataRows
            class="table table-striped table-vmiddle myw-table myw-ingrain-table">
            <ng-container matColumnDef="selection">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let model"><input type="radio" name="model_name"
                       (change)="selectIEModel(model)" value="{{model.CorrelationId}}">
                </td>
                <!-- [checked]="expandedElement == model? true : false" -->
            </ng-container>

            <ng-container matColumnDef="Model Name">
                <th mat-header-cell *matHeaderCellDef>Model Name</th>
                <td mat-cell *matCellDef="let model">
                    {{model.ModelName}}

                </td>
            </ng-container>
            <ng-container matColumnDef="Data Source">
                <th mat-header-cell *matHeaderCellDef>Data Source</th>
                <td mat-cell *matCellDef="let model">
                    {{model.SourceName}}

                </td>
            </ng-container>

            <ng-container matColumnDef="CreatedOn">
                <th mat-header-cell *matHeaderCellDef>CreatedOn </th>
                <td mat-cell *matCellDef="let model">
                    {{ model.CreatedOn}}

                </td>
            </ng-container>

            <ng-container matColumnDef="Entity">
                <th mat-header-cell *matHeaderCellDef>Entity</th>
                <td mat-cell *matCellDef="let model">
                    {{model.Entity}}

                </td>
            </ng-container>

    

            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let model"  title="{{model.Message}}">
                   {{ (model.Status === 'C' ) ? 'Completed': ''}}
                   {{ (model.Status === 'P' ) ? 'In-Progress': ''}}
                   {{ (model.Status === 'E' ) ? 'Error': ''}}
                </td>
            </ng-container>

          

            <ng-container matColumnDef="Action Item">
                <th mat-header-cell *matHeaderCellDef>Action Item</th>

                <td mat-cell *matCellDef="let model"><a style="cursor: pointer;" title="Delete Model">
                        <img style="height: 20px;" alt="Delete Model" src="assets/images/delete.svg"
                        (click)="deleteIEModel(model.CorrelationId)" />
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="deleteAction">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let model" title="Save UseCase">
                  <a   title="Save UseCase" aria-label="Save UseCase"
                    (click)="showUsecaseModal(model)"
                    class="ml-auto mr-3" [ngClass]="{'disabled': selectedIEModel != model }">
                    <img src="assets/images/publish_usecase.svg" alt="Save UseCase" />
                  </a>               
                </td>
              </ng-container>


            <ng-container matColumnDef="expandedDetail" *ngIf="!isDeleteActionPerformed">
                <td mat-cell *matCellDef="let detail"  [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" 
                        [@detailExpand]="detail == expandedElement ? 'expanded' : 'collapsed'">
                      
                          <!--if sample to be shown -->
                        <ng-container *ngIf="isAutoGeneratedIE && isAutoGeneratedIE == 'true'"> 
                        <app-sample-inference [autoSampleGeneratedIE]="autoSampleGeneratedIE"
                        [showAddButton]="true"></app-sample-inference> 
                         </ng-container> 

                        <!-- if config to be shown -->
                        <!-- <app-config-inferenc></app-config-inferenc> -->
                        <ng-container *ngIf="isAutoGeneratedIE && isAutoGeneratedIE == 'false'"> 
                            <app-config-inference [manualConfigGeneratedIE]="manualConfigGeneratedIE" 
                            [publishInferencePayload]="publishInferencePayload" [modelCreatedwith] = 'modelCreatedwith'
                            (refreshIE)="refreshList($event)"></app-config-inference> 
                        </ng-container> 

                        <ng-container *ngIf="isAutoGeneratedIE && isAutoGeneratedIE == 'showAddButton'"> 
                            <div class="text-center pb-3">
                                <div class="fs-14 myw-500 mb-2">Click on Add Configuration to generate inferences for the measure of your choice</div>
                                <a   class="btn btn-primary" (click)="configurationView()">Add
                                    Configuration</a>
                            </div>
                        </ng-container>
                          

                     </div>
                </td>
            </ng-container>
          

           <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
           <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [class]="'example-element-row' + row.CorrelationId "
                    [class.example-expanded-row]="expandedElement === row"
                    (click)="expandedElement = expandedElement === row ? null : row">
                  </tr>
             <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
              style="overflow: hidden"></tr>
        </table>
    <!-- </div>
</div> -->

    <!-- Redirect Modal -->
    <div *ngIf="UseCaseDescription" class="modal show" id="UseCaseDescription" style="padding-right: 17px; display: block;" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="UseCaseDescription" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UseCaseDescription"> Save Use Case</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="UseCaseDescription = false">
                        <span aria-hidden="true">&nbsp;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="pt-3">
                        <div class="d-flex flex-column justify-content-center">
                              <div class="row">
                                <div class="col-12">
                                  <div class="mb-4">
                                    <label>UseCaseName:</label>
                                    <input type="text" class="form-control" name='usecaseName' required
                                    maxlength="70" [(ngModel)]='createUsePayload.UseCaseName'>
                                    <small class="form-text text-muted">You have {{70 - createUsePayload.UseCaseName?.length}} of 70 characters
                                        remaining.</small>
                                  </div>
                                  <div class="mb-3">
                                    <label>UseCase Description:</label>
                  
                                    <textarea class="form-control control-border rounded" rows="5"
                                      name='usecaseDecription' maxlength="500" [(ngModel)]='createUsePayload.UseCaseDescription'></textarea>
                                      <small class="form-text text-muted">You have {{500 - createUsePayload.UseCaseDescription?.length}} of 500 characters
                                        remaining.</small>
                                  </div>
                                  <!-- <label>Application Name: </label> -->
                                  <span class="ml-2">
                                    <div class="form-group form-inline">
                                        <label class="form-label mr-2">Application Name:</label>
                                        <select #appId class="form-control" style="width: 33%;">
                                            <!-- <option value="">Select app to publish</option> -->
                                            <option *ngFor="let obj of applicationList" [value]="obj.ApplicationID"> {{
                                                obj.ApplicationName}}</option>
                                        </select>
                                        <a  class="btn btn-sm btn-primary ml-4" data-toggle="modal" data-target="#newapplicationName" (click)="newapplicationName = ''">Add New Application</a> 
                                    </div>
                                  </span>
                                </div>
                              </div>
                          </div>
                        <div class="myw-actions">
                            <a class="btn btn-sm btn-secondary" data-dismiss="modal" (click)="UseCaseDescription = false">Cancel</a>
                            <a class="btn btn-sm btn-primary" data-dismiss="modal" (click)="createUseCase(appId)">Proceed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Redirect Modal -->


        <!-- Redirect Modal -->
        <div class="modal" id="newapplicationName" style="background: #3527274a;" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="newapplicationName" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newapplicationName"> Application Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&nbsp;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="pt-3">
                        <div class="d-flex flex-column justify-content-center">
                              <div class="row">
                                <div class="col-12">
                                  <div class="mb-4">
                                    <!-- <label>UseCaseName:</label> -->
                                    <input type="text" [(ngModel)]="newapplicationName" maxlength="70" class="form-control" name='ApplicationName' required>
                                    <small class="form-text text-muted">You have {{70 - newapplicationName?.length}} of 70 characters
                                        remaining.</small>
                                  </div>
                                </div>
                              </div>
                          </div>
                        <div class="myw-actions">
                            <a class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</a>
                            <a class="btn btn-sm btn-primary" data-dismiss="modal" (click)="createNewApplication()">Proceed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Redirect Modal -->
