.myw-chart-carousel .myw-col{
    width: auto;
    flex:none;
}

.txt-capital{
    text-transform: uppercase;
}

.modelname-tab{
    padding: .825rem 2.125rem;
}
.tbl-maxheight{
    max-height: 459px;
}

.ingrain-card {
    overflow: unset;
  }

.myw-chart-carousel {
    padding: 0 15%;
}