<ng-container *ngIf="isCertificate">
    <div class="modal-dialog modal-m modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ingrAI-enter-model-title"></h5>
          <button type="button" class="close" aria-label="Close" (click)='onClose()'></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <form #form=ngForm>
              <div class="ingrAI-search ml-auto" style="border: none;">
                <div
                  style="text-align: center; font-weight: bold; padding-bottom: 1.4rem; font-size: 1.6rem; text-transform: uppercase; color: #78409c">
                  Congratulations!
                </div>
                <div style="line-height: 2.5rem;">You have successfully deployed an AI Model.</div>
                <div style="margin-bottom: 1rem;">Please enter your name and email address below and download the
                  Certificate.
  
                </div>
                <div class="form-group" style="margin-bottom: 1rem;">
                  <label style="text-transform: capitalize;">Full Name</label>
                  <input type="text" #userNameInput=ngModel class="form-control" name='userName'
                    [(ngModel)]='userData.username' required maxlength="70" placeholder="Please Enter Full Name"
                    style="border: 1px solid #BDC9DA" [class.is-invalid]="userNameInput.invalid && userNameInput.touched">
                    <label class="form-label">You have {{ 70 - userData.username.length}} of 70 characters remaining.</label>
  
  
                  <div *ngIf="userNameInput.errors && (userNameInput.invalid || userNameInput.touched)">
                    <small class="text-danger" *ngIf="userNameInput.errors.required">Full name is required</small>
                  </div>
  
                </div>
                <div class="form-group">
                  <label style="text-transform: capitalize;">Email
                    <span style="text-transform: none; font-size: 0.7rem;  color: gray;">(Please enter email id and submit
                      to receive the certificate via email)</span>
                  </label>
                  <!-- <input type="text" #userEmailInput=ngModel class="form-control" name='userEmail' required
                [(ngModel)]='userEmail' placeholder="Please Enter Email" style="border: 1px solid #BDC9DA"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                [class.is-invalid]="userEmailInput.invalid && userEmailInput.touched">
  
              <div *ngIf="userEmailInput.value !== '' && userEmailInput.untouched && userEmailInput.invalid">
                <small class="text-danger" *ngIf="userEmailInput.errors.required">Primary email is required</small>
                <small class="text-danger" *ngIf="userEmailInput.errors.pattern">Please provide a valid email
                  address</small>
              </div> -->
  
  
                  <input type="email" #userEmailInput="ngModel"
                    [class.is-invalid]="userEmailInput.invalid && userEmailInput.touched" required
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" name="userEmail"
                    [(ngModel)]='userData.email' placeholder="Please Enter Email" style="border: 1px solid #BDC9DA" />
  
                  <div *ngIf="userEmailInput.errors && (userEmailInput.invalid || userEmailInput.touched)">
                    <small class="text-danger" *ngIf="userEmailInput.errors.required">Email is required</small>
                    <small class="text-danger" *ngIf="userEmailInput.errors.pattern">Please provide a valid email
                      address</small>
                  </div>
  
                </div>
              </div>
            </form>
          </div>
          <div class="d-flex justify-content-end myw-actions">
            <button type="button" class="btn btn-primary"
              (click)='viewCertificate(congratulationsTemp,userNameInput)'>View
              Certificate</button>
            <button type="button" class="btn btn-primary" (click)='onEnter(userNameInput,userEmailInput)'>Submit</button>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)='viewCertificate(congratulationsTemp,userNameInput)'>View
            Certificate</button>
          <button type="button" class="btn btn-primary" (click)='onEnter(userNameInput,userEmailInput)'>Submit</button>
        </div> -->
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="!isCertificate">
    <div class="modal-dialog modal-m modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="ingrAI-enter-model-title"></h5>
          <button type="button" class="close" aria-label="Close" (click)='onClose()'>
            <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
              <use xlink:href="#ingrAI-icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="modal-body py-0">
          <form #form=ngForm>
            <div class="ingrAI-search ml-auto" style="border: none;">
              <div style="text-align: center; padding-bottom: 1rem; text-transform: uppercase; color: #78409c">
                <h2> Congratulations!</h2>
              </div>
              <div style="line-height: 2.5rem;text-align: center; padding-bottom: 2.4rem;">You have
                successfully deployed an AI Model.</div>
              <!-- <div style="margin-bottom: 1rem;">Please enter your name and email address below and download the
                Certificate.
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-template #congratulationsTemp>
    <!-- <div class="training-certificatioin">
      <div #certificationTemplate1 id="certificationTemplate">
        <div class="modal-header header-background"
          style="background-image: url(../../../../../assets/images/completion-certificate/AdobeStock_247295122.jpeg);">
          <h1 class="headertxt"> Certificate of Completion</h1>
          <img src="assets/images/completion-certificate/download.svg" style="width: 4%;
          cursor: pointer;
          margin-top: -10px;" title="Download Certificate" (click)="download()">
          <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
            (click)="modalRef.hide()">
            <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
              <use xlink:href="#ingrAI-icon-close"></use>
            </svg>
          </button>
        </div>
        <div class="modal-body">
          <h4 class="content-header">Congratulations!</h4>
          <div class="particepent-name">
            {{fullName}}
          </div>
  
          <div style="padding-top: 0.6rem; text-align: center;">
            <div>
              You have successfully created a Machine Learning Model</div>
            <div> Using the Accenture Self-Service Artificial Intelligence Framework – myWizard ingrAIn</div>
            <div> On the {{sysDate}} </div>
          </div>
          <div style="text-align: center;padding-top: 1rem;">
            <div>This certifies completion of a step towards applying</div>
            <div> Automation and AI to drive Business Value</div>
          </div>
       
          <div style="width: 100%;margin-top: -15.8%">
            <span style="width: 50%;">
              <img src="assets/images/completion-certificate/robotman-edit.png" style="width: 55%; margin-left: -1rem;
                opacity: 0.3;">
              <img src="assets/images/completion-certificate/logo copy.png" alt="accenture logo"
                style="margin-left: -25rem; margin-top: 14.8rem;  width: 14%;">
            </span>
            <span style="width: 50%;">
              <span style="float: right;margin-top: 15rem;text-align: center;margin-right: 3rem;">
                <div style="font-weight: bold;"> Rajendra T. Prasad (RP)</div>
                <div style="font-style: italic;"> Global Automation Leader</div>
              </span>
            </span>
          </div>
        </div>
        <div style="border-top: none; background-color: #9932db;height: 1.5rem;">
  
        </div>
      </div>
    
    </div> -->
  
    <div class="cc-container-wrap" id="certificationTemplate" style='background-image: url("assets/images/completion-certificate/cc-bg.jpg");
    background-repeat: no-repeat; background-position: top center; background-color:  #280959; background-size: cover;'>
      <div class="cc-container">
        <div class="cc-container-inner">
          <div>
            <img src="assets/images/completion-certificate/download.svg"
              style="width: 2.2%;cursor: pointer; margin-top: -30px; float: right; " title="Download Certificate"
              (click)="download()">
  
            <button type="button" class="close pull-right"
              style="cursor: pointer; margin-top: -29px; margin-right: -25px;" aria-label="Close"
              (click)="modalRef.hide()">
            
            </button>
          </div>
          <div class="cc-header">
            <img src="assets/images/completion-certificate/Hyper Automation.png" alt="Hyper Automation" />
            <img src=" assets/images/completion-certificate/Products NorthEast.png" alt="Products NorthEast" />
          </div>
          <div class="cc-body" style="margin-top: 45px;">
            <div class="txt-center">
              <h1>Certificate of Completion</h1>
              <h2>Congratulations!</h2>
              <span class="lblTxt">
                <label>{{fullName}}</label></span>
              <div style="border-bottom: 1px solid #707070; border-radius: 0;
                width: 70%;
                vertical-align: middle;
                margin-left: 14%;"></div>
            </div>
            <p class="cc-txt">You have successfully created a Machine Learning<br /> Model using the Accenture
              Self-Service <br />Artificial Intelligence Framework – ingrAIn<br />
              On the {{sysDate}}
            </p>
            <p class="txt-center"><strong>This certifies completion of a step towards applying Automation and AI to
                drive
                Business Value</strong></p>
            <!-- <div class="lets-connect txt-center"><img src="assets/images/completion-certificate/lets-connect.png">
            </div> -->
          </div>
        </div>
      </div>
      <div class="cc-footer">
        <img src="assets/images/completion-certificate/logo.png" alt="Accenture" />
      </div>
    </div>  
  </ng-template>
