<div class="modal-dialog modal-dialog-centered modal-dialog-scrollabl">
  <div class="modal-content" style="top: -27px;">
    <div class="modal-header">
      <h5 class="modal-title" id="ingrAI-enter-model-title" style="color:#008;margin:0;">Confidential Information - Reminder</h5>
    </div>
    <div class="modal-body">
      <div class="form-group" style="margin-bottom: 0rem;">
        <div>
          You are using an Accenture proprietary tool (<strong>"ingrAIn"</strong>). 
          You understand that this tool may contain <strong>ACCENTURE, CLIENT, OR VENDOR / PARTNER CONFIDENTIAL INFORMATION</strong>.  
          You are obligated to adhere to applicable confidentiality obligations and Accenture’s policies, including Policy 69 – 
          Confidentiality, when using the tool and information in the tool.  Information in the tool can only be shared with those 
          authorized to receive it.  If you have any questions, please email your question to 
          <a href="mailto:confidentiality@accenture.com?cc=ingrAIn_Tech_Support@accenture.com&subject=Confidential Information Query (Asset: ingrAIn)&body=Hi,%0D%0A%0D%0AI have the below Query, could you please help on this%0D%0A%0D%0A[TYPE YOUR QUERY HERE]">confidentiality@accenture.com</a> 
           or contact your Leadership. Thank you!
        </div>        
      </div>

      <div class="d-flex justify-content-end myw-actions">
        <button class="btn btn-primary" (click)='onConfirm()'>I Understand</button>
      </div> 
    </div>
  </div>
</div>
