.ingrAIn-cas-icon { width: 3rem; height: 3rem; }
.optioncontainer { display: block; position: relative; padding-left: 2rem; cursor: pointer; -webkit-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none; color:#353D47; min-height: 1.25rem; }
.optioncontainer input { position: absolute; opacity: 0; cursor: pointer; }
.op-radiobtn {  position: absolute; height: 1.25rem; width: 1.25rem; background-color:transparent; border:1px solid #BDC9DA; border-radius: 50%; 		left: 50%; top: 0.325rem; transform: translateX(-50%);}
.optioncontainer .op-radiobtn:after { top: 5px; left: 5px; width: 8px; height: 8px; }
.op-radiobtn:after { content: ""; position: absolute; display: none; }
.optioncontainer input:checked ~ .op-radiobtn { background-color: #21ba41; border: 1px solid #21ba41; }
.optioncontainer input:checked ~ .op-radiobtn:after { display: block; left: 7px; top: 3px; width: 5px; height: 10px; border: solid #fff; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.ingrAIn-siderbar-menu  { width: 320px; background-color: #F5F5F5; height: 100%; padding: 1rem 2rem 1rem 2rem; box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,.3); }
.ingrAIn-siderbar-menu-title { font-weight: bold; color: #000; font-size: 1rem;   }
.ingrAIn-roles-items { display: inline-flex; align-items: center; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); border: 1px solid #707070; border-radius: 1rem; -ms-border-radius: 1rem; padding: 0.2rem 0.625rem; width: auto; margin-bottom: 0.625rem;  }
.ingrAIn-roles-items:hover { box-shadow: 0 0 .5rem rgba(0,0,0,.29); }
.ingrAIn-roles-items a { color: #000; }
.ingrAIn-roles-items a  +  a { margin-left: 0.3125rem;}
.ingrAIn-roles-items a:first-child {  cursor: move; line-height: 1; }
.ingrAIn-mainsection { background-color: #fff; box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,.3); z-index: 1; height: 100%; 
    margin: 0 2rem 0 0.75rem; padding: 1rem 2rem 1rem 2rem;  }
.ingrAIn-mainsection-title { font-size: 1.125rem; font-weight: 700; color: #000;  }
.ingrAIn-modal-attribute { font-size: 1.125rem; font-weight: 700; color: #000;  width: 150px; }
.ingrAIn-modal-columns {  display: flex; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16); border: 1px solid #cfcfcf; border-radius: 1rem; -ms-border-radius: 1rem; padding: 0.625rem 0.625rem 0 0.625rem; min-height:3rem; width: 80%;   }
.ingrAIn-modal-columns.active { border-color: #079dda; box-shadow: 0px 1px 6px rgba(195, 255, 255, 0.3); }
.ingrAI-intermediate { margin-bottom: 0; }
.ingrAIn-del { height: 1.25rem; width: 1.25rem; }
.ingrAIn-add-model { position: relative; text-align: center; width: 80%; margin: 1rem 0; display: none; }
.ingrAIn-add-model:before { content:''; position: absolute; top: 0.625rem; left: 0; right: 0; height: 1px; background-color: #079dda; }
.ingrAIn-add-model a { background-color: #079dda; color: #fff; padding: 0.125rem 1rem; position: relative; z-index: 3; }
.ingrAIn-add-model a:hover { text-decoration: none; }
.ingrAIn-add-model-col { cursor: pointer;  }
.ingrAIn-add-model-col:hover .ingrAIn-add-model { display: block; }
.ingrAIn-mappping-chart { margin-top: 20px; }
.ingrAIn-SLA-title { color: #792e38; font-size: 1.25rem; }
.ingrAIn-filter .dropdown-toggle::after { display: none; } 
.ingrAIn-filter .dropdown-menu { min-width: 30rem; max-width: 30rem; box-shadow: 0 0 0.25rem 0.125rem rgba(0,0,0,.05); border: 1px solid #ccc; font-size: 0.875rem; }
.ingrAIn-filter .dropdown-menu:before { display: none; }
.ingrAIn-filter .dropdown-header { color: #353D47; padding: 0.625rem; font-weight: bold;  }
.ingrAIn-filter .dropdown-body { padding: 0.625rem; }
.ingrAIn-filter .form-group label { font-size: 0.875rem; text-transform: capitalize; color: #353D47; } 
.ingrAIn-search { display:flex; align-items:center; height:36px; border:1px solid #ccc; border-radius: 1rem; 
	-webkit-border-radius: 1rem;  max-width:13rem; padding:0.2rem; }
.ingrAIn-search.si-search-sm { max-width:7rem; height: 2rem; border-radius:1rem; -webkit-border-radius:1rem;}
.ingrAIn-search .btn { min-width:2rem; padding:0; box-shadow:none; background-color: transparent; }
.ingrAIn-search  .form-control { border:0;  background:transparent;}
.ingrAIn-feature-collapse { padding: 0.625rem 0; font-size: 0.875rem; font-weight: bold; }
.ingrAIn-feature-collapse .dropdown-toggle { display: inline-block; background: url("../../../../../assets/images/minus.svg") no-repeat left center transparent; width: 1rem; height: 1rem; background-size: 100%; }
.ingrAIn-feature-collapse .dropdown-toggle.collapsed { background: url("../../../../../assets/images/plus.svg") no-repeat left center transparent; width: 1rem; height: 1rem; background-size: 100%; }
.ingrAIn-feature-collapse .dropdown-toggle:after { display: none; }
.ingrAIn-btn { height: 2rem; padding: 0.5rem 0.9rem; line-height: 1; color: #fff; min-width: 5rem; }
.ingrAIn-btn:hover { padding: 0.5rem 0.9rem; line-height: 1;  }
.ingrAIn-dep-column label { color: #acacac; text-transform: capitalize; font-weight: normal; font-size: 0.75rem; }
.ingrAIn-dep-column .form-control{ border-width: 0 0 1px 0; min-width: 10rem; max-width: 15rem; width: auto;  } 

.ingrAI-subnavrbar { min-height: 50px; /*height: 50px;*/ background-color:#95DFE6; -webkit-box-shadow: 0 0 5px 0 #d9d9d9; box-shadow: 0 0 5px 0 #d9d9d9; margin-top:0.5rem; }
.ingrAI-subnav-col { padding: 0.2rem 2rem; border-top: 2px solid #286E99; font-weight: 500; }
.ingrAI-subnav-col-name  + .ingrAI-subnav-col-name  { border-left:1px solid #fff; }
.ingrAI-subnav-col-name a {  color:rgba(40, 111, 153, 0.5);  margin-right:0.4rem; }
.ingrAI-subnav-col-name  { color:#286e99; }
.ingrAI-subnav-col-name .ingrAI-subnav-col-filename { color:#353D47; }
.ingrAI-search-container { display:flex; border:0 solid #BDC9DA; /*min-width:18rem;*/ width:calc( 100% - 25px ); margin:-3px 0 -4px 0; height: 48px;  }
.ingrAI-search-container .form-control { padding: 0.2rem 0.5rem; border: 0; border-radius:0; color:#353D47; }
.ingrAI-search-container .btn-primary { padding: 0.2rem 0.3rem; background: #fff; border: 0; box-shadow: none!important;}
.ingrAI-search-container .btn-primary svg { fill:#286E99!important; }
.ingrAI-search-container .btn-primary:not(:disabled):not(.disabled):active { border-color:transparent; background: #fff; box-shadow: none!important; }
.ingrAI-subnav-col-filename { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

.breadcrumb{ padding: 0; background: transparent; font-size: .875rem; margin-bottom: 0; }
.breadcrumb .breadcrumb-item{ margin: 0; text-decoration: none; }
.breadcrumb .breadcrumb-item:hover, .breadcrumb .breadcrumb-item:focus{ outline: 0; box-shadow: none; }
.breadcrumb-item + .breadcrumb-item:before{ content: '>'; }
.breadcrumb-item.active{ color: #000; text-decoration: none; pointer-events: none; font-weight: 500; }
.breadcrumb-item a { color: #000; }

.form-control { padding: 0.375rem .75rem; color: #333; border-color: #ced4da; font-size: 0.875rem; border-radius: .25rem; }

.sidebar {
	height: 50px;
	width: 100%;
	position: relative;
	z-index: 1;
	left: 0;
	overflow-y: hidden;
	transition: 0.5s;
//	padding-left: 60px;
//	padding: 20px;
	margin-bottom: 20px;
  }

.sidebar.open {
	height: 150px;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
//	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #f1f1f1;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-right: 20px;
  }
  
 .openbtn {
	position: absolute;
	left: 52.5%;
	width: 25px;
	top: 60px;
	border-radius: 15px;
	height: 25px;
	background-color: #10ADD3;
	transition: 0.5s;
	color: white;
	z-index: 1;
	cursor: pointer;
	background: url("../../../../../assets/images/plus.svg") no-repeat left center transparent;
  }

  .openbtn.open {
	top: 160px;
	background: url("../../../../../assets/images/minus.svg") no-repeat left center transparent;
  }
  
 /* .openbtn:hover {
	background-color: #10ADD3;
  } */
  
  #mainValue {
	transition: margin-top .5s;
	padding: 16px;
  }

  .panel-background {
	background: #fff;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }

/* .ingrAI-body-content.open {
	margin-top : 250px;
  } */

  .select-mapping{
  width: 150px;
  min-height: 3em;
  border-radius: 0;
  }

  .deploymodle-confirmpopup{
    color: white; 
  //  font-size: 1rem;
}
  .targetSelect {
	width: 240px;
  //  padding-left: 10px;
  }

  .uniqueIdLink:hover {
	stroke-width: 3px;
	cursor: pointer;
  }

  mat-form-field{
	  width:150px;
  }

  .cdk-overlay-container { z-index: 900 !important; }

.myw-map-zoom { position: absolute; bottom: 0; left: 0; right: 0; padding: 1rem; height: 2.125rem; background-color: #CFCFCF; font-size: .75rem; }
.myw-map-zoom a { padding: 0 .3125rem; color: #000000;  }

/*Range Slider Start*/
.myw-map-zoom .myw-range-slider{ margin: 0; padding: 0; border: 0; outline: none; background: transparent; width: 100%; height: 1rem; border-radius: 50rem;
    -webkit-appearance: none; transition: all .1s ease; }
.myw-map-zoom .myw-range-slider::-webkit-slider-runnable-track{ height: .25rem; border-radius: 50rem; background: #ffffff; cursor: pointer; 
    background: linear-gradient(#000000, #000000) no-repeat #ffffff; background-size: var(--range-size) 100%; }
.myw-map-zoom .myw-range-slider::-webkit-slider-thumb{ height: .625rem; width: .625rem; border-radius: 50%; 
    border: 1px solid #ffffff; background-color: #D5D6D6; cursor: pointer; margin-top: -.125rem; 
    box-shadow: 0 .125rem .5rem rgba(0,0,0,.16); -webkit-appearance: none; box-sizing: border-box; }
.myw-map-zoom .myw-range-slider:hover::-webkit-slider-thumb, .myw-map-zoom .myw-range-slider:focus::-webkit-slider-thumb{ border-width: .125rem; }
.myw-map-zoom .myw-range-slider:disabled::-webkit-slider-thumb{ border-color: #bebebe; }
.myw-map-zoom .myw-range-slider:disabled::-webkit-slider-runnable-track{ background: #e9ecef;
    background: linear-gradient(#BEBEBE, #BEBEBE) no-repeat #e9ecef; background-size: var(--range-size) 100%; }

.myw-map-zoom .myw-range-slider::-ms-track{ height: .25rem; border-radius: 50rem; background: #ffffff; cursor: pointer; 
	background: linear-gradient(#000000, #000000) no-repeat #ffffff; background-size: var(--range-size) 100%; }
.myw-map-zoom .myw-range-slider::-ms-thumb{ height: .625rem; width: .625rem; border-radius: 50%; 
	border: 1px solid #ffffff; background-color: #D5D6D6; cursor: pointer; margin-top: -.125rem; 
	box-shadow: 0 .125rem .5rem rgba(0,0,0,.16); -webkit-appearance: none; box-sizing: border-box; }
.myw-map-zoom .myw-range-slider:hover::-ms-thumb, .myw-range-slider:focus::-ms-thumb{ border-width: .125rem; }
.myw-map-zoom .myw-range-slider:disabled::-ms-thumb{ border-color: #bebebe; }
.myw-map-zoom .myw-range-slider:disabled::-ms-track{ background: #e9ecef;
	background: linear-gradient(#BEBEBE, #BEBEBE) no-repeat #e9ecef; background-size: var(--range-size) 100%; }

.myw-map-zoom .myw-range-slider::-moz-range-track{ height: .25rem; border-radius: 50rem; background: #ffffff; cursor: pointer; 
    background: linear-gradient(#000000, #000000) no-repeat #ffffff; background-size: var(--range-size) 100%; }
.myw-map-zoom .myw-range-slider::-moz-range-thumb{ height: .625rem; width: .625rem; border-radius: 50%; border: 1px solid #ffffff; 
    background-color: #D5D6D6; cursor: pointer; margin-top: -.125rem; box-shadow: 0 .125rem .5rem rgba(0,0,0,.16); -webkit-appearance: none; 
    box-sizing: border-box; }
.myw-map-zoom .myw-range-slider:hover::-moz-range-thumb, .myw-range-slider:focus::-moz-range-thumb{ border-width: .125rem; }
.myw-map-zoom .myw-range-slider:disabled::-moz-range-thumb{ border-color: #bebebe; }
.myw-map-zoom .myw-range-slider:disabled::-moz-range-track{ background: #e9ecef;
    background: linear-gradient(#BEBEBE, #BEBEBE) no-repeat #e9ecef; background-size: var(--range-size) 100%; }