<!-- Sub Navbar -->
<!-- <div class="ingrAI-subnavrbar ingrAI-subnav-col">
  <div class="row">
    <div class="col-2 d-flex flex-column ingrAI-subnav-col-name">
      <div class="d-flex align-items-center">
        <span class="mr-2">Usecase</span>
      </div>
      <div class="ingrAI-subnav-col-filename">
        Cascading 1
      </div>
    </div>
    <div class="col-7 d-flex align-items-center ingrAI-subnav-col-name">
      <nav aria-label="breadcrumb" class="de-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:;">Choose Model</a></li>
          <li class="breadcrumb-item active" aria-current="page">Mapping</li>
          <li class="breadcrumb-item"><a href="javascript:;">Teach and Test</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Deploy Model</a></li>
        </ol>
      </nav>
    </div>
    <div class="col-3 d-flex pr-0 justify-content-end">
      <div class="ingrAI-search-container mr-3">
        <button type="button" class="btn btn-primary"><svg class="ingrAI-icon-svg"><use xlink:href="#ingrAI-icon-search"></use></svg></button>
        <input type="text" class="form-control" placeholder="search...">
      </div>
      <a href="javascript:;" class="d-flex align-items-center" alt="Help" title="Help"><svg class="ingrAI-icon-svg ingrAI-icon-svg-md"><use xlink:href="#ingrAI-icon-help"></use></svg></a>
    </div>
  </div>
</div> -->
<!-- /Sub Navbar -->

<!-- <div id="main" class="ingrAI-content ingrAI-cust-wrap flex-fill">
  <div class="ingrAI-body-content" [ngClass]="openMenu == true ? 'open': 'ingrAI-body-content'">
        <div class="ingrAI-body-contentBG">
            <div class="d-flex align-items-center">
                <div style="width: 70%;">
                    <div class="ingrAIn-mainsection-title mb-2">Attribute mapping</div>
                    <p class="d-flex align-items-center"><img src="assets/images/info-b.svg" alt="Info"/> <span class="pl-2">Establish the link between adjacent models by selecting the input attributes of every model which will be mapped with the predicted value of previous model</span></p>
                    <p class="d-flex align-items-center"><img src="assets/images/info-b.svg" alt="Info"/> <span class="pl-2">Perform the Unique Identifier mapping between adjacent models</span></p>
                    <p class="d-flex align-items-center"><img src="assets/images/info-b.svg" alt="Info"/> <span class="pl-2">To update the Unique Identifier mapping click on the mapping link</span></p>
                </div>
                <div class="ml-auto">
                   
                    <input *ngIf="objectKeys(modelTemplateData).length > 0" type="button" class="btn btn-primary" value="Back" (click)="backToModel()">
                    <input type="button" class="btn btn-primary" value="Previous" (click)="previous()">
                    <input type="button" class="btn btn-primary btn-next" value="Next" [disabled]="nextDisable" (click)="next(modelChangesConfirmation)"/>
                </div>
            </div>
            <div class="d-flex" style="padding:10px;">
              <div class="d-flex" style="margin: auto;">
                <div class="targetSelect" style="color: white;">.</div>
                <ng-container *ngFor="let model of data; let i = index;">
                    <div class="targetSelect" *ngIf="i != 0">
                    <mat-form-field>
                      <mat-label>Select Target Mapping</mat-label>
                      <mat-select [ngModel]="targetIdArray[i-1]" (selectionChange)="onTargetColumnChange($event,i,uniqueIdMapPopup)">
                        <mat-option value="undefined">None</mat-option>
                        <ng-container *ngFor="let column of model">
                          <mat-option [value]="column.id" *ngIf="column.column != column.targetColumn && column.dataType != 'datetime64[ns]'">{{column.column}}</mat-option>
                        </ng-container>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="ingrAIn-mappping-chart d-flex" *ngIf="allAttributes.length > 0">
                <app-cascade-models-chart style="margin:auto;" [sourceId]="sourceId" [targetId]="targetId" [targetIdArray]="targetIdArray" [uniqueIdArray]="uniqueIdArray" [models]="allAttributes" [modelNames]="modelNames" [masterData]="data" (uniqueIdClicked)="uniqueIdPopup($event,uniqueIdMapPopup)" [svgWidth]="svgWidth" [svgHeight]="svgHeight"></app-cascade-models-chart>
            </div>
        </div>
    </div>
</div> -->




<div class="myw-section my-3">
  <div class="p-3">
      <h6 class="mb-2">Attribute Mapping</h6>
      <p class="fs-12">Establish the link between adjacent models by selecting the input attributes of every model which will be mapped with the predicted value of previous model. Perform the Unique Identifier mapping between adjacent models. To update the Unique Identifier mapping, click on the mapping link</p>
      <div class="ml-auto">         
        <!-- <input *ngIf="objectKeys(modelTemplateData).length > 0" type="button" class="btn btn-primary" value="Back" (click)="backToModel()">
        <input type="button" class="btn btn-primary" value="Previous" (click)="previous()">
        <input type="button" class="btn btn-primary btn-next" value="Next" [disabled]="nextDisable" (click)="next(modelChangesConfirmation)"/> -->
    </div>
    </div>
  <div style="position: relative">
      <div class="p-3">
        <div class="d-flex" style="padding:10px;" *ngIf="isCustomCascadeModel == false">
          <div class="d-flex" style="margin: auto;">
            <div class="targetSelect" style="color: white;">.</div>
            <ng-container *ngFor="let model of data; let i = index;">
                <div class="targetSelect" *ngIf="i != 0">
                <mat-form-field>
                  <mat-label>Select Target Mapping</mat-label>
                  <mat-select [ngModel]="targetIdArray[i-1]" (selectionChange)="onTargetColumnChange($event,i,uniqueIdMapPopup)">
                    <mat-option value="undefined">None</mat-option>
                    <ng-container *ngFor="let column of model">
                      <mat-option [value]="column.id" *ngIf="column.column != column.targetColumn && column.dataType != 'datetime64[ns]'">{{column.column}}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="ingrAIn-mappping-chart d-flex" *ngIf="allAttributes.length > 0">
            <app-cascade-models-chart style="margin:auto;overflow: hidden;" [sourceId]="sourceId" [targetId]="targetId" [targetIdArray]="targetIdArray" [uniqueIdArray]="uniqueIdArray" [models]="allAttributes" [modelNames]="modelNames" [masterData]="data" (uniqueIdClicked)="uniqueIdPopup($event,uniqueIdMapPopup)" [svgWidth]="svgWidth" [svgHeight]="svgHeight"></app-cascade-models-chart>
        </div>
      </div>    

      <div class="d-flex justify-content-end align-items-center myw-map-zoom">
          <div class="d-flex">
              <a href="javascript:;" class="text-decoration-none" (click)="zoom(zoomSlider, 'decrease')">−</a>
              <input #zoomSlider type="range" class="myw-range-slider" (change)="zoom(zoomSlider)" min="10" max="20" steps="10" value="10">
              <a href="javascript:;" class="text-decoration-none" (click)="zoom(zoomSlider, 'increase')">+</a>
              <span>{{rangeValue}}%</span>
          </div>
          <a (click)="openFullScreen(zoomSlider)" class="ml-2"><img src="assets/images/presentation.svg" alt=""/></a>
      </div>
  </div>
</div>

<div class="d-flex myw-actions justify-content-end">
  <button (click)="previous()" class="btn btn-secondary btn-previous" value="Previous">
    <img src="assets/images/back.svg" alt="Previous">
    <span>Previous</span>
  </button>
  <input *ngIf="objectKeys(modelTemplateData).length > 0" type="button" class="btn btn-primary ml-auto" value="Back" (click)="backToModel()">
  <button [disabled]="nextDisable" (click)="next(modelChangesConfirmation)" class="btn btn-primary btn-next ml-auto" value="Next">
    <span>Next</span>
    <img src="assets/images/back.svg" alt="Next">
  </button>
</div>

<ng-template #uniqueIdMapPopup>
  <div class="deploymodle-confirmpopup">
    <div class="modal-header d-flex">
      <div class="modal-title" id="mapModalTitle"><b>Map Unique Identifier</b></div>
      <button type="button" class="close pull-right col-1" style="cursor: pointer;" aria-label="Close"
        (click)="cancel(config.index)">
        <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
          <use xlink:href="#ingrAI-icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label class="form-label">Select Source Unique Identifier</label>
        <select #sourceUniqueId class="form-control" [ngModel]="uniqueIdArray[(config.index-1)][0]">
          <option value="undefined">None</option>
          <ng-container *ngFor="let column of data[(config.index-1)]">
            <option [value]="column.id" *ngIf="column.column != column.targetColumn && column.dataType != 'datetime64[ns]'">{{column.column}}</option>
          </ng-container>
        </select>
      </div>
      <div class="form-group">
        <label class="form-label">Select Target Unique Identifier</label>
        <select #targetUniqueId class="form-control" [ngModel]="uniqueIdArray[(config.index-1)][1]">
          <option value="undefined">None</option>
          <ng-container *ngFor="let column of data[config.index]">
            <option [value]="column.id" *ngIf="column.column != column.targetColumn && column.dataType != 'datetime64[ns]'">{{column.column}}</option>
          </ng-container>
        </select>
      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-secondary" (click)="cancel(config.index)">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirm(sourceUniqueId.value,targetUniqueId.value,config.index, config.targetId)">Apply</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modelChangesConfirmation>
  <div class="modal-header border-0">
    <h5 class="modal-title" id="ingrAI-enter-model-title">&nbsp;</h5>
    <button type="button" class="close" aria-label="Close" (click)='onClose()'>
      <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
        <use xlink:href="#ingrAI-icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="modal-body py-0">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div style="width: 100%;margin-top: 15px;">
          <label>In case of change in sequence all the progress so far will be lost. Do you want to proceed?</label>
      </div>
    </div>
  </div>
  <div class="modal-footer border-0">
    <button type="button" class="btn btn-secondary" (click)='onClose()'>Cancel</button>
    <button type="button" class="btn btn-primary" (click)='onConfirm()'>OK</button>
  </div>
</ng-template>
