<div class="vds-wrapper container-fluid">
  <div class="vds-simulated-out-container">
    <!-- Simulated Data -->
    <div class="vds-sm-data-container" [ngClass]="simulatedDataToggle ? 'ingrAI-open' : ''">
      <div class="vds-sm-head d-flex">
        <a href="javascript:;" class="text-decoration-none vds-sm-open" (click)='simulatedDataToggling()'
          style="padding: 0rem 1rem;">Simulated Data</a>
        <a href="javascript:;" class="ml-auto vds-sm-close" (click)='simulatedDataToggling()'><img
            src="assets/MonteCarlo/images/vds-back.svg" alt="Back" /></a>
      </div>
      <div class="vds-sm-body">
        <div class="table-responsive">
          <table class="table vds-sm-table">
            <thead>
              <tr>
                <th scope="col" width="25%">&nbsp;</th>
                <th scope="col" width="25%">Simulation Value</th>
                <th scope="col" width="25%">Mean</th>
                <th scope="col" width="25%">Std Deviation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let simulatedVal of finalSimulatedTableData">
                <td class="capitalizetxt" *ngFor="let finalValue of simulatedVal | keyvalue">
                  {{simulatedVal[finalValue.key]}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /Simulated Data -->
    <div class="vds-simulated-col">
      <app-simulation-header [flowInfo]="'output'" [typeOfSimulation]="'generic'"
        (setSimulatedData)="getRunSimulationResultSet($event)"></app-simulation-header>
      <div id="summaryCarousel" class="carousel slide myw-carousel" data-ride="carousel" data-interval="false">
        <div class="carousel-inner"  [formGroup]="templateDataForm">
          <div class="carousel-item active">
            <div class="row vds-grid vds-risk-prediction-left-col">
              <div class="col-6 col-lg" *ngIf="targetColumnName" style="padding-left: 28px !important;">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="vds-card-title">{{targetColumnName}}(Target)</div>
                      <a href="javascript:;" class="ml-auto" (click)="refreshData('target')"><img src="assets/MonteCarlo/images/refresh.svg"
                          alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if {{targetColumnName}} changes by</div>
                    <div class="mt-2">
                      <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getStyles(defects.value,-100, 100)">{{defects.value}}%</span>
                      <input type="range" min="-100" max="100" step="1" class="vds-slider" id="id1"
                      formControlName="defects" #defects (change)="onChangeSimulation('defects')">
                      <div class="vds-slider-range d-flex justify-content-between">
                        <span>-100%</span>
                        <span>-50%</span>
                        <span>-25%</span>
                        <span>0%</span>
                        <span>25%</span>
                        <span>50%</span>
                        <span>100%</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ng-container *ngIf='IncrementFlags[targetColumnName] ==0'>
                      <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[targetColumnName] ==1'>
                      <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[targetColumnName] ==2'>
                      <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                  </ng-container>
                    <span>The {{targetColumnName}} will be</span>
                    <span>{{defectOldValue}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg" *ngIf="featureName1">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="vds-card-title">{{featureName1}}</div>
                      <a href="javascript:;" class="ml-auto" (click)="refreshData('featureName1')"><img src="assets/MonteCarlo/images/refresh.svg"
                          alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if {{featureName1}} changes by</div>
                    <div class="mt-2">
                      <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getStyles(efforts.value, -15, 15)">{{efforts.value}}%</span>
                      <input type="range" min="-15" max="15" step="1" class="vds-slider" id="id1" formControlName="efforts"
                      #efforts (change)="onChangeSimulation('efforts')">
                      <div class="vds-slider-range d-flex justify-content-between">
                        <span>-15%</span>
                        <span>-10%</span>
                        <span>-5%</span>
                        <span>0</span>
                        <span>5%</span>
                        <span>10%</span>
                        <span>15%</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ng-container *ngIf='IncrementFlags[featureName1] ==0'>
                      <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName1] ==1'>
                      <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName1] ==2'>
                      <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                  </ng-container>
                    <span>The {{featureName1}} will be</span>
                    <span>{{effortOldValue}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg" *ngIf="featureName2">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="vds-card-title">{{featureName2}}</div>
                      <a href="javascript:;" class="ml-auto" (click)="refreshData('featureName2')"><img src="assets/MonteCarlo/images/refresh.svg"
                          alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if {{featureName2}} changes by</div>
                    <div class="mt-2">
                      <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getStyles(teamSize.value, -15, 15)">{{teamSize.value}}%</span>
                      <input type="range" min="-15" max="15" step="1" class="vds-slider" id="id1" formControlName="teamSize"
                      #teamSize (change)="onChangeSimulation('teamSize')" >
                      <div class="vds-slider-range d-flex justify-content-between">
                        <span>-15%</span>
                        <span>-10%</span>
                        <span>-5%</span>
                        <span>0</span>
                        <span>5%</span>
                        <span>10%</span>
                        <span>15%</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ng-container *ngIf='IncrementFlags[featureName2] ==0'>
                      <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName2] ==1'>
                      <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName2] ==2'>
                      <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                  </ng-container>
                    <span>The {{featureName2}} will be</span>
                    <span>{{teamSizeOldValue}}</span>
                  </div>
                </div>
              </div>
              <div class="col-6 col-lg" *ngIf="featureName3"  style="padding-right: 28px !important;">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="vds-card-title">{{featureName3}}</div>
                      <a href="javascript:;" class="ml-auto" (click)="refreshData('featureName3')"><img src="assets/MonteCarlo/images/refresh.svg"
                          alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if {{featureName3}} changes by</div>
                    <div class="mt-2">
                      <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getStyles(schedule.value, -15, 15)">{{schedule.value}}%</span>
                      <input type="range" min="-15" max="15" step="1" class="vds-slider" id="id1" formControlName="schedule"
                      #schedule (change)="onChangeSimulation('schedule')">
                      <div class="vds-slider-range d-flex justify-content-between">
                        <span>-15%</span>
                        <span>-10%</span>
                        <span>-5%</span>
                        <span>0</span>
                        <span>5%</span>
                        <span>10%</span>
                        <span>15%</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ng-container *ngIf='IncrementFlags[featureName3] ==0'>
                      <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName3] ==1'>
                      <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName3] ==2'>
                      <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                  </ng-container>
                    <span>The {{featureName3}} will be</span>
                    <span>{{scheduleOldValue}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" *ngIf="featureName4">
            <div class="row vds-grid vds-risk-prediction-left-col">
              <div class="col-3" style="padding-left: 28px !important;">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="vds-card-title">{{featureName4}}</div>
                      <a href="javascript:;" class="ml-auto" (click)="refreshData('featureName4')"><img src="assets/MonteCarlo/images/refresh.svg"
                          alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if {{featureName4}} changes by</div>
                    <div class="mt-2">
                      <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getStyles(genericFeature.value, -15, 15)">{{genericFeature.value}}%</span>
                      <input type="range" min="-15" max="15" step="1" class="vds-slider" id="id1"  formControlName="genericFeature" #genericFeature
                      (change)="onChangeSimulation('genericFeature')">
                      <div class="vds-slider-range d-flex justify-content-between">
                        <span>-15%</span>
                        <span>-10%</span>
                        <span>-5%</span>
                        <span>0</span>
                        <span>5%</span>
                        <span>10%</span>
                        <span>15%</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <ng-container *ngIf='IncrementFlags[featureName4] ==0'>
                      <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName4] ==1'>
                      <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                  </ng-container>
                  <ng-container *ngIf='IncrementFlags[featureName4] ==2'>
                      <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                  </ng-container>
                    <span>The {{featureName4}} will be</span>
                    <span>{{genericFeature4OldValue}}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <a href="#summaryCarousel" class="carousel-control-prev" role="button" data-slide="prev" *ngIf="featureName4">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#summaryCarousel" class="carousel-control-next" role="button" data-slide="next" *ngIf="featureName4">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="row mt-1 mb-3">
        <div class="col">
            <div class="row vds-grid mt-2 vds-risk-prediction-right-col">
              <div class="col-12 col-lg-6">
                  <div class="vds-upload-file-container vds-prediction-container d-flex flex-column"
                  style="min-height: 275px;">
                      <div class="d-flex align-items-center" style="height: 40px;">
                          <div class="d-flex align-self-start">
                              <div class="vds-card-title">{{targetColumnName}}</div>
                          </div>
                          <div class="ml-auto d-flex align-self-start">
                              <div class="fs-12 myw-700" style="padding-top: .25rem;">Certainty</div>
                              <!-- <div class="flex-grow-1 ml-2 ac-range myw-range position-relative">
                                  <div class="fs-12 d-flex justify-content-between">
                                      <span>0</span>
                                      <span>100%</span>
                                  </div>
                                  <input type="range" class="myw-range-slider" min="0" max="100" value="84" />
                                  <span class="myw-range-output ac-pro-value">69</span>
                              </div> -->
      
                              <div id="slider" class="flex-grow-1 ml-2 ac-range position-relative"
                                  [formGroup]="templateDataForm" style="top: -20px; font-size: 0.7rem;">
                                  <span class="myw-range-output ac-pro-value"
                                      [ngStyle]="getStyles(certainty.value,0, 100)">{{certainty.value}}%</span>
                                  <input type="range" #certainty formControlName="certaintySlider"
                                      (change)="changedValueForCertaintySlider(certainty.value)" min="0" max="100" step="0.01"
                                      class="slider" style="cursor: pointer;" />
                                  <div class="d-flex">
                                      <div title="0%" class="ingrAI-slider-label overflow-ellipsis">0%</div>
                                      <div title="100%" class="ml-auto ingrAI-slider-label overflow-ellipsis">100%
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="vds-risk-chart">
                          <div #containerHdualChart>
                          </div>
                      </div>
                      <!-- <div class="fs-10"><span class="myw-500">Observations:</span> <span>{{observationText}}</span>
                      </div> -->
                  </div>
              </div>
              <!-- <div class="col-6 col-lg-6">
                  <div class="vds-upload-file-container vds-prediction-container">
                      <div class="vds-card-title">Sensitivity Analysis - Total</div>
                      <div class="vds-sat-chart">
                          <app-curved-vertical-bar-graph [data]="dataForVerticalBar" (barClicked)="barClicked($event)">
      
                          </app-curved-vertical-bar-graph>
                      </div>
                  </div>
              </div> -->
              <div class="col-6 col-lg-6">
                  <div class="vds-upload-file-container vds-prediction-container"
                  style="min-height: 275px;">
                      <div class="vds-card-title">
                        Sensitivity Analysis - Overall
                      </div>
                      <div class="vds-ts-chart" *ngIf="sensitivityAnalysisPopUpChart">
                          <app-curved-horizontal-bar-graph [data]="sensitivityAnalysisPopUpChart" [horizontalChart]="'Sensitivity Analysis'"
                             [generic]="'generic'" >
      
                          </app-curved-horizontal-bar-graph>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<!--  Code not in useChart Modal  -->
<ng-template #sensitivityAnalysisChartModal>
  <div class="modal-content" style="width: 660px;">
    <div class="modal-header d-flex justify-content-end pt-3 pr-3">
      <a href="javascript:;" (click)="sensitivityAnalysisChartModalRef.hide()" aria-label="Close"><img
          src="assets/MonteCarlo/images/close-btn.svg" alt="Close" /></a>
    </div>
    <div class="modal-body d-flex text-center flex-column pt-0 px-5">
      <div class="vds-risk-modal-title">Sensitivity Analysis</div>
      <div class="vds-modal-title my-3">
        <span>Influencing features - <span class="capitalizetxt">{{sensitivityAnalysisFeatures}} </span></span>
      </div>
      <div class="vds-modal-chart">
        <app-sensitivity-analysis-chart [horizontalBarchartHeight]="SensitivityAnalysisChart.analysisChartHeight"
          [horizontalBarchartWidth]="SensitivityAnalysisChart.analysisChartHwidth" [scenarioName]="'Generic'"
          [data]="sensitivityAnalysisPopUpChart" *ngIf="sensitivityAnalysisType == 'Effort'">
        </app-sensitivity-analysis-chart>
      </div>
    </div>
  </div>
</ng-template>
<!-- /Chart Modal -->

<!-- [data]="simulationResult.Plan.SensitivityAnalysis" -->