<div id="ingrAI-connect-to-data-source" tabindex="-1" role="dialog"
  aria-labelledby="ingrAI-data-source-title"
  aria-hidden="true" data-backdrop="static" class="ingrain-fullmodal">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document">
    <div class="modal-content" style="height: 550px;">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close" id="cancelcreate"
          (click)="onClose()" style="padding-right: 2px;">
        </button>
      </div>
      <div class="modal-body myw-scrollbar">
        <div class="d-flex" style="margin-top: 10px;">
          <div><img src="assets/images/info-l.svg" alt="Info" /></div>
          <div class="ml-5">
            <ol type="number">
              <li>Maximum number of 5 entities or files can be selected</li>
              <table style="width: 100%;">
                <tr style="width: 100%;">
                  <td style="width: 70%;" *ngIf="language != 'spanish'">
                    <li>Language selected for this client and Dc is {{language |
                      titlecase}}, <b>please ensure file
                        uploaded is also in the same language</b></li>
                  </td>
                  <td style="width: 70%;" *ngIf="language === 'spanish'">
                    <li>The language selected for this client and Dc is <i>{{language
                        | titlecase}}</i>, <b>please
                        ensure file uploaded is also in the same language</b></li>
                  </td>
                </tr>
              </table>
            </ol>
          </div>
        </div>
        <div class="fs-16 myw-500 mb-2">How do you want to upload data? Below
          are the possible combinations:</div>

        <div class="form-group">
          <div class="form-inline">
            <label class="myw-checkbox"><input type="radio" name="radio-file" [disabled] ="fileView == false"
                [checked]='fileView' (click)="setFileView()"><span>Upload
                File</span></label>
            <label class="myw-checkbox"><input type="radio" name="radio-file" [disabled] ="entityView == false"
                [checked]='entityView'><span>Entity</span></label>
            <label class="myw-checkbox"><input type="radio" name="radio-file" [disabled] ="datasetView == false"
                [checked]='datasetView' (click)="setDatasetView()"><span>Dataset</span></label>
            <label class="myw-checkbox" *ngIf="isAdminUser && (serviceId === '72c38b39-c9fe-4fa6-97f5-6c3adc6ba355' || serviceId === '93df37dc-cc72-4105-9ad2-fd08509bc823')"><input type="radio" name="radio-file"
                [checked]='customDataView' [disabled] ="customDataView == false" (click)="setCustomDataView()"><span>Custom Data</span></label>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6 ingrain-vsep" *ngIf="entityView">           
              <div class="fs-16 myw-500 mb-2">Select from Data source</div>
              <div class="ingrAI-datasource-container" style="overflow-y: unset;">               
                  <div>
                  <form [formGroup]="apiRow" (ngSubmit)="onSubmit()">
                            <div class="myw-500"  *ngIf="entityLoader == false">Entity</div>
                            <div *ngIf="entityLoader == false">
                              <div class="row mb-4">
                                <div class="col-6">
                                  <div class="form-group">
                                  <mat-form-field class="w-100">                                    
                                    <mat-label>Delivery Type</mat-label>
                                    <mat-select #deliveryType formControlName="deliveryTypeControl" [(ngModel)]="selectedDeliveryType"
                                      [disabled]="reTrainModel == true">
                                      <mat-option matTooltip="{{selectedDeliveryType}}" [(value)]="selectedDeliveryType">
                                        {{selectedDeliveryType}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  </div>  
                                </div>
                                <div class="col-6">
                                  <div class="form-group">
                                    <mat-form-field class="w-100">
                                      <input matInput  formControlName="startDateControl" [matDatepicker]="picker1" placeholder="Start Date"
                                        [max]="startDate">
                                      <mat-datepicker-toggle matSuffix [for]="picker1"><svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
                                          <use xlink:href="#ingrAI-icon-calender"></use>
                                        </svg></mat-datepicker-toggle>
                                      <mat-datepicker #picker1></mat-datepicker>
                                      <mat-error *ngIf="apiRow.get('startDateControl').invalid">Start Date</mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="form-group">
                                    <mat-form-field class="w-100">
                                      <input #endDateInput formControlName="endDateControl" matInput [matDatepicker]="picker2"
                                        placeholder="End Date" [min]="startDate" [max]="startDate">
                                      <mat-datepicker-toggle matSuffix [for]="picker2"><svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
                                          <use xlink:href="#ingrAI-icon-calender"></use>
                                        </svg></mat-datepicker-toggle>
                                      <mat-datepicker #picker2></mat-datepicker>
                                      <mat-error *ngIf="apiRow.get('endDateControl').invalid">End Date </mat-error>
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-6">
                                  <div class="form-group">
                                  <mat-form-field class="w-100">
                                    <mat-label>Choose Data</mat-label>                                    
                                      <mat-select #entityInput formControlName="entityControl" [(value)]="selectedEntity"
                                       [disabled]="apiRow.get('startDateControl').value=='' || apiRow.get('endDateControl').value==''
                                        || reTrainModel == true">
                                        <ng-container *ngIf="entityList.length>0">
                                          <mat-option *ngFor="let entity of entityList" matTooltip="{{entity.sub}}" [value]="entity.name">
                                            {{entity.name}}
                                          </mat-option>
                                        </ng-container>                                      
                                      </mat-select>                                                                   
                                  </mat-form-field>
                                  </div>
                                </div>
                              </div>
                            </div>                         
                  </form>
                </div>
              </div>           
          </div>


          <div class="col-12 col-lg-6 ingrain-vsep" *ngIf="datasetView">
            <div class="ingrAI-datasource-container">
              <div class="myw-500">My Data Source</div>
              <table style="width: 100%;">
                <tr>
                  <td style="width: 50%;">
                    <div>
                      <table>
                        <tr>
                          <td>
                            <mat-form-field class="w-100">
                              <mat-label>Source</mat-label>
                              <mat-select (selectionChange)="selectedchoosesource(selectedsource)" name="selectedsource"
                                [(ngModel)]="selectedsource">
                                <mat-option *ngFor="let type of choosesource" [value]="type.value">
                                  {{type.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>&nbsp;&nbsp;
                          <td>
                            <mat-form-field class="w-100">
                              <mat-label>Choose type</mat-label>
                              <mat-select (selectionChange)="selectedchoosetype(selectedtype)"
                                (ngModelChange)="onChangeOfDataset()" name="selectedtype" [(ngModel)]="selectedtype">
                                <mat-option *ngFor="let type of choosetype" [value]="type.id">
                                  {{type.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td> &nbsp;&nbsp;
                </tr>
              </table>
            </div>
          </div>

        
            <div class="col-md-6 col-lg-12" *ngIf="fileView">          
              <div class="fs-14 myw-500 mb-2 d-flex">Upload File</div>    

                <!-- <div class="choose-file my-2">
                  <label for="choose-file" class="btn">
                    <img src="assets/images/upload-file.svg" alt="" title="" /></label>
                  <input #fileInput type="file" id="ingrAI-upload" [ngStyle]="{'top':sourceTotalLength>=1 ? '15%' : '40%' }"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv" (change)="getFileDetails($event)"
                  [disabled]="apiRow.get('entityControl').value !=='' || apiRow.get('deliveryTypeControl').value !==''" />
                </div> 
                <span class="filetype">File types: Excel and CSV</span>
                <span class="filetype">Maximum total uploaded size not to exceed
                  <span *ngIf="serviceId != '72c38b39-c9fe-4fa6-97f5-6c3adc6ba355'">130 MB</span><span
                    *ngIf="serviceId == '72c38b39-c9fe-4fa6-97f5-6c3adc6ba355'">20 MB</span></span>-->

                <!-- <ng-container *ngIf='disableDownLoadTeamplate == true'>
                  <a *ngIf="serviceId == 'e6f8243b-e00f-4d05-b16c-8c6a449b5a4c'" class="btn btn-primary mt-2" title="Download Template"
                    (click)="downlaodTemplate('next_word_prediction')" download>Download Template <img src="assets/images/Download.png" 
                    style="width: 20px; margin-top: -2px;"></a>
                  <ng-container *ngIf="serviceId == '042468f4-db5b-403f-8fbc-e5378077449e'">
                    <a class="btn btn-primary mt-2" title="Download Template" (click)="downlaodTemplate('insurance')" download>Download
                      Template <img src="assets/images/Download.png" style="width: 20px; margin-top: -2px;"></a>
                  </ng-container>
                  <ng-container *ngIf="serviceId !== '042468f4-db5b-403f-8fbc-e5378077449e'">
                    <a *ngIf="serviceId != '72c38b39-c9fe-4fa6-97f5-6c3adc6ba355' && serviceId != 'e6f8243b-e00f-4d05-b16c-8c6a449b5a4c'"
                      class="btn btn-primary mt-2" title="Download Template" (click)="downlaodTemplate('similarity')" download>Download
                      Template <img src="assets/images/Download.png" style="width: 20px; margin-top: -2px;"></a>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf='disableDownLoadTeamplate == false'>
                  <a *ngIf="serviceId != '72c38b39-c9fe-4fa6-97f5-6c3adc6ba355'" class="btn btn-primary bt-bg-color mt-2" title="Download
                    Template" download>Download Template <img src="assets/images/Download.png" style="width: 20px; margin-top: -2px;"></a>
                </ng-container> -->
              <!-- </div> -->

            <div class="myw-file-upload" id="ingrAI-upload">
              <div  class="myw-file-drag d-flex flex-column align-items-center justify-content-center uploadFileView"
               style="min-height: 7rem;">                
                <label>
                  <span><strong>Browse Files</strong></span>
                  <input #fileInput type="file" id="ingrAI-upload" [ngStyle]="{'top':sourceTotalLength>=1 ? '15%' : '40%' }"
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv"
                  (change)="getFileDetails($event)"  [disabled]="apiRow.get('entityControl').value !=='' || apiRow.get('deliveryTypeControl').value !==''"/>
                </label>               
                <div class="fs-12">File type: Excel and CSV</div>
                <div class="fs-12">Maximum uploaded file size should not exceed 130 MB</div>                
              <ng-container *ngIf='disableDownLoadTeamplate == true'>
                <a *ngIf="serviceId == 'e6f8243b-e00f-4d05-b16c-8c6a449b5a4c'" class="btn btn-primary mt-2" title="Download Template"
                  (click)="downlaodTemplate('next_word_prediction')" download>Download Template <img src="assets/images/Download.png" 
                  style="width: 20px; margin-top: -2px;"></a>
                <ng-container *ngIf="serviceId == '042468f4-db5b-403f-8fbc-e5378077449e'">
                  <a class="btn btn-primary mt-2" title="Download Template" (click)="downlaodTemplate('insurance')" download>Download
                    Template <img src="assets/images/Download.png" style="width: 20px; margin-top: -2px;"></a>
                </ng-container>
                <ng-container *ngIf="serviceId !== '042468f4-db5b-403f-8fbc-e5378077449e'">
                  <a *ngIf="serviceId != '72c38b39-c9fe-4fa6-97f5-6c3adc6ba355' && serviceId != 'e6f8243b-e00f-4d05-b16c-8c6a449b5a4c'"
                    class="btn btn-primary mt-2" title="Download Template" (click)="downlaodTemplate('similarity')" download>Download
                    Template <img src="assets/images/Download.png" style="width: 20px; margin-top: -2px;"></a>
                </ng-container>
              </ng-container>
              <ng-container *ngIf='disableDownLoadTeamplate == false'>
                <a *ngIf="serviceId != '72c38b39-c9fe-4fa6-97f5-6c3adc6ba355'" class="btn btn-primary bt-bg-color mt-2" title="Download
                  Template" download>Download Template <img src="assets/images/Download.png" style="width: 20px; margin-top: -2px;"></a>
              </ng-container>
              </div>   
            </div>            
          </div> 

          <div class="col-md-6 col-lg-12" *ngIf="customDataView">
            <div class="">
              <div class="form-inline">
                <label class="myw-checkbox mb-0"><input type="radio" id="option-1" name="customData_option"
                    (click)="enableQueryView()" checked><span>
                    Add Query</span></label>
                <label class="myw-checkbox mb-0"><input type="radio" id="option-2" name="customData_option"
                    (click)="enableApiView()"><span>
                    API</span></label>
              </div>
            </div>
            <div class="">
              <ng-container *ngIf="isQueryViewEnabled" [ngTemplateOutlet]="queryViewTemplate"></ng-container>
              <ng-container *ngIf="isApiViewEnabled" [ngTemplateOutlet]="apiViewTemplate"></ng-container>
            </div>
          </div>
        </div>
        
        <div class="myw-file-list" *ngIf="sourceTotalLength>=1">
          <div *ngIf="this.files.length> 0">
          <div class="myw-file-item d-flex align-items-center" *ngFor="let file of this.files;let fileAtIndex= index">
            <div class="flex-fill d-flex align-items-center">
              <h6 >{{file.name}}</h6>
              <div class="flex-fill">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" style="width: 100%;"></div>
                </div>
              </div>
              <span>100%</span>
            </div>
            <a href="#" title="Remove" (click)="removeFile(fileAtIndex,file.name,fileInput)"
            aria-label="Remove"></a>
            </div>
          </div>

          <ng-container *ngIf="(env =='PAM' || env =='FDS') && requestType =='AM' && requestType =='IO'">
            <div class="myw-file-item d-flex align-items-center" *ngIf="entityArray.length> 0">
              <div class="flex-fill d-flex align-items-center">
                <h6 >Entity - {{entityArray[0].name}}</h6>
                <div class="flex-fill">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" 
                    style="width: 100%;"></div>
                  </div>
                </div>
                <span>100%</span>
              </div>                 
            </div>
          </ng-container>

          <ng-container *ngIf="(env!='PAM' || env!='FDS') && requestType!='AM' && requestType!='IO'">
          <div class="myw-file-item d-flex align-items-center"  *ngIf="entityArray.length> 0">
            <div class="flex-fill d-flex align-items-center">
              <h6>Entity - {{entityArray[0].name}}</h6>
              <div class="flex-fill">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                    aria-valuemax="100" style="width: 100%;"></div>
                </div>                    
              </div>
              <span>100%</span>                   
            </div>                 
          </div>
        </ng-container>
        </div>

        <div class="myw-file-list" *ngIf="datasetEntered">
          <div class="myw-file-item d-flex align-items-center">
            <div class="flex-fill d-flex align-items-center">
              <h6>Dataset - {{datasetname2}}</h6>
              <div class="flex-fill">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                  aria-valuemax="100" style="width: 100%;"></div>
                </div>
              </div>
              <span>100%</span>
            </div>
            <a href="#" title="Remove" aria-label="Remove" (click)="removeDataset()"></a>
          </div>
        </div>

      </div>
      <div class="modal-footer border-0" *ngIf="!customDataView">
        <button type="button" class="btn btn-secondary form-group" data-dismiss="modal" (click)="onClose()">Cancel</button>      
        <button type="submit" class="btn btn-primary form-group" data-dismiss="modal" data-toggle="modal"
          (click)="onSubmit()">Apply</button>

      </div>
    </div>
  </div>
</div>


<ng-template #queryViewTemplate>
  <app-custom-query-save [modalNameRequired]="false" (onSaveQuery)="saveQuery($event)" [serviceLevel]="serviceLevel"></app-custom-query-save>
</ng-template>
<ng-template #apiViewTemplate>
  <app-custom-data-api [ApiConfig]="ApiConfig" (APIData)="saveAPI($event)"></app-custom-data-api>
</ng-template>