<!-- <div class="ingrAI-sub-nav">
    <div class="ingrAI-sub-nav-nav">
        <a (click)="showPublishModel()" routerLink="publishmodel" routerLinkActive="active"
            class="ingrAI-sub-nav-button ingrAI-sub-nav-active" title="Publish Model">
            <span class="ingrAI-sub-nav-button-text">Publish Model</span>
        </a>
        <a routerLink="deployedmodel" routerLinkActive="active"
            class="ingrAI-sub-nav-button" title="Deployed Model">
            <span class="ingrAI-sub-nav-button-text">Deployed Model</span>
        </a>
        <a routerLink="Prediction" routerLinkActive="active"
        class="ingrAI-sub-nav-button" title="Prediction"  *ngIf="(router.url.includes('Prediction'))">
        <span class="ingrAI-sub-nav-button-text">Prediction</span>
         </a>
        <a routerLink="Monitoring" routerLinkActive="active"
            class="ingrAI-sub-nav-button" title="Model Monitoring" *ngIf="router.url.includes('Monitoring')">
            <span class="ingrAI-sub-nav-button-text">Model Monitoring</span>
        </a>
    </div>
    <div class="d-flex ml-auto ingrAI-flow-control align-items-center"
    *ngIf="!(router.url.includes('Prediction') || router.url.includes('Monitoring'))">
        <input (click)="previous()" type="button" class="btn btn-primary" value="Previous" />
        <input id="btnNext" (click)="next()" type="button" class="btn btn-primary btn-next" value="Next" />
    </div>

    <div class="d-flex ml-auto ingrAI-flow-control align-items-center"
    (click)="viewmodel()"
    *ngIf="(router.url.includes('Prediction') || router.url.includes('Monitoring'))">
        <input type="button" class="btn btn-primary" value="My Models" />
    </div>
</div>

<router-outlet></router-outlet> -->