.modal-content {  background:white; border:0;margin-left: 100px;margin-right: 100px; border-radius: 1rem; }

.modal-dialog {
    max-width: 100%;
    text-align: center;
    padding: 0;
    font-size: 1.125rem;
    color: black;
    background-color: transparent;
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.myw-file-item span {
    margin-right: 1rem;
}

.myw-file-list {
    margin-top: 0rem;
}


