<section id="upload-section" *ngIf="isUploadView">
    <div class="vds-upload-file-container vds-file-uploader">
        <div class="d-flex align-items-center mb-3">
            <div class="form-inline">
                <label class="mb-0 vds-upload-title"><span>Upload File</span></label>
            </div>
            <div class="d-flex ml-auto myw-actions">
                <input type="button" (click)="showModelView(FMMappingPopup)" class="btn btn-secondary"
                    value="Know Your Model" />
                <input type="button" (click)="downloadData()" class="btn
                    btn-primary" value="Download Template" />
            </div>
        </div>
        <div class="vds-sim-upload-container mb-3" (dragover)='allowDrop($event)' (drop)='onDrop($event)'>
            <img src="assets/MonteCarlo/images/upload.png" alt="Upload" title="Upload">
            <div class="text-center mt-3">Drop your files here <br> or
                <div class="vds-choose-file d-inline-flex" id="fileUpload1">
                    <label for="vds-choose-file">Browse</label>
                    <input id="vds-choose-file" type="file" (change)="getFileDetails($event)">
                </div>
            </div>
        </div>
    </div>
    <div class="vds-download" *ngIf="files && files.length">
        <div class="d-flex align-items-center">
            <img src="assets/MonteCarlo/images/uploaded-file.png" alt="File">
            <div class="vds-download-info d-flex flex-column">
                <span>Completed</span>
                <span>{{ files[0].name }} </span>
            </div>
            <a href="javascript:;" title="Tick" class="vds-download-icon ml-auto">
                <img src="assets/MonteCarlo/images/tick.svg" alt="Tick"></a>
        </div>
    </div>
    <input type="button" class="btn btn-primary" style="float: right;margin-right: 1em;" 
    [disabled]="uploadFilesCount==0" value="Upload" (click)="uploadFile()">
</section>


<section id="visualization-section">
    <div id="main" class="myw-content d-flex flex-column flex-fill">
        <!-- navbar -->
        <section *ngIf="isModelTraining">
            <div class="myw-tr-container">
                <h3 class="text-uppercase text-center">Model Training is under process <span 
                    class="loading"><span>.</span><span>.</span><span>.</span></span></h3>
                <div class="myw-tr-steps">
                    <div class="myw-tr-step step-1" 
                    [ngClass]="{'active': step == 1 , 'completed': (1 < step && step <= 4)  }">
                        <span>Training data fed to AI engine</span>
                        <div class="myw-tr-step-shape">
                            <div>Step</div>
                            <div>01</div>
                        </div>
                    </div>
                    <div class="myw-tr-step step-2" [ngClass]="{'active': step
                        == 2 , 'completed': (2 <step && step <= 4) }">
                        <span>Model 1 Training Completed</span>
                        <div class="myw-tr-step-shape">
                            <div>Step</div>
                            <div>02</div>
                        </div>
                    </div>
                    <div class="myw-tr-step step-3" [ngClass]="{'active': step
                        == 3 , 'completed': (3 <step && step <= 4) }">
                        <span>Data Transformation Completed</span>
                        <div class="myw-tr-step-shape">
                            <div>Step</div>
                            <div>03</div>
                        </div>
                    </div>
                    <div class="myw-tr-step step-4" [ngClass]="{'active': step
                        == 4 }">
                        <span>Model 2 Training Completed</span>
                        <div class="myw-tr-step-shape">
                            <div>Step</div>
                            <div>04</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section *ngIf="isGraphView">
            <div class="myw-navbar" [ngClass]="isnavBarToggle == true ?
                'collapsed': ''">
                <div class="myw-container d-flex flex-wrap">
                    <div class="d-flex flex-nowrap align-items-center
                        myw-navbar-wrap">
                        <div class="myw-navbar-inner d-flex align-items-center">
                            <!-- <a href="javascript:;" class="text-reset text-decoration-none mr-2" title="Back" aria-label="Back"> -->
                            <!-- <img src="assets/images/back.svg" alt="Back" class="myw-icon"></a> -->
                            <h6 class="m-0">Release Success Predictor</h6>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="myw-navbar-pin" (click)="toggleNavBar()" title="Toggle Navbar"
                    data-toggle="tooltip" data-placement="left" data-trigger="hover"><img src="assets/images/pin.svg"
                        alt="" /><span class="sr-only">Toggle Navbar</span></a>
            </div>
            <!-- /navbar -->
            <div class="myw-container py-4">
                <div class="d-flex align-items-center">
                    <div class="d-flex flex-1 flex-column">
                        <div class="fs-16 myw-500">Prediction Result</div>
                        <div *ngIf="samplePredictionDone" class="mt-2">
                            <a href="javascript:;"><img src="assets/images/info.svg" alt=""></a>
                            <span class="fs-12 pl-1" style="font-weight: 500;">Below
                                is the sample prediction. Please click on
                                “Refresh Prediction” to upload latest prediction
                                data</span>
                        </div>
                    </div>
                    <div class="d-flex ml-auto myw-actions">
                        <button class="btn btn-secondary" (click)="showModelView(FMMappingPopup)">Know Your
                            Model</button>
                        <button class="btn btn-primary" (click)="retrainModelPopup(modelRetrainConfirmation)">Retrain
                            Model</button>
                        <a href="javascript:;" (click)="refreshModel(InnerUploadPop)" class="btn
                            btn-primary">Refresh Prediction</a>
                    </div>
                </div>
                <div class="myw-section myw-br-section my-4 p-3">
                    <div class="fs-16 myw-500 mb-3">Release By Success
                        Probability</div>
                    <div class="fs-12 myw-500 mb-3">* Click on individual
                        Release point to see Change Request level details</div>
                    <div #fmLineChart style="height: 328px;padding-left:
                        30px;width: 1190px;overflow-x: scroll;"></div>
                </div>
                <div class="row" *ngIf="hexBinChartData.length>0">
                    <div class="col" *ngIf="observations.length> 0">
                        <div class="form-group mb-0">
                            <label class="form-label my-label"><strong>Observations</strong></label>
                            <div><span>{{observations.join(' , ')}}&nbsp;</span>
                                <span *ngIf="observations.length == 1">is</span>
                                <span *ngIf="observations.length != 1">are</span>
                                the key influencers for
                                {{selectedReleaseFromGraph}}
                            </div>
                        </div>
                    </div>
                    <div class="col" *ngIf="negativeReleaseArr.length> 0">
                        <div class="form-group mb-0">
                            <label class="form-label my-label"><strong>Recommendations</strong></label>
                            <div>Change Requests <span *ngFor="let release of
                                    negativeReleaseArr;let i= index">{{release.ChangeNumber}}
                                    <span *ngIf="i != negativeReleaseArr.length
                                        - 1">,</span>&nbsp;</span>
                                <span *ngIf="negativeReleaseArr.length == 1">is</span>
                                <span *ngIf="negativeReleaseArr.length != 1">are</span>
                                downgrading the success probability of
                                {{selectedReleaseFromGraph}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="myw-section myw-br-section my-4 p-3" *ngIf="hexBinChartData.length>0">
                    <div class="fs-16 myw-500 mb-3">Success probabilities of
                        Change requests for selected Release</div>
                    <div class="fs-12 myw-500 mb-3">* Click on hexagon tiles to
                        see Feature Details</div>
                    <div class="hex-chart-container myw-scrollbar"
                        style="height: 200px; overflow: auto;margin-left: 15%;">
                        <div class="hexrow" *ngFor="let data of
                            hexBinChartData">
                            <div *ngFor="let changeReq of data" class="hexagon1" [ngClass]="{ 'color-green':
                                changeReq.ChangeOutcome == 'Met', 'color-red' :
                                changeReq.ChangeOutcome != 'Met' ,
                                'border-blue' : SNChangeNumber ==
                                changeReq.ChangeNumber }" (click)="onHexClick(changeReq)">
                                <span>{{changeReq.CRVal}}%</span>
                                <span>{{changeReq.ChangeNumber}}</span>
                                <div class="hexagon2" [ngClass]="{
                                    'color-green': changeReq.ChangeOutcome ==
                                    'Met', 'color-red' : changeReq.ChangeOutcome
                                    != 'Met' ,
                                    'border-blue' : SNChangeNumber ==
                                    changeReq.ChangeNumber }" (click)="onHexClick(changeReq)"></div>
                                <div class="hexagon3" [ngClass]="{
                                    'color-green': changeReq.ChangeOutcome ==
                                    'Met', 'color-red' : changeReq.ChangeOutcome
                                    != 'Met' ,
                                    'border-blue' : SNChangeNumber ==
                                    changeReq.ChangeNumber }" (click)="onHexClick(changeReq)"></div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="my-2">Click on the hexagon to see respective details</div> -->
                    <div class="fs-16 myw-500 mb-3" *ngIf="influencersList.length>0"> Feature Details of the
                        selected change request </div>
                    <div style="height: 50px" *ngIf="influencersList.length>0">SNChangeNumber:
                        {{SNChangeNumber}} &nbsp;&nbsp; Change Outcome:
                        {{changeOutcome}}</div>
                    <div class="row myw-cr-legends" *ngIf="influencersList.length>0">
                        <div class="col-6 col-lg-4 d-flex flex-column"
                            *ngFor="let list of influencersList; let i= index;">
                            <div class="myw-legends" *ngFor="let influencer of
                                list;let j= index;">
                                <i class="color-legend" [style.background-color]="influencer.color">
                                    <span class="tooltiptext">
                                        <div>Feature Weight :
                                            {{influencer.featureWeight}}</div>
                                    </span>
                                </i>
                                <span>{{influencer.name}}: <span
                                        style="font-style: italic;">{{influencer.value}}</span></span>
                            </div>
                            <!-- <div class="myw-legends">
                                <i style="background-color: #0050C7;"></i>
                                <span>SNChange Number HCHG0987654</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #0060CB;"></i>
                                <span>Impacted Application</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #006DCD;"></i>
                                <span>Change State Date 28-03-01</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #007ACF;"></i>
                                <span>Assignment Groups SHARED APPLICATION ERVICE</span>
                            </div> -->
                        </div>
                        <!-- <div class="col-6 col-lg-4 d-flex flex-column">
                            <div class="myw-legends">
                                <i style="background-color: #0089D2;"></i>
                                <span>Change State Date 28-03-01</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #0094D5;"></i>
                                <span>Assignment Groups SHARED APPLICATION ERVICE</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #00A0D8;"></i>
                                <span>Primary Impact Application APP1</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #00AFDB;"></i>
                                <span>Asset Type Component</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #00BADD;"></i>
                                <span>Support Company FannieMae</span>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 d-flex flex-column">
                            <div class="myw-legends">
                                <i style="background-color: #00C8E0;"></i>
                                <span>Release Name Release1</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #00D6E3;"></i>
                                <span>Change Type Normal</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #00E3E6;"></i>
                                <span>Risk Low</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #00EEE8;"></i>
                                <span>Planned Hour 20</span>
                            </div>
                            <div class="myw-legends">
                                <i style="background-color: #00FAEA;"></i>
                                <span>Released Hour 20</span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<ng-template #FMMappingPopup>
    <div class="cascade-popup">
        <div class="modal-header">
            <h5 class="modal-title" id="ingrAI-enter-model-title">Release
                Success Predictor</h5>
            <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex flex-column justify-content-center">
                <div class="fs-12 myw-500 mb-3">The below image depicts the
                    structure of the Model Template,
                    where enhancement request data provided by user is processed
                    to get the outcome of the enhancement request and further
                    aggregated at Release Level to predict the success
                    probability of the Release.
                </div>
                <div class="ingrAIn-mappping-chart d-flex myw-scrollbar">
                    <img src="assets/images/FM_Scenario.png" class="img-fluid
                        ml-auto mr-auto" alt="" />
                </div>
            </div>
            <div class="d-flex justify-content-end myw-actions" style="margin-top: 1.56rem;">
                <button type="button" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modelRetrainConfirmation>
    <div class="modal-header border-0">
        <h5 class="modal-title" id="ingrAI-enter-model-title">&nbsp;</h5>
        <button type="button" class="close" aria-label="Close" (click)='modalRef.hide()'>
            <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
                <use xlink:href="#ingrAI-icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="modal-body py-0">
        <div class="d-flex flex-column justify-content-center
            align-items-center">
            <div style="width: 100%;margin-top: 15px;">
                <label>Do you want to retrain the model? The current progress
                    will be lost. Click Yes if you wish to Proceed or No to
                    Return.</label>
            </div>
        </div>
    </div>
    <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" (click)='modalRef.hide()'>No</button>
        <button type="button" class="btn btn-primary" (click)='onConfirm()'>Yes</button>
    </div>
</ng-template>

<ng-template #InnerUploadPop>
    <div class="deploymodle-confirmpopup">
        <div class="modal-header" style="border-bottom: none;">
            <h5 class="modal-title" id="saveViewModalTitle">&nbsp;</h5>
            <button type="button" class="close pull-right" style="cursor:
                pointer;" aria-label="Close" (click)='innerUploadmodalRef.hide()'>
                <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
                    <use xlink:href="#ingrAI-icon-close"></use>
                </svg>
            </button>
        </div>
        <div class="modal-body">
            <div class="vds-upload-file-container vds-file-uploader">
                <div class="d-flex align-items-center mb-3">
                    <div class="form-inline">
                        <label class="mb-0 vds-upload-title"><span>Upload File</span></label>
                    </div>
                    <div class="d-flex ml-auto myw-actions">
                        <!-- <input type="button" (click)="showModelView(FMMappingPopup)" class="btn btn-secondary"
                            value="Know Your Model" /> -->
                        <input type="button" (click)="downloadData()" class="btn
                            btn-primary" value="Download Template" />
                    </div>
                </div>
                <div class="vds-sim-upload-container mb-3" (dragover)='allowDrop($event)' (drop)='onDrop($event)'>
                    <img src="assets/MonteCarlo/images/upload.png" alt="Upload" title="Upload">
                    <div class="text-center mt-3">Drop your files here <br> or
                        <div class="vds-choose-file d-inline-flex" id="fileUpload1">
                            <label for="vds-choose-file">Browse</label>
                            <input id="vds-choose-file" type="file" (change)="getFileDetails($event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="vds-download" *ngIf="files && files.length">
                <div class="d-flex align-items-center">
                    <img src="assets/MonteCarlo/images/uploaded-file.png" alt="File">
                    <div class="vds-download-info d-flex flex-column">
                        <span>Completed</span>
                        <span>{{ files[0].name }} </span>
                    </div>
                    <a href="javascript:;" title="Tick" class="vds-download-icon
                        ml-auto">
                        <img src="assets/MonteCarlo/images/tick.svg" alt="Tick"></a>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;">
                <button type="button" class="btn btn-secondary" style="font-size:
                    1rem;" [disabled]="uploadFilesCount==0" (click)="uploadFile()">Upload</button>
                <!-- <button type="button" class="btn btn-primary" style=" font-size: 1rem;" [disabled]="view=='file' && uploadFilesCount==0" (click)="uploadFile()">Upload</button> -->
            </div>
        </div>
    </div>
    <!-- <input type="button" class="btn btn-primary" style="float: right;margin-right: 1em;" [disabled]="uploadFilesCount==0" value="Upload" (click)="uploadFile()"> -->
</ng-template>