<div>
  <div class="-arrow-link js-dropdown highlight"  style="position: relative;">

    <img style="cursor: pointer;" src="assets/images/visual.svg" title="View Graph"/>
    <div class="c-icons__dropdown visualization-arrow -arrow-link-content" [class.nav-active]="show" [hidden]="!show"
      [ngClass]="parentComponent === 'deployedModel' ? 'visualization-position' : ''">
  
      <app-line-chart *ngIf='isTimeSeries && show' [isSingleLine]="true" [frequencyType]="freequecnyTypeonSelection"
        [lineChartData]="lineChart" [lineChartWidth]="150" [lineChartHeight]=150 [isVisualization]="true"
        [visualizationResponse]="visualizationResponse">
      </app-line-chart>
      <app-line-chart *ngIf='isRegression && show' [isSingleLine]="true" [lineChartData]="lineChart" [lineChartWidth]="150"
        [lineChartHeight]=150 [isVisualization]="true" [isRegression]="isRegression"
        [visualizationResponse]="visualizationResponse">
      </app-line-chart>
      <app-stack-chart *ngIf="isClassification && show" [data]="chartData" [ylabels]="ylabels"
        [visualizationResponse]="visualizationResponse"></app-stack-chart>
      <div *ngIf="showErrorMessage"
        style="color: red; height: 150px;justify-content: center; display: flex; align-items: center;">
        <h5>There is no predicted data available. Please contact administrator.</h5>
      </div>
      <div *ngIf = "problemType !== 'TimeSeries'">
      <a role="button" class="btn btn-primary btn-sm mt-1 ingrAI-visual-close" 
      style="color: #fff;"
      >More insight</a></div>
    </div>
  </div>
</div>