.c-icons__help::after {
    top: 0px;
}

   /* help dropdown */
   .c-icons__help-title{ background-color: #EBEBEB; font: normal .875rem/1 'Graphik'; color: #262626; 
    padding: .75rem 1rem; line-height: 1; margin: .375rem 0; }
.c-icons__dropdown .c-icons__help-link{ display: block; font: normal .75rem/1.1 'Graphik'; color: #007BFF; text-decoration: none;
    padding: .375rem 1rem; }
.c-icons__dropdown .c-icons__help-link:hover{ text-decoration: underline; }
// .c-icons__help-link.c-icons__help-external:after{ content: ''; display: inline-block; vertical-align: middle; width: .5rem; height: .5rem; 
//     margin-left: .5rem; background: url('images/icons_help_external.svg') no-repeat center transparent; background-size: .5rem; }
// .c-icons__help-link.c-icons__help-video:before{ content: ''; display: inline-block; vertical-align: middle; width: .75rem; height: .5rem; 
//     margin-right: .375rem; background: url('images/icons_help_video.svg') no-repeat center transparent; background-size: .75rem .5rem; }
// .c-icons__help-section{ display: block; margin-bottom: .375rem; }
.c-icons__help-section .c-icons__help-sectiontitle{ display: block; font: normal .875rem/1 'Graphik'; color: #262626; text-decoration: none;
    padding: .375rem 1rem; background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.047 6.442'%3E%3Cpath fill='none' stroke='%23262626' stroke-width='1.3' d='M-6164.192,17006.568l5.063,5.064-5.063,5.064' transform='translate(17017.156 6164.652) rotate(90)' /%3E%3C/svg%3E") no-repeat calc(100% - .5rem) 50% transparent; background-size: .75rem .375rem; border-bottom: 1px solid #ebebeb; }
.c-icons__help-section.open .c-icons__help-sectiontitle{ color: #000B88; background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.047 6.442'%3E%3Cpath fill='none' stroke='%23000B88' stroke-width='1.3' d='M-6164.192,17006.568l5.063,5.064-5.063,5.064' transform='translate(-17006.109 -6158.21) rotate(-90)' /%3E%3C/svg%3E"); 
    box-shadow: 0 .1875rem .375rem rgba(0,0,0,.16); }
.c-icons__help-sectioninner{ background-color: #fff; box-shadow: 0 .1875rem .375rem rgba(0,0,0,.16); padding: .375rem 0; }
.c-icons__help-section:not(.open) .c-icons__help-sectioninner{ display: none; }

.footer-documentlinks {
    .modal-header {
        padding: 0.5rem;
        background-color: #696969;
        border-radius: 0;
        color: #fff;
    }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
    }

    .modal-header .close {
        color: #fff;
        outline: 0;
        padding: 0;
        margin: 0;
        opacity: 1;
        font-weight: normal;
        font-size: 26px;
    }

    .modal-body {
        height: inherit;
        max-height: 27.15rem; //100%;
        overflow: auto;
        line-height: 1.5;
        font-size: 0.994rem;
        width: 75.18rem;
    }

}

.ingrAI-icon-svg-external {
    fill: #262626;
    margin-left: 0.25rem;
    width: .75rem;
    height: .75rem;
}
.c-icons__dropdown a:hover {
    text-decoration: none !important;
}
.ingrAI-help-links {
    display: flex;
    flex-direction: column;
    a > span {
        vertical-align: middle;
    }
    a {
        color: #007ad9 !important;
    }
}

.ingrAI-help-links > a + a {
    margin-top: 0.5rem;
}
