<span class="custom-option-title myw-required" *ngIf="!previousQuery">Enter Query</span>
<span class="custom-option-title" *ngIf="previousQuery">Entered Query</span>
<app-info-tooltip [className]="'toggleLeft'">
    <div class="htmlDesignedTooltip">
        <div class="myw-scrollbar" style="max-height: 45vh">
            <div>
                <b>Points to remember while writing query are :</b>
                <ul>
                    <li><b>•</b> Query must contain 'cursor' key. </li>
                    <li><b>•</b> Each key value pair should be enclosed either within single or double quotes.</li>
                    <li><b>•</b> Extra spaces should not be entered.</li>
                    <li><b>•</b> Query should fetch atleast one date field.</li>
                    <li><b>•</b> While Testing query, a maximum of 20 records will be visible irrespective of the batchsize.</li>
                </ul>
            </div>
        </div>
    </div>
</app-info-tooltip>
    <div class="row">
        <span class="col-9">
            <textarea maxlength="20000" class="form-control" placeholder="{{placeholder}}" #queryText  (keyup)="onKey(queryText.value);textAreaAdjust($event)" [(ngModel)]="query" [ngClass]="isDisabled === true ? 'disabled' : ''" [rows]="rows" style="overflow: hidden;"></textarea>
            <label class="form-label">You have {{ 20000 - query?.length}} of 20000 characters remaining.</label>
            <!-- <input type="text" class="form-control" placeholder="{{placeholder}}" #queryText  (keyup)="onKey(queryText.value)" [(ngModel)]="query" [ngClass]="isDisabled === true ? 'disabled' : ''"> -->
        </span>
        
        <span class="col-3 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary btn-footer" [disabled]="errorvalid" (click)="submitQuery()" *ngIf="!isDisabled">Test</button>
            <button type="button" class="btn btn-primary btn-footer" *ngIf="isQueryButtonEnabled" (click)="saveQuery()">Save
                Query</button>
        </span>
    </div>
    <div *ngIf="errorvalid  && query">
        <label style="color: red;font-size:smaller">
            Invalid Query Entered.. Please Eneter a valid Query and Try Again!!
        </label>
    </div>
    
<div class="result-view" *ngIf="queryResponse.length > 0">
    Result : <br/>
    <div class="table-responsive myw-scrollbar" style="max-height: 40vh;">
        <table class="table table-striped table-hover table-vmiddle myw-table">
            <thead>
                <tr>
                    <th *ngFor="let header of showDataColumnsList" scope="col">{{header}}</th>
                </tr>
            </thead>

            <ng-container *ngIf="problemTypeFlag; then TimeSeries; else noTimeSeries">
            </ng-container>

            <ng-template #noTimeSeries>
                <tbody>
                    <tr *ngFor="let row of tableData | paginate: { id: 'showData_pagination',
                                      itemsPerPage: 10,
                                      currentPage: page
                                     }">
                        <td *ngFor='let header of showDataColumnsList'>
                            {{row[header]}}
                        </td>
                    </tr>
                </tbody>
            </ng-template>

            <ng-template #TimeSeries>
                <tbody>
                    <tr *ngFor="let row of tableData[activeTab] | paginate: { id: 'showData_pagination',
                                        itemsPerPage: 10,
                                        currentPage: page
                                       }">
                        <td *ngFor='let header of showDataColumnsList'>
                            {{row[header]}}
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
    <div class="d-flex align-items-center justify-content-end myw-pagination" style="margin: 0rem;">
        <div class="d-flex pt-10">
            <pagination-controls id="showData_pagination" maxSize="10" directionLinks="true"
                (pageChange)="page = $event">
            </pagination-controls>
        </div>
    </div>

</div>