<div id="legend"></div>
<div class="d-flex justify-content-center"><h6>{{modelName}} Predicted Output</h6></div>
<div id="chart" #containerBarChart></div>
<div class="d-flex justify-content-center"><h6>{{modelName}}</h6></div>
<pagination-controls id="listing_pagination" maxSize="25" directionLinks="true" (pageChange)="changePage($event)">
</pagination-controls>
<ng-container>
    <div *ngFor="let predictions of dataCopy | paginate:
            { id: 'listing_pagination',  itemsPerPage: pageSize,
              currentPage: pageNumber, totalItems: dataCopy.length };let listIndex = index" class="h-100"
        style="overflow-y: auto;overflow-x: hidden;">
        <div style="display: none;">
            {{ listIndex }}
        </div>
    </div>
</ng-container>


<!-- <div class="outer">
    <div class="inner" [style.width]="width+'px'">
        <div class="d-flex justify-content-center">
            <h6>{{modelName}} Predicted Output</h6>
        </div>
        <div id="legend"></div>
        <div class="span4" id="chart">
        </div>
        <div class="d-flex justify-content-center">
            <h6>{{modelName}}</h6>
        </div>
    </div>
</div> -->

