<!-- Sub Navbar -->
<!-- <div class="ingrAI-subnavrbar ingrAI-subnav-col">
  <div class="row">
      <div class="col-2 d-flex flex-column ingrAI-subnav-col-name">
          <div class="d-flex align-items-center">
              <span class="mr-2">Usecase</span>
          </div>
          <div class="ingrAI-subnav-col-filename">
              {{modelName}}
          </div>
      </div>
      <div class="col-7 d-flex align-items-center ingrAI-subnav-col-name">
          <nav aria-label="breadcrumb" class="de-breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item" [ngClass]="pageStatus == 'chooseCascade' ? 'active' : ''"><a href="javascript:;"  routerLink="chooseCascadeModels">Choose Model</a></li>
                  <li class="breadcrumb-item" [ngClass]="pageStatus == 'mapCascade' ? 'active' : ''"><a href="javascript:;"  routerLink="mapCascadeModels">Mapping</a></li>
                  <li class="breadcrumb-item" [ngClass]="pageStatus == 'publishCascade' ? 'active' : ''"><a href="javascript:;"  routerLink="publishCascadeModels">Publish Model</a></li>
                  <li class="breadcrumb-item" [ngClass]="pageStatus == 'deployCascade' ? 'active' : ''"><a href="javascript:;"  routerLink="deployCascadeModels">Deploy Model</a></li>
              </ol>
          </nav>
      </div>
      
  </div>
</div> -->

<div class="d-flex align-items-center" *ngIf="this.router.url.includes('cascadeModels') == true">
  <div class="fs-18 myw-500">
      <a (click)="navigateToFocusAreaPage()" href="javascript:;" class="text-reset text-decoration-none mr-2" title="Back" aria-label="Back"><img src="assets/images/back.svg" alt="Back" class="myw-icon"></a> 
      <span>Cascading <span *ngIf="modelName!='' && modelName!=undefined">:</span> {{modelName}}</span>
  </div>
  <div class="myw-steps myw-cas-steps ml-auto w-50">
      <!-- <a href="javascript:;" class="myw-step active" [ngClass]="pageStatus == 'chooseCascade' ? 'active' : ''" routerLink="chooseCascadeModels"><span>Choose Model</span></a>
      <a href="javascript:;" class="myw-step disabled" [ngClass]="pageStatus == 'mapCascade' ? 'active' : ''" routerLink="mapCascadeModels"><span>Mapping</span></a>
      <a href="javascript:;" class="myw-step disabled" [ngClass]="pageStatus == 'publishCascade' ? 'active' : ''" routerLink="publishCascadeModels"><span>Publish Model</span></a>
      <a href="javascript:;" class="myw-step disabled" [ngClass]="pageStatus == 'deployCascade' ? 'active' : ''" routerLink="deployCascadeModels"><span>Deployed Model</span></a> -->
      <a *ngFor=" let tab of cascadeBreadCrumb; let i = index" class="myw-step" (click)="panelClick(i, true)"
              [ngClass]="tab.breadcrumbStatus === 'disabled'? 'disabled' : tab.breadcrumbStatus"
              title="{{tab.mainTab}}"><span>{{tab.mainTab}}</span></a>
  </div>
</div>

<!-- Sub Navbar -->
<!-- <div class="ingrAI-subnavrbar ingrAI-subnav-col">
    <div class="row">
      <div class="col-3 d-flex flex-column ingrAI-subnav-col-name">
        <div class="d-flex align-items-center">
          <span class="mr-2">Usecase</span>
        </div>
        <div class="ingrAI-subnav-col-filename">SLA Prediction</div>
      </div>
      <div class="col-3 d-flex flex-column ingrAI-subnav-col-name">
        <div class="d-flex align-items-center">
          <span class="mr-2">Data Source</span>
          <span><svg class="ingrAI-icon-svg ingrAI-icon-svg-sm"><use xlink:href="#ingrAI-icon-link"></use></svg></span>
        </div>
        <div class="ingrAI-subnav-col-filename">VBES SLA latest.xslx</div>
      </div>
      <div class="col-3 d-flex flex-column ingrAI-subnav-col-name">
        <div class="d-flex align-items-center">
          <span class="mr-2">Model Name</span>
        </div>
        <div class="ingrAI-subnav-col-filename">AON_SLA Prediction_1.3</div>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center pr-0">
        <input type="button" class="btn btn-primary ingrAIn-btn mr-2" value="Save As">
        <a href="javascript:;" class="d-flex align-items-center" alt="Help" title="Help"><svg class="ingrAI-icon-svg ingrAI-icon-svg-md"><use xlink:href="#ingrAI-icon-help"></use></svg></a>
      </div>
    </div>
  </div> -->
  <!-- /Sub Navbar -->

<router-outlet (activate)="onActivate($event)"></router-outlet>