
.ingrAIn-filter-submenu-container .ingrAIn-filter-submenu-content { display:none; }
.ingrAIn-filter-submenu-container:hover .ingrAIn-filter-submenu-content { display:block; }
.ingrAIn-filter-submenu-content.submenu-left { right:10rem; }
.ingrAIn-filter-submenu-content  { position: relative; will-change: transform;top: -1rem;left: 5rem; z-index: 1000;float: left;
    min-width: 10rem; padding:0.5rem 0.7rem; margin:0; font-size: 1rem; color: #212529; text-align: left; list-style: none; background-color: #fff; background-clip: padding-box;
    border: 1px solid #bdc9da;; border-radius:0; }
.ingrAIn-filter-submenu-content:before { content: ''; display: block; width: 0.75rem; height: 0.75rem; position: relative; top: 0rem; left: -1.1rem; border: 1px solid #bdc9da;
    border-width: 1px 0 0 1px; background-color: #fff; transform: rotate(-45deg); z-index: -1;	 }
.ingrAIn-filter-submenu-switch  .btn-primary { background:#fff; color:#10add3;border-color:#10add3; }
.ingrAIn-filter-submenu-switch  .btn-primary.active, .ingrAIn-filter-submenu-switch .btn-primary:not(:disabled):not(.disabled):active { background-color:#10add3!important; color:#fff; border-color:#10add3!important; }
.ingrAIn-filter-submenu-switch .btn-primary:hover { padding:0.5rem 1.5rem!important; }
.ingrAIn-filter-submenu-action { display:flex; flex-direction:column; align-items:center; border: 1px solid #cad4e1; background:#fff; border-radius:0.4rem; padding:0.4rem; margin:0.5rem 0 1rem 0; }
.ingrAIn-filter-submenu-action  .btn-secondary, .ingrAIn-filter-submenu-action .btn-secondary:not(:disabled):not(.disabled):active{ background:#ccc; height:100%;}
    
.close{ display: block; width: 1.5rem; height: 1.5rem; text-shadow: none;  
	padding: 0; margin: 0; opacity: .8; z-index: 1; overflow: hidden; outline: 0;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.945 9.943'%3E%3Cg transform='translate(-0.026 -0.029)'%3E%3Cpath fill='%23000000' d='M6.151,4.971,9.7,1.419A.832.832,0,1,0,8.526.242L4.974,3.794,1.422.242A.832.832,0,1,0,.245,1.419L3.8,4.971.245,8.523A.832.832,0,0,0,1.422,9.7L4.974,6.148,8.526,9.7A.832.832,0,0,0,9.7,8.523Z' transform='translate(0.026 0.029)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center transparent; 
  background-size: .75rem; position: relative; top: -.125rem; right: -.25rem; }

  .modal-header > .close{ display: block; width: 1.5rem; height: 1.5rem; text-shadow: none;  
    padding: 0; margin: 0; opacity: .8; z-index: 1; overflow: hidden; outline: 0;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.945 9.943'%3E%3Cg transform='translate(-0.026 -0.029)'%3E%3Cpath fill='%23ffffff' d='M6.151,4.971,9.7,1.419A.832.832,0,1,0,8.526.242L4.974,3.794,1.422.242A.832.832,0,1,0,.245,1.419L3.8,4.971.245,8.523A.832.832,0,0,0,1.422,9.7L4.974,6.148,8.526,9.7A.832.832,0,0,0,9.7,8.523Z' transform='translate(0.026 0.029)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center transparent; 
    background-size: .75rem; position: relative; top: -.125rem; right: -.25rem; }

    .ingrain-attr-col { padding: 1.125rem 0.6rem; }

    .visiblity-hidden { visibility: hidden;}
    .visiblity-show { visibility: visible;}
