<!-- <div id="main" class="ingrAI-content ingrAI-cust-wrap flex-fill" style="width: 1200px;">
  <button type="button" class="close" style="cursor: pointer; padding: 6px; color: red" aria-label="Close"
    (click)="closeFeaturePopUp()">
    <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
      <use xlink:href="#ingrAI-icon-close"></use>
    </svg>
  </button>
  <div class="ingrAI-body-content">
    <div class="">
      <form [formGroup]="newFeatureForm">
        <div class="ingrAI-heading mb-2">Add a Custom Attribute</div>
        <div formArrayName="attribute">
          <div *ngFor="let section of getDefaultAttributeArray(newFeatureForm); let featureIndex = index;">
            <div [formGroupName]='featureIndex'>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <input type="text" (change)="getFeatureNameInput(featureIndex)" class="form-control"
                      placeholder="Column name" formControlName="featureName">
                  </div>

                </div>
              </div>
   
              <div class="row align-items-center mb-4">
                <div class="col-12 col-lg-8 col-xl-10">

                  <div class="ingrAIn-feature-filter-container">
                    <div class="row no-gutters  scrollable-height" style="flex-wrap: nowrap;"
                      formArrayName='defaultBlockControls'>
                      <ng-container [formGroupName]="operationRowIndex"
                        *ngFor="let defaultControlSection of getDefaultControl(section); let operationRowIndex = index; let lastOperation = last">
                  
                        <div class="col-2 ingrAIn-feature-filter-col mr-2" #OperationType>
                          <div class="dropdown">
                            <app-operation-type-dropdown [value]='getOperationType(featureIndex, operationRowIndex)'
                              (selectedOption)='setOperationType($event,featureIndex, operationRowIndex) '>
                            </app-operation-type-dropdown>
                          </div>
                          <div class="row no-gutters align-items-start"
                            *ngIf="getOperationType(featureIndex, operationRowIndex)">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span class="mr-1">{{getOperationType(featureIndex, operationRowIndex)}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'OperationType')">x</span>
                              </div>
                            </div>
                          </div>
                        </div>
                    
                        <div #ColumnDropdownDateTimeOperation
                          *ngIf="getOperationType(featureIndex, operationRowIndex) == 'Date & Time'"
                          class="col-2 ingrAIn-feature-filter-col mr-2">
                          <app-column-dropdown [defaultOptionName]="'Date&Time - Datatypes'"
                            [value]="getControlValue(featureIndex, operationRowIndex,'columnNames')"
                            [options]="this.defaultDataTimeList"
                            (selectedColumnOption)="setSelectedColumn($event,featureIndex, operationRowIndex, 'dropdown', 'columnNames' )">
                          </app-column-dropdown>

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex, 'columnNames').length > 0">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex,'columnNames')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'columnNames', 'dropdown')">x</span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div #TextBoxForRequiredOperations
                          *ngIf="IsTextInputDisplayed( getOperationType(featureIndex, operationRowIndex))"
                          class="col-2 ingrAIn-feature-filter-col mr-2 ">
                          <input type="text" (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                            class="form-control" placeholder=" Enter Value" formControlName="columnNameInput"
                             >

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex, 'columnNameInput')">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex, 'columnNameInput')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'columnNameInput')">x</span>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div #TextInputIfOperationisReplace
                          *ngIf="getOperationType(featureIndex, operationRowIndex) === 'replace'"
                          class="col-2 ingrAIn-feature-filter-col mr-2 ">
                          <input type="text" (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                            class="form-control" placeholder=" Enter Value" formControlName="columnNameInput2"
                             >

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex, 'columnNameInput2')">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex, 'columnNameInput2')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'columnNameInput2')">x</span>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div #NumberInputforSubstring
                          *ngIf="getOperationType(featureIndex, operationRowIndex) === 'substring'"
                          class="col-1 ingrAIn-feature-filter-col mr-2 ">
                          <input type="number"
                            (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                            class="form-control" placeholder="number" formControlName="columnNameInput"
                            min='0'>

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex, 'columnNameInput')">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex, 'columnNameInput')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'columnNameInput')">x</span>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div #NumberInputforSubstring
                          *ngIf="getOperationType(featureIndex, operationRowIndex) === 'substring'"
                          class="col-1 ingrAIn-feature-filter-col mr-2 ">
                          <input type="number"
                            (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                            class="form-control" placeholder="number" formControlName="columnNameInput2"
                            [min]="(getControlValue(featureIndex, operationRowIndex, 'columnNameInput') + 1)" >

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex, 'columnNameInput2')">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex, 'columnNameInput2')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'columnNameInput2')">x</span>
                              </div>
                            </div>
                          </div>

                        </div>


                        <div #ColumnDropdownOperation
                          *ngIf="getOperationType(featureIndex, operationRowIndex) !== 'Custom'"
                          class="col-2 ingrAIn-feature-filter-col mr-2">
                          <app-column-dropdown [defaultOptionName]="'Column Dropdown'"
                            [value]="getControlValue(featureIndex, operationRowIndex,'columnDropdown')"
                            [options]="optionsList[featureIndex+''+operationRowIndex]"
                            (selectedColumnOption)="setSelectedColumn($event,featureIndex, operationRowIndex, 'dropdown', 'columnDropdown' )">
                          </app-column-dropdown>

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex, 'columnDropdown').length > 0">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex,'columnDropdown')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'columnDropdown', 'dropdown')">x</span>
                              </div>
                            </div>
                          </div>
                        </div>


                        <div #ColumnDropdownOperationisValues class="col-2 ingrAIn-feature-filter-col mr-2"
                          *ngIf="getOperationType(featureIndex, operationRowIndex) == 'Values'">
                          <app-column-dropdown [defaultOptionName]="'Unique Values'"
                            [value]="getControlValue(featureIndex, operationRowIndex,'SelectedUniqueValue')"
                            [options]="uniqueValueDropDownList[featureIndex+''+operationRowIndex]"
                            (selectedColumnOption)='setSelectedUniqueValue($event,featureIndex, operationRowIndex)'>
                          </app-column-dropdown>

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex,'SelectedUniqueValue')">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex,'SelectedUniqueValue')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'SelectedUniqueValue')">x</span>
                              </div>
                            </div>
                          </div>
                        </div>
           
                        <div class="col-2 ingrAIn-feature-filter-col mr-2"
                          *ngIf='isOperatorTypeValueRequired(operationRowIndex, featureIndex)'>
                          <div class="dropdown">
                            <select
                              (change)="getSelectedOperator($event, operationRowIndex, featureIndex, lastOperation)"
                              class="" formControlName="Operator" aria-labelledby="operatortype2"
                              [value]="getControlValue(featureIndex, operationRowIndex,'Operator') == undefined ? '' : getControlValue(featureIndex, operationRowIndex,'Operator')">
                              <option class="dropdown-item" value="" selected disabled>Operator</option>
                              <option class="dropdown-item" value="greater than" type="button">></option>
                              <option class="dropdown-item" value="greater than equal to" type="button">>=</option>
                              <option class="dropdown-item" value="less than" type="button">
                                < </option> <option class="dropdown-item" value="less than equal to" type="button">
                                  <= </option> <option class="dropdown-item" value="equal to" type="button">==
                              </option>
                              <option class="dropdown-item" value="not equal to" type="button">!=</option>
                              <option class="dropdown-item" value="and" type="button">AND</option>
                              <option class="dropdown-item" value="or" type="button">OR</option>
                        
                              <option class="dropdown-item" value="multiply" type="button">Multiply</option>
                              <option class="dropdown-item" value="divide" type="button">Divide</option>
                              <option class="dropdown-item" value="add" type="button">Add</option>
                              <option class="dropdown-item" value="subtract" type="button">Subtract</option>
                           
                              <option class="dropdown-item" value="Business Days Between" type="button">Business Days
                                Between</option>
                              <option class="dropdown-item" value="Months Between" type="button">Months Between</option>
                              <option class="dropdown-item" value="Years Between" type="button">Years Between</option>
                              <option class="dropdown-item" value="Hours Between" type="button">Hours Between</option>
                              <option class="dropdown-item" value="Minutes Between" type="button">Minutes Between
                              </option>
                              <option class="dropdown-item" value="Seconds Between" type="button">Seconds Between
                              </option>
                         
                            </select>
                          </div>

                          <div class="row no-gutters align-items-start"
                            *ngIf="getControlValue(featureIndex, operationRowIndex,'Operator')">
                            <div class="col ingrAIn-feature-filter-item-container">
                              <div class="ingrAIn-feature-filter-item">
                                <span
                                  class="mr-1">{{getControlValue(featureIndex, operationRowIndex,'Operator')}}</span>
                                <span class="item-close"
                                  (click)="resetControl(featureIndex, operationRowIndex, 'Operator')">x</span></div>
                            </div>
                          </div>
                       
                          <div class="ingrAIn-filter-submenu-content" *ngIf="showValuePopUp[featureIndex]"
                            style="font-size: 1em;">
      
                            <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
                              (click)="closeValuePopUp(featureIndex)">
                              <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
                                <use xlink:href="#ingrAI-icon-close"></use>
                              </svg>
                            </button>
                            <label class="checkcontainer" style="width: 50%;">
                              <span>Value</span>
                              <input #value_checkValue (change)="setValueCheck(value_checkValue, featureIndex)"
                                type="checkbox" [checked]="value_check[featureIndex] == 'true'">
                              <span class="checkmark"></span>
                            </label>

                            <div class="btn-group btn-group-toggle ingrAIn-filter-submenu-switch" data-toggle="buttons">
                              <label class="btn btn-small btn-primary active"
                                (click)='selectedValueCheck(true, featureIndex)'>
                                <input type="radio" #true name="options" id="option1" autocomplete="off" checked> True
                              </label>
                              <label class="btn btn-small btn-primary"
                                (click)='selectedValueCheck(false, featureIndex)'>
                                <input type="radio" #false name="options" id="option2" autocomplete="off"> False
                              </label>
                            </div>
                            <div class="ingrAIn-filter-submenu-action" *ngIf='isSelectedTrueorFalse == true'>
                     
                              <div class="dropdown" style="margin-bottom: 0.4em;">
                                <app-operation-type-dropdown [value]="valueData[featureIndex].true['OperationType']"
                                  (selectedOption)='setOperationTypeForValuePopUp($event,featureIndex)'>
                                </app-operation-type-dropdown>
                              </div>
             
                              <div></div>

                   
                              <div *ngIf="valueData[featureIndex].true['OperationType'] == 'Date & Time'"
                                class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                         
                                <app-column-dropdown [defaultOptionName]="'Date&Time - Datatypes'"
                                  [value]="valueData[featureIndex].true['Column']"
                                  [optionsListForValuePopUp]='this.defaultDataTimeList'
                                  (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex, 'Column', $event)">
                                </app-column-dropdown>
                              </div>
                      
                              <div *ngIf="IsTextInputDisplayed(valueData[featureIndex].true['OperationType'])"
                                class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                                <input type="text" #columnDropDownInput [value]="valueData[featureIndex].true['Value']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                                  class="form-control" placeholder=" Enter Value"
                                   >
                              </div>

                              <div *ngIf="valueData[featureIndex].true['OperationType'] == 'replace'"
                                class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                                <input type="text" #columnDropDownInput [value]="valueData[featureIndex].true['Value2']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                                  class="form-control" placeholder=" Enter Value"
                                   >
                              </div>

                              <div *ngIf="valueData[featureIndex].true['OperationType'] == 'substring'"
                                class="ingrAIn-feature-filter-col"
                                style="width: 98%;margin-bottom: 0.4em;display: flex;">
                                <input type="number" #columnDropDownInput
                                  [value]="valueData[featureIndex].true['Value']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                                  min='0'
                                  class="form-control" placeholder="number"
                                   >

                                <input type="number" #columnDropDownInput
                                  [value]="valueData[featureIndex].true['Value2']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                                  [min]="(valueData[featureIndex].true['Value'] + 1)"
                                  class="form-control" placeholder="number"
                                   >
                              </div>
                   
                              <div *ngIf="valueData[featureIndex].true['OperationType'] !== 'Custom'"
                                class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                          
                                <app-column-dropdown [defaultOptionName]="'Column Dropdown'"
                                  [value]="valueData[featureIndex].true['ColDrp']"
                                  [optionsListForValuePopUp]='optionsListForValuePopUp[featureIndex]'
                                  (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex,'ColDrp', $event)">
                                </app-column-dropdown>
                              </div>


                              <div *ngIf="valueData[featureIndex].true['OperationType'] == 'Values'"
                                class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                                <app-column-dropdown [defaultOptionName]="'Unique Values'"
                                  [value]="valueData[featureIndex].true['Value']"
                                  [options]="uniqueValueDropDownListForValuePop[featureIndex]"
                                  (selectedColumnOption)='setValueForValuePopUp(featureIndex, $event, "Value")'>
                                </app-column-dropdown>
                              </div>
                         
                            </div>

                            <div class="ingrAIn-filter-submenu-action" *ngIf='isSelectedTrueorFalse == false'>
                           
                              <div class="dropdown" style="margin-bottom: 0.4em;">

                                <app-operation-type-dropdown [value]="valueData[featureIndex].false['OperationType']"
                                  (selectedOption)='setOperationTypeForValuePopUp($event,featureIndex)'>
                                </app-operation-type-dropdown>
                              </div>
                         

                              <div></div>

                        
                              <div *ngIf="IsTextInputDisplayed(valueData[featureIndex].false['OperationType'])"
                                class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                                <input type="text" #columnDropDownInput [value]="valueData[featureIndex].false['Value']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                                  class="form-control" placeholder=" Enter Value"
                                   >
                              </div>

                          

                              <div *ngIf="valueData[featureIndex].false['OperationType'] == 'replace'"
                                class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                                <input type="text" #columnDropDownInput
                                  [value]="valueData[featureIndex].false['Value2']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                                  class="form-control" placeholder=" Enter Value"
                                   >
                              </div>


                              <div *ngIf="valueData[featureIndex].false['OperationType'] == 'substring'"
                                class="ingrAIn-feature-filter-col"
                                style="width: 98%;margin-bottom: 0.4em;display: flex;">
                                <input type="number" #columnDropDownInput
                                  [value]="valueData[featureIndex].false['Value']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                                  class="form-control" placeholder="number"
                                   >

                                <input type="number" #columnDropDownInput
                                  [value]="valueData[featureIndex].false['Value2']"
                                  (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                                  class="form-control" placeholder="number"
                                   >
                              </div>

                              <div *ngIf="valueData[featureIndex].false['OperationType'] == 'Date & Time'"
                                class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                              
                                <app-column-dropdown [defaultOptionName]="'Date&Time - Datatypes'"
                                  [value]="valueData[featureIndex].false['Column']"
                                  [optionsListForValuePopUp]='this.defaultDataTimeList'
                                  (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex, 'Column', $event)">
                                </app-column-dropdown>
                              </div>

                              <div *ngIf="valueData[featureIndex].false['OperationType'] !== 'Custom'"
                                class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                               
                                <app-column-dropdown [defaultOptionName]="'Column Dropdown'"
                                  [value]="valueData[featureIndex].false['ColDrp']"
                                  [optionsListForValuePopUp]='optionsListForValuePopUp[featureIndex]'
                                  (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex,'ColDrp', $event)">
                                </app-column-dropdown>
                              </div>



                              <div *ngIf="valueData[featureIndex].false['OperationType'] == 'Values'"
                                class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                                <app-column-dropdown [defaultOptionName]="'Unique Values'"
                                  [value]="valueData[featureIndex].false['Value']"
                                  [options]="uniqueValueDropDownListForValuePop[featureIndex]"
                                  (selectedColumnOption)='setValueForValuePopUp(featureIndex, $event, "Value")'>
                                </app-column-dropdown>
                              </div>
                            </div>

                          </div>
                       
                        </div>

                  

                        <div #addbuttonDiv class="align-items-center" *ngIf='lastOperation'>
                          <button #addbutton (click)="addNewOperationRow(featureIndex, $event)"
                            class="btn btn-primary ingrAin-add-btn" style="margin: 0.5em 0.1em;" data-toggle="tooltip"
                            data-placement="top" title="Add operation" type="button">+</button>
                        </div>

                        <div #addbuttonDiv class="align-items-center" *ngIf='lastOperation && operationRowIndex > 0'>
                          <button #rebutton (click)="removeOperationRow(featureIndex, operationRowIndex, $event)"
                            class="btn btn-primary ingrAin-add-btn" style="margin: 0.5em 0.1em;" data-toggle="tooltip"
                            data-placement="top" title="Remove operation" type="button">-</button>
                        </div>

                      </ng-container>

                    </div>

                  </div>

                </div>
                <div class="col-12 col-lg-4 col-xl-2 d-flex justify-content-end align-items-center">
                  <div class="ingrAIn-feature-filter-btn d-flex align-items-center">
                    <input (click)="repeatAttributeBlock(featureIndex)" type="button" class="btn btn-primary  btn-small"
                      value="Add">
                    <input (click)="removeSection(featureIndex)" type="button" class="btn btn-primary  btn-small"
                      value="Remove"
                      [disabled]="featureIndex == 0 && getCurrentFeatureName(featureIndex) === targetColumn">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>


      <div class="d-flex justify-content-end">
        <input type="button" class="btn btn-primary" value="Create" (click)='submitAddFeatureParametersToAPI()'>
      </div>

    </div>
  </div>
</div> -->


<div class="modal-header">
  <h5 class="modal-title" id="addFeatureModalTitle">Add a Column Attribute</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeFeaturePopUp()">
    <span aria-hidden="true">&nbsp;</span>
  </button>
</div>

<div class="modal-body myw-scrollbar" style="max-height: 500px;">
  <form [formGroup]="newFeatureForm">
    <div formArrayName="attribute">
      <div *ngFor="let section of getDefaultAttributeArray(newFeatureForm); let featureIndex = index; let featureLastIndex = last">
        <div [formGroupName]='featureIndex'>
          <div class="row">
            <div class="col">
              <div class="ingrain-attr-col myw-scrollbar" style="max-width: 46rem;">
                <div class="d-flex mb-2">

                  <input type="text" #featureValue (change)="getFeatureNameInput(featureIndex)" class="form-control col-4"
                    placeholder="Attribute name" maxlength="70" formControlName="featureName">

                  <a href="javascript:;" class="ml-auto" style="position: absolute; right: 2.2em;">
                    <img src="assets/images/delete.svg" alt="Delete" (click)="removeSection(featureIndex)"
                      class="myw-icon myw-20" /></a>
                </div>
                <label class="form-label">You have {{ 70 - featureValue?.value?.length }} of 70 characters remaining.</label>
                <div class="row" formArrayName='defaultBlockControls' style="flex-wrap: nowrap;">
                  <ng-container [formGroupName]="operationRowIndex"
                    *ngFor="let defaultControlSection of getDefaultControl(section); let operationRowIndex = index; let lastOperation = last">
                    <div class="col-3">
                      <div class="form-group mb-0">
                        <label class="form-label">Operation Type</label>

                        <app-operation-type-dropdown [value]='getOperationType(featureIndex, operationRowIndex)'
                          (selectedOption)='setOperationType($event,featureIndex, operationRowIndex) '>
                        </app-operation-type-dropdown>
                      </div>
                    </div>

                    <div class="col-3" *ngIf="getOperationType(featureIndex, operationRowIndex) == 'Date & Time'">
                      <div class="form-group mb-0">
                        <label class="form-label">Column Dropdown</label>

                        <app-column-dropdown [defaultOptionName]="'Date&Time - Datatypes'"
                          [value]="getControlValue(featureIndex, operationRowIndex,'columnNames')"
                          [options]="this.defaultDataTimeList"
                          (selectedColumnOption)="setSelectedColumn($event,featureIndex, operationRowIndex, 'dropdown', 'columnNames' )">
                        </app-column-dropdown>
                      </div>
                    </div>

                    <div class="col-3" *ngIf="IsTextInputDisplayed( getOperationType(featureIndex, operationRowIndex))">
                      <div class="form-group mb-0">
                        <label class="form-label">{{getOperationType(featureIndex, operationRowIndex) | titlecase}} Value</label>

                        <input type="text" (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                          class="form-control" placeholder=" Enter Value" formControlName="columnNameInput">
                      </div>
                    </div>

                    <div class="col-3" *ngIf="getOperationType(featureIndex, operationRowIndex) === 'replace'">
                      <div class="form-group mb-0">
                        <label class="form-label">Replace Value With</label>
                        <input type="text" (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                          class="form-control" placeholder=" Enter Value" formControlName="columnNameInput2">
                      </div>
                    </div>

                    <div class="col-3" *ngIf="getOperationType(featureIndex, operationRowIndex) === 'substring'">
                      <div class="form-group mb-0">
                        <label class="form-label">Index number</label>
                        <input type="number" (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                          class="form-control" placeholder="number" formControlName="columnNameInput">
                      </div>
                    </div>

                    <div class="col-3" *ngIf="getOperationType(featureIndex, operationRowIndex) === 'substring'">
                      <div class="form-group mb-0">
                        <label class="form-label">Index number</label>
                        <input type="number" (change)="getSelectedColumn(operationRowIndex, featureIndex, 'inputfield')"
                          class="form-control" placeholder="number" formControlName="columnNameInput2">
                      </div>
                    </div>

                    <div class="col-3" *ngIf="getOperationType(featureIndex, operationRowIndex) !== 'Custom'">
                      <div class="form-group mb-0">
                        <label class="form-label">Column Dropdown</label>

                        <app-column-dropdown [defaultOptionName]="'Column Dropdown'"
                          [value]="getControlValue(featureIndex, operationRowIndex,'columnDropdown')"
                          [options]="optionsList[featureIndex+''+operationRowIndex]"
                          (selectedColumnOption)="setSelectedColumn($event,featureIndex, operationRowIndex, 'dropdown', 'columnDropdown' )">
                        </app-column-dropdown>
                      </div>
                    </div>

                    <div class="col-3" *ngIf="getOperationType(featureIndex, operationRowIndex) == 'Values'">
                      <div class="form-group mb-0">
                        <label class="form-label">Unique Values</label>

                        <app-column-dropdown [defaultOptionName]="'Unique Values'"
                          [value]="getControlValue(featureIndex, operationRowIndex,'SelectedUniqueValue')"
                          [options]="uniqueValueDropDownList[featureIndex+''+operationRowIndex]"
                          (selectedColumnOption)='setSelectedUniqueValue($event,featureIndex, operationRowIndex)'>
                        </app-column-dropdown>
                      </div>
                    </div>

                    <div class="col-3" *ngIf='isOperatorTypeValueRequired(operationRowIndex, featureIndex)'>
                      <div class="form-group mb-0">
                        <label class="form-label">Operator</label>

                        <select (change)="getSelectedOperator($event, operationRowIndex, featureIndex, lastOperation)"
                          class="form-control" formControlName="Operator" aria-labelledby="operatortype2"
                          [value]="getControlValue(featureIndex, operationRowIndex,'Operator') == undefined ? '' : getControlValue(featureIndex, operationRowIndex,'Operator')">
                          <option class="dropdown-item" value="" selected disabled>Operator</option>
                          <option class="dropdown-item" value="greater than" type="button">></option>
                          <option class="dropdown-item" value="greater than equal to" type="button">>=</option>
                          <option class="dropdown-item" value="less than" type="button">
                            < </option> <option class="dropdown-item" value="less than equal to" type="button">
                              <= </option> <option class="dropdown-item" value="equal to" type="button">==
                          </option>
                          <option class="dropdown-item" value="not equal to" type="button">!=</option>
                          <option class="dropdown-item" value="and" type="button">AND</option>
                          <option class="dropdown-item" value="or" type="button">OR</option>

                          <option class="dropdown-item" value="multiply" type="button">Multiply</option>
                          <option class="dropdown-item" value="divide" type="button">Divide</option>
                          <option class="dropdown-item" value="add" type="button">Add</option>
                          <option class="dropdown-item" value="subtract" type="button">Subtract</option>
                          <option class="dropdown-item" value="Business Days Between" type="button">Business Days
                            Between</option>
                          <option class="dropdown-item" value="Months Between" type="button">Months Between</option>
                          <option class="dropdown-item" value="Years Between" type="button">Years Between</option>
                          <option class="dropdown-item" value="Hours Between" type="button">Hours Between</option>
                          <option class="dropdown-item" value="Minutes Between" type="button">Minutes Between
                          </option>
                          <option class="dropdown-item" value="Seconds Between" type="button">Seconds Between
                          </option>
                        </select>
                      </div>

                      <div class="ingrAIn-filter-submenu-content" *ngIf="showValuePopUp[featureIndex]"
                        style="font-size: 1em;">
                        <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
                          (click)="closeValuePopUp(featureIndex)">
                        </button>
                        <label class="checkcontainer" style="width: 50%;">
                          <span>Value</span>
                          <input #value_checkValue (change)="setValueCheck(value_checkValue, featureIndex)"
                            type="checkbox" [checked]="value_check[featureIndex] == 'true'">
                          <span class="checkmark"></span>
                        </label>

                        <div class="btn-group btn-group-toggle ingrAIn-filter-submenu-switch" data-toggle="buttons">
                          <label class="btn btn-small btn-primary active"
                            (click)='selectedValueCheck(true, featureIndex)'>
                            <input type="radio" #true name="options" id="option1" autocomplete="off" checked> True
                          </label>
                          <label class="btn btn-small btn-primary" (click)='selectedValueCheck(false, featureIndex)'>
                            <input type="radio" #false name="options" id="option2" autocomplete="off"> False
                          </label>
                        </div>
                        <div class="ingrAIn-filter-submenu-action" *ngIf='isSelectedTrueorFalse == true'>
                          <div class="dropdown" style="margin-bottom: 0.4em;">
                            <app-operation-type-dropdown [value]="valueData[featureIndex].true['OperationType']"
                              (selectedOption)='setOperationTypeForValuePopUp($event,featureIndex)'>
                            </app-operation-type-dropdown>
                          </div>
                          <!-- Operation Type For Value Pop Up End-->
                          <div></div>

                          <!-- Column DropDown For Value Pop Up Start-->

                          <!-- Date & Time Data Types  -->
                          <div *ngIf="valueData[featureIndex].true['OperationType'] == 'Date & Time'"
                            class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                            <!-- {{ optionsListForValuePopUp | json}} -->
                            <app-column-dropdown [defaultOptionName]="'Date&Time - Datatypes'"
                              [value]="valueData[featureIndex].true['Column']"
                              [optionsListForValuePopUp]='this.defaultDataTimeList'
                              (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex, 'Column', $event)">
                            </app-column-dropdown>
                          </div>
                          <!-- Column List  -->
                          <div *ngIf="IsTextInputDisplayed(valueData[featureIndex].true['OperationType'])"
                            class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                            <input type="text" #columnDropDownInput [value]="valueData[featureIndex].true['Value']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                              class="form-control" placeholder=" Enter Value">
                          </div>

                          <!--Text Related -->
                          <div *ngIf="valueData[featureIndex].true['OperationType'] == 'replace'"
                            class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                            <input type="text" #columnDropDownInput [value]="valueData[featureIndex].true['Value2']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                              class="form-control" placeholder=" Enter Value">
                          </div>

                          <div *ngIf="valueData[featureIndex].true['OperationType'] == 'substring'"
                            class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;display: flex;">
                            <input type="number" #columnDropDownInput [value]="valueData[featureIndex].true['Value']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                              class="form-control" placeholder="number">

                            <input type="number" #columnDropDownInput [value]="valueData[featureIndex].true['Value2']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                              class="form-control" placeholder="number">
                          </div>
                          <!-- Custom Value -->
                          <div *ngIf="valueData[featureIndex].true['OperationType'] !== 'Custom'"
                            class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                            <!-- {{ optionsListForValuePopUp | json}} -->
                            <app-column-dropdown [defaultOptionName]="'Column Dropdown'"
                              [value]="valueData[featureIndex].true['ColDrp']"
                              [optionsListForValuePopUp]='optionsListForValuePopUp[featureIndex]'
                              (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex,'ColDrp', $event)">
                            </app-column-dropdown>
                          </div>


                          <div *ngIf="valueData[featureIndex].true['OperationType'] == 'Values'"
                            class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                            <app-column-dropdown [defaultOptionName]="'Unique Values'"
                              [value]="valueData[featureIndex].true['Value']"
                              [options]="uniqueValueDropDownListForValuePop[featureIndex]"
                              (selectedColumnOption)='setValueForValuePopUp(featureIndex, $event, "Value")'>
                            </app-column-dropdown>
                          </div>
                          <!-- Column DropDown For Value Pop Up End-->
                        </div>

                        <div class="ingrAIn-filter-submenu-action" *ngIf='isSelectedTrueorFalse == false'>
                          <!-- Operation Type For Value Pop Up Start-->
                          <div class="dropdown" style="margin-bottom: 0.4em;">

                            <app-operation-type-dropdown [value]="valueData[featureIndex].false['OperationType']"
                              (selectedOption)='setOperationTypeForValuePopUp($event,featureIndex)'>
                            </app-operation-type-dropdown>
                          </div>
                          <!-- Operation Type For Value Pop Up End-->

                          <div></div>

                          <!-- Column DropDown For Value Pop Up Start-->
                          <div *ngIf="IsTextInputDisplayed(valueData[featureIndex].false['OperationType'])"
                            class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                            <input type="text" #columnDropDownInput [value]="valueData[featureIndex].false['Value']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                              class="form-control" placeholder=" Enter Value">
                          </div>

                          <!--Text Related -->

                          <div *ngIf="valueData[featureIndex].false['OperationType'] == 'replace'"
                            class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;">
                            <input type="text" #columnDropDownInput [value]="valueData[featureIndex].false['Value2']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                              class="form-control" placeholder=" Enter Value">
                          </div>


                          <div *ngIf="valueData[featureIndex].false['OperationType'] == 'substring'"
                            class="ingrAIn-feature-filter-col" style="width: 98%;margin-bottom: 0.4em;display: flex;">
                            <input type="number" #columnDropDownInput [value]="valueData[featureIndex].false['Value']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value')"
                              class="form-control" placeholder="number">

                            <input type="number" #columnDropDownInput [value]="valueData[featureIndex].false['Value2']"
                              (change)="setValueForValuePopUp(featureIndex, columnDropDownInput.value, 'Value2')"
                              class="form-control" placeholder="number">
                          </div>

                          <div *ngIf="valueData[featureIndex].false['OperationType'] == 'Date & Time'"
                            class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                            <!-- {{ optionsListForValuePopUp | json}} -->
                            <app-column-dropdown [defaultOptionName]="'Date&Time - Datatypes'"
                              [value]="valueData[featureIndex].false['Column']"
                              [optionsListForValuePopUp]='this.defaultDataTimeList'
                              (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex, 'Column', $event)">
                            </app-column-dropdown>
                          </div>

                          <div *ngIf="valueData[featureIndex].false['OperationType'] !== 'Custom'"
                            class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                            <!-- {{ optionsListForValuePopUp | json}} -->
                            <app-column-dropdown [defaultOptionName]="'Column Dropdown'"
                              [value]="valueData[featureIndex].false['ColDrp']"
                              [optionsListForValuePopUp]='optionsListForValuePopUp[featureIndex]'
                              (selectedColumnOption)="setColumnDropDownForValuePopUp(featureIndex,'ColDrp', $event)">
                            </app-column-dropdown>
                          </div>



                          <div *ngIf="valueData[featureIndex].false['OperationType'] == 'Values'"
                            class="ingrAIn-feature-filter-col" style="margin-bottom: 0.4em;">
                            <app-column-dropdown [defaultOptionName]="'Unique Values'"
                              [value]="valueData[featureIndex].false['Value']"
                              [options]="uniqueValueDropDownListForValuePop[featureIndex]"
                              (selectedColumnOption)='setValueForValuePopUp(featureIndex, $event, "Value")'>
                            </app-column-dropdown>
                          </div>
                          <!-- Column DropDown For Value Pop Up End-->
                        </div>

                      </div>
                    </div>

                    <div class="col-auto d-flex mt-4" *ngIf='lastOperation'>
                      <a href="javascript:;" (click)="addNewOperationRow(featureIndex, $event)">
                        <img src="assets/images/add.svg" alt="Add operation" /></a>
                    </div>
                    <div class="col-auto d-flex mt-4" *ngIf='lastOperation && operationRowIndex > 0'>
                      <a href="javascript:;" (click)="removeOperationRow(featureIndex, operationRowIndex, $event)">
                        <img src="assets/images/minus icon.svg" alt="Remove" /></a>
                    </div>

                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-auto d-flex align-self-center" [ngClass]="{'visiblity-show': featureLastIndex  , 'visiblity-hidden': !featureLastIndex }">
              <button class="btn btn-secondary" (click)="repeatAttributeBlock(featureIndex)">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-end myw-actions">
    <button class="btn btn-primary" (click)='submitAddFeatureParametersToAPI()'>Create</button>
  </div>

</div>


