.modal-title  {  text-transform:uppercase; font-size:1rem;}
.modal-header svg { color:#FF000E; }
.modal-dialog label { color: #353D47; font-weight: 500; margin-bottom:0.3rem; }
.modal-header .close { padding:0.5rem; opacity:1;  }
.ingrAI-create-model  .modal-title { color:#353D47; font-size: 1rem;}
.ingrAI-create-model .modal-content, .ingrAI-enter-model .modal-content { border-radius: .2rem; }
.ingrAI-enter-model .modal-dialog { max-width:600px; }
.ingrAI-model-file-uploader { border:1px dashed #707070; height:170px; text-align:center; border-radius:0.2rem; -webkit-border-radius:0.2rem; }
.ingrAI-model-file-uploader label { cursor:pointer; }
.ingrAI-model-file-uploader  svg { fill:#10ADD3; }
.ingrAI-model-file-uploader a, .ingrAI-model-file-uploader a:hover { color:#353D47; text-decoration:none; }
.ingrAI-drag-text { font-size:1.2rem; }
.ingrAI-fileprogress-model .modal-content {  background:transparent; border:0; }
.ingrAI-fileprogress-model .modal-dialog {  max-width: 75%; text-align: center;  padding: 2rem; font-size:1.125rem; color:#fff; }
.ingerAIn-file-progress-modal .progress { border-radius: 0.125rem; height:0.5rem; }
.ingrAI-connect-to-data-source-model { max-width:95%;}
.ingrAI-connect-to-data-source-model .modal-body { min-height:400px; }
.ingrAI-enter-model .modal-body { min-height:100px; }
.ingrAI-connect-to-data-source-model  .modal-content { border-radius: .2rem; }
.ingrAI-connect-to-data-source-model .ingrAI-table a { color:#353D47; }
.ingrAI-search-container { width:17rem; }
.ingrAI-filter-col-title { font-size: 1rem; text-transform: uppercase; }
.modal-dialog .ingrAI-search-container .btn-primary svg { fill:#ffffff!important; }
