<div class="row mb-2">

    <div class="col-7 col-lg-7" >
        <span class="myw-500 fs-16">Cluster wise count</span>
    </div>

    <div class="col-5 col-lg-5" *ngIf="selectedWCImage != ''" style="max-width: 40.5%;">
        <span class="myw-500 fs-16">Word Cloud</span>
    </div>
</div>
<div class="row mb-2">

    <div class="col-7 col-lg-7" #containerTreeMapChart>

    </div>

    <div class="col-5 col-lg-5" *ngIf="selectedWCImage != ''" style=" height: 350px;overflow: scroll;max-width: 40.5%;">
        <!-- Line Chart
        <app-line-chart *ngIf='isRegression' [isSingleLine]="true" [lineChartData]="lineChart" [lineChartWidth]="150"
            [lineChartHeight]=150 [isVisualization]="true" [isRegression]="isRegression"
            [visualizationResponse]="visualizationResponse">
        </app-line-chart>
         -->
        <!-- {{selectedWCImage}} -->
        <!-- Word Cloud  -->
        <!-- <span class="myw-500 fs-16">Word Cloud</span> -->
        <ng-container *ngIf="selectedWCImage != ''">
            <app-word-cloud-image class="word-cloud-image" [wordCloudImage]="selectedWCImage"></app-word-cloud-image>
        </ng-container>
       


    </div>

</div>