<!-- content -->

<div class="vds-upload-page-container mb-5" *ngIf="template == 'FileUpload'">
    <ng-container *ngIf="template == 'FileUpload'">
        <app-upload (template)='setTemplate($event)' (fileData)="setFileData($event)" [flow]="'generic'"
            [initiator]="'Landing'"></app-upload>
    </ng-container>

</div>
<ng-container *ngIf="template == 'MappingPhases'">
    <div class="vds-inner vds-container">
        <div class="myw-back my-3">
            <a href="javascript:;" class="mr-2 text-decoration-none">
                <img src="assets/MonteCarlo/images/back.svg" alt="Back" (click)="template = 'FileUpload'">
            </a>
            <span class="myw-700 fs-18">Input Use Case Details</span>
        </div>
        <div class="myw-genric-container" style=" background: white;">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="form-group mb-1">
                        <label class="form-label">Target</label>
                        <select class="form-control" #targetRef (change)="checkedTarget(targetRef.value)">
                            <option [value]=''>Select</option>
                            <option *ngFor="let name of target" [value]='name'>{{name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="form-group mb-1">
                        <label class="form-label">Unique ID</label>
                        <select class="form-control" #uniqueRef (change)="checkedUnique(uniqueRef.value)">
                            <option [value]=''>Select</option>
                            <option *ngFor="let name of unique" [value]='name'>{{name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-group mb-1">
                        <label class="form-label">Use Case Name <span style="color: red">*</span></label>
                        <input type="text" class="form-control" #name (keyup)="remainingCharacter(name)"
                        maxlength="500"/>
                        <label class="form-label">You have {{ 500 - name.value?.length}} of 500 characters remaining.</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group mb-1">
                        <label class="form-label">Description <span style="color: red">*</span></label>
                        <textarea class="form-control" maxlength="500" rows="4" #description></textarea>
                        <small class="form-text text-muted">You have {{70 - description.value?.length}} of 70 characters
                            remaining.</small>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-5">
                <button class="btn btn-primary" (click)="createGeneric(name, description)">Save</button>
            </div>
        </div>

    </div>
</ng-container>
<!-- /content -->