.ingrAI-subnavrbar { min-height: 50px; height: 50px; background-color:#95DFE6; -webkit-box-shadow: 0 0 5px 0 #d9d9d9; box-shadow: 0 0 5px 0 #d9d9d9; margin-top:0.5rem; }
.ingrAI-subnav-col { padding: 0.2rem 2rem; border-top: 2px solid #286E99; font-weight: 500; }
.ingrAI-subnav-col-name  + .ingrAI-subnav-col-name  { border-left:1px solid #fff; }
.ingrAI-subnav-col-name a {  color:rgba(40, 111, 153, 0.5);  margin-right:0.4rem; }
.ingrAI-subnav-col-name  { color:#286e99; }
.ingrAI-subnav-col-name .ingrAI-subnav-col-filename { color:#353D47; }
.ingrAI-search-container { display:flex; border:0 solid #BDC9DA; /*min-width:18rem;*/ width:calc( 100% - 25px ); margin:-3px 0 -4px 0; }
.ingrAI-search-container .form-control { padding: 0.2rem 0.5rem; border: 0; border-radius:0; color:#353D47; }
.ingrAI-search-container .btn-primary { padding: 0.2rem 0.3rem; background: #fff; border: 0; box-shadow: none!important;}
.ingrAI-search-container .btn-primary svg { fill:#286E99!important; }
.ingrAI-search-container .btn-primary:not(:disabled):not(.disabled):active { border-color:transparent; background: #fff; box-shadow: none!important; }
.ingrAI-subnav-col-filename { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

/* Data Engineering */
.ingrAI-data-quality { min-width:1.5rem; height:1.5rem; margin-right:0.7rem; }
.ingrAI-data-quality-success { background:#6DB473; color:#fff; display: flex; padding: 0 0.2rem;   }
.ingrAI-data-quality-average {  background:#FFBF00 ; color:#fff; display: flex; padding: 0 0.2rem;}
.ingrAI-data-quality-failed { background:#E66E6E; color:#fff; display: flex; padding: 0 0.2rem;   }
.ingrAI-data-quality-failed-by-datatype {  background:#E66E6E; color:#fff;  display: flex; padding: 0 0.2rem; }
.ingrAI-data-quality-NA {  background: unset !important; color:#000; display: flex; padding: 0 0.2rem; }
.ingrAI-data-quality-col svg { fill:#0fa7c9; cursor:pointer;}
.ingrAI-body-contentBG.ingrAI-preprocess-tile { min-height:380px; max-height:580px; margin-bottom:1.25rem; }

/* Help Panel */
.ingrAI-help-panel { display: none; position: absolute; top: 1px; right: 0; height: calc(100% + 25px); z-index: 100; background-color: #fff; -webkit-box-shadow: -2px 0 3px 0 #ccc; box-shadow: -2px 0 3px 0 #ccc; } 
.ingrAI-help-panel.show { display:block; }
.ingrAI-help-panel-container { width: 690px; max-width: calc(100vw - 20%); height: 100%; overflow: auto; padding: 1.5rem; }
.ingrAI-help-panel-header { -webkit-flex: 0 0 auto; flex: 0 0 auto;  padding-bottom: 0.5rem; position:relative; }
.ingrAI-help-panel-close { position: absolute; top: -16px; right: 0; color:#FF000E; }
.ingrAI-help-panel-header a:hover {  color:#FF000E;  }
.ingrAI-help-panel-body { position: relative; height: 100%; min-height: 0; padding: 0.75rem 0; color:#353D47;   }
.ingrAI-help-container { margin-bottom:0.8rem; }
.ingrAI-help-heading { margin-bottom:0.3rem; font-weight:500; }


.ingrAI-data-table tr:nth-child(even) {background: #FCFCFC;}
.ingr-missing-table { height:325px; }
.ingr-filter-table { height:275px; }
.ingrAI-eye-view { margin-right:0.5rem; }
.ingrAI-eye-view svg, .ingrAI-preprocess-tile  svg { fill:#10ADD3; }
.ingrAI-preprocess-tile .ingrAI-open-help svg { cursor:pointer; fill:#10ADD3; }
.ingrAI-data-modification-table { height:490px; }
.ingrAI-data-modification-table .ingrAI-table td { vertical-align:top; }
.ingrAI-data-encoding-table { height: 525px; }
.ingrAI-data-collapse .ingrAI-arrow { width: 0;  height: 0;  border-left: 0.4rem solid transparent; border-right: 0.4rem solid transparent; border-top: 0.4rem solid #10ADD3; cursor:pointer; margin-top:0.5rem;}
.ingrAI-data-collapse .ingrAI-arrow { transform: rotate(180deg);}
.ingrAI-data-collapse .ingrAI-arrow.collapsed { transform: rotate(0deg); }
.ingrAI-recommendation .ingrAI-list-item-container .ingrAI-list-item { border-top:0; padding: 0.2rem 0; }
.ingrAI-recommendation .ingrAI-list-item-container .ingrAI-list-item .checkmark {top:1px; }
.ingrAI-recommendation .ingrAI-list-item-container .ingrAI-list-item:last-child { border-bottom:0; }
.ingrAI-data-collapse .ingrAI-recommendation-name { padding-right: 0.8rem; }
.ingrAI-add-filter-modal label { font-weight:normal; } 
.ingrAI-add-filter-modal .ingrAI-list-item-container .ingrAI-list-item:first-child { border-top:0; } 
.ingrAI-filter-modal-container { height:400px; overflow-y:auto; }
.ingrAI-customize-column { border: 1px solid #BDC9DA; background: #fff; padding:0; height: 275px; overflow: auto; margin-bottom: 0.5rem; }
.ingrAI-customize-column .ingrAI-column-item a { color:#353D47; text-decoration: none; padding: 0.2rem 0.7rem; display: flex; border-bottom:0; }
.ingrAI-customize-column-swapper.ingrAI-move-to-right { position: absolute; top: 45%; left: 50%; margin-left: -10px; margin-top: -10px; cursor:pointer; }
.ingrAI-customize-column-swapper.ingrAI-move-to-left { position: absolute; top: 60%; left: 50%; margin-left: -10px; margin-top: -10px; cursor:pointer; }
.ingrAI-customize-column-swapper svg { fill:#10ADD3; }
.ingrAI-customize-column-swapper.ingrAI-move-to-left { transform:rotate(180deg); }
.ingrAI-left-menu-container .ingrAI-left-menu-item { border-bottom:1px solid #BDC9DA; }
.ingrAI-left-menu-container .ingrAI-left-menu-item a { color:#333333; padding: 0.5rem 0; }
.ingrAI-left-menu-container .ingrAI-left-menu-item a:hover { text-decoration:none; }
.ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-name { width:calc( 100% - 4rem); white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-value { width:4rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.ingrAI-left-menu-container { height:400px; overflow-y:auto; }
.ingrAI-visualization-chart { height:350px; }
.ingrAI-col-container .ingrAI-list-item-container { margin-top:0.5rem; padding: 0; }
.ingrAI-link-app-count { width: 1.5rem; height: 1.5rem; background: #10ADD3; border-radius: 50%; color: #fff; display: flex; justify-content: center; align-items: center; }

/* Prescription */
.ingrAI-heading { color:#353D47; text-transform:uppercase; font-weight: 500;}
.ingrAI-list-item-container { padding:0.5rem 0; }
.ingrAI-list-item-container  .ingrAI-list-item { padding:0.6rem 0; border-top:1px solid #BDC9DA; }
.ingrAI-list-item-container  .ingrAI-list-item:last-child { border-bottom:1px solid #BDC9DA; }
.ingrAI-list-item-container  .ingrAI-list-item  label { margin-bottom:0; }
.ingrAI-list-item-container  .ingrAI-list-item  textarea{ border:1px solid #BDC9DA; width:100%;}
.myingrAI-hint { color:#8C8C8C; font-style:italic; }
.ingrAI-column-item a { color:#353D47; border-bottom:1px solid #BDC9DA; padding:0.3rem 0; display:flex; }
.ingrAI-column-item a:hover { text-decoration:none; }
.ingrAI-target-container { border:1px solid #BDC9DA; display: flex; flex-wrap: wrap; padding:0.5rem; min-height:6.25rem;}
.ingrAI-target-item { border:1px solid #BDC9DA; min-width:5rem; max-width:9rem; display:flex; font-size:0.8125rem; margin-bottom:0.5rem; margin-right:0.5rem; height: 2rem;  } 
.ingrAI-target-item .ingrAI-target-item-name { padding:0.3rem; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.ingrAI-target-item .ingrAI-target-item-remove { background:#BDC9DA; width: 1.8rem; cursor:pointer; }
.ingrAI-target-item svg { fill:#fff; }
.ingerAI-predescription {  position:absolute; height:275px; top:2%; left:0;  z-index:111;background: rgba(73,155,234,1); cursor:pointer;
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
    border-top-right-radius:2rem; border-bottom-right-radius:2rem; padding: 1rem 0; }
    .ingerAI-predescription-text { font-size:1rem; transform:rotate(270deg); color:#fff; width:1.8rem; position:relative; margin-top:165px; top: -36px; left: -2px; text-transform:uppercase; font-weight:500;  }
    .ingerAI-predescription-content-container { display:none; top:2%;background: #E9F2F5;position:absolute;width: 625px;height: 275px;z-index: 1;left: 0px; border-top:1px solid rgba(0,0,0,0.2); border-bottom:1px solid rgba(0,0,0,0.2); padding:1rem; }
    .ingerAI-predescription-container.ingrAI-open  .ingerAI-predescription-content-container { display:block!important; }
    .ingerAI-predescription-container.ingrAI-open .ingerAI-predescription { left:625px;  }
    .ingrAI-open  .ingerAI-predescription svg { transform: rotate(180deg); }
    .ingerAI-predescription-content-container .ingrAI-list-item-container .ingrAI-list-item  { border-top:0; border-bottom:1px dashed #BDC9DA; }
    .ingerAI-predescription-content-container .ingerAI-predescription-list-item-container { height:12rem; overflow-y:auto; }
    .ingrAI-list-item-container  .ingrAI-list-item ul { padding-left:20px; margin:0; }
    .ingrAI-list-item-container  .ingrAI-list-item ul  li {list-style-type:disc; }


.IngrAI-python-progress-dialogbox{
    p{
        margin-bottom: 0.2rem;
    }
    position: absolute;
    bottom: 6%;
    left: 49%;
    background-color: #e4e4e4;
    padding: 2px;
    text-align: center;
}

.data-source{
    color: #286e99 !important;
    text-decoration: underline !important;
}

.emptyDatatypes{
    border: 1px solid #E66E6E;
}

.data-curation-heading{
    position: relative;
    text-align: center;
    cursor: pointer;
    .data-curation-tooltip{
        display: none;
        width: 140px;
        background-color: #fff;
        color: #000;
        text-align: center;
        font-size: 0.875em;
        font-weight:500;
        text-transform: none;
        padding: 5px;
        position: absolute;
        z-index: 100;
        top: 40px;
        left: 58px;
        box-shadow: -2px 0 3px 0 #ccc;
    }
    .data-curation-end-tooltip{
        display: none;
        width: 140px;
        background-color: #fff;
        color: #000;
        text-align: center;
        font-size: 0.875em;
        font-weight:500;
        text-transform: none;
        padding: 5px;
        position: absolute;
        z-index: 100;
        top: 40px;
        right: 2px;
        box-shadow: -2px 0 3px 0 #ccc;
    }
}

.data-curation-heading:hover .data-curation-tooltip{
    display: block;
    opacity: 1
}

.data-curation-heading:hover .data-curation-end-tooltip{
    display: block;
    opacity: 1
}

.column-scale{
    width: 130px;
}

.column-datatype{
    width: 100px;
}

.show-data-container{
    margin:50px;
    flex-wrap: nowrap;
    height:550px;
}

.show-data-pagination{
    background-color: white;
    margin-left:1rem;
    margin-right:1rem;
}

.pr-10{
    padding-right: 10px;
}

.pt-10{
    padding-top:16px
}

.pl-10{
    padding-left:10px
}
