<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ingrAI-enter-model-title">{{title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)='onClose()'></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column justify-content-center">
        <form #form=ngForm>
          <div class="ingrAI-search ml-auto">
            <input type="text" #versionNameInput=ngModel class="form-control" name='versionName' required
              [(ngModel)]='versionName' maxlength="70" placeholder="Version Name">
              <label class="form-label">You have {{ 70 - versionName?.length}} of 70 characters remaining.</label>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-end myw-actions" style="margin-top: 1.56rem;">
        <button type="button" class="btn btn-secondary" (click)='onClose()'>Cancel</button>
        <button type="button" class="btn btn-primary" (click)='onSave(versionNameInput)'>Save</button>
      </div>
    </div>
  </div>
</div>
