<div style="margin-left: 4%;margin-top: 2%;">
    <div>
        <h3>Configure certification flag to show or hide certificate</h3>
        <span style="color: gray;"> (True/true - show the certificate,
            False/false - show congratulation message)</span>
    </div>
    <div style="padding-top: 2%">
        <label>Enter flag</label>
        <input #inputFlag type="text" maxlength="70" style="margin-left: 3%;" />
        <label class="form-label">You have {{ 70 - inputFlag.value?.length}} of 70 characters remaining.</label>
    </div>
    <div style="padding: 2% 0%;">
        <!-- <button type="button" class="btn btn-primary" (click)='submit()'>Submit</button> -->
        <input type="button" (click)='submit(inputFlag.value)' class="btn
            btn-primary" value="Submit" />
    </div>
</div>