.show{
    display:block;
  }
  .hide{
    display:none;
  }

  .ingrAI-link-apps .dropdown-menu { border:0; -webkit-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.76);  box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.76)}
.ingrAI-link-apps .dropdown-menu:before { display:none; }
.ingrAI-link-apps  a.ingrAI-link-app-count, .ingrAI-link-apps  a:hover.ingrAI-link-app-count  { color:#fff; text-decoration:none;  }
.ingrAI-link-apps  .dropdown-item { color:#333; }
.ingrAI-link-apps .dropdown-item:focus, .ingrAI-link-apps .dropdown-item:hover { background:#fff; color:#333; }
.ingrAI-drop-close { display:flex; justify-content:flex-end; padding:0.2rem; color:#FF000E; float: right;}
.ingrAI-drop-close a { color:#FF000E!important;  }
.ingrAI-drop-close svg { fill:#FF000E!important;  }

.dropdown-menu{ padding:0; margin:0.65rem 0 0; max-width:15rem; font-size:0.875rem; color:#262626;
    top:53% !important; left:0 !important; border-width:3px; border-color:#10add3; background-color:#fff;
    -webkit-border-radius:1px; border-radius:1px;  display: none;
    -webkit-box-shadow:0 0 4px 0 rgba(0,0,0,0.12); box-shadow:0 0 4px 0 rgba(0,0,0,0.12);
    -webkit-transform:translate3d(0px,0px,0px) !important; transform:translate3d(0px,0px,0px) !important; }
  .dropdown-menu-right{ left:auto !important; right:0 !important; }
  .dropdown-menu:before{ content:''; display:block; width:0; height:0; position:absolute; right:0; top:-1.3rem;}
  .dropdown-menu.show{ display: block;}

  a:hover{ cursor: pointer;}
