<div *ngIf="modelMonitoring">
    <pagination-controls id="listing_pagination" maxSize="25" directionLinks="true" (pageChange)="changePage($event)">
    </pagination-controls>
    <ng-container>
    <div *ngFor="let predictions of dataCopy | paginate:
                { id: 'listing_pagination',  itemsPerPage: maxLimit,
                  currentPage: pageNumber, totalItems: dataCopy.length };let listIndex = index" class="h-100"
                  style="overflow-y: auto;overflow-x: hidden;">
                  <div style="display: none;">
                      {{ listIndex }}
                  </div>
    </div>
    </ng-container>
    </div>

<p *ngIf="isVisualization" style="text-align:center;margin-bottom: 0;"><strong> Predict {{target}}</strong></p>
<div style="overflow-x: auto;" #containerLineChart>

</div>