<ng-container *ngIf="!textFeatureShow">
  <select  class="form-control"  #selectedOption 
      aria-labelledby="operatortype1" (change)='showSelectedValue(selectedOption.value)'
       [attr.disabled]='isDisabled'
       [value]='value == undefined ? "" : value'>
        <!-- <option class="dropdown-item" value="" selected disabled>Operation Type
        </option> -->
        <option class="dropdown-item" value='Date & Time'>Date & Time</option> <!-- Disabled for R2.1 .functionality will be available as part of R2.2 -->
        <option class="dropdown-item" value='Max'>Max</option>
        <option class="dropdown-item" value='Min'>Min</option>
        <option class="dropdown-item" value='Mean'>Mean</option>
        <option class="dropdown-item" value='Median'>Median</option>
        <option class="dropdown-item" value='Mode'>Mode</option>
        <option class="dropdown-item" value='Sd'>Sd</option>
        <option class="dropdown-item" value='Sqr'>Sqr</option>
        <option class="dropdown-item" value='Sqrt'>Sqrt</option>
        <option class="dropdown-item" value='Cube'>Cube</option>
        <option class="dropdown-item" value='Cbrt'>Cbrt</option>
        <option class="dropdown-item" value='Original'>Original</option>
        <option class="dropdown-item" value='Values'>Values</option>
        <option class="dropdown-item" value='Custom'>Custom</option>
        <option class="dropdown-item" value='Percentage'>Percentage</option>
      </select>
    </ng-container>
    <!-- Text Related -->
  
    <ng-container *ngIf="textFeatureShow">
      <select class="form-control" #selectedOption aria-labelledby="operatortype1"
        (change)='showSelectedValue(selectedOption.value)' [attr.disabled]='isDisabled'
        [value]='value == undefined ? "" : value'>
        <option class="dropdown-item" value="" selected disabled>Operation Type
        </option>
        <optgroup label="Date Operations" class="dropdown-item disabled">
          <option class="dropdown-item" value='Date & Time'>Date & Time</option>
        </optgroup>
        <optgroup label="Number Operations" class="dropdown-item disabled">
          <option class="dropdown-item" value='Max'>Max</option>
          <option class="dropdown-item" value='Min'>Min</option>
          <option class="dropdown-item" value='Mean'>Mean</option>
          <option class="dropdown-item" value='Median'>Median</option>
          <option class="dropdown-item" value='Sd'>Sd</option>
          <option class="dropdown-item" value='Sqr'>Sqr</option>
          <option class="dropdown-item" value='Sqrt'>Sqrt</option>
          <option class="dropdown-item" value='Cube'>Cube</option>
          <option class="dropdown-item" value='Cbrt'>Cbrt</option>
          <option class="dropdown-item" value='Percentage'>Percentage</option>
        </optgroup>
        <optgroup label="Text Operations" class="dropdown-item disabled">
          <option class="dropdown-item" value='contains'>Contains</option>
          <option class="dropdown-item" value='matches'>Matches</option>
          <option class="dropdown-item" value='substring'>Substring</option>
          <option class="dropdown-item" value='index'>Index</option>
          <option class="dropdown-item" value='replace'>Replace</option>
          <option class="dropdown-item" value='startswith'>StartsWith</option>
          <option class="dropdown-item" value='endswith'>EndsWith</option>
          <option class="dropdown-item" value='length'>length</option>
          <!-- <option class="dropdown-item" value='regexsearch'>regexsearch </option> -->
        </optgroup>
        <optgroup label="Other Operations" class="dropdown-item disabled">
          <option class="dropdown-item" value='Original'>Original</option>
          <option class="dropdown-item" value='Values'>Values</option>
          <option class="dropdown-item" value='Custom'>Custom</option>
          <option class="dropdown-item" value='Mode'>Mode</option>
        </optgroup>
      </select>
    
    </ng-container>
