// ::ng-deep {
::ng-deep {
    @media (min-width: 576px) {
        .footer-documentlinks.modal-dialog {
            max-width: 500px;
            margin   : 1.75rem auto !important;
        }
    }
}

.footer-documentlinks {
    p {
        margin-bottom: .625rem;
    }

    .modal-header {
        padding         : 0.5rem;
        background-color: #696969;
        border-radius   : 0;
        color           : #fff;
    }

    .modal-title {
        margin-bottom: 0;
        line-height  : 1.5
    }

    .modal-header .close {
        color      : #fff;
        outline    : 0;
        padding    : 0;
        margin     : 0;
        opacity    : 1;
        font-weight: normal;
        font-size  : 26px;
    }

    .modal-body {
        height     : auto;
        max-height : 27.15rem; // 30rem;//100%;
        overflow   : auto;
        line-height: 1.5;
        font-size  : 0.994rem;
        width      : 75.18rem;
    }
}

//}

/* uncommnet for PAM */

// .c-cta__button,
// .c-cta .c-cta__button {
//   background-image: linear-gradient(90deg, #004dff, #00baff);
//   border: 1px solid #00baff;
//   color: #fff;
//   display: inline-flex;
//   border-radius: 20px;
//   font-size: 0.875rem;
//   justify-content: center;
//   align-items: center;
//   padding: 5px 20px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   outline: none;
//   /* pointer-events: auto; */
//   cursor: pointer;
// }

// .c-cta__button:hover,
// .c-cta__button:focus,
// .c-cta .c-cta__button:hover,
// .c-cta .c-cta__button:focus {
//   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
// }

/* uncommnet for PAM */

.footer-link {
    color: #116fbf; // #005b9f;
}

// GDPR Changes
.myw-privacy {
    display         : block;
    max-width       : 100%;
    /* position     : relative; */
    padding         : 1.5rem 3rem;
    border-radius   : .25rem;
    /* margin       : 1rem 0; */
    z-index         : 1040;
    /* top          : 475px; */
    font-weight     : 400;
    font-size       : .875rem;
    font-family     : 'Graphik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    line-height     : 1.5;
    background-color: #e5f3ff;
    color           : #000;
    box-shadow      : 0 0 .25rem rgba(0, 0, 0, .1);
}

@media (max-width: 1280px) {
    .myw-privacy {
        padding-left : 1rem;
        padding-right: 1rem;
    }
}

.myw-privacy h6 {
    font-size  : .875rem;
    font-weight: 700;
    margin     : 0;
    padding    : 0;
    color      : #000;
    line-height: 1;
}

.myw-privacy p {
    font-size  : .75rem;
    margin     : 1rem 0;
    font-weight: 500;
}

.myw-privacy-row {
    display    : -ms-flexbox;
    display    : flex;
    font-weight: 500;
}

.myw-privacy-col {
    display     : -ms-flexbox;
    display     : flex;
    -ms-flex    : 0 0 23%;
    flex        : 0 0 23%;
    max-width   : 23%;
    margin-right: 2%;
    font-size   : .75rem;
}

.myw-privacy-col div {
    padding-left: .5rem;
    margin-left : .5rem;
    border-left : 1px solid #c9d0e1;
}

.myw-privacy-col div a {
    color          : #008eff;
    text-decoration: none;
}

.myw-privacy-actions {
    margin        : 0 0 0 auto;
    display       : -ms-flexbox;
    display       : flex;
    -ms-flex-align: center;
    align-items   : center;
}

.myw-privacy-actions a {
    display         : inline-block;
    vertical-align  : middle;
    text-align      : center;
    text-decoration : none;
    line-height     : 1.3;
    color           : #004dff;
    padding         : .375rem 1.25rem;
    border          : .125rem solid #004dff;
    border-radius   : 50rem;
    background-color: #fff;
    margin-left     : .5rem;
}

.myw-privacy-actions a:last-child {
    background-color: #004dff;
    background-image: linear-gradient(90deg, #004dff, #00baff);
    color           : #fff;
}

.myw-privacy-actions a:hover,
.myw-privacy-actions a:focus {
    box-shadow: 0 0 .25rem .125rem rgba(0, 0, 0, .1);
}

@media (max-width: 1199.98px) {
    .myw-privacy-row {
        -ms-flex-wrap: wrap;
        flex-wrap    : wrap;
    }

    .myw-privacy-col {
        -ms-flex : 0 0 31%;
        flex     : 0 0 31%;
        max-width: 31%;
    }

    .myw-privacy-actions {
        margin-top: 1rem;
    }
}