<ng-container *ngIf="isStyleAvailable">
  <footer class="c-footer">
    <div class="c-footer__left"> &nbsp; Copyright 2022 Accenture. All rights reserved. Accenture Confidential. For
      internal use only. </div>
    <div class="c-footer__right">
      <a href="#" (click)="openTermsOfUse(templateTermsOfUse)">Terms of Use</a> &nbsp;
      <a href="#" (click)="openPrivacyPolicy(template)">Privacy Statement</a> &nbsp;
      <ng-container *ngIf="environmnet !== 'PAM'">
      <a href="#" (click)="openCookiePolicy(templateCookie)">Cookies Policy</a> &nbsp; &nbsp;
    </ng-container>
    </div>
  </footer>

  <!-- GDPR Changes Starts -->
  <footer class="c-footer cookie-footer" style="padding: 0rem; text-align: left;" *ngIf="!cookiePolicyAccept">
    <div class="myw-privacy" role="alert">
      <h6>About Privacy and Cookies on this Site</h6>
      <p>We use cookies to personalize and enhance your experience on our site. Visit our Privacy Statement for more
        information on our data collection process.<br />By clicking <strong>Accept</strong>, you agree to:</p>
      <div class="myw-privacy-row">
        <div class="myw-privacy-col"><span>A</span>
          <div>Use of cookies for the purposes listed in our <a href="#"
              (click)="openCookiePolicy(templateCookie)">Cookie Policy</a></div>
        </div>
        <div class="myw-privacy-col"><span>B</span>
          <div>Not upload or share personal data of yourself or others</div>
        </div>
        <div class="myw-privacy-col"><span>C</span>
          <div>MyWizard’s <a href="#" (click)="openTermsOfUse(templateTermsOfUse)">Terms of Use</a> and <a
              href="#" (click)="openPrivacyPolicy(template)">Privacy Statement</a></div>
        </div>
        <div class="myw-privacy-actions">
          <a href="#" (click)="declineCookiePolicy()">Decline</a>
          <a href="#" (click)="acceptCookiePolicy()">Accept</a>
        </div>
      </div>
      <p>Alternately, you will get logged off from the application on click of <strong>Decline</strong>.</p>
    </div>
  </footer>

  <!-- GDPR Changes Ends -->

  <ng-template #template>
    <div class="footer-documentlinks">
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="font-family: Arial, Helvetica, sans-serif !important;">Data Privacy
          Statement</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" style="color:#fff;">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body" style="height: 75.18rem;">
        <div>
          <p>Accenture is committed to keeping your personal data secure, and processing it in accordance with,
            applicable
            data protection laws and our internal policies, including <a class="footer-link"
              href="https://policies.accenture.com/policy/0090" target="_blank">Accenture's Global Data Privacy Policy
              0090.</a></p>

          <p>Please ensure that the harvesting of data and its usage for Analytics, reporting in myWizard, has been
            approved
            by the client.</p>

          <p>Do not include yours/other’s personal, health, financial or sensitive personal data in free form text
            fields
            (e.g. "Description"), or upload screen shots containing personal data. If there is a need to mask personal
            information, please use the <a class="footer-link"
              href="https://alm.accenture.com/wiki/display/MYW/Data+Masking+in+Manual+Uploads"
              target="_blank">Utility</a>
            to do so before uploading the excel template.</p>

          <p>By uploading, you consent that you are conforming to the above.</p>
        </div>
      </div>
      <div class="modal-footer c-cta">
        <!-- <button type="button" data-dismiss="modal" class="c-cta__button" (click)="modalRef.hide()">Close</button> -->
        <ng-container *ngIf="instanceName=='MyConcerto'">
          <button type="button" data-dismiss="modal" class="btn btn-primary" (click)="modalRef.hide()">Close</button>
        </ng-container>
        <ng-container *ngIf="instanceName!='MyConcerto'">
          <button type="button" data-dismiss="modal" class="btn c-cta__button" style="margin: 0rem 0.2rem"
            (click)="modalRef.hide()">Close</button>
        </ng-container>
      </div>
    </div>

  </ng-template>


  <ng-template #templateTermsOfUse>
    <div class="footer-documentlinks">
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="font-family: Arial, Helvetica, sans-serif !important;">Terms Of Use
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefTermsOfUse.hide()"
          style="color:#fff;">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">


        <div>
          <h6 class="text-center"><strong>myWizard Privacy Statement Supplement</strong></h6>

          <p> Effective Date: 1.29.2016 </p>

          <p>The Accenture Portal Privacy Statement is supplemented as follows: </p>

          <p>When using the myWizard, please be aware that your information will be collected in accordance the Portal
            Privacy Statement and monitored as described in the below myWizard Terms of Use, updated 1.29.2016. </p>

          <h6 class="text-center"><strong>Terms of Use for Accenture Internal Online Publishing</strong> </h6>

          <p>Effective 1.29.2016</p>

          <p>PLEASE READ </p>

          <p>Your access to and use of this site is subject to the following terms and conditions "Terms of Use"
            contained
            within this document, and all applicable laws. By accessing and using this site, <strong>you accept</strong>
            the
            following terms and conditions, without limitation or qualification: </p>

          <p>Conduct. Your conduct relating to uploading and downloading functions on the myWizard should comply with
            these
            Terms of Use as well as Accenture Policies and our Code of Business Ethics (COBE). Policies with particular
            relevance include <a class="footer-link" href="https://policies.accenture.com/pages/0001-0100/0057.aspx"
              target="_blank"><strong>Policy 57</strong></a> - Acceptable Use of Information, Devices, and Technology,
            <a class="footer-link" href="https://policies.accenture.com/Pages/0001-0100/0069.aspx"
              target="_blank"><strong>Policy 69</strong></a>
            - Confidentiality, <a class="footer-link" href="https://policies.accenture.com/policy/1001"
              target="_blank"><strong>Policy
                1001</strong></a> - Respecting the Individual, and <a class="footer-link"
              href="https://policies.accenture.com/Pages/1401-1500/1461.aspx" target="_blank"><strong>Policy
                1461</strong></a> - Social Media.
          </p>

          <p><strong style="font-size:1rem">Ownership and Intellectual Property.</strong> Respect the intellectual
            property
            rights of others by first ensuring that prior to copying any content found online, you have a legal right to
            do
            so. <strong>References:</strong> <a class="footer-link"
              href="https://policies.accenture.com/pages/0001-0100/0057.aspx" target="_blank"><strong>Policy
                57</strong></a>
            - Acceptable Use of Information, Devices, and Technology, <a class="footer-link"
              href="https://policies.accenture.com/Pages/1401-1500/1461.aspx" target="_blank"><strong>Policy
                1461</strong></a> - Social Media, and Accenture's <a class="footer-link"
              href="https://policies.accenture.com/policy/0091" target="_blank"><strong>Intellectual Property
                site</strong></a> </p>

          <p>The information provided on this site is free of charge and for informational purposes and internal use
            only.
            Unless otherwise stated, the contents of this site including, but not limited to, the text and images
            contained
            herein and their arrangement are the property of Accenture. All trademarks used or referred to in this
            website
            are the property of their respective owners </p>

          <p>Nothing contained in this site shall be construed as conferring by implication, estoppel, or otherwise, any
            license or right to any copyright, patent, trademark or other proprietary interest of Accenture or any third
            party. <strong>This site and the content provided in this site, including, but not limited to, graphic
              images,
              audio, video, html code, buttons, and text, may not be copied, reproduced, republished, uploaded, posted,
              transmitted, or distributed in any way, without the prior written consent of Accenture, except that you
              may
              download, display, and print one copy of the materials on any single computer solely for your personal,
              non-commercial use, provided that you do not modify the material in any way and you keep intact all
              copyright,
              trademark, and other proprietary notices.</strong><br> Links on this site may lead to services or sites
            not
            operated by Accenture. No judgment or warranty is made with respect to such other services or sites and
            Accenture takes no responsibility for such other sites or services. A link to another site or service is not
            an
            endorsement of that site or service. Any use you make of the information provided on this site, or any site
            or
            service linked to by this site, is at your own risk. </p>

          <p><strong>Warranties.</strong> This site and its contents are provided "as is" and Accenture makes no
            representation or warranty of any kind with respect to this site or any site or service accessible through
            this
            site. Accenture expressly disclaims all express and implied warranties including, but not limited to, the
            implied warranties of merchantability, fitness for a particular purpose, title, and non-infringement. In no
            event will Accenture be liable to any party for any direct, indirect, incidental, special, exemplary,
            consequential, or other damages (including, but not limited to, lost profits, business interruption, loss of
            programs or data) without regard to the form of action and whether in contract, tort, negligence, strict
            liability, or otherwise, arising out of or in connection with this site, any content on or accessed through
            this
            site or any site service linked to, or any copying, displaying, or use thereof. </p>

          <p><strong>Legal Proceedings.</strong> Accenture maintains this site in Illinois, U.S.A. and you agree that
            these
            terms of use and any legal action or proceeding relating to this site shall be governed by the laws of the
            State
            of Illinois without reference to its choice of law rules. If you attempt to bring any legal proceedings
            against
            Accenture you specifically acknowledge that Accenture is free to choose the jurisdiction of our preference
            as
            to
            where such action against us may be held. As you have agreed by using this site to choose the laws of the
            State
            of Illinois to govern any such proceedings, we will probably choose to defend any such action in Illinois
            and
            we
            can make this decision entirely as it suits us, without regard to where in the world you are located, or
            from
            where in the world you visited this site. <strong>You are responsible for complying with the laws of the
              jurisdiction from which you are accessing this site and you agree that you will not access or use the
              information on this site in violation of such laws.</strong> Unless expressly stated otherwise herein, any
            information submitted by you through this site shall be deemed non-confidential and non-proprietary
            <strong>You
              represent that you have the lawful right to submit and/or download such information and agree that you
              will
              not submit and or download any information unless you are legally entitled to do so. References:</strong>
            <a class="footer-link" href="https://policies.accenture.com/Pages/0001-0100/0069.aspx"
              target="_blank"><strong>Policy 69</strong></a>
            - Confidentiality, and Accenture's <a class="footer-link" href="https://go.accenture.com/DataClassification"
              target="_blank"><strong>Data Classification and Protection standards</strong></a>
          </p>

          <p><strong>Monitoring.</strong> As permitted by applicable law, Accenture reserves the right to monitor
            activity
            on its myWizard. Such monitoring may include a review of the volumes and frequency of materials being
            uploaded
            or downloaded, and a review of the content reported as inappropriate by other employees. Should it be
            determined
            that the volume of uploading or downloading substantially exceeds that of the average user, then there may
            be
            a
            further review of the nature and substance of the content and its relation to the role of the employee and
            myWizard user. </p>

          <p>If you see content on Accenture's myWizard that violates Accenture Policies or our COBE, please report it
            via
            a
            provided flagging mechanism on the specific platform if it exists, or to your supervisor, career counselor,
            anyone in Accenture Leadership, Legal or Human Resources. If you are uncomfortable using any of these
            channels,
            please seek additional direction on how to report violations from <strong><a class="footer-link"
                href="https://policies.accenture.com/Pages/0901-1000/1000.aspx" target="_blank">Policy 1000 - Raising
                Legal
                and Ethics Issues and Prohibiting Retaliation.</a></strong> </p>

          <p><strong>Consequences.</strong> . Violations of Accenture Policies or these Terms of Use may result in
            appropriate, lawful discipline, up to and including termination of employment. Additionally, for
            non-employees,
            Accenture may choose to sever its relationship or revoke the credentials of the user for violations of these
            Terms of Use. No provision of these Terms of Use, however, shall be interpreted or applied in a manner that
            would interfere with any employee rights that are protected by applicable laws or regulations.</p>
        </div>

      </div>
      <div class="modal-footer c-cta">
        <!-- <button type="button" class="c-cta__button" data-dismiss="modal"
          (click)="modalRefTermsOfUse.hide()">Close</button> -->
        <ng-container *ngIf="instanceName=='MyConcerto'">
          <button type="button" data-dismiss="modal" class="btn btn-primary"
            (click)="modalRefTermsOfUse.hide()">Close</button>
        </ng-container>
        <ng-container *ngIf="instanceName!='MyConcerto'">
          <button type="button" data-dismiss="modal" class="btn c-cta__button" style="margin: 0rem 0.2rem"
            (click)="modalRefTermsOfUse.hide()">Close</button>
        </ng-container>
      </div>
    </div>
  </ng-template>

  <ng-template #templateCookie>
    <div class="footer-documentlinks">
      <div class="modal-header">
        <h4 class="modal-title pull-left" style="font-family: Arial, Helvetica, sans-serif !important;">Cookie Policy
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefCookie.hide()"
          style="color:#fff;">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div>

          <h6><strong>Below is the information about how MyWizard suite of applications (‘My Wizard’) will use cookies
              and other similar technology on this website.</strong></h6>
          <p>By continuing to use this website you agree that we can place cookies and other similar technology on your
            device, including mobile device, per your agreement with our Cookies Policy.</p>

          <h6><strong>What are cookies?</strong></h6>
          <p>Cookies are text files containing small amounts of information, which are downloaded to your computer or
            mobile device when you visit a site and allow a site to recognize your device.</p>

          <h6><strong>Why do we use cookies and similar technologies?</strong></h6>
          <p>Cookies do a lot of different jobs, such as letting you navigate between pages efficiently, remembering
            your preferences and generally improving the user experience.</p>

          <h6><strong>Does MyWizard use cookies for marketing and analytics?</strong></h6>
          <p>Yes, we may use information collected from our cookies for analytics but we will not use them for marketing
            purpose.</p>

          <h6><strong>Do you use any cookies from third party companies?</strong></h6>
          <p>We may use cookies from third party companies, to provide us with web analytics and intelligence about our
            sites. These companies use programming code to collect information about your interaction with our sites,
            such as the pages you visit, the links you click on and how long you are on our sites. This code is only
            active while you are on an Accenture website.</p>

          <h6><strong>What if I don't want cookies?</strong></h6>
          <p>By using our site, you agree that we can place cookies on your device as explained below. If you want to
            remove existing cookies from your device, you can do this using your browser options. If you want to block
            future cookies being placed on your device you can change your browser settings to do this.</p>
          <p>Currently, "Do Not Track" initiatives are not recognized by our site.</p>
          <p>Please bear in mind that deleting and blocking cookies will have an impact on your user experience as parts
            of the site may no longer work. Unless you have adjusted your browser settings to block cookies, our system
            will issue cookies as soon as you visit our, even if you have previously deleted our cookies.</p>

          <h6><strong>What types of cookies are there and which ones does the site use?</strong></h6>
          <p>The cookies used on MyWizard have been categorized based on the categories found in the ICC UK Cookie Guide
            issued in 2012. However, it is important to note that not all cookies may be used in all jurisdictions or
            websites. A list of all the cookies used on this site by category is set out below. Within these four
            categories below, cookies are classified as either session or persistent cookies.</p>
          <p>"Session" cookies are temporary and once you close the browser window, they are deleted from your device.
          </p>
          <p>"Persistent" cookies remain on your device for a longer period and are used by the website to recognize
            your device when you return.</p>
          <p>MyWizard uses session cookies.</p>

          <table aria-label="Types of cookies and its examples" border="1">
            <thead>
              <tr style="height:22.5pt">
                <th scope="col" valign="top" style="width:6.25in;padding:2.25pt 7.5pt 2.25pt 7.5pt;
                    height:22.5pt">Category</th>
                <th scope="col" valign="top" style="width:6.25in;padding:2.25pt 7.5pt 2.25pt 7.5pt;
                    height:22.5pt">Examples</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td valign="top" style="width:6.25in;padding:2.25pt 7.5pt 2.25pt 7.5pt;
                    height:22.5pt">
                  <p><strong>Performance cookies&nbsp;</strong>- These cookies collect information about your visit and
                    use of this website, for instance which pages you visit the most often, and if you get error
                    messages from web pages. These cookies don't collect information that identifies a visitor. All
                    information these cookies collect is anonymous and is only used to improve how this website works.
                  </p>
                </td>
                <td style="width:6.25in;padding:2.25pt 7.5pt 2.25pt 7.5pt;
                    height:22.5pt">
                  <p>We categorize the following as <strong>Performance cookies</strong>:</p>
                  <ul style="margin-top:0in;margin-left: 25px;">
                    <li>Session Management cookies – These cookies allow us to follow the actions of a user on our sites
                      during a browser session. A browser session starts when a user opens the browser window, visits
                      our sites and finishes when they leave our sites and close their browser window. Our Session
                      Management cookies are created temporarily. Once you close your browser, our Session Management
                      cookies are deleted.</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal-footer c-cta">
        <!-- <button type="button" class="c-cta__button" data-dismiss="modal" (click)="modalRefCookie.hide()">Close</button> -->
        <ng-container *ngIf="instanceName=='MyConcerto'">
          <button type="button" data-dismiss="modal" class="btn btn-primary"
            (click)="modalRefCookie.hide()">Close</button>
        </ng-container>
        <ng-container *ngIf="instanceName!='MyConcerto'">
          <button type="button" data-dismiss="modal" class="c-cta__button" style="margin: 0rem 0.2rem"
            (click)="modalRefCookie.hide()">Close</button>
        </ng-container>
      </div>
    </div>
  </ng-template>

</ng-container>