
.myw-ingrain-table-details .myw-nav .nav-link:not(:last-child) { margin-right: 5.125rem; }
.myw-inference-details { padding: 1rem 1.25rem; }
.myw-inference-conf-details { border: 1px solid #969696;  border-radius: .625rem; padding: .5rem 1rem; margin-right: .75rem; }
.myw-inference-conf-details .dropdown-toggle:after { display: none; }
.myw-inference-conf-details .dropdown-toggle { margin-left: .5rem; }
.myw-inference-conf-details .dropdown-toggle img { height: .875rem; }
.myw-inference-conf-details .dropdown-menu { width: 90px; min-width: 70px; font-size: .75rem; top: 5em !important; left: 0em !important; }
.myw-inference-conf-details .myw-chips { background-color: #000088;  }
.myw-inference-conf-details.active { background-color: #D9EEFF; border-color: #D9EEFF;   }
.myw-inference-details  .myw-accordion-content ul { margin: 0; padding: 0; }
.myw-inference-details .myw-accordion-content ul li { list-style-position: inside; padding-bottom: .3125rem; padding-left: 3rem; }
.myw-inference-details .myw-accordion-title .myw-checkbox span { padding-left: 3rem; }

.myw-ingrain-table-details .nav {
    border-bottom: 1px solid rgba(112, 112, 112, .27);
    padding: 0 1.5rem;
}

.myw-config {
    background-color: #D9EEFF;
    color: #000;
    border-color: #D9EEFF;
    font-weight: 500;
}

.visiblehidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

a:hover { cursor: pointer;}