<!-- content -->
<div id="main" class="myw-content d-flex flex-column flex-fill">
  <!-- navbar -->
  <div class="myw-navbar" style="z-index: 800 !important; top: 0rem !important;"
    [ngClass]="isnavBarToggle == true ? 'collapsed': ''">
    <div class="myw-container d-flex flex-wrap">
      <div class="d-flex flex-nowrap align-items-center myw-navbar-wrap">
        <div class="myw-navbar-inner d-flex align-items-center">
          <a   class="text-reset text-decoration-none mr-2" title="Back" aria-label="Back">
            <img src="assets/images/back.svg" alt="Back" class="myw-icon" (click)=previous()></a>
          <h6 class="m-0">Ready to Use AI Services: Inference Engine</h6>
        </div>
      </div>
      <div class="d-flex flex-nowrap justify-content-end myw-navbar-actions"
      [ngClass]="isNavBarLabelsToggle == true ? 'myw-navbar-active': ''">
       
        <div class="myw-navbar-action myw-navbar-search" *ngIf="toggle" (click)="toggle = !toggle">

          <input #searchInput type="text" class="form-control form-control-sm"
              (input)="searchIEModel($event.target.value)" maxlength="70" placeholder="Search..." />
          <img src="assets/images/close.svg" alt="Close" (click)="toggle = !toggle; closeSearchBox()" style=" width: 0.8em;" />
       </div>
        <div *ngIf="!toggle" style="display:inline-flex; margin-right: 1em;">
          <input #searchInput type="text" class="form-control form-control-sm"
              (input)="searchIEModel($event.target.value)" maxlength="70" placeholder="Search..."
              style="width: 11.5rem;" />
          <img src="assets/images/close.svg" alt="Close" (click)="toggle = !toggle; closeSearchBox()" style=" width: 0.8em;"/>
        </div>

        <a   class="myw-navbar-action" role="button" title="Refresh List" (click)="checkModelAvailableOrNot()" data-toggle-tooltip="tooltip" data-placement="bottom" data-trigger="hover"><img src="assets/MonteCarlo/images/refresh.svg" alt="Refresh List" /><span>Refresh List</span></a>
        <a (click)="toggleNavBarLabels()"  class="myw-navbar-toggle" title="Toggle Labels" data-toggle="tooltip"
          data-placement="left" data-trigger="hover"><img src="assets/images/caret.svg" alt="" /><span
            class="sr-only">Toggle Labels</span></a>
      </div>
    </div>
    <a   class="myw-navbar-pin" title="Toggle Navbar" (click)="toggleNavBar()" data-toggle="tooltip"
      data-placement="left" data-trigger="hover"><img src="assets/images/pin.svg" alt="" /><span class="sr-only">Toggle
        Navbar</span></a>
  </div>
  <!-- /navbar -->
  <div class="myw-container py-2" *ngIf="!loaderScreenIE">
    <div class="myw-section py-2">
      <div class="px-3">
        <h6 class="myw-600 mb-2">Inference Engine</h6>
        <p class="fs-12">Inference Engine provides actionable and concise insights based on the data provided by the
          user.</p>
      
        <div class="myw-upload">
           
          <ng-container [ngTemplateOutlet]="FileEntityOptionToUpload"></ng-container>
          <div class="myw-file" *ngIf="fileView">
            <ng-container [ngTemplateOutlet]="uploadTemplateSection"></ng-container>
          </div>

          <div class="row myw-entity mt-2" *ngIf="entityView">
            <div class="table-responsive" *ngIf="entityLoader == true">
              <app-loader-display [className]='true'></app-loader-display>
              <div class="IngrAI-python-progress-dialogbox">
                <p>Entity loading please wait...</p>
              </div>
            </div>
            <ng-container [ngTemplateOutlet]="entitySection" *ngIf="entityLoader == false"></ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="ingrAI-sub-nav" style="padding-top: 1rem;">
      <label class="myw-toggle-switch ingrain-switch myw-inline">
        <input type="checkbox">
        <span class="label-first fs-12" [ngStyle]="checkColor()" (click)="loadModel()">Model</span>
        <span class="label-last fs-12" [ngStyle]="checkColorPublish()" (click)="loadUseCases()">Saved Usecase</span>
      </label>
    </div>
    <div class="myw-section px-3 mt-2" *ngIf="showListOfModels && listOfModels.length > 0 && !enablePublishUseCaseTab">
      <div class="table-responsive">
        <app-inference-models [listOfIEModels]="listOfModels" [paramData]="paramData"></app-inference-models>
      </div>
    </div>

    <div class="myw-section px-3 mt-2" *ngIf="enablePublishUseCaseTab">
      <div class="table-responsive">
        <!-- <app-inference-models [listOfIEModels]="listOfModels" [paramData]="paramData"></app-inference-models> -->
        <app-published-use-case [paramData]="paramData" (publishedUseCasesList)='publishUsecaseData($event)'></app-published-use-case>
      </div>
    </div>
  </div>

  <div class="myw-container" *ngIf="loaderScreenIE">
    <app-loader-screen-ie [requiredUploadIEPayload]="processingIEData" [modelName]="modelName"
    [FileEntityName]="FileEntityName"
      (loaderFinished)="loaderFinishedinjestIEDataCheck($event)"></app-loader-screen-ie>
  </div>


</div>


<ng-template #FileEntityOptionToUpload>
  <div class="row">
  <div class="col-6 col-lg-6">
  <h6 class="fs-14 myw-500 mb-3">How do you want to upload the file? Below are the possible options:</h6>
  <div class="form-group mb-2">
    <div class="form-inline">
      <label class="myw-checkbox" *ngIf= "this.env != 'FDS' && this.env != 'PAM'">
        <input type="radio" name="radio-file" (click)="setFileView()" [checked]='fileView'><span>Upload
          File</span></label>
      <label class="myw-checkbox"><input type="radio" name="radio-file"
          (click)="setEntityView()" [checked]='entityView'><span>Entity</span></label>

          <label class="myw-checkbox" *ngIf= "this.env == 'FDS' || this.env == 'PAM'">
            <input type="radio" name="radio-file" (click)="setFileView()" [checked]='fileView'><span>Upload
              File</span></label>
       
    </div>
  </div>
  </div>
  <div class="col-6 d-flex col-lg-6">
    <div><img src="assets/images/info-l.svg" alt="Info" /></div>
    <div class="ml-5">
      <ol type="number">
        <li> Minimum 20 data points are required </li>
        <li> Data should have atleast one date column</li>
        <li> Good to have atleast 12-15 months of data to generate inferences</li>
      </ol>
    </div>
  </div> 
  </div>
</ng-template>

<ng-template #uploadTemplateSection>
  <div class="myw-upload">
    <div class="row">
      <!-- <div class="col-4">
          <div class="myw-upload-link">
            <h6 class="myw-500">Upload File</h6>
            <p style="font-size: 12px;">Please Download the template and
              upload relevant data to train the model.</p>

                <a href="#" (click)='downloadData()'>
              <img src="assets/images/doc-download-icon.svg" alt="">
              <span>Download predefined template</span>
            </a>
          </div>
        </div> -->

      <div class="col-12">
        <div (dragover)='allowDrop($event)' (drop)='onDrop($event)'
          class="d-flex flex-column align-items-center justify-content-center myw-upload-drag"
          style="min-height: 5rem;">
          <label class="fs-12 text-secondary" style="cursor: pointer;">
            <img src="assets/images/browser-ai.svg" alt="browse">
            <input type="file" id="myInput" #fileInput style="display:none;" class=""
              accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv"
              (change)="getFileDetails($event)" (click)="$event.target.value = null"  multiple>
          </label>
          <div class="myw-upload-sec">
            <div class="myw-upload-browse d-flex flex-column align-items-center justify-content-center">
              <label class="fs-12 text-secondary" style="cursor: pointer;">
                <span>Drag &amp; Drop or <strong class="hyperlink">Browse Files</strong></span>
                <input type="file" id="myInput" #fileInput style="display:none;" class=""
                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv"
                  (change)="getFileDetails($event)"  (click)="$event.target.value = null"  multiple>
              </label>
              <!-- <p class="fs-12 my-2"><a  ><u>Read</u></a> the instructions before uploading the file.</p> -->
            </div>
          </div>
          <div class="myw-upload-file" style="width: -webkit-fill-available;"
            *ngIf="sourceTotalLength >= 1 && files.length > 0">
            <div class="myw-file-item d-flex align-items-center mb-0"
              *ngFor="let uploaded of files; let fileIndex = index">
              <div class="flex-fill d-flex align-items-center">
                <h6>{{uploaded.name}}</h6>
                <div class="flex-fill">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                      aria-valuemax="100" style="width: 100%;"></div>
                  </div>
                  <!-- <small class="text-danger">File uploading error! <a   class="text-reset">Click here</a> for more details.</small> -->
                  <small class="text-success">File Uploaded Successfully </small>
                </div>
                <span>100%</span>
                <div *ngIf="sourceTotalLength > 1">
                  <span>Choose as parent</span>
                  <input #selectedParentFile type="radio" name="radio" (change)="setParentFile(uploaded.name,'file')">
                </div>
              </div>
              <a   title="Remove" aria-label="Remove"
                (click)="removeFile(fileIndex,uploaded.name)"></a>
              <!-- <button class="btn btn-primary" *ngIf="isClustering != true && similarityAnalysis != true" (click)="trainRetrain(false)">Apply</button> -->

            </div>
            <div class="d-flex mt-2">
              <button class="btn btn-primary ml-auto" (click)="onSubmit()">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #entitySection>
  <div class="col-3">
    <div class="form-group mb-3" [formGroup]="entityFormGroup">
      <mat-form-field>
        <mat-label>Delivery Type</mat-label>
        <ng-container>
          <mat-select #deliveryType formControlName="deliveryTypeControl" [(value)]="selectedDeliveryType"
            (ngModelChange)="onChangeOfDeliveryType(deliveryType.value)">
            <ng-container *ngIf="deliveryTypeList.length>0">
              <mat-option *ngFor="let deliveryType of deliveryTypeList" matTooltip="{{deliveryType}}"
                [value]="deliveryType">
                {{deliveryType}}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="deliveryTypeList.length==0">
              <mat-option value="">Select Delivery Type</mat-option>
            </ng-container>
          </mat-select>
        </ng-container>
        <mat-error *ngIf="entityFormGroup.get('deliveryTypeControl').invalid">Please Choose Delivery
          Type
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="col-3">
    <div class="form-group mb-3" [formGroup]="entityFormGroup">
      <mat-form-field>
        <input matInput formControlName="startDateControl" [matDatepicker]="picker1" placeholder="Start Date"  [min]='minDate'
          [max]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"><svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
            <use xlink:href="#ingrAI-icon-calender"></use>
          </svg></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="entityFormGroup.get('startDateControl').invalid">Start Date
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <div class="form-group mb-3" [formGroup]="entityFormGroup">
      <mat-form-field>
        <input #endDateInput formControlName="endDateControl" matInput [matDatepicker]="picker2" placeholder="End Date"
          [min]="startDate" [max]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"><svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
            <use xlink:href="#ingrAI-icon-calender"></use>
          </svg></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="entityFormGroup.get('endDateControl').invalid">End Date
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="col-3">
    <ng-container *ngIf="(env=='FDS' || env == 'PAM') && (requestType=='AM' || requestType=='IO')">
      <div class="form-group mb-3" [formGroup]="entityFormGroup">
        <mat-form-field>
          <mat-label>Choose Data</mat-label>
          <ng-container>
            <mat-select #entityInput formControlName="entityControl" (ngModelChange)="onChangeOFEntity()"
              [(value)]="selectedEntity" 
              [disabled]="entityFormGroup.get('startDateControl').value=='' || entityFormGroup.get('endDateControl').value==''">              
                <mat-option *ngFor="let entity of entityList2" matTooltip="{{entity.sub}}" [value]="entity.name">
                  {{entity.name}}
                </mat-option>              
              <ng-container *ngIf="entityList2.length==0">
                <mat-option value="">Select Data</mat-option>
              </ng-container>
            </mat-select>
          </ng-container>
          <mat-error *ngIf="entityFormGroup.get('entityControl').invalid">Please Choose Entity Type
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container *ngIf="(env!=='FDS' && env!=='PAM') && (requestType!=='AM' || requestType!=='IO')">
      <div class="form-group mb-3" [formGroup]="entityFormGroup">
        <mat-form-field>
          <mat-label>Choose Data</mat-label>
          <ng-container>
            <mat-select #entityInput formControlName="entityControl" (ngModelChange)="onChangeOFEntity()"
              [(value)]="selectedEntity" multiple
              [disabled]="entityFormGroup.get('startDateControl').value=='' || entityFormGroup.get('endDateControl').value==''">
              <ng-container *ngIf="entityList.length>0">
                <mat-option *ngFor="let entity of entityList" matTooltip="{{entity.sub}}" [value]="entity.name">
                  {{entity.name}}
                </mat-option>
              </ng-container>
              <ng-container *ngIf="entityList.length==0">
                <mat-option value="">Select Data</mat-option>
              </ng-container>
            </mat-select>
          </ng-container>
          <mat-error *ngIf="entityFormGroup.get('entityControl').invalid">Please Choose Entity Type
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>

    <!-- <div class="form-group mb-3" [formGroup]="entityFormGroup">
      <mat-form-field>
        <mat-label>Choose Data</mat-label>
        <ng-container>
          <mat-select #entityInput formControlName="entityControl" (ngModelChange)="onChangeOFEntity()"
            [(value)]="selectedEntity" [disabled]="entityFormGroup.get('startDateControl').value=='' || entityFormGroup.get('endDateControl').value=='' ">
            <ng-container *ngIf="env=='FDS' && (requestType=='AM' || requestType=='IO')">
              <mat-option *ngFor="let entity of entityList2" matTooltip="{{entity.sub}}" [value]="entity.name">
                {{entity.name}}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="entityList.length>0">
              <mat-option *ngFor="let entity of entityList" matTooltip="{{entity.sub}}" [value]="entity.name">
                {{entity.name}}
              </mat-option>
            </ng-container>
            <ng-container *ngIf="entityList.length==0 && !(env=='FDS' && (requestType=='AM' || requestType=='IO'))">
              <mat-option value="">Select Data</mat-option>
            </ng-container>
          </mat-select>
        </ng-container>
        <mat-error *ngIf="entityFormGroup.get('entityControl').invalid">Please Choose Entity Type
        </mat-error>
      </mat-form-field>
    </div> -->
  </div>

  <div class="myw-upload-file" style="width: -webkit-fill-available;" *ngIf="entityArray.length > 0">

    <ng-container *ngIf="(env!='FDS' && env!=='PAM') && (requestType!='AM' || requestType!='IO')">
      <div class="myw-file-item d-flex align-items-center" *ngFor="let entity of entityArray;let entityAtIndex = index">
        <div class="flex-fill d-flex align-items-center">
          <h6>Entity - {{entity}}</h6>
          <div class="flex-fill">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                style="width: 100%;"></div>
            </div>
            <small>Uploaded</small>
          </div>
          <span>100%</span>
          <div *ngIf="sourceTotalLength>1">
            <span>Choose as parent</span>
            <input #selectedParentFile type="radio" name="radio" (change)="setParentFile(entity,'Entity')">
          </div>
        </div>
        <a   title="Remove" aria-label="Remove" (click)="removeEntity(entityAtIndex,entity)"></a>
      </div>
      <div class="d-flex mt-2">
        <button class="btn btn-primary ml-auto" (click)="onSubmit()">Apply</button>
      </div>
    </ng-container>
    <ng-container *ngIf="(env=='FDS' || env=='PAM') && (requestType=='AM' || requestType=='IO') && this.entityArray.length > 0">
      <div class="myw-file-item d-flex align-items-center">
        <div class="flex-fill d-flex align-items-center">
          <h6>Entity - {{entityArray}}</h6>
          <div class="flex-fill">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                style="width: 100%;"></div>
            </div>
            <small>Uploaded</small>
          </div>
          <span>100%</span>
          <div *ngIf="sourceTotalLength>1">
            <span>Choose as parent</span>
            <input #selectedParentFile type="radio" name="radio" (change)="setParentFile(entityArray,'Entity')">
          </div>
        </div>
        <a   title="Remove" (click)="removeEntity(entityAtIndex,entityArray)" aria-label="Remove"></a>
      </div>
      <div class="d-flex mt-2">
        <button class="btn btn-primary ml-auto" (click)="onSubmit()">Apply</button>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- /content -->