

.vds-wrapper, .vds-wrap{ display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
.vds-wrapper{ min-height: 100vh; min-width: 768px; position: relative; padding-left: 0; padding-right: 0; }
.vds-wrap{ -ms-flex: 1 1 auto; flex: 1 1 auto; }


/* general */
a, .btn-link{ color: #004dff; text-decoration: none; }


/* bs customization */
.btn, .form-control, .dropdown-menu, .modal-content, .modal-header, .card, .alert, 
.popover, .progress, .custom-file-label, .pagination, .page-link, .list-group, .list-group-item{ 
	-webkit-border-radius: 0.25rem; border-radius: 0.25rem; }
h1, .fs-36{ font-size: 2.25rem; font-weight: 700; }
h2, .fs-30{ font-size: 1.875rem; font-weight: 600; }
h3, .fs-24{ font-size: 1.5rem; font-weight: 600; }
h4, .fs-20{ font-size: 1.25rem; font-weight: 600; }
h5, .fs-18{ font-size: 1.125rem; font-weight: 600; }
h6, .fs-16{ font-size: 1rem; font-weight: 600; }
.fs-14{ font-size: 0.875rem; }
.fs-12{ font-size: 0.75rem; }
.form-label{ margin-bottom: 0.25rem; color: #43425d; font-weight: 500; }
.form-value{ font-weight: 600; }
.text-primary{ color: #004DFF  !important; }
.text-secondary{ color: #43425d !important; }
.text-dark{ color: #000 !important; }
.text-muted{ color: #979797 !important; }


/* buttons */
.btn{ display: -ms-inline-flexbox; display: inline-flex; -ms-flex-pack: center; justify-content: center;
	-ms-flex-align: center; align-items: center; height: 2.375rem; min-width: 6rem; font-weight: 500; color: #000;
	padding: 0.375rem 1.25rem; -webkit-border-radius: 50rem; border-radius: 50rem; }
.btn, .btn:hover, .btn:focus{ text-decoration: none; }
.btn:hover, .btn.focus, .btn:focus{ box-shadow: 0 0 .25rem .125rem rgba(0,0,0,0.1); color: #2800ff; }
.btn.active:focus, .btn:active:focus{ box-shadow: none !important; }
.btn span{ display: inline-block; vertical-align: middle; line-height: 1; }
.btn-sm{ padding: .25rem .75rem; height: 1.9375rem; min-width: 5rem; }
.btn.disabled, .btn:disabled{ background-color: #b2b2b2 !important; background-image: none !important;  box-shadow: none !important; 
	border-color: #b2b2b2 !important; color: #585858 !important; opacity: 1; }
.btn img{ max-width: 1.25rem; max-width: 100%; height: auto; max-height: 1.25rem; }
.btn-sm img{ max-width: 1rem; max-height: 1rem; }

.btn-link{ color: #004dff; }
.btn-link:hover, .btn-link:focus{ text-decoration: underline; color: #2800ff; }
.btn-link.active, .btn-link:active{ text-decoration: underline; color: #2800ff; }
.btn-link.disabled, .btn-link:disabled{ color: #585858 !important; background-color: transparent !important; border-color: transparent !important;  }

.btn-light{ color: inherit; background-color: rgba(0,0,0,0.05); border-color: transparent; }
.btn-light:hover, .btn-light:focus{ color: inherit; background-color: #deecf9; border-color: #deecf9; }
.btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, .show > .btn.dropdown-toggle{ color: inherit; background-color: #deecf9; border-color: #deecf9; }

.btn-primary{ color: #fff; background-color: #004dff; background-image: linear-gradient(90deg, #004dff, #00baff); border: 0; }
.btn-primary:hover, 
.btn-primary.focus, .btn-primary:focus{ color: #fff; background-color: #0043db; background-image: linear-gradient(90deg, #0043db, #0083db); 
	border: 0; }
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active{ color: #fff; background-color: #0043db; background-image: linear-gradient(90deg, #0043db, #0083db); 
	border: 0; }

.btn-secondary{ color: #43425d; background-color: #fff; border-color: #004dff; border-width: .125rem; }
.btn-secondary:hover, .btn-secondary.focus, .btn-secondary:focus{ color: #000; background-color: #fff; border-color: #0083db; }
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active{ color: #000; background-color: #fff; border-color: #0083db; }



.vds-upload-page-container { width: 80%; margin: 0 auto;}
.vds-continue-btn {justify-content: flex-end;  }	
.vds-continue-btn.open { display: flex; }
.vds-upload-file-container { background-color: #ffffff; border: 0; border-radius: 0.5rem; margin: 35px auto;;
    min-height: 262px; box-shadow: 0 0px 8px 0 rgba(0,0,0,0.15); -webkit-box-shadow: 0 0px 8px 0 rgba(0,0,0,0.15); 
	-ms-box-shadow: 0 0px 8px 0 rgba(0,0,0,0.15); padding: 1.25rem 2rem; }
.vds-upload-title { font-size: 1rem; color: #008; font-weight: 600;  }
.vds-download-link { font-size: 0.875rem; }
.vds-download-link img { height: 1rem; width: 1.25rem; }
.vds-sim-upload-container { position: relative; padding: 1.5rem 1rem; border: 1px dashed #aaaaaa; border-radius: 0.5rem; display: flex;
	flex-direction: column; align-items: center; justify-content: center; min-height: 15rem; height: 15rem; }
.vds-upload-file-container .vds-choose-file {  font-weight: 600; color: #005BFF;}
.vds-download { border: 1px solid #d7d7d7; border-radius: .625rem; overflow: hidden; background-color: #fff; padding: .625rem 1.25rem;
	 margin: 1.25rem 0; background-color: rgba(247, 250, 253, 0.6); }
.vds-download .vds-download-info { padding: 0 .625rem; font-size: 0.75rem; font-weight: 600; color: #008;}
.vds-download .vds-download-info span:last-child {  font-size: 0.625rem; color: #000; }
.vds-download-icon { width: 1.3125rem; height: 1.3125rem; border:1px solid #008; border-radius: 50%; display: flex; align-items: center;
  justify-content: center; }
.vds-sim-upload-container { position: relative; padding: 1.5rem 1rem; border: 1px dashed #aaaaaa; border-radius: 0.5rem; display: flex;
	flex-direction: column; align-items: center; justify-content: center; min-height: 15rem; height: 15rem; }
.vds-upload-file-container .vds-choose-file {  font-weight: 600; color: #005BFF;}

.progress.vds-upload-progress {  position: absolute; left: 0; right: 0; bottom: 0; border-radius: 0; height: 0.3rem;  }
.progress.vds-upload-progress .progress-bar{ background-color: #9ab5d8; }
.vds-choose-file{ position:relative; }
.vds-choose-file label{ margin:0; position:relative; z-index:1; cursor: pointer; }
.vds-choose-file input{ position:absolute; left:0; top:0; right:0; bottom:0; opacity:0; max-width:100%; z-index:0; }
.vds-excel-head { background-color: #5589bb; color: #fff; font-size: 0.75rem; padding: 0.3rem 0.5rem; }
.vds-excel-body { padding: 0.5rem; font-size: 0.75rem;  }
.vds-excel-body .vds-checkbox { margin-bottom: 0.8rem; }

/* icons */
.vds-icon{ display: inline-block; vertical-align: middle; width: 1rem; height: 1rem; fill: currentColor; line-height: 1; } /* 16 x 16 */
.vds-icon.vds-12{ width: 0.75rem; height: 0.75rem; } /* 12 x 12 */
.vds-icon.vds-14{ width: 0.875rem; height: 0.875rem; } /* 14 x 14 */
.vds-icon.vds-18{ width: 1.125rem; height: 1.125rem; } /* 18 x 18 */
.vds-icon.vds-20{ width: 1.25rem; height: 1.25rem; }  /* 20 x 20 */
.vds-icon.vds-24{ width: 1.5rem; height: 1.5rem; }  /* 24 x 24 */
.vds-icon.vds-32{ width: 2rem; height: 2rem; }  /* 32 x 32 */
.vds-icon.vds-40{ width: 2.5rem; height: 2.5rem; }  /* 40 x 40 */
.vds-icon.vds-64{ width: 4rem; height: 4rem; }  /* 64 x 64 */


/* custom radio/check box */
.vds-checkbox{ position: relative; display: block; min-height: 1.3125rem; min-width: 1.25rem; }
.vds-checkbox.vds-inline{ display: inline-block; vertical-align: middle; }
.form-inline .vds-checkbox{ margin-bottom: 0.5rem; }
.form-inline .vds-checkbox:not(:last-child){ margin-right: 0.75rem; }
.vds-checkbox label{ position: relative; margin: 0; display: block; cursor: default; min-height: 1.3125rem; }
.vds-checkbox input{ position: absolute; z-index: -1; opacity: 0; }
.vds-checkbox label span{ display: block; min-height: 1.3125rem; padding-left: 1.5rem; white-space: normal; word-wrap: break-word; position: relative; }
.vds-checkbox input:disabled + span{ opacity: 0.7; color: var(--color-secondary); }
.vds-checkbox label span:after, .vds-checkbox label span:before{ content: ''; display: block; width: 1rem; height: 1rem; 
	position: absolute; left: 0; top: 0.125rem;  pointer-events: none; }
.vds-checkbox label span:before{ border: 2px solid #0075ff; background-color: #deecf9; -webkit-border-radius:3px; border-radius:3px; 
	transition: all .15s ease-in-out; }
.vds-checkbox input:not(:disabled):focus + span:before, .vds-checkbox input:not(:disabled):hover + span:before{ 
	border-color: var(--action-hover); }
.vds-checkbox.vds-radio label span:before, .vds-checkbox.vds-radio label span:after{ -webkit-border-radius: 50%; border-radius: 50%; }
.vds-checkbox label span:after{ background-repeat: no-repeat; background-position: center center; background-size: 70% 70%; }
.vds-checkbox input:indeterminate + span:before{ border-color: #ccc; }
.vds-checkbox input:disabled + span:before{ border-color: #ccc; background-color: #ccc; }
.vds-checkbox input:checked + span:before, .vds-checkbox input:indeterminate + span:before{ border-color: #0075ff; background-color: #deecf9; }
.vds-checkbox input:disabled:checked + span:before, .vds-checkbox input:disabled:indeterminate + span:before{ 
	border-color: #0075ff; background-color: #deecf9; }
.vds-checkbox input:checked + span:after{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); background-size: 60% 60%; }
/* .vds-checkbox input:indeterminate + span:after{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23000' d='M0 2h4'/%3E%3C/svg%3E"); background-size: 50% 50%; } */
.vds-checkbox.vds-radio input:checked + span:after{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Ccircle cx='7' cy='7' r='3' fill='%23000'/%3E%3C/svg%3E"); background-size: 100% 100%; }
.vds-checkbox.vds-radio input:indeterminate + span:after{ background-image: none; }
.vds-checkbox.vds-radio input:indeterminate + span:before{ border-width: 1px; background-color: transparent; }
.checkedPhase { background-color: #fff !important; color: #000 !important; border-color: #004dff !important; }
  .uncheckedPhase { background-color: #fff !important; color: #000 !important; border-color: #d3d3d3 !important; }

  /* My Columns */
  .vds-columns label{ display: block; margin: 0 .75rem .75rem 0; position: relative; -webkit-user-select: none; user-select: none; }
  .vds-columns label input{ position: absolute; z-index: -1; opacity: 0; }
  .vds-columns label span{ display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center;
	  height: 2rem; white-space: nowrap; font-size: .75rem; border-radius: .25rem; padding: .375rem 1.25rem;
	  border: 1px solid #969696; background-color: #fff; cursor: pointer; }
  .vds-columns label input:hover + span, .myw-columns label input:focus + span{ border-color: #000; color: #000; }
  .vds-columns label input:checked + span{ background-color: #fff; color: #000; border-color: #004dff; }
  .vds-columns label input:disabled + span{ background-color: #d3d3d3; color: #5a5a5a; border-color: #d3d3d3; pointer-events: none; }
