<div class="c-icons__text">
  <span class="-arrow-link highlight" [ngClass]="[enableDropdown?'js-dropdown':'']"
    [ngStyle]="{'cursor':enableDropdown ? 'pointer' : 'none' }" title="{{clientName}} | {{chldName}}">
    <span class="c-icons__text-wrapper">
      <span class="c-icons__text-main">{{clientName}}</span>
      <span>|</span>
      <span class="c-icons__text-sub" title="{{ ((env == 'PAM' || env == 'FDS') && End2EndName!=chldName) ? End2EndName : ''}}">{{chldName}}</span>
    </span>
    <img class="c-icons__scope-img" src="assets/images/scope.svg" style="height: 1.25rem;">
  </span>
  <div class="c-icons__textdropdown -arrow-link-content" style="height: auto;margin-top: -1px; z-index: 1000" *ngIf="enableDropdown"
    [class.nav-active]="show" [hidden]="!show">
    <div class="c-icons__textdropdown-wrapper">
      <div class="c-icons__scope-filter">
        <input type="text" [(ngModel)]="searchText" maxlength="70" id="c-icons__search" class="c-icons__search"
          placeholder="Enter minimum three characters to search..." (input)="walkNodes($event.target.value)"
          style="max-width:100%;">
      </div>
      <ul style="padding: 0;">
        <li style="list-style: none !important; width: 100%;">
          <div class="ss-menu-wrap col-md-12 myw-scrollbar"
            style="padding-left:0px; padding-right:0px; overflow-x: hidden;height: 191px;">
            <ng-container *ngIf="isLoading; then displayLoader else displayClientData"></ng-container>
            <ng-template #displayLoader>
              <div class="loader">
                <div class="ingrain-loader"></div>
              </div>
            </ng-template>
            <ng-template #displayClientData>
              <ng-container *ngIf="!isLoading && !isSearch">
                <ul *ngFor="let value of cltDelStructData">
                  <li *ngIf="value !=null && value!=undefined" [ngClass]="[value.DeliveryStructureList!=null && value.DeliveryStructureList!=undefined
                           && value.DeliveryStructureList.length>0 ?'ss-exp-col':'', 
                            value.SelectedIndex=='True'? 'open selected':'',
                            value.SelectedIndex=='Final'? 'selected':'' ]" id="{{value.Name}}">
  
                    <span [ngClass]="'ss-client'" style="padding-left:10px;" (click)="flterClick($event,value,'parent');">
                      <!-- <img [src]="getURL(value.ImageBinary)" style="height:20px; padding-left:25px;" /> -->
                      <span (click)="flterClick($event,value,'name');">{{value.Name}}</span>
                      <span (click)="flterClick($event,value,'span');" class="" style="padding-left:550px;">
                      </span>
                    </span>
  
                    <div id="shwclient">
                      <ul *ngFor="let value1 of value.DeliveryStructureList">
                        <li *ngIf="value1 !=null && value1 !=undefined"
                          id="{{value1.DeliveryConstructUID + '&clientuid&' + value.ClientUId}}"
                          [ngClass]="[value1.Children!=null && value1.Children!=undefined && value1.Children.length>0 ?'ss-exp-col':'' , 
                                value1.SelectedIndex=='True'? 'open':'',value1.SelectedIndex=='Final'? 'highlighted':'' ]">
                          <span
                            title="{{value1.AcessRole==null || value1.AcessRole== undefined|| value1.AcessRole.length==0 ?'User dont have access':'' }}"
                            (click)="toggleclass($event,'child',value1)" style="padding-left:35px;">
                            <span>
                              <!-- <img [src]="getURL(value1.ImageBinary)" style="height:20px;" /> -->
                              {{value1.Name}}
                            </span>
                          </span>
  
                          <div *ngIf="value1.Children!=null && value1.Children!=undefined && value1.Children.length>0">
                            <ul>
                              <li id="{{value2.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                [ngClass]="[value2.Children!=null && value2.Children!=undefined && value2.Children.length>0 ?'ss-exp-col':'' ,value2.SelectedIndex=='Final'? 'highlighted':'',value2.SelectedIndex=='True'? 'open':'' ]"
                                *ngFor="let value2 of value1.Children">
                                <span
                                  title="{{value2.AcessRole==null || value2.AcessRole== undefined|| value2.AcessRole.length==0 ?'User dont have access':'' }}"
                                  (click)="toggleclass($event,'child',value2)" style="padding-left:65px;">
                                  <span>
                                    <!-- <img [src]="getURL(value2.ImageBinary)" style="height:20px; padding-right:5px;" /> -->
                                    {{value2.Name}}</span></span>
                                <div
                                  *ngIf="value2.Children!=null && value2.Children!=undefined && value2.Children.length>0">
                                  <ul>
                                    <li id="{{value3.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                      [ngClass]="[value3.Children!=null && value3.Children!=undefined && value3.Children.length>0?'ss-exp-col':'' ,value3.SelectedIndex=='True'? 'open':'',value3.SelectedIndex=='Final'? 'highlighted':'']  "
                                      *ngFor="let value3 of value2.Children">
                                      <span
                                        title="{{value3.AcessRole==null || value3.AcessRole== undefined|| value3.AcessRole.length==0 ?'User dont have access':'' }}"
                                        (click)="toggleclass($event,'child',value3)" style="padding-left:95px;">
                                        <span>
                                          <!-- <img [src]="getURL(value3.ImageBinary)" style="height:20px; padding-right:5px;" /> -->
                                          {{value3.Name}}</span></span>
                                      <div
                                        *ngIf="value3.Children!=null && value3.Children!=undefined && value3.Children.length>0">
                                        <ul>
                                          <li id="{{value4.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                            [ngClass]="[value4.Children!=null && value4.Children!=undefined && value4.Children.length>0?'ss-exp-col':'', value4.SelectedIndex=='True'? 'open':'',value4.SelectedIndex=='Final'? 'highlighted':'']"
                                            *ngFor="let value4 of value3.Children">
                                            <span
                                              title="{{value4.AcessRole==null || value4.AcessRole== undefined|| value4.AcessRole.length==0 ?'User dont have access':'' }}"
                                              (click)="toggleclass($event,'child',value4)" style="padding-left:125px;">
                                              <span>
                                                <!-- <img [src]="getURL(value4.ImageBinary)" style="height:20px; padding-right:5px;"/> -->
                                                {{value4.Name}}</span></span>
                                            <div
                                              *ngIf="value4.Children!=null && value4.Children!=undefined && value4.Children.length>0">
                                              <ul>
                                                <li
                                                  id="{{value5.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                                  [ngClass]="[value5.Children!=null && value5.Children!=undefined && value5.Children.length>0?'ss-exp-col':'',  value5.SelectedIndex=='True'? 'open':'',value5.SelectedIndex=='Final'? 'highlighted':'']"
                                                  *ngFor="let value5 of value4.Children">
                                                  <span
                                                    title="{{value5.AcessRole==null || value5.AcessRole== undefined|| value5.AcessRole.length==0 ?'User dont have access':'' }}"
                                                    (click)="toggleclass($event,'child',value5)"
                                                    style="padding-left:155px;">
                                                    <span>
                                                      <!-- <img
                                                        [src]="getURL(value5.ImageBinary)"
                                                        style="height:20px; padding-right:5px;" /> -->
                                                      {{value5.Name}}</span></span>
  
                                                  <div
                                                    *ngIf="value5.Children!=null && value5.Children!=undefined && value5.Children.length>0">
                                                    <ul>
                                                      <li
                                                        id="{{value6.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                                        [ngClass]="[value6.Children!=null && value6.Children!=undefined && value6.Children.length>0?'ss-exp-col':'', value6.SelectedIndex=='True'? 'open':'',value7.SelectedIndex=='Final'? 'highlighted':'']"
                                                        *ngFor="let value6 of value5.Children">
                                                        <span
                                                          title="{{value6.AcessRole==null || value6.AcessRole== undefined|| value6.AcessRole.length==0 ?'User dont have access':'' }}"
                                                          (click)="toggleclass($event,'child',value6)"
                                                          style="padding-left:185px;"> <span>
                                                            <!-- <img
                                                              [src]="getURL(value6.ImageBinary)"
                                                              style="height:20px; padding-right:5px;" /> -->
                                                            {{value6.Name}}</span></span>
  
                                                        <div
                                                          *ngIf="value6.Children!=null && value6.Children!=undefined && value6.Children.length>0">
                                                          <ul>
                                                            <li
                                                              id="{{value7.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                                              [ngClass]="[value7.Children!=null && value7.Children!=undefined && value7.Children.length>0?'ss-exp-col':'' , value7.SelectedIndex=='True'? 'open':'',value7.SelectedIndex=='Final'? 'highlighted':'']"
                                                              *ngFor="let value7 of value6.Children">
                                                              <span
                                                                title="{{value7.AcessRole==null || value7.AcessRole== undefined|| value7.AcessRole.length==0 ?'User dont have access':'' }}"
                                                                (click)="toggleclass($event,'child',value7)"
                                                                style="padding-left:215px;"> <span>
                                                                  <!-- <img
                                                                    [src]="getURL(value7.ImageBinary)"
                                                                    style="height:20px; padding-right:5px;" /> -->
                                                                  {{value7.Name}}</span></span>
                                                              <div
                                                                *ngIf="value7.Children!=null && value7.Children!=undefined && value7.Children.length>0">
                                                                <ul>
                                                                  <li
                                                                    id="{{value8.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                                                    [ngClass]="[value8.Children!=null && value8.Children!=undefined && value8.Children.length>0?'ss-exp-col':'' , value8.SelectedIndex=='True'? 'open':'',value8.SelectedIndex=='Final'? 'highlighted':'']"
                                                                    *ngFor="let value8 of value7.Children">
                                                                    <span
                                                                      title="{{value8.AcessRole==null || value8.AcessRole== undefined|| value8.AcessRole.length==0 ?'User dont have access':'' }}"
                                                                      (click)="toggleclass($event,'child',value8)"
                                                                      style="padding-left:245px;"> <span>
                                                                        <!-- <img
                                                                          [src]="getURL(value8.ImageBinary)"
                                                                          style="height:20px; padding-right:5px;" /> -->
                                                                        {{value8.Name}}</span></span>
                                                                    <div
                                                                      *ngIf="value8.Children!=null && value8.Children!=undefined && value8.Children.length>0">
                                                                      <ul>
                                                                        <li
                                                                          id="{{value9.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                                                          [ngClass]="[value9.Children!=null && value9.Children!=undefined && value9.Children.length>0?'ss-exp-col':'' , value9.SelectedIndex=='True'? 'open':'',value9.SelectedIndex=='Final'? 'highlighted':'']"
                                                                          *ngFor="let value9 of value8.Children">
                                                                          <span
                                                                            title="{{value9.AcessRole==null || value9.AcessRole== undefined|| value9.AcessRole.length==0 ?'User dont have access':'' }}"
                                                                            (click)="toggleclass($event,'child',value9)"
                                                                            style="padding-left:275px;"> <span>
                                                                              <!-- <img
                                                                                [src]="getURL(value9.ImageBinary)"
                                                                                style="height:20px; padding-right:5px;" /> -->
                                                                              {{value9.Name}}</span></span>
                                                                          <div
                                                                            *ngIf="value9.Children!=null && value9.Children!=undefined && value9.Children.length>0">
                                                                            <ul>
                                                                              <li
                                                                                id="{{value10.DeliveryConstructUID  + '&clientuid&' + value.ClientUId}}"
                                                                                [ngClass]="[value10.Children!=null && value10.Children!=undefined && value10.Children.length>0?'ss-exp-col':'' , value10.SelectedIndex=='True'? 'open':'',value10.SelectedIndex=='Final'? 'highlighted':'']"
                                                                                *ngFor="let value10 of value9.Children">
                                                                                <span
                                                                                  title="{{value10.AcessRole==null || value10.AcessRole== undefined|| value10.AcessRole.length==0 ?'User dont have access':'' }}"
                                                                                  (click)="toggleclass($event,'child',value10)"
                                                                                  style="padding-left:305px;">
                                                                                  <span>
                                                                                    <!-- <img
                                                                                      [src]="getURL(value10.ImageBinary)"
                                                                                      style="height:20px; padding-right:5px;" /> -->
                                                                                    {{value10.Name}}</span></span>
  
                                                                              </li>
                                                                            </ul>
                                                                          </div>
                                                                        </li>
                                                                      </ul>
                                                                    </div>
                                                                  </li>
                                                                </ul>
                                                              </div>
                                                            </li>
                                                          </ul>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </li>
  
                                              </ul>
                                            </div>
                                          </li>
  
                                        </ul>
                                      </div>
                                    </li>
  
                                  </ul>
                                </div>
                              </li>
  
                            </ul>
                          </div>
  
                        </li>
                      </ul>
                    </div>
  
                  </li>
  
                </ul>
              </ng-container>
              <ng-container *ngIf="!isLoading && isSearch">
                <ul *ngFor="let value of cltDelStructData; let i = index">
                  <li *ngIf="value !=null && value!=undefined" [ngClass]="[value.SelectedIndex=='True'? 'ss-exp-col open selected':'',
                            value.SelectedIndex=='Final'? 'ss-exp-col selected':'' ]" id="{{value.DeliveryConstructUId  + '&clientuid&' + value.ClientUId}}">
  
                    <p style="padding-left:10px;">
                      <span (click)="highlightSelection(value, i)">{{value.Name}}</span>
                    </p>  
                  </li>
  
                </ul>
              </ng-container>
            </ng-template>
          </div>
        </li>

      </ul>
      <div class="c-cta">
        <button type="button" [disabled]="!btnApply" class="c-cta__button" (click)="applyDefault()"
          id="applyDefault">Apply
          &amp; Set as
          Default</button>
        <button type="button" [disabled]="!btnApply" class="c-cta__button" (click)="apply()" style="margin-right: 10px;"
          id="apply">Apply</button>
        <!-- <button type="button" [disabled]="!btnApply" class="c-cta__button" (click)="applyDefault()"
          id="applyDefault">Apply</button> -->
      </div>
    </div>
  </div>
</div>
