.info-msg{
    color:#FF000E;
    // font-size: 12px;
    // margin-bottom: 2px;
  }
  
  .myw-checkbox input:indeterminate + span:before {
    background-color: #fff;
    border: 1px solid #0089EF;
  }
  
  .myw-scrollbar {
    overflow-y: scroll;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #6A7070; // black;
  }
  
  
  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-color: #6A7070; // rgba(0,0,0,.42);
  }
  
  ::ng-deep .ingrAI-datasource-container .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #6A7070 i !important; // black !important;
  }
  
  ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-position: 0;
    background-color: #6A7070;// rgba(0,0,0,.42);
    background-image: none;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0.99px;
}
  

.myw-api-bg { border: 1px solid #CCCCCC; background-color: #F6F5FF; flex: 1 1 auto; }
.myw-api-addbtn { padding: 0 .625rem 2.8rem .625rem; }