a:hover { cursor: pointer;}


::ng-deep mat-select-trigger .myw-columns label {
    height: 1rem !important;
    padding: 1em !important;
    margin-bottom: 0rem !important;
}


::ng-deep .mat-form-field-infix {
    border: none !important;
    /* padding: 0 !important; */
}

::ng-deep .mat-form-field {
    padding: 0 !important;
}