<!DOCTYPE html>
<html>
<head>

    @{
        var applicationSuffix = Program.AppSettingsJson.GetAppSettings().GetSection("AppSettings").GetSection("applicationSuffix").Value;
        if (String.IsNullOrEmpty(applicationSuffix))
        {
            <base href="/">
        }
        else
        {
            <base href="@applicationSuffix">
        }
    }

    @if (ViewBag.MonteCarlo == true)
    {
        <title>Virtual Data Scientist</title>
    }
    else
    {
        <title>myWizard ingrAIn</title>
    }

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />    
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.svg" />
    <script src="assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link href="ScriptsUI/styles.css" rel="stylesheet" />
    <script src="ScriptsUI/polyfills.js"></script>
    <script src="ScriptsUI/main.js"></script>
    <script src="ScriptsUI/runtime.js"></script>
	<script src="assets/data/UserNotification.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    @*<script src="assets/js/script.js" type="text/javascript"></script>*@
</head>
<body class="d-flex flex-column">
    <a href="#main" class="sr-only sr-only-focusable mywizard-ingrAI-skippy-link">Skip to main content</a>
    @RenderBody()

    <div class="d-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
            <symbol viewBox="0 0 612 612" enable-background="new 0 0 612 612" id="ingrAI-icon-help"><g><path d="M336.962,200.875c7.956,9.792,11.906,21.337,11.906,34.634c0,9.514-2.727,18.666-8.151,27.512    c-2.977,5.007-6.898,9.848-11.795,14.465l-16.301,16.107c-15.634,15.356-25.732,28.958-30.35,40.865    c-4.618,11.878-6.927,27.54-6.927,46.957h36.275c0-17.108,1.947-30.044,5.814-38.807c3.866-8.763,12.323-19.444,25.37-32.102    c17.942-17.387,29.849-30.572,35.746-39.53s8.874-20.641,8.874-35.051c0-23.756-8.039-43.285-24.146-58.585    c-16.106-15.3-37.526-22.922-64.288-22.922c-28.931,0-51.686,8.929-68.266,26.789s-24.87,41.449-24.87,70.797h36.275    c0.667-17.665,3.478-31.184,8.346-40.559c8.679-16.83,24.369-25.259,47.068-25.259    C315.875,186.187,329.033,191.083,336.962,200.875z"></path><path d="M612,306C612,137.004,474.995,0,306,0C137.004,0,0,137.004,0,306c0,168.995,137.004,306,306,306    C474.995,612,612,474.995,612,306z M27.818,306C27.818,152.36,152.36,27.818,306,27.818S584.182,152.36,584.182,306    S459.64,584.182,306,584.182S27.818,459.64,27.818,306z"></path><rect x="274.51" y="415.214" width="40.559" height="42.367"></rect></g></symbol>

            <symbol viewBox="0 0 55 55" enable-background="new 0 0 55 55" id="ingrAI-icon-user"><g><path d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752  c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348  c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98  c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033  c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55  c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287  c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104  c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1  c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764  l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5  c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957  c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545  c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.52,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8  s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.346-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545  c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313  c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z" /></g></symbol>

            <symbol viewBox="0 0 27.02 27.02" enable-background="new 0 0 27.02 27.02" id="ingrAI-icon-home">
                <g>
                    <path d="M3.674,24.876c0,0-0.024,0.604,0.566,0.604c0.734,0,6.811-0.008,6.811-0.008l0.01-5.581 c0,0-0.096-0.92,0.797-0.92h2.826c1.056,0,0.991,0.92,0.991,0.92l-0.012,5.563c0,0,5.762,0,6.667,0
			c0.749,0,0.715-0.752,0.715-0.752V14.413l-9.396-8.358l-9.975,8.358C3.674,14.413,3.674,24.876,3.674,24.876z" />
                    <path d="M0,13.635c0,0,0.847,1.561,2.694,0l11.038-9.338l10.349,9.28c2.138,1.542,2.939,0,2.939,0 L13.732,1.54L0,13.635z" />
                    <polygon points="23.83,4.275 21.168,4.275 21.179,7.503 23.83,9.752" />
                </g>
            </symbol>

            <symbol viewBox="0 0 512.092 512.092" enable-background="new 0 0 512.092 512.092" id="ingrAI-icon-link">
                <g>
                    <path d="M312.453,199.601c-6.066-6.102-12.792-11.511-20.053-16.128c-19.232-12.315-41.59-18.859-64.427-18.859 c-31.697-0.059-62.106,12.535-84.48,34.987L34.949,308.23c-22.336,22.379-34.89,52.7-34.91,84.318 c-0.042,65.98,53.41,119.501,119.39,119.543c31.648,0.11,62.029-12.424,84.395-34.816l89.6-89.6 c1.628-1.614,2.537-3.816,2.524-6.108c-0.027-4.713-3.87-8.511-8.583-8.484h-3.413c-18.72,0.066-37.273-3.529-54.613-10.581
			c-3.195-1.315-6.867-0.573-9.301,1.877l-64.427,64.512c-20.006,20.006-52.442,20.006-72.448,0
			c-20.006-20.006-20.006-52.442,0-72.448l108.971-108.885c19.99-19.965,52.373-19.965,72.363,0
			c13.472,12.679,34.486,12.679,47.957,0c5.796-5.801,9.31-13.495,9.899-21.675C322.976,216.108,319.371,206.535,312.453,199.601z" />
                </g>
                <g>
                    <path d="M477.061,34.993c-46.657-46.657-122.303-46.657-168.96,0l-89.515,89.429c-2.458,2.47-3.167,6.185-1.792,9.387
			c1.359,3.211,4.535,5.272,8.021,5.205h3.157c18.698-0.034,37.221,3.589,54.528,10.667c3.195,1.315,6.867,0.573,9.301-1.877
			l64.256-64.171c20.006-20.006,52.442-20.006,72.448,0c20.006,20.006,20.006,52.442,0,72.448l-80.043,79.957l-0.683,0.768
			l-27.989,27.819c-19.99,19.965-52.373,19.965-72.363,0c-13.472-12.679-34.486-12.679-47.957,0
			c-5.833,5.845-9.35,13.606-9.899,21.845c-0.624,9.775,2.981,19.348,9.899,26.283c9.877,9.919,21.433,18.008,34.133,23.893
			c1.792,0.853,3.584,1.536,5.376,2.304c1.792,0.768,3.669,1.365,5.461,2.048c1.792,0.683,3.669,1.28,5.461,1.792l5.035,1.365
			c3.413,0.853,6.827,1.536,10.325,2.133c4.214,0.626,8.458,1.025,12.715,1.195h5.973h0.512l5.12-0.597
			c1.877-0.085,3.84-0.512,6.059-0.512h2.901l5.888-0.853l2.731-0.512l4.949-1.024h0.939c20.961-5.265,40.101-16.118,55.381-31.403
			l108.629-108.629C523.718,157.296,523.718,81.65,477.061,34.993z" />
                </g>
            </symbol>

            <symbol viewBox="0 0 268.765 268.765" enable-background="new 0 0 268.765 268.765" id="ingrAI-icon-setting">
                <g>
                    <path d="M267.92,119.461c-0.425-3.778-4.83-6.617-8.639-6.617
			c-12.315,0-23.243-7.231-27.826-18.414c-4.682-11.454-1.663-24.812,7.515-33.231c2.889-2.641,3.24-7.062,0.817-10.133
			c-6.303-8.004-13.467-15.234-21.289-21.5c-3.063-2.458-7.557-2.116-10.213,0.825c-8.01,8.871-22.398,12.168-33.516,7.529
			c-11.57-4.867-18.866-16.591-18.152-29.176c0.235-3.953-2.654-7.39-6.595-7.849c-10.038-1.161-20.164-1.197-30.232-0.08
			c-3.896,0.43-6.785,3.786-6.654,7.689c0.438,12.461-6.946,23.98-18.401,28.672c-10.985,4.487-25.272,1.218-33.266-7.574
			c-2.642-2.896-7.063-3.252-10.141-0.853c-8.054,6.319-15.379,13.555-21.74,21.493c-2.481,3.086-2.116,7.559,0.802,10.214
			c9.353,8.47,12.373,21.944,7.514,33.53c-4.639,11.046-16.109,18.165-29.24,18.165c-4.261-0.137-7.296,2.723-7.762,6.597
			c-1.182,10.096-1.196,20.383-0.058,30.561c0.422,3.794,4.961,6.608,8.812,6.608c11.702-0.299,22.937,6.946,27.65,18.415
			c4.698,11.454,1.678,24.804-7.514,33.23c-2.875,2.641-3.24,7.055-0.817,10.126c6.244,7.953,13.409,15.19,21.259,21.508
			c3.079,2.481,7.559,2.131,10.228-0.81c8.04-8.893,22.427-12.184,33.501-7.536c11.599,4.852,18.895,16.575,18.181,29.167
			c-0.233,3.955,2.67,7.398,6.595,7.85c5.135,0.599,10.301,0.898,15.481,0.898c4.917,0,9.835-0.27,14.752-0.817
			c3.897-0.43,6.784-3.786,6.653-7.696c-0.451-12.454,6.946-23.973,18.386-28.657c11.059-4.517,25.286-1.211,33.281,7.572
			c2.657,2.89,7.047,3.239,10.142,0.848c8.039-6.304,15.349-13.534,21.74-21.494c2.48-3.079,2.13-7.559-0.803-10.213
			c-9.353-8.47-12.388-21.946-7.529-33.524c4.568-10.899,15.612-18.217,27.491-18.217l1.662,0.043
			c3.853,0.313,7.398-2.655,7.865-6.588C269.044,139.917,269.058,129.639,267.92,119.461z M134.595,179.491
			c-24.718,0-44.824-20.106-44.824-44.824c0-24.717,20.106-44.824,44.824-44.824c24.717,0,44.823,20.107,44.823,44.824
			C179.418,159.385,159.312,179.491,134.595,179.491z" />
                </g>
            </symbol>

            <symbol viewBox="0 0 250.313 250.313" enable-background="new 0 0 250.313 250.313" id="ingrAI-icon-search">
                <g>
                    <path d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76
			c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911
			c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38
			c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146
			c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236
			C170.146,140.044,140.043,170.146,102.911,170.146z" />
                </g>
            </symbol>


            <symbol viewBox="0 0 64 64" enable-background="new 0 0 64 64" id="ingrAI-icon-add">
                <g transform="translate(28.000000, 278.000000)"><path d="M4-222.1c-13.2,0-23.9-10.7-23.9-23.9c0-13.2,10.7-23.9,23.9-23.9s23.9,10.7,23.9,23.9     C27.9-232.8,17.2-222.1,4-222.1L4-222.1z M4-267.3c-11.7,0-21.3,9.6-21.3,21.3s9.6,21.3,21.3,21.3s21.3-9.6,21.3-21.3 S15.7-267.3,4-267.3L4-267.3z" id="Fill-38" /><polygon points="-8.7,-247.4 16.7,-247.4 16.7,-244.6 -8.7,-244.6" /><polygon points="2.6,-258.7 5.4,-258.7 5.4,-233.3 2.6,-233.3" /></g>
            </symbol>

            <symbol viewBox="0 0 39 39" enable-background="new 0 0 39 39" id="ingrAI-icon-save">
                <g><circle cx="19.5" cy="19.5" r="19" style="fill:#15a7c9; stroke:#0fa7c9;" /><path d="M27.86,14.83a1.8,1.8,0,0,1,.56,1.35V26.86a1.8,1.8,0,0,1-.56,1.35,1.84,1.84,0,0,1-1.35.56h-14a1.91,1.91,0,0,1-1.91-1.91v-14a1.88,1.88,0,0,1,.56-1.36,1.83,1.83,0,0,1,1.35-.55H23.17a1.83,1.83,0,0,1,1.35.55Zm-1.59,12a.24.24,0,0,0,.16-.08.27.27,0,0,0,.08-.16V16.26a.27.27,0,0,0-.08-.16L23.32,13v4a.94.94,0,0,1-.27.68,1,1,0,0,1-.68.28h-7a1,1,0,0,1-1-1V12.84H12.73a.24.24,0,0,0-.16.08.23.23,0,0,0-.08.16V26.62a.27.27,0,0,0,.08.16.24.24,0,0,0,.16.08Zm-6.77-8a3.49,3.49,0,0,1,2.47,6A3.49,3.49,0,1,1,17,19.93,3.37,3.37,0,0,1,19.5,18.89Zm1.91-6.05h-5.1V16h5.1ZM19.5,24a1.55,1.55,0,0,0,1.59-1.59,1.56,1.56,0,0,0-1.59-1.6,1.57,1.57,0,0,0-1.59,1.6A1.57,1.57,0,0,0,19.5,24Z" style="fill:#fff;" /></g>
            </symbol>

            <symbol viewBox="0 0 20.4 21.2" enable-background="new 0 0 20.4 21.2" id="ingrAI-icon-close">
                <g>
                    <path class="st1" d="M18.5,2c0.5,0,1,0.2,1.4,0.6s0.6,0.8,0.6,1.4v14c0,0.5-0.2,1-0.6,1.4s-0.8,0.6-1.4,0.6H1.9
			c-0.5,0-1-0.2-1.4-0.6S0,18.5,0,17.9v-14c0-0.5,0.2-1,0.6-1.4S1.4,2,1.9,2H18.5z M18.5,17.7V4.2c0-0.1,0-0.1-0.1-0.2
			s-0.1-0.1-0.2-0.1H2.2C2.1,3.9,2,4,2,4S1.9,4.1,1.9,4.2v13.5c0,0.1,0,0.1,0.1,0.2s0.1,0.1,0.2,0.1h16.1c0.1,0,0.1,0,0.2-0.1
			S18.5,17.8,18.5,17.7z M14.2,8.5c0.1-0.1,0.1-0.2,0.1-0.4s0-0.2-0.1-0.3l-0.9-0.9c-0.1-0.1-0.2-0.1-0.3-0.1c-0.1,0-0.3,0-0.4,0.1
			l-2.4,2.5L7.8,6.9C7.7,6.8,7.5,6.8,7.4,6.8c-0.1,0-0.2,0-0.3,0.1L6.2,7.8C6.1,7.9,6.1,8,6.1,8.1s0.1,0.3,0.2,0.4l2.4,2.4
			l-2.5,2.4c-0.1,0.1-0.1,0.2-0.1,0.4S6.1,14,6.2,14L7.1,15c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3-0.1,0.4-0.2l2.4-2.4l2.4,2.5
			c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.2-0.1,0.3-0.2l0.9-0.9c0.1-0.1,0.2-0.2,0.2-0.3s0-0.3-0.1-0.4l-2.5-2.4L14.2,8.5z" />
                </g>
            </symbol>

            <symbol viewBox="0 0 39 39" enable-background="new 0 0 39 39" id="ingrAI-icon-database">
                <g>
                    <g>
                        <circle cx="19.5" cy="19.5" r="19" style="fill:#ffffff; stroke:#10ADD3;" />
                        <path style="stroke: #10ADD3;fill: #fff;" d="M28.84,11.67v2c0,1.72-4.3,3.13-9.6,3.13s-9.6-1.41-9.6-3.13v-2c0-1.73,4.3-3.14,9.6-3.14S28.84,9.94,28.84,11.67Zm0,4.4v4.41c0,1.72-4.3,3.13-9.6,3.13s-9.6-1.41-9.6-3.13V16.07c2.07,1.42,5.84,2.08,9.6,2.08S26.77,17.49,28.84,16.07Zm0,6.86v4.4c0,1.73-4.3,3.14-9.6,3.14s-9.6-1.41-9.6-3.14v-4.4c2.07,1.42,5.84,2.08,9.6,2.08S26.77,24.35,28.84,22.93Z" />
                    </g>
                </g>
            </symbol>

            <symbol viewBox="0 0 39 39" enable-background="new 0 0 39 39" id="ingrAI-icon-enter">
                <g>
                    <path d="M24.8,19.49a1.12,1.12,0,0,1,0,1.59L16.92,29a1.12,1.12,0,0,1-1.59,0,1.09,1.09,0,0,1-.33-.8v-4.5H8.63A1.13,1.13,0,0,1,7.5,22.54V18a1.13,1.13,0,0,1,1.13-1.13H15v-4.5a1.09,1.09,0,0,1,.33-.8,1.15,1.15,0,0,1,1.59,0ZM27,28.91a4.47,4.47,0,0,0,4.5-4.5v-9a4.47,4.47,0,0,0-4.5-4.5H23.06a.55.55,0,0,0-.56.56v1.88a.55.55,0,0,0,.56.56H27a1.54,1.54,0,0,1,1.5,1.5v9a1.54,1.54,0,0,1-1.5,1.5H23.06a.55.55,0,0,0-.56.56v1.88a.55.55,0,0,0,.56.56Z" style="fill:#ffffff;" />
                </g>
            </symbol>

            <symbol viewBox="0 0 19.75 19.75" enable-background="new 0 0 19.75 19.75" id="ingrAI-icon-circle-arrow"><g><path style="fill:#ffffff;" d="M14.81,1.33a10,10,0,0,1,3.61,3.61,9.56,9.56,0,0,1,1.33,4.94,9.52,9.52,0,0,1-1.33,4.93,9.92,9.92,0,0,1-3.61,3.61,9.52,9.52,0,0,1-4.93,1.33,9.56,9.56,0,0,1-4.94-1.33,10,10,0,0,1-3.61-3.61A9.52,9.52,0,0,1,0,9.88,9.56,9.56,0,0,1,1.33,4.94,10.07,10.07,0,0,1,4.94,1.33,9.56,9.56,0,0,1,9.88,0,9.52,9.52,0,0,1,14.81,1.33ZM9,3.78a.94.94,0,0,0-.68-.28.81.81,0,0,0-.63.28L7,4.46a1,1,0,0,0-.32.7A.84.84,0,0,0,7,5.81l4,4.07L7,13.94a.87.87,0,0,0,0,1.35l.68.64a.84.84,0,0,0,.65.32A.87.87,0,0,0,9,16l5.42-5.42a.93.93,0,0,0,.28-.67,1,1,0,0,0-.28-.68Z" /></g></symbol>

            <symbol viewBox="0 0 37.1 37.1" enable-background="new 0 0 37.1 37.1" id="ingrAI-icon-info"><g><g><path d="M18.55,0a17.93,17.93,0,0,1,9.28,2.51,18.72,18.72,0,0,1,6.76,6.76,18,18,0,0,1,2.51,9.28,18,18,0,0,1-2.51,9.28,18.72,18.72,0,0,1-6.76,6.76,18,18,0,0,1-9.28,2.51,18,18,0,0,1-9.27-2.51,18.67,18.67,0,0,1-6.77-6.76A18,18,0,0,1,0,18.55,18,18,0,0,1,2.51,9.27,18.67,18.67,0,0,1,9.28,2.51,17.87,17.87,0,0,1,18.55,0Zm4.19,27.23v-1.8a.86.86,0,0,0-.26-.63.87.87,0,0,0-.64-.27h-.9V17.05a.89.89,0,0,0-.89-.89H15.26a.89.89,0,0,0-.9.89v1.8a.86.86,0,0,0,.26.63.87.87,0,0,0,.64.27h.9v4.78h-.9a.87.87,0,0,0-.64.27.86.86,0,0,0-.26.63v1.8a.89.89,0,0,0,.9.89h6.58a.89.89,0,0,0,.9-.89Zm-4.19-19a3.18,3.18,0,0,0-3.14,3.14,3.13,3.13,0,0,0,5.35,2.21,3.09,3.09,0,0,0,0-4.42A3,3,0,0,0,18.55,8.23Z" /></g></g></symbol>

            <symbol viewBox="0 0 37.77 24.13" enable-background="new 0 0 37.77 24.13" id="ingrAI-icon-eye-view"><g><path d="M37.31,10.49a2.93,2.93,0,0,1,0,3.15,21,21,0,0,1-7.67,7.6,20.84,20.84,0,0,1-10.76,2.89A20.8,20.8,0,0,1,8.13,21.24a21,21,0,0,1-7.67-7.6,2.93,2.93,0,0,1,0-3.15,20.94,20.94,0,0,1,7.67-7.6A20.8,20.8,0,0,1,18.88,0,20.84,20.84,0,0,1,29.64,2.89,20.94,20.94,0,0,1,37.31,10.49ZM18.88,21a8.51,8.51,0,0,0,4.46-1.21,9.2,9.2,0,0,0,3.25-3.25,8.51,8.51,0,0,0,1.21-4.46,8.5,8.5,0,0,0-1.21-4.45,9.2,9.2,0,0,0-3.25-3.25,8.82,8.82,0,0,0-8.92,0,9.25,9.25,0,0,0-3.24,3.25A8.5,8.5,0,0,0,10,12.06a8.51,8.51,0,0,0,1.21,4.46,9.25,9.25,0,0,0,3.24,3.25A8.56,8.56,0,0,0,18.88,21Zm6.82-8.92a6.53,6.53,0,0,0-2-4.81,6.54,6.54,0,0,0-4.82-2A6.92,6.92,0,0,0,15.67,6a2.75,2.75,0,0,1,2,.82,2.71,2.71,0,0,1,.82,2,2.8,2.8,0,0,1-2.82,2.82,2.8,2.8,0,0,1-2.82-2.82,6.93,6.93,0,0,0-.79,3.21,6.58,6.58,0,0,0,2,4.82,6.55,6.55,0,0,0,4.82,2,6.54,6.54,0,0,0,4.82-2A6.54,6.54,0,0,0,25.7,12.06Z" /></g></symbol>

            <symbol viewBox="0 0 39 39" enable-background="new 0 0 39 39" id="ingrAI-icon-release-management"><g><g><circle style="fill:none; stroke:#15a7c9;" cx="19.5" cy="19.5" r="19" /></g><g id="Layer_12" data-name="Layer 12"><path d="M18,29.61H8.06a.55.55,0,0,1-.5-.51V7.92a.48.48,0,0,1,.5-.51H19c.16,0,.24,0,.33.09l4.95,5a.47.47,0,0,1,.16.42V17.5h-1V13.13L18.78,8.42H8.55V28.6H18v1Z" /><path class="cls-2" d="M23.9,13.36H19a.54.54,0,0,1-.49-.5V7.91a.48.48,0,0,1,.49-.5.44.44,0,0,1,.49.5v4.46h4.4a.43.43,0,0,1,.49.49.47.47,0,0,1-.49.5Z" /><path d="M30.93,31.59H26.86a.55.55,0,0,1-.51-.52V27a.49.49,0,0,1,.51-.51h4.07a.45.45,0,0,1,.51.51v4.12a.5.5,0,0,1-.51.52Zm-3.56-1h3.05V27.47H27.37v3.09Z" /><path class="cls-2" d="M25.06,31.59H21a.55.55,0,0,1-.51-.52V27a.49.49,0,0,1,.51-.51h4.07a.45.45,0,0,1,.51.51v4.12a.5.5,0,0,1-.51.52Zm-3.56-1h3.05V27.47H21.5v3.09Z" /><path d="M28.19,25.64H24.12a.54.54,0,0,1-.51-.51V21a.49.49,0,0,1,.51-.52h4.07a.45.45,0,0,1,.51.52v4.12a.49.49,0,0,1-.51.51Zm-3.56-1h3.05V21.52H24.63v3.09Z" /></g></g></symbol>

            <symbol viewBox="0 0 39 39" enable-background="new 0 0 39 39" id="ingrAI-icon-service-management"><g><g><circle style="fill:none; stroke:#15a7c9;" cx="19.5" cy="19.5" r="19" /></g><g><path d="M12.09,31.65a4.29,4.29,0,0,1-1.77-.34.82.82,0,0,1-.33-.42c0-.17,0-.34.17-.43L12,28.68V27.23h-1.6L8.64,29c-.08.17-.25.17-.42.17a.84.84,0,0,1-.42-.34,4.65,4.65,0,0,1,1-5,4.32,4.32,0,0,1,4.63-1.1l9.26-9.35a4.38,4.38,0,0,1,1.1-4.67,4.52,4.52,0,0,1,5-1,.86.86,0,0,1,.34.43c0,.17,0,.34-.17.42l-1.77,1.78v1.62h1.43l1.77-1.87c.09-.17.25-.17.42-.17a.84.84,0,0,1,.42.34,4.49,4.49,0,0,1-1,4.93,4.29,4.29,0,0,1-4.63,1.1L16.3,25.62a4.48,4.48,0,0,1-1,4.67,4.35,4.35,0,0,1-3.2,1.36Zm-.59-1a3.44,3.44,0,0,0,3-1,3.69,3.69,0,0,0,.76-3.91.53.53,0,0,1,.09-.59l9.68-9.77a.53.53,0,0,1,.59-.09,3.61,3.61,0,0,0,3.87-.76,3.53,3.53,0,0,0,1-3.06l-1.35,1.36a.65.65,0,0,1-.42.17h-2.1a.56.56,0,0,1-.51-.51v-2.3c0-.16.09-.25.17-.42l1.35-1.27a3.41,3.41,0,0,0-3.2.93,3.52,3.52,0,0,0-.67,3.91.71.71,0,0,1-.17.59L14,23.66a.71.71,0,0,1-.59.17,3.44,3.44,0,0,0-4.8,3.91l1.26-1.36c.17-.08.25-.17.42-.17h2.27a.55.55,0,0,1,.51.51v2.13a.65.65,0,0,1-.17.42L11.5,30.63Z" /><path d="M16.88,19.76l-3.5-3.55a4.39,4.39,0,0,1-4.59-1,4.64,4.64,0,0,1-1-5,.89.89,0,0,1,.42-.34c.17,0,.33,0,.42.17l1.75,1.86H12V10.3L10.13,8.53C10,8.45,10,8.28,10,8.11a.82.82,0,0,1,.33-.42,4.35,4.35,0,0,1,4.84,1,4.38,4.38,0,0,1,1.08,4.64l3.5,3.55-.67.76-3.75-3.8a.52.52,0,0,1-.08-.59,3.7,3.7,0,0,0-.75-3.89,3.13,3.13,0,0,0-3-.92l1.33,1.26a.87.87,0,0,1,.17.42v2.28a.54.54,0,0,1-.5.51H10.21a.62.62,0,0,1-.42-.17L8.54,11.4a3.25,3.25,0,0,0,.92,3,3.42,3.42,0,0,0,3.83.76.49.49,0,0,1,.59.08l3.75,3.8-.75.68Z" /><path d="M26.83,31.65a4.37,4.37,0,0,1-3.25-1.34,4.23,4.23,0,0,1-1.11-4.61l-3.6-3.52.69-.75,3.85,3.77a.79.79,0,0,1,.17.58,3.41,3.41,0,0,0,.68,3.86,3.86,3.86,0,0,0,3.25,1L26.15,29.3a.6.6,0,0,1-.18-.41v-2.1a.55.55,0,0,1,.52-.5h2.14c.17,0,.25.08.42.16l1.37,1.35a3.68,3.68,0,0,0-1-3.19,3.58,3.58,0,0,0-3.94-.67.82.82,0,0,1-.6-.17L21,20l.77-.67,3.6,3.52a4.45,4.45,0,0,1,4.7,1.09,4.34,4.34,0,0,1,1,4.95.89.89,0,0,1-.43.33.55.55,0,0,1-.43-.17l-1.79-1.76H27v1.43l1.8,1.76A.6.6,0,0,1,29,31c-.09.08-.17.25-.34.34a4.58,4.58,0,0,1-1.8.33Z" /></g></g></symbol>

            <symbol viewBox="0 0 39 39" enable-background="new 0 0 39 39" id="ingrAI-icon-agile-delivery"><g><g><circle style="fill:none; stroke:#15a7c9;" cx="19.5" cy="19.5" r="19" /></g><g><path d="M28.84,27.56l-2.22,2.15L24.4,27.45c-.22-.23-.53-.34-.74-.11A9.9,9.9,0,0,1,21,28.47a.69.69,0,0,0-.53.67v3.28H17.3V29.14a.75.75,0,0,0-.42-.67,9.27,9.27,0,0,1-2.76-1.13c-.21-.23-.53-.12-.74.11l-2.22,2.26L8.72,27.22a.54.54,0,0,0-.84.12.54.54,0,0,0,0,.9l2.85,2.93a.75.75,0,0,0,1,0l2.22-2.48a7.1,7.1,0,0,0,2.12.9v3.5a.71.71,0,0,0,.64.68h4.44a.71.71,0,0,0,.64-.68v-3.5a7.1,7.1,0,0,0,2.12-.9l2.33,2.48a.6.6,0,0,0,.84,0l2.65-2.7a.63.63,0,0,0,.11-.91.58.58,0,0,0-1,0Z" /><path d="M5.34,22.25H8.67a12.2,12.2,0,0,0,1.08,2.38.71.71,0,0,0,1,.22.8.8,0,0,0,.21-.87,9.09,9.09,0,0,1-1.18-2.6c0-.22-.33-.44-.54-.44H6V17.8H9.21c.21,0,.54-.22.54-.43a11.44,11.44,0,0,1,1.18-2.82.82.82,0,0,0-.11-.87L8.56,11.52,10.93,9l2.26,2.28a.65.65,0,0,0,.75.11,9.4,9.4,0,0,1,2.8-1.09.72.72,0,0,0,.43-.65V6.53H20.4V9.67a.67.67,0,0,0,.53.65,9.84,9.84,0,0,1,2.69,1.09.66.66,0,0,0,.76-.11L26.64,9,29,11.52l-2.15,2.16a.68.68,0,0,0-.11.87,11.64,11.64,0,0,1,1.08,2.82.73.73,0,0,0,.64.43h3.12v3.14H28.46a.72.72,0,0,0-.64.44A9,9,0,0,1,26.74,24a.58.58,0,0,0,.22.87.41.41,0,0,0,.32.1.58.58,0,0,0,.54-.32,8,8,0,0,0,1.08-2.38h3.33a.71.71,0,0,0,.65-.66V17.15a.71.71,0,0,0-.65-.65H28.9A18.55,18.55,0,0,0,28,14.23L30.4,12a.84.84,0,0,0,.22-.43A.84.84,0,0,0,30.4,11L27.07,7.72a.51.51,0,0,0-.86,0L23.84,10a12.88,12.88,0,0,0-2.15-.87V5.88A.62.62,0,0,0,21,5.23H16.52a.62.62,0,0,0-.64.65V9.13a12.54,12.54,0,0,0-2.15.87L11.47,7.72a.61.61,0,0,0-1,0L7.17,11a.82.82,0,0,0-.11.55.65.65,0,0,0,.11.43l2.36,2.38a13.62,13.62,0,0,0-.86,2.17H5.34a.7.7,0,0,0-.65.65v4.44a.7.7,0,0,0,.65.66Z" /><path d="M22.7,25a1,1,0,0,0,.54.11.63.63,0,0,0,.43-.11,7.23,7.23,0,0,0,1.93-5.19,7.69,7.69,0,0,0-2.36-5.19,8,8,0,0,0-3.66-1.66l.76-.55a.7.7,0,0,0,.1-1c-.21-.22-.64-.34-.86-.11L17.33,13a.82.82,0,0,0-.11,1l1.72,2.1a.82.82,0,0,0,1,.11.73.73,0,0,0,0-1l-.76-1a6,6,0,0,1,3.23,1.32,6.11,6.11,0,0,1,1.93,4.2A5.55,5.55,0,0,1,22.7,24a.86.86,0,0,0,0,1Z" /><path d="M13.77,26.27a.73.73,0,0,0-.61-.72H5.3a.73.73,0,0,0-.61.72A.74.74,0,0,0,5.3,27h7.86a.74.74,0,0,0,.61-.73Z" /><path d="M34.1,25.75,32,23.66a.65.65,0,0,0-.85,1l.95.88H19A5.73,5.73,0,0,1,15.05,24,6,6,0,0,1,13.24,20a5.76,5.76,0,0,1,2.87-5.16.9.9,0,0,0,.32-1,.68.68,0,0,0-1-.22A7.1,7.1,0,0,0,12,20,7.3,7.3,0,0,0,14.2,25a6.58,6.58,0,0,0,4.57,1.87h13.3L31,27.73a.58.58,0,0,0,0,.87c.11.22.21.33.43.33a.55.55,0,0,0,.42-.22l2.24-2a.89.89,0,0,0,.21-.55.45.45,0,0,0-.21-.44Z" /></g></g></symbol>

            <symbol x="0px" y="0px"
                    viewBox="0 0 20 13" style="enable-background:new 0 0 20 13;" id="ingrAI-icon-download-data">
                <g>
                    <path class="st0" d="M16.1,5.8c-0.3,0-0.5,0-0.7,0.1c0,0,0-0.1,0-0.1c0-3-2.4-5.4-5.4-5.4c-2.5,0-4.6,1.7-5.2,4.1
			c-0.1,0-0.1,0-0.2,0c-2.2,0-4.1,1.8-4.1,4.1s1.8,4.1,4.1,4.1h11.6c1.9,0,3.4-1.5,3.4-3.4S18,5.8,16.1,5.8z M10,11.2L5.9,7.2h2.7
			V4.5h2.7v2.7H14L10,11.2z" />
                </g>
            </symbol>
            <symbol x="0px" y="0px"
                    viewBox="0 0 20 13" style="enable-background:new 0 0 20 13;" id="ingrAI-icon-show-data">
                <g>
                    <path class="st0" d="M10,0.8c-3.6,0-6.9,2-9.4,5.2c-0.2,0.3-0.2,0.6,0,0.9c2.4,3.2,5.7,5.2,9.4,5.2s6.9-2,9.4-5.2
				c0.2-0.3,0.2-0.6,0-0.9C16.9,2.8,13.6,0.8,10,0.8z M10.3,10.5C7.9,10.6,5.9,8.7,6,6.2c0.1-2,1.7-3.6,3.7-3.7
				c2.4-0.2,4.4,1.8,4.2,4.2C13.9,8.7,12.2,10.4,10.3,10.5z M10.1,8.6c-1.3,0.1-2.4-1-2.3-2.3c0.1-1.1,0.9-1.9,2-2
				c1.3-0.1,2.4,1,2.3,2.3C12.1,7.7,11.2,8.6,10.1,8.6z" />
                </g>
            </symbol>
        </svg>
    </div>
</body>


</html>
