<div class="myw-navbar" style="top: -1px;" [ngClass]="isnavBarToggle == true ? 'collapsed': ''">
  <div class="myw-container d-flex flex-wrap">
    <div class="d-flex flex-nowrap align-items-center myw-navbar-wrap">
      <div class="myw-navbar-inner d-flex align-items-center">
      </div>
    </div>
    <div *ngIf="env !== 'FDS' && env !== 'PAM' && instanceType !== 'PAM'" class="d-flex flex-nowrap justify-content-end myw-navbar-actions">


      <div class="dropdown dropright dropflat d-flex ">
        <a class="myw-navbar-action" role="button" matTooltip="Info" data-toggle="dropdown" data-display="static"
          aria-haspopup="true" aria-expanded="false" id="infoPopup" data-toggle-tooltip="tooltip"
          data-placement="bottom" data-trigger="hover"><img src="assets/images/info.svg" alt="Info"/><span>Info</span></a>
        <div class="dropdown-menu dropdown-xl info-dropdown" aria-labelledby="infoPopup">
          <div class="d-flex align-items-center justify-content-between px-3 py-2">
            <h6 class="dropdown-title">Information</h6>
            <a style="cursor: pointer;" class="myw-dropdown-close" title="Close"><span
                class="sr-only">Close</span></a>
          </div>
          <div *ngIf="infoMessage" class="dropdown-body px-3 pb-3 myw-scrollbar"
            style="max-height: 6rem;font-size: 0.875em;" [innerHTML]="infoMessage">
            <!-- <p>{{infoMessage}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" (click)="toggleNavBar()" class="myw-navbar-pin" title="Toggle Navbar" data-toggle="tooltip"
    data-placement="left" data-trigger="hover"><img src="assets/images/pin.svg" alt="" /><span class="sr-only">Toggle
      Navbar</span></a>
</div>
<div class="vds-wrapper container-fluid vds-container" style="min-height: auto;">
  <div class="vds-wrap vds-container" style="    padding: 0;">

      <!-- /Top bar -->
      <div class="d-flex align-items-center flex-wrap nav-bar">
          <nav aria-label="breadcrumb" class="breadcrumb mt-3">
              <!-- (click)="navigateToVDS()" -->
              <a class="breadcrumb-item">{{categoryType}}</a>
              <a href="javascript:;" class="breadcrumb-item active" aria-current="page">Predictive Analytics</a>
          </nav>
      </div>
      <div class="d-flex align-items-center flex-wrap data-label" style="font-size: 12px;">
          <div class="col-9">
              <div class="col-6" style="display: inline;float: left;">Model Creation Date Time: {{createdDate}}</div>
              <div class="col-6" style="display: inline;float: right;">Last Prediction Date Time: {{modelLastPredictionTime}}</div>
              <!-- <div class="col-6">Last Trained Date Time: 15/01/2021 08:27:23 AM</div> -->
          </div>
          <div class="col-3">
              <input type="button" class="btn btn-secondary" value="Show Data" (click)="showData()">
              <input type="button" *ngIf="!isonlySingleEntity && !isMultipleEntities" class="btn btn-secondary ml-3" value="Upload Data" (click)="uploadData(uploadDataPopup)">
              <input type="button" *ngIf="isonlySingleEntity || isMultipleEntities" class="btn btn-secondary ml-3" value="Refresh Data" (click)="uploadFile('entity')">
          </div>
      </div>
      <div class="heading-bar">
          <label><b>{{modelName}}</b></label>&nbsp;
          <!-- <span *ngIf="modelType == 'Classification'" style="color: darkgrey;"><i><b>by Probability</b></i></span> -->
          <div style="font-size: 12px;">i. <i>Click on the highlighted text to unfold the cascade flow</i></div>
      </div>
      <div class="progress-section" *ngIf="isUploading == true">
          <label for="progress-indicator">Uploading progress:</label>
          <progress id="progress-indicator" [value]="progress" max="100"></progress>
          <div class="progress-div ml-3">
              <span>{{progress}}%</span>
          </div>
      </div>
  </div>
</div>

<div class="cascade-chart myw-scrollbar" #cascadeVisualization></div>

<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
<li [ngClass]="{disabled:pager.currentPage === 1}">
    <a (click)="setPage(1)">First</a>
</li>
<li [ngClass]="{disabled:pager.currentPage === 1}">
    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
</li>
<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
    <a (click)="setPage(page)">{{page}}</a>
</li>
<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <a (click)="setPage(pager.currentPage + 1)">Next</a>
</li>
<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
    <a (click)="setPage(pager.totalPages)">Last</a>
</li>
</ul>

<ng-template #uploadDataPopup>
  <div class="deploymodle-confirmpopup">
    <div class="modal-header" style="border-bottom: none;">
      <h5 class="modal-title" id="saveViewModalTitle">&nbsp;</h5>
      <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
        (click)="cancel()">
        <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
          <use xlink:href="#ingrAI-icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <div class="vds-upload-file-container vds-file-uploader">
          <div class="d-flex align-items-center mb-3">
            <div class="form-inline">
              <label class="myw-checkbox mb-0 vds-upload-title"><input type="radio" id="cds_radio1" name="modal-rd"
                  (click)="uploadView('file')" checked><span>Upload File</span></label>
              <!-- <label class="myw-checkbox mb-0 vds-upload-title"><input type="radio" id="cds_radio2" name="modal-rd"
                  (click)="uploadView('entity')"><span>Connect to data fabric</span></label> -->
            </div>
            <div class="ml-auto vds-download-link"><a href="javascript:;" (click)="downloadData()"
                class="text-decoration-none"><img class="vds-icon" src="assets/MonteCarlo/images/download-template.png"
                title="Export the password protected file, click on info icon to know the password hint" /> Download Template</a>
            </div>
          </div>
          <div *ngIf="view == 'file'" class="vds-sim-upload-container mb-3" (dragover)='allowDrop($event)' (drop)='onDrop($event)'>
            <img src="assets/MonteCarlo/images/upload.png" alt="Upload" title="Upload">
            <div class="text-center mt-3">Drop your files here <br> or
              <div class="vds-choose-file d-inline-flex" id="fileUpload1">
                <label for="vds-choose-file">Browse</label>
                <input id="vds-choose-file" type="file" (change)="getFileDetails($event)">
              </div>
            </div>
          </div>
          <!-- <div *ngIf="view == 'entity'" class="vds-sim-upload-container mb-3">
            <div class="text-center mt-3">Do you want to go ahead with Entity upload? Kindly click on upload button.</div>
          </div> -->
        </div>
        <div class="vds-download" *ngIf="files && files.length>0 && view=='file'">
          <div class="d-flex align-items-center">
            <img src="assets/MonteCarlo/images/uploaded-file.png" alt="File">
            <div class="vds-download-info d-flex flex-column">
              <span>Completed</span>
              <span>{{ files[0].name }} </span>
            </div>
            <a href="javascript:;" title="Tick" class="vds-download-icon ml-auto">
              <img src="assets/MonteCarlo/images/tick.svg" alt="Tick"></a>
          </div>
        </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-secondary" style=" font-size: 1rem;" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" style=" font-size: 1rem;" [disabled]="view=='file' && uploadFilesCount==0" (click)="uploadFile()">Upload</button>
      </div>
    </div>
  </div>
</ng-template>
