.cascade-chart {
    overflow-x: scroll;
    overflow-y: auto;
    min-width: 500px;
    background-color: white;
    margin-bottom: 20px;
  }

  .vds-container{ padding-left: 1rem; padding-right: 1rem; }
@media (max-width: 1280px){ .vds-container{ padding-left: 1rem; padding-right: 1rem; } }
.vds-container .breadcrumb { font-size: 0.875rem; }
.vds-container .breadcrumb-item + .breadcrumb-item:before {
  content: '>';
  font-weight: 400;
  color: inherit;
}

.data-label{
  border: 1px solid #888888;
  padding: 10px;
  box-shadow: 0px 5px 5px -5px #888888;
}

.link {
  fill: none;
  stroke: #e4e4e4;
  stroke-width: 1px;
}

.nav-bar, .progress-section, .heading-bar{
  height: 70px;
  padding: 10px;
}

.progress-indicator {
  width: 90%;
}

.vds-upload-page-container { width: 80%; margin: 0 auto;}
.vds-continue-btn {justify-content: flex-end;  }	
.vds-continue-btn.open { display: flex; }
.vds-upload-file-container { background-color: #ffffff; border: 0; border-radius: 0.5rem; margin: 10px auto;
    min-height: 262px;}
.vds-upload-title { font-size: 1rem; color: #008; font-weight: 600;  }
.vds-download-link { font-size: 0.875rem; }
.vds-download-link img { height: 1rem; width: 1.25rem; }
.vds-sim-upload-container { position: relative; padding: 1.5rem 1rem; border: 1px dashed #aaaaaa; border-radius: 0.5rem; display: flex;
	flex-direction: column; align-items: center; justify-content: center; min-height: 15rem; height: 15rem; }
.vds-upload-file-container .vds-choose-file {  font-weight: 600; color: #005BFF;}
.vds-download { border: 1px solid #d7d7d7; border-radius: .625rem; overflow: hidden; background-color: #fff; padding: .625rem 1.25rem;
	 margin: 1.25rem 0; background-color: rgba(247, 250, 253, 0.6); }
.vds-download .vds-download-info { padding: 0 .625rem; font-size: 0.75rem; font-weight: 600; color: #008;}
.vds-download .vds-download-info span:last-child {  font-size: 0.625rem; color: #000; }
.vds-download-icon { width: 1.3125rem; height: 1.3125rem; border:1px solid #008; border-radius: 50%; display: flex; align-items: center;
  justify-content: center; }
.vds-sim-upload-container { position: relative; padding: 1.5rem 1rem; border: 1px dashed #aaaaaa; border-radius: 0.5rem; display: flex;
	flex-direction: column; align-items: center; justify-content: center; min-height: 15rem; height: 15rem; }
.vds-upload-file-container .vds-choose-file {  font-weight: 600; color: #005BFF;}

.progress.vds-upload-progress {  position: absolute; left: 0; right: 0; bottom: 0; border-radius: 0; height: 0.3rem;  }
.progress.vds-upload-progress .progress-bar{ background-color: #9ab5d8; }
.vds-choose-file{ position:relative; }
.vds-choose-file label{ margin:0; position:relative; z-index:1; cursor: pointer; }
.vds-choose-file input{ position:absolute; left:0; top:0; right:0; bottom:0; opacity:0; max-width:100%; z-index:0; }
.vds-excel-head { background-color: #5589bb; color: #fff; font-size: 0.75rem; padding: 0.3rem 0.5rem; }
.vds-excel-body { padding: 0.5rem; font-size: 0.75rem;  }
.vds-excel-body .vds-checkbox { margin-bottom: 0.8rem; }

progress {width:90%;}
.progress-div{
  border: 1px solid darkgrey;
    display: inline;
    padding: 6px;
    border-radius: 5px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  float: right;
}

.pagination>li {
  display: inline;
  cursor: pointer;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}