<div class="myw-section">
  <div class="row align-items-center my-3">
    <div class="col">
      <div class="ingrain-reg-col ingrain-bdr text-center">
        <div class="form-group mt-3">
          <label class="myw-switch ingr-switch">
            <input type="checkbox" checked (change)="teachAndTestToggle($event)">
            <span class="label-first">What If Analysis</span>
            <span class="switch-toggle"></span>
            <span class="label-last">Hyper tuning</span>
          </label>
        </div>
      </div>
    </div>
    <fieldset [disabled]="readOnly">
      <div class="col">
        <div class="ingrain-reg-col">

          <ng-container *ngIf="cpuUsageValue>=70">
            <div class="row align-items-center">
              <div class="ingrain-reg-col-usage col">
                <div class="ingrain-chart-md">
                  <app-d3-donut-chart [donutInnerRadius]=35 [pageInfoForDonutChart]="'StartTrainning'"
                    [pythonProgressVal]="pythonProgressVal">
                  </app-d3-donut-chart>
                </div>
              </div>
              <div class="ingrain-reg-col-usage col">
                <span style="font-weight: normal;">System is busy,</span>
                <span>Please wait</span>
              </div>
              <div class="ingrain-reg-col-usage  col-auto">
                <input *ngIf="!readOnly" type="button" class="btn btn-primary btn-lg" [disabled]=!isTrainingBtn
                  value="Start Training" (click)="startTraining()" />
                <input *ngIf="readOnly" type="button" class="btn btn-primary btn-lg" disabled value="Start Training"
                  (click)="accessDenied()" />
                <div class="fs-12 mt-2">Estimated run time: {{selectedModelRuntime}}</div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="cpuUsageValue<=70 || cpuUsageValue == 0">
            <div class="row align-items-center">
              <div class="ingrain-reg-col-usage col" style="    margin-left: 3rem;">
                <div class="ingrain-chart-md">
                  <app-d3-donut-chart [donutInnerRadius]=35 [pageInfoForDonutChart]="'StartTrainning'"
                    [pythonProgressVal]="pythonProgressVal">
                  </app-d3-donut-chart>
                </div>
              </div>


              <div class="ingrain-reg-col-usage  col-auto" style="margin-right: 6rem;">
                <!-- <button class="btn btn-primary btn-lg" (click)="startTraining()">Start Training</button> -->

                <input *ngIf="!readOnly" type="button" class="btn btn-primary btn-lg" [disabled]=!isTrainingBtn
                  value="Start Training" (click)="startTraining()" />
                <input *ngIf="readOnly" type="button" class="btn btn-primary btn-lg" disabled value="Start Training"
                  (click)="accessDenied()" />

                <div class="fs-12 mt-2">Estimated run time: {{selectedModelRuntime}}</div>
              </div>
            </div>
          </ng-container>

        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="myw-section">
  <fieldset [disabled]="readOnly">
    <div class="p-3">
      <div class="d-flex align-items-center">
        <div class="form-group">
          <label class="form-label">Saved Hypertunung version</label>
          <select class="form-control" id="HyperTuningSettingsDropDown" (change)="onChangeOfHypertuneVersion($event)">
            <option value='savedVersion'>Saved Hypertuning version</option>
            <option *ngFor='let option of HyperTuningSettingsDropDownOptions' [value]='option'>{{option}}</option>
          </select>
        </div>
        <button class="btn btn-secondary ml-auto" *ngIf="!readOnly" type="button" [disabled]="!saveVersionButton"
          (click)="openVersionNamePopup()">Save Hyper Tuning Setting</button>

        <button class="btn btn-secondary ml-auto" *ngIf="readOnly" type="button" [disabled]="!saveVersionButton"
          (click)="accessDenied()">Save Hyper Tuning Setting</button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-vmiddle myw-table mb-3" *ngIf="showSavedVersion==false">
        <thead>
          <tr>
            <th scope="col">Hyper Parameters</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let row of HyperParameters'>
            <td>
              <label class="checkcontainer pl-0">
                <input #stringcheckboxinput type="checkbox" [checked]="true"
                  (click)="onChange(stringcheckboxinput,row,stringDropDown.value,'StringParam')">
                <span class="checkmark"></span>
              </label>
              {{row}}
            </td>
            <td class="d-flex flex-nowrap justify-content-between">
              <select (change)='onChange(stringcheckboxinput,row,stringDropDown.value,"StringParam")' #stringDropDown
                class="form-control string-values-drop-down" id="HyperParametersValueDropDown">
                <option value=''>Please Select An Option</option>
                <option [selected]="data['StringHyperParameters'][row][option] == 'true'"
                  *ngFor="let option of data['StringHyperParameters'][row]['keys']" [value]='option'>
                  {{option}}</option>
              </select>

            </td>
          </tr>

          <tr *ngFor='let row of IntegerHyperParameters["keys"]'>
            <td>
              <!-- <div class= "ingrAI-recomended-checkbox"> -->
              <label class="checkcontainer pl-0">
                <input #integercheckboxinput type="checkbox" [checked]="true"
                  (click)="onChange(integercheckboxinput, row,hyperTunningIntegerHyperParameters.value,'IntegerParam')">
                <span class="checkmark"></span>
              </label>
              <!-- </div>  -->
              {{row}}
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="ingrain-range-value">{{IntegerHyperParameters[row]['MinValue']}}</div>
                <div class="mx-3 ingrain-range w-100">
                  <input type="range" class="myw-range" #hyperTunningIntegerHyperParameters
                    [min]="IntegerHyperParameters[row]['MinValue']" [max]=" IntegerHyperParameters[row]['MaxValue']"
                    [value]="IntegerHyperParameters[row]['DefaultValue']"
                    [(ngModel)]="IntegerHyperParameters[row]['DefaultValue']"
                    (change)='onChange(integercheckboxinput,row,hyperTunningIntegerHyperParameters.value,"IntegerParam")'>
                  <span class="myw-range-output"
                    [ngStyle]="getStyles(hyperTunningIntegerHyperParameters.value,IntegerHyperParameters[row]['MinValue'], IntegerHyperParameters[row]['MaxValue'])">{{hyperTunningIntegerHyperParameters.value}}</span>
                </div>
                <div class="ingrain-range-value">{{ IntegerHyperParameters[row]['MaxValue'] }}</div>
              </div>

            </td>
          </tr>


          <tr *ngFor='let row of FloatHyperParameters["keys"]'>
            <td>
              <!-- <div class= "ingrAI-recomended-checkbox"> -->
              <label class="checkcontainer pl-0">
                <input #integercheckboxinput type="checkbox" [checked]="true"
                  (click)="onChange(integercheckboxinput, row,hyperTunningFloatHyperParameters.value,'IntegerParam')">
                <span class="checkmark"></span>
              </label>
              <!-- </div>  -->
              {{row}}
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="ingrain-range-value">{{FloatHyperParameters[row]['MinValue']}}</div>
                <div class="mx-3 ingrain-range w-100">
                  <input type="range" step="0.001" class="myw-range" #hyperTunningFloatHyperParameters
                    [min]="FloatHyperParameters[row]['MinValue']" [max]=" FloatHyperParameters[row]['MaxValue']"
                    [value]="FloatHyperParameters[row]['DefaultValue']"
                    [(ngModel)]="FloatHyperParameters[row]['DefaultValue']"
                    (change)='onChange(integercheckboxinput,row,hyperTunningFloatHyperParameters.value,"IntegerParam")'>
                  <span class="myw-range-output"
                    [ngStyle]="getStyles(hyperTunningFloatHyperParameters.value,FloatHyperParameters[row]['MinValue'], FloatHyperParameters[row]['MaxValue'])">{{hyperTunningFloatHyperParameters.value}}</span>
                </div>
                <div class="ingrain-range-value">{{ FloatHyperParameters[row]['MaxValue'] }}</div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-hover table-vmiddle myw-table mb-3" *ngIf="showSavedVersion==true">
        <thead>
          <tr>
            <th scope="col">Hyper Parameters</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let savedData of savedHypertunedData | keyvalue'>
            <td>
              {{savedData.key}}
            </td>
            <td class="d-flex flex-nowrap justify-content-between">
              {{savedData.value}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id='dvAfterTrainingDetails' class="d-none">

      <div class="myw-section p-3" *ngIf="isClassificationAccuracy">
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="row h-100">
              <div class="col-12">
                <div class="card ingrain-card">
                  <div class="card-header">
                    <div class="card-title"><span>Receiver Operating Characteristics (ROC) / AUC Curve </span>
                      <app-info-tooltip style="font-weight: normal;">
                        <div class="htmlDesignedTooltip">
                          AUC – ROC curve is a performance measurement for classification models. ROC is a probability
                          curve and the AUC stands for Area under the curve. The larger the area coverage under the
                          curve, the better is the fit of the model. In case of an excellent model the value is near
                          to 1 which means it has good measure of separability. And when AUC is 0.5, it means model
                          has no class separation capacity whatsoever.
                          <div>
                            The ROC curve is plotted with True Positive Rate (TPR) against the False Positive Rate
                            (FPR) where TPR is on y-axis and FPR is on the x-axis.
                          </div>
                          <div>
                            Here, TPR = TP/ TP + FN
                            <p>FPR = FP/ TN + FP</p>
                          </div>
                        </div>
                      </app-info-tooltip>
                    </div>
                  </div>
                  <!-- <img style="height: 315px; width: 345px"
                      [src]="domSanitizer.bypassSecurityTrustUrl(selectedFineTuneImg_64)" alt="Select Image" /> -->
                  <img style="height: 356px;" [src]="domSanitizer.bypassSecurityTrustUrl(selectedFineTuneImg_64)"
                    alt="Select Image" />
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="card ingrain-card">
                  <div class="form-row h-100">
                    <div class="col-6 ingrain-card-vr">
                      <div class="card-header">
                        <div class="card-title"><span>Accuracy</span>&nbsp;
                          <app-info-tooltip>
                            <div class="htmlDesignedTooltip">
                              Accuracy is the percentage of correct predictions given by the model. It is given by the
                              number of correct predictions divided by the total number of predictions * 100.
                            </div>
                          </app-info-tooltip>
                        </div>
                      </div>
                      <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                        <div class="ingrain-chart" style="margin: -2rem 2rem 0rem 0rem;">
                          <app-d3-donut-chart [donutInnerRadius]=55 [selectedModelAccuracy]="selectedAccuracyValue"
                            [defaultModelAccuracyOnLoad]="defaultModelAccuracyOnLoad"
                            [pageInfoForDonutChart]="'Accuracy'">
                          </app-d3-donut-chart>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card-header">
                        <div class="card-title"><span>F1 Score </span>
                          <app-info-tooltip>
                            <div class="htmlDesignedTooltip">
                              F1- Score is a measure of a Classification model’s accuracy on a dataset and is defined
                              as the harmonic mean of the model’s precision and recall.
                              <div>
                                Where, Precision = True Positives/ (True Positive + False Positive)
                                <div style="margin-left: 1.7rem;">
                                  Recall (Sensitivity) = True Positives/ (True Positives + False Negative)
                                </div>
                              </div>
                              <div>A perfect model has an F1-Score of 1.</div>
                            </div>
                          </app-info-tooltip>
                        </div>
                      </div>
                      <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                        <div class="ingrain-value fs-20">{{f1Score}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="card ingrain-card">
                  <div class="card-header">
                    <div class="card-title"><span>Confusion Matrix </span>
                      <app-info-tooltip>
                        <div class="htmlDesignedTooltip">
                          A confusion matrix is a table that is used to describe the performance of a classification
                          model on a set of test data for which the true values are known.
                          <div>
                            Here,
                            <div style="margin-left: 1.7rem;">
                              <ul>
                                <li>
                                  <b>True Positives (TP)</b>: These are cases in which we predicted High Priority, and
                                  they do have High Priority.
                                </li>
                                <li><b>True Negatives (TN)</b>: We predicted Low Priority, and they do have Low
                                  Priority.
                                </li>
                                <li><b>False Positives (FP)</b>: We predicted High Priority, but they are actually Low
                                  Priority. (Also known as a "Type I error.")
                                </li>
                                <li><b>False Negatives (FN)</b>: We predicted Low Priority, but they are actually High
                                  Priority. (Also known as a “Type II error.”)
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </app-info-tooltip>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="ingrain-conf-table d-flex">
                      <div class="ingrain-conf-col">
                        <div>Total n {{sumofTrueFalseValues}}</div>
                        <div class="ingrain-conf-act-text">——Actual——</div>
                        <div class="mt-auto">Column Sum</div>
                      </div>
                      <table class="table">
                        <thead>
                          <tr>
                            <th colspan="4" class="text-center">—————Predicted—————</th>
                          </tr>
                          <tr>
                            <th width="80px">&nbsp;</th>
                            <th class="text-center" width="80px">Yes</th>
                            <th class="text-center" width="80px">No</th>
                            <th>Rows Sum</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-right">Yes</td>
                            <td class="text-center">
                              <div class="conf-bg">TP {{truePositive}}</div>
                            </td>
                            <td class="text-center">
                              <div class="conf-bg">FN {{falseNegative}}</div>
                            </td>
                            <td> {{truePositive + falseNegative}}</td>
                          </tr>
                          <tr>
                            <td class="text-right">No</td>
                            <td class="text-center">
                              <div class="conf-bg">FP {{falsePositive}}</div>
                            </td>
                            <td class="text-center">
                              <div class="conf-bg">TN {{trueNegative}}</div>
                            </td>
                            <td> {{falsePositive + trueNegative}}</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                            <td class="text-center">{{truePositive + falsePositive}}</td>
                            <td class="text-center">{{falseNegative + trueNegative}}</td>
                            <td>&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card ingrain-card">
              <div class="card-header">
                <div class="card-title">Feature Weights</div>
              </div>
              <div class="card-body myw-scrollbar" style="max-height: 18rem;">
                <div class="table-responsive myw-scrollbar tbl-maxheight">
                  <table class="table table-striped table-hover table-vmiddle myw-table">
                    <thead>
                      <tr>
                        <th scope="col">Features</th>
                        <th scope="col">Weight</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let allFeatures of selectedModelFeatureWeight | keyvalue">
                        <td> {{allFeatures.key}}</td>
                        <td> {{allFeatures.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="myw-section p-3" *ngIf="isMultiClass">
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="row h-100">
              <div class="col-md-12 col-lg-5">
                <div class="card ingrain-card card-hf">
                  <div class="form-row h-100">
                    <div class="col-6 ingrain-card-vr">
                      <div class="card-header">
                        <div class="card-title"><span>Accuracy</span>&nbsp;
                          <app-info-tooltip>
                            <div class="htmlDesignedTooltip">
                              Accuracy is the percentage of correct predictions given by the model. It is given by the
                              number of correct predictions divided by the total number of predictions * 100.
                            </div>
                          </app-info-tooltip>
                        </div>
                      </div>
                      <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                        <div class="ingrain-chart" style="margin: 0rem 2rem 0rem 0rem;">
                          <app-d3-donut-chart [donutInnerRadius]=55 [selectedModelAccuracy]="selectedAccuracyValue"
                            [defaultModelAccuracyOnLoad]="defaultModelAccuracyOnLoad"
                            [pageInfoForDonutChart]="'Accuracy'">

                          </app-d3-donut-chart>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="card-header">
                        <div class="card-title"><span>Matthews Coefficient </span>
                          <app-info-tooltip [labelTitle]="" [description]="'matthewsCofficient'"
                            style="font-weight: normal;"> </app-info-tooltip>
                        </div>
                      </div>
                      <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                        <div class="ingrain-value fs-20">{{selectedMatthewsCoefficient}}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card ingrain-card card-hf">
                  <div class="card-header">
                    <div class="card-title">Feature Weights</div>
                  </div>
                  <div class="card-body myw-scrollbar" style="max-height: 18rem;">
                    <div class="table-responsive  tbl-maxheight">
                      <div class="">
                        <table class="table table-striped table-hover table-vmiddle myw-table">
                          <thead>
                            <tr>
                              <th scope="col">Features</th>
                              <th scope="col">Weight</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let allFeatures of selectedModelFeatureWeight  | keyvalue">
                              <td>{{allFeatures.key}} </td>
                              <td>{{allFeatures.value}} </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-12 col-lg-7">
                <div class="card ingrain-card">
                  <div class="card-header">
                    <div class="card-title"><span>Confusion Matrix </span>
                      <app-info-tooltip>
                        <div class="htmlDesignedTooltip">
                          A confusion matrix is a table that is used to describe the performance of a classification
                          model on a set of test data for which the true values are known.
                          <div>
                            Here,
                            <div style="margin-left: 1.7rem;">
                              <ul>
                                <li>
                                  <b>True Positives (TP)</b>: These are cases in which we predicted High Priority, and
                                  they do have High Priority.
                                </li>
                                <li><b>True Negatives (TN)</b>: We predicted Low Priority, and they do have Low
                                  Priority.
                                </li>
                                <li><b>False Positives (FP)</b>: We predicted High Priority, but they are actually Low
                                  Priority. (Also known as a "Type I error.")
                                </li>
                                <li><b>False Negatives (FN)</b>: We predicted Low Priority, but they are actually High
                                  Priority. (Also known as a “Type II error.”)
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </app-info-tooltip>
                    </div>
                    <a href="javascript:;" data-toggle="modal" data-target="#confMatrixModal"><img
                        src="assets/images/zoom.svg" alt="Zoom" /></a>
                  </div>
                  <div class="card-body">
                    <div class="">
                      <img style="height: 100%; width: 100%;"
                        [src]="domSanitizer.bypassSecurityTrustUrl(multiClassConfusionMatrix)" alt="Confusion Matrix" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="card ingrain-card">
              <div class="card-header">
                <div class="card-title">Classification Report</div>
                <app-info-tooltip [className]="'toggleRight'">
                  <div class="htmlDesignedTooltip">
                    A Classification report is used to measure the quality of predictions from a classification
                    algorithm. How many predictions are True and how many are False.
                    <div style="margin-left: 1.7rem;">
                      <ol style="list-style-type: lower-alpha;">
                        <li>
                          Precision is the ability of a classifier not to label an instance positive that is
                          actually
                          negative. For each class it is defined as the ratio of true positives to the sum of true
                          and
                          false positive</li>
                        <li>Recall is the ability of a classifier to find all positive instances. For each class it
                          is
                          defined as the ratio of true positives to the sum of true positives and false negatives
                        </li>
                        <li>F1- Score is a measure of a Classification model’s accuracy on a dataset and is defined
                          as
                          the harmonic mean of the model’s precision and recall</li>
                        <li>Support is the number of actual occurrences of the class in the dataset</li>
                      </ol>
                    </div>
                  </div>
                </app-info-tooltip>
              </div>
              <div class="card-body myw-scrollbar" style="max-height: 35rem;">
                <div class="table-responsive tbl-maxheight myw-scrollbar">
                  <table class="table table-striped table-hover table-vmiddle myw-table">
                    <thead>
                      <tr>
                        <th scope="col">
                          <div class="d-flex">
                            <span>Target Names</span>
                          </div>
                        </th>
                        <th scope="col" *ngFor="let heading of reportTblHeading">
                          <div class="d-flex">
                            <span>{{heading}}</span>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let colValue of reportColVal">
                        <td *ngFor="let numberOfColumn of reportCollenght; let i = index">
                          <div>{{colValue[i]}}</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="myw-section p-3" *ngIf="isRegressionR2Val">

        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="card ingrain-card">
              <div class="form-row h-100">
                <div class="col-6 ingrain-card-vr">
                  <div class="card-header">
                    <div class="card-title"><span>R2 Value </span>
                      <app-info-tooltip>
                        <div class="htmlDesignedTooltip">
                          R2 is the measure of accuracy that represents the amount of variation in the target
                          attribute that is accounted for by the input attributes. Usually, the larger the R2, the
                          better the regression model fits the observations.
                          <div>
                            <b> Eg</b>: If R2 is 0.77, 77% of the changes in the target attribute can be explained by
                            the
                            input attributes / It shows that 77% of the variance in the target attribute can be
                            explained by the predictions
                          </div>
                        </div>
                      </app-info-tooltip>
                    </div>
                  </div>
                  <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                    <div class="ingrain-chart" style="margin: -2rem 2rem 0rem 0rem;">
                      <app-d3-donut-chart [donutInnerRadius]=55 [selectedModelr2Values]="r2Values"
                        [pageInfoForDonutChart]="'RegressionR2Value'"
                        [defaultModelAccuracyOnLoad]="defaultModelAccuracyOnLoad">
                      </app-d3-donut-chart>

                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card-header">
                    <div class="card-title"><span>Mse Value </span>
                      <app-info-tooltip style="font-weight: normal;" [labelTitle]="" [description]="'msevalue'">
                      </app-info-tooltip>
                    </div>
                  </div>
                  <div class="card-body d-flex flex-column align-items-center justify-content-center h-100">
                    <div class="ingrain-value fs-20">{{mseValues}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="card ingrain-card">
              <div class="card-header">
                <div class="card-title">Feature Weight</div>
              </div>
              <div class="card-body myw-scrollbar" style="max-height: 18rem; overflow-x: unset;">
                <div class="table-responsive myw-scrollbar tbl-maxheight">
                  <table class="table table-striped table-hover table-vmiddle myw-table ingrain-table">
                    <thead>
                      <tr>
                        <th scope="col">Features</th>
                        <th scope="col">Weight</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let allFeatures of featureWeight | keyvalue">
                        <td> {{allFeatures.key}}</td>
                        <td> {{allFeatures.value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="myw-section p-3" *ngIf="showTextPreProcessDiv">
        <ng-container *ngIf="!isTextPreProcessing">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="ingrAI-box-container">
              <div class="row" style="padding-bottom: 50px;">
                <div class="col-md-3 col-lg-4">
                  <div class="ingrAI-heading txtCenter" style="padding-right: 162px;">Accuracy</div>
                  <div class="ingrAI-chart dvcharts-topmargin" style="height: 200px;">
                    <app-d3-donut-chart [donutInnerRadius]=70 [selectedModelAccuracy]="selectedAccuracyValue"
                      [defaultModelAccuracyOnLoad]="defaultModelAccuracyOnLoad" [pageInfoForDonutChart]="'Accuracy'">
                    </app-d3-donut-chart>
                  </div>
                  <div class="ingrAI-heading txtCenter" style="padding-right: 190px;">F1 Score</div>
                  <div class="ingrAI-chart" style="margin-top: 16px;">
                    <label class="txtCenter" style="padding-left: 80px; font-weight: bold;">{{f1Score}}</label>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4" style="padding-left: 0px;">
                  <div class="ingrAI-heading txtCenter" style="padding-left: 0px;
                  padding-right: 35px;">Confusion Matrix</div>
                  <div class="ingrAI-chart dvcharts-topmargin">
                    <table class="tblConfusionMatrix" style="margin-top: -12px;">
                      <tbody>
                        <tr>
                          <td class="actual-td">
                            <div style="margin: 0px -256px 0px 0px;">Actual</div>
                          </td>
                        </tr>
                        <tr>
                          <td class="totaltd" style="padding-left: 20px;" colspan="2">
                            Total n {{sumofTrueFalseValues}}
                          </td>
                          <td class="positive-color" style="border-right: 2px solid white;">
                            Yes
                          </td>
                          <td class="positive-color">
                            No
                          </td>
                          <td class="totalrow-right">Rows Sum</td>
                        </tr>
                        <tr>
                          <td class="predicted-td" rowspan="2">
                            <div style="transform: rotate(270deg);"> Predicted</div>
                          </td>
                          <td class="positive-color" style="border-bottom: 2px solid white;">Yes</td>
                          <td>
                            <span class="">TP </span> <span class="numbers-weight">
                              {{truePositive}}
                            </span>
                          </td>
                          <td>
                            <span class="">FP </span> <span class="numbers-weight">
                              {{falsePositive}}
                            </span>
                          </td>
                          <td class="totalrow-right">
                            {{totalOfTrueFalsePositive}}
                          </td>
                        </tr>
                        <tr>
                          <td class="positive-color">No</td>
                          <td>
                            <span class=""> FN </span><span class="numbers-weight">
                              {{falseNegative}}
                            </span>
                          </td>
                          <td>
                            <span class=""> TN </span><span class="numbers-weight">
                              {{trueNegative}}
                            </span>
                          </td>
                          <td class="totalrow-right">
                            {{totalofTrueFalseNegative}}
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" class="blank-bottmtd column-sum">Column Sum</td>
                          <td class="blank-bottmtd bottom-totaltd">
                            <span> {{totalofTruePositiveFalseNegative}}</span>
                          </td>
                          <td class="blank-bottmtd bottom-totaltd">
                            {{totalofFalsePositiveTrueNegative}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="ingrAI-heading txtCenter" style="padding-right: 30px;">Roc/Auc Curves</div>
                  <div class="ingrAI-chart">
                    <img style="height: 260px;width: 365px;margin-left: 21%;"
                      [src]="domSanitizer.bypassSecurityTrustUrl(selectedFineTuneImg_64)" alt="Select Image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isTextPreProcessing">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="ingrAI-box-container">
              <div class="row flex-wrap">
                <div class="col-xl-2">
                  <div class="ingrAI-heading text-center" style="padding-bottom: 8px; padding-left: 17px;">
                    Accuracy
                  </div>
                  <div class="ingrAI-chart" style="height: 202px;">
                    <app-d3-donut-chart [donutInnerRadius]=70 [selectedModelAccuracy]="selectedAccuracyValue"
                      [defaultModelAccuracyOnLoad]="defaultModelAccuracyOnLoad" [pageInfoForDonutChart]="'Accuracy'">
                    </app-d3-donut-chart>
                  </div>
                </div>
                <div class="col-xl-3">
                </div>
                <div class="col-xl-4" style="height:547px;">
                  <div class="ingrAI-heading txtCenter" style="padding-right: 248px; font-weight: normal;">Matthews
                    Coefficient</div>
                  <div class="ingrAI-chart" style="margin-top: 16px;">
                    <label class="txtCenter"
                      style="padding-left: 80px; font-weight: bold;">{{selectedMatthewsCoefficient}}</label>
                  </div>
                </div>
                <div class="col-xl-3">
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </fieldset>
</div>


<!-- Confusion Matrix Modal -->
<div class="modal" id="confMatrixModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="confMatrixModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confMatrixModalTitle">Confusion Matrix</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&nbsp;</span>
        </button>
      </div>
      <div class="modal-body myw-scrollbar">
        <div class="my-2" style="text-align: center;">
          <img [src]="multiClassConfusionMatrix" alt="Confusion Matrix" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Confusion Matrix Modal -->