<div class="vds-simulated-out-container vds-risk-prediction-container">
    <div class="vds-sm-data-container vds-simumated-data" [ngClass]="simulatedDataToggle ? 'open' : ''">
        <div class="vds-sm-head d-flex">
            <a href="javascript:;" class="text-decoration-none vds-sm-open" (click)='simulatedDataToggling()'>Simulated
                Data</a>
            <a href="javascript:;" class="ml-auto vds-sm-close" (click)='simulatedDataToggling()'>
                <img src="assets/MonteCarlo/images/vds-back.svg" alt="Back">
            </a>
        </div>
        <div class="vds-sm-body">
            <div class="table-responsive">
                <table class="table vds-sm-table">
                    <thead>
                        <tr>
                            <th scope="col" width="25%">&nbsp;</th>
                            <th scope="col" width="25%">Simulation Value</th>
                            <th scope="col" width="25%">Mean</th>
                            <th scope="col" width="25%">Std Deviation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let simulatedVal of effortSimulatedTableData">
                            <td *ngFor="let in of simulatedVal | keyvalue"> {{simulatedVal[in.key]}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /Simulated Data -->

    <app-simulation-header [flowInfo]="'output'" [typeOfSimulation]="'notgeneric'"
        (setSimulatedData)="getRunSimulationResultSet($event)"></app-simulation-header>
    <div class="row vds-grid vds-risk-prediction-left-col" [formGroup]="templateDataForm">
        <div class="col-6 col-lg">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="vds-card-title">Defects</div>
                        <a (click)="refreshData('defect')" class="ml-auto"><img
                                src="assets/MonteCarlo/images/refresh.svg" alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if Defects closed changes by</div>
                    <div class="mt-2">
                        <div id="slider" class="ingrAIn-left-slider">
                            <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getSliderStyles(defects.value, -100, 100, 'defects')">{{defects.value}}%</span>
                            <input type="range" #defects formControlName="defects"
                                (change)="changedValueForInfluencerSlider(defects.value, 'defect')" min="-100" max="100"
                                step="1" class="vds-slider" style="cursor: pointer;" />
                            <div class="vds-slider-range d-flex justify-content-between">
                                <span>-100%</span>
                                <span>-50%</span>
                                <span>-25%</span>
                                <span>0%</span>
                                <span>25%</span>
                                <span>50%</span>
                                <span>100%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <ng-container *ngIf='defectIncrementalFlag==0'>
                        <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='defectIncrementalFlag==1'>
                        <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='defectIncrementalFlag==2'>
                        <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                    </ng-container>
                    <span>The Defects closed will be</span>
                    <span>{{whatIfDefectVal}}</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="vds-card-title">Efforts</div>
                        <a (click)="refreshData('effort')" class="ml-auto"><img
                                src="assets/MonteCarlo/images/refresh.svg" alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if Effort changes by</div>
                    <div class="mt-2">
                        <div id="slider" class="ingrAIn-left-slider">
                            <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getSliderStyles(effort.value, -15, 15, 'effort')">{{effort.value}}%</span>
                            <input type="range" #effort formControlName="efforts"
                                (change)="changedValueForInfluencerSlider(effort.value,'effort')" min="-15" max="15"
                                step="1" class="vds-slider" style="cursor: pointer;" />
                            <div class="vds-slider-range d-flex justify-content-between">
                                <span>-15%</span>
                                <span>-10%</span>
                                <span>-5%</span>
                                <span>0%</span>
                                <span>5%</span>
                                <span>10%</span>
                                <span>15%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <ng-container *ngIf='effortIncrementalFlag==0'>
                        <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='effortIncrementalFlag==1'>
                        <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='effortIncrementalFlag==2'>
                        <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                    </ng-container>
                    <span>The Efforts will be</span>
                    <span>{{whatIfEffortVal}}</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="vds-card-title">Team Size</div>
                        <a (click)="refreshData('teamSize')" class="ml-auto"><img
                                src="assets/MonteCarlo/images/refresh.svg" alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if Team Size changes by</div>
                    <div class="mt-2">
                        <div id="slider" class="ingrAIn-left-slider">
                            <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getSliderStyles(teamsize.value, -15, 15, 'teamsize')">{{teamsize.value}}%</span>
                            <input type="range" #teamsize formControlName="teamSize"
                                (change)="changedValueForInfluencerSlider(teamsize.value,'teamSize')" min="-15" max="15"
                                step="1" class="vds-slider" style="cursor: pointer;" />
                            <div class="vds-slider-range d-flex justify-content-between">
                                <span>-15%</span>
                                <span>-10%</span>
                                <span>-5%</span>
                                <span>0%</span>
                                <span>5%</span>
                                <span>10%</span>
                                <span>15%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <ng-container *ngIf='teamSizeIncrementalFlag==0'>
                        <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='teamSizeIncrementalFlag==1'>
                        <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='teamSizeIncrementalFlag==2'>
                        <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                    </ng-container>
                    <span>The Team Size will be</span>
                    <span>{{whatIfTeamSizeVal}}</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="vds-card-title">Schedule</div>
                        <a (click)="refreshData('schedule')" class="ml-auto"><img
                                src="assets/MonteCarlo/images/refresh.svg" alt="Refresh" /></a>
                    </div>
                    <div class="vds-left-desc">What if Schedule changes by</div>
                    <div class="mt-2">
                        <div id="slider" class="ingrAIn-left-slider">
                            <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getSliderStyles(schedule.value, -15, 15, 'schedule')">{{schedule.value}}%</span>
                            <input type="range" #schedule formControlName="schedule"
                                (change)="changedValueForInfluencerSlider(schedule.value,'schedule')" min="-15" max="15"
                                step="1" class="vds-slider" style="cursor: pointer;" />
                            <div class="vds-slider-range d-flex justify-content-between">
                                <span>-15%</span>
                                <span>-10%</span>
                                <span>-5%</span>
                                <span>0%</span>
                                <span>5%</span>
                                <span>10%</span>
                                <span>15%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <ng-container *ngIf='scheduleIncrementalFlag==0'>
                        <span> <img src="assets/MonteCarlo/images/no-change.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='scheduleIncrementalFlag==1'>
                        <span> <img src="assets/MonteCarlo/images/error-down.svg" alt="" /></span>
                    </ng-container>
                    <ng-container *ngIf='scheduleIncrementalFlag==2'>
                        <span> <img src="assets/MonteCarlo/images/success-up.svg" alt="" /></span>
                    </ng-container>

                    <span>The Schedule will be</span>
                    <span>{{whatIfScheduleVal}}</span> Days
                </div>
            </div>
        </div>
    </div>
    <div class="row vds-grid mt-2 vds-risk-prediction-right-col">
        <div class="col-12 col-lg-6">
            <div class="vds-upload-file-container vds-prediction-container d-flex flex-column">
                <div class="d-flex align-items-center" style="height: 40px;">
                    <div class="d-flex align-self-start">
                        <div class="vds-card-title">{{currentReleaseName}}</div>
                    </div>
                    <div class="ml-auto d-flex align-self-start">
                        <div class="fs-12 myw-700" style="padding-top: .25rem;">Certainty</div>
                        <!-- <div class="flex-grow-1 ml-2 ac-range myw-range position-relative">
                            <div class="fs-12 d-flex justify-content-between">
                                <span>0</span>
                                <span>100%</span>
                            </div>
                            <input type="range" class="myw-range-slider" min="0" max="100" value="84" />
                            <span class="myw-range-output ac-pro-value">69</span>
                        </div> -->

                        <div id="slider" class="flex-grow-1 ml-2 ac-range position-relative"
                            [formGroup]="templateDataForm" style="top: -20px; font-size: 0.7rem;">
                            <span class="myw-range-output ac-pro-value"
                                [ngStyle]="getStyles(certainty.value,0, 100)">{{certainty.value}}%</span>
                            <input type="range" #certainty formControlName="certaintySlider"
                                (change)="changedValueForCertaintySlider(certainty.value)" min="0" max="100" step="0.01"
                                class="slider" style="cursor: pointer;" />
                            <div class="d-flex">
                                <div title="0%" class="ingrAI-slider-label overflow-ellipsis">0%</div>
                                <div title="100%" class="ml-auto ingrAI-slider-label overflow-ellipsis">100%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vds-risk-chart">
                    <div #containerHdualChart>
                    </div>
                </div>
                <div class="fs-10"><span class="myw-500">Observations:</span> <span>{{observationText}}</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="vds-upload-file-container vds-prediction-container">
                <div class="vds-card-title">Sensitivity Analysis - Total</div>
                <div class="vds-sat-chart">
                    <app-curved-vertical-bar-graph [data]="dataForVerticalBar" (barClicked)="barClicked($event)">

                    </app-curved-vertical-bar-graph>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="vds-upload-file-container vds-prediction-container">
                <div class="vds-card-title">
                    {{horizontalChart}}
                </div>
                <div class="vds-ts-chart">
                    <app-curved-horizontal-bar-graph [data]="dataForHorizontalBar" [horizontalChart]="horizontalChart"
                        [teamSizeCapturedFlag]="ifTeamSizeCaptured">

                    </app-curved-horizontal-bar-graph>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Template Name As Modal -->
<ng-template #templateNameModal>
    <div class="modal-content">
        <div class="modal-header d-flex justify-content-end pt-3 pr-3">
            <a href="javascript:;" (click)="templateNameModalRef.hide()" aria-label="Close"><img
                    src="assets/MonteCarlo/images/close-btn.svg" alt="Close" /></a>
        </div>
        <div class="modal-body d-flex text-center flex-column pt-0 px-5">
            <div class="vds-risk-modal-title">Version name</div>
            <div class="mb-3">Template name</div>
            <input type="text" #templateName maxlength="70" class="form-control control-border" />
            <small class="form-text text-muted">You have {{70 - templateName.value?.length}} of 70 characters
                remaining.</small>
            <div class="d-flex justify-content-end mt-5">
                <a href="javascript:;" class="btn btn-secondary mr-3" (click)="templateNameModalRef.hide()">Close</a>
                <a href="javascript:;" class="btn btn-primary" (click)="updateVersionName(templateName.value)">Save
                    &amp; Close</a>
            </div>
        </div>
    </div>
</ng-template>
<!-- Template Name As Modal -->