
@import '../../../../assets/MonteCarlo/styles/style.css';
.vds-container{ padding-left: 1rem; padding-right: 1rem; }
@media (max-width: 1280px){ .vds-container{ padding-left: 1rem; padding-right: 1rem; } }
.vds-container .breadcrumb { font-size: 0.875rem; }


.IngrAI-python-progress-dialogbox{
    p{
        margin-bottom: 0.2rem;
    }
    position: absolute;
    bottom: 20%;
    left: 45%;
    background-color: #e4e4e4;
    padding: 2px;
    font-weight: bold;
}