<ng-container *ngIf="requestCompletedCheck; then displayTableData else displayLoader"></ng-container>
<ng-template #displayTableData>
<div class="vds-wrapper container-fluid vds-container" style="min-height: auto;">
    <div class="vds-wrap vds-container" style="    padding: 0;">

        <!-- /Top bar -->
        <div class="d-flex align-items-center flex-wrap" style="position: absolute;">
            <nav aria-label="breadcrumb" class="breadcrumb mt-3">
                <!-- (click)="navigateToVDS()" -->
                <a class="breadcrumb-item">{{this.apiCore.paramData.vdsCategoryType}}</a>
                <a href="javascript:;" class="breadcrumb-item active" aria-current="page">Release Risk Predictor</a>
            </nav>
        </div>
            <div id="main" class="vds-content d-flex flex-column flex-fill">
                <div class="vds-inner" *ngIf="requestCompletedCheck">
                    <!-- <h2 class="fs-20 mb-2 text-primary">Release Risk Predictor</h2> -->
                    <router-outlet></router-outlet>
                </div>
            </div>
    </div>
</div>
</ng-template>

<ng-template #displayLoader>
        <!-- <app-loader-display></app-loader-display> -->
        <div class="IngrAI-python-progress-dialogbox">
            <p>Fetching Data please wait...</p>
            <p> {{inProgressPercentage}}% Completed </p>
        </div>
</ng-template>