<!-- <fieldset [disabled]="readOnly">
  <div class="row">
    <div class="col d-flex align-items-center">
      <div class="ingrAI-heading">Data Encoding</div>
    </div>
    <div class="col-auto d-flex align-item-center"><svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
        <use xlink:href="#ingrAI-icon-edit"></use>
      </svg></div>
  </div>
  <div class="table-responsive ingrAI-data-encoding-table">
    <table class="table ingrAI-table ingrAI-data-table">
      <thead>
        <tr>
          <th scope="col" width="40%">Attributes</th>
          <th scope="col" width="15%">Scale</th>
          <th scope="col" width="45%">Filter to be applied</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let dataEncodingAttribute of dataEncodingAttributes">
          <tr>
            <td *ngIf="autobinningcolumns.hasOwnProperty(dataEncodingAttribute)"
              [ngClass]="{'disable' : autobinningcolumns.hasOwnProperty(dataEncodingAttribute)== true}">

              <div class="d-flex align-items-center">
                <div class="ingrAI-eye-view"><svg class="ingrAI-icon-svg">
                    <use xlink:href="#ingrAI-icon-eye-view"></use>
                  </svg></div>
                <div>{{dataEncodingAttribute}}</div>
              </div>
            </td>
            <td *ngIf="!autobinningcolumns.hasOwnProperty(dataEncodingAttribute)">

              <div class="d-flex align-items-center">
                <div class="ingrAI-eye-view"><svg class="ingrAI-icon-svg">
                    <use xlink:href="#ingrAI-icon-eye-view"></use>
                  </svg></div>
                <div>{{dataEncodingAttribute}}</div>
              </div>
            </td>

            <td *ngIf="autobinningcolumns.hasOwnProperty(dataEncodingAttribute)"
              [ngClass]="{'disable' : autobinningcolumns.hasOwnProperty(dataEncodingAttribute)== true}">
              {{dataEncoding[dataEncodingAttribute]['attribute']}}
            </td>

            <td *ngIf="!autobinningcolumns.hasOwnProperty(dataEncodingAttribute)">
              {{dataEncoding[dataEncodingAttribute]['attribute']}}
            </td>
            <td *ngIf="autobinningcolumns.hasOwnProperty(dataEncodingAttribute)"
              [ngClass]="{'disable' : autobinningcolumns.hasOwnProperty(dataEncodingAttribute)== true}">
              <div class="form-group">
                <select *ngIf="dataEncodingAttribute != targetColumn" #select
                  (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control w-75"
                  id="">
                  <option>Please Select An Option</option>

                  <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'One Hot Encoding'">
                    OneHot Encoding
                  </option>

                  <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'Label Encoding'">
                    Label Encoding
                  </option>
                </select>
                <select *ngIf="dataEncodingAttribute == targetColumn" [value]
                  (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control w-75">
                  <option>Label Encoding</option>
                </select>

              </div>
            </td>
            <td *ngIf="!autobinningcolumns.hasOwnProperty(dataEncodingAttribute)">
              <div class="form-group">
                <select *ngIf="dataEncodingAttribute != targetColumn" #select
                  (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control w-75"
                  id="">
                  <option>Please Select An Option</option>

                  <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'One Hot Encoding'">
                    OneHot Encoding
                  </option>

                  <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'Label Encoding'">
                    Label Encoding
                  </option>
                </select>
                <select *ngIf="dataEncodingAttribute == targetColumn" [value]
                  (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control w-75">
                  <option>Label Encoding</option>
                </select>
              </div>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
</fieldset> -->

<table class="table table-vmiddle table-striped table-hover myw-table mb-3">
  <thead>
    <tr>
      <th scope="col">Attributes</th>
      <th scope="col">Scale</th>
      <th scope="col">Filter to be applied</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let dataEncodingAttribute of dataEncodingAttributes">
      <tr>
        <td *ngIf="autobinningcolumns.hasOwnProperty(dataEncodingAttribute)"
          [ngClass]="{'disable' : autobinningcolumns.hasOwnProperty(dataEncodingAttribute)== true}">

          <!-- <div class="d-flex align-items-center">
            <div class="ingrAI-eye-view"><svg class="ingrAI-icon-svg">
                <use xlink:href="#ingrAI-icon-eye-view"></use>
              </svg></div> -->
            <!-- <div></div> -->
            {{dataEncodingAttribute}}
          <!-- </div> -->
        </td>
        <td *ngIf="!autobinningcolumns.hasOwnProperty(dataEncodingAttribute)">

          <!-- <div class="d-flex align-items-center">
            <div class="ingrAI-eye-view"><svg class="ingrAI-icon-svg">
                <use xlink:href="#ingrAI-icon-eye-view"></use>
              </svg></div> -->
            <!-- <div></div> -->
            {{dataEncodingAttribute}}
          <!-- </div> -->
        </td>

        <td *ngIf="autobinningcolumns.hasOwnProperty(dataEncodingAttribute)"
          [ngClass]="{'disable' : autobinningcolumns.hasOwnProperty(dataEncodingAttribute)== true}">
          {{dataEncoding[dataEncodingAttribute]['attribute']}}
        </td>

        <td *ngIf="!autobinningcolumns.hasOwnProperty(dataEncodingAttribute)">
          {{dataEncoding[dataEncodingAttribute]['attribute']}}
        </td>
        <td *ngIf="autobinningcolumns.hasOwnProperty(dataEncodingAttribute)"
          [ngClass]="{'disable' : autobinningcolumns.hasOwnProperty(dataEncodingAttribute)== true}">
          <!-- <div > -->
            <select *ngIf="dataEncodingAttribute != targetColumn" #select
              (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control" id="">
              <option>Please Select An Option</option>

              <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'One Hot Encoding'">
                One Hot Encoding
              </option>

              <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'Label Encoding'">
                Label Encoding
              </option>
            </select>
            <select *ngIf="dataEncodingAttribute == targetColumn" [value]
              (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control">
              <option>Label Encoding</option>
            </select>

          <!-- </div> -->
        </td>
        <td *ngIf="!autobinningcolumns.hasOwnProperty(dataEncodingAttribute)">
          <!-- <div class="form-group"> -->
            <select *ngIf="dataEncodingAttribute != targetColumn" #select
              (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control w-75" id="">
              <option>Please Select An Option</option>

              <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'One Hot Encoding'">
                One Hot Encoding
              </option>

              <option [selected]="dataEncoding[dataEncodingAttribute]['encoding'] == 'Label Encoding'">
                Label Encoding
              </option>
            </select>
            <select *ngIf="dataEncodingAttribute == targetColumn" [value]
              (change)='onChange("DataEncoding",dataEncodingAttribute,select.value)' class="form-control w-75">
              <option>Label Encoding</option>
            </select>
          <!-- </div> -->
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
