<!-- Navbar -->

<!-- Todo :: Aarushi to check while merging cascading story -->
<!-- <img alt="Cascading Icon" *ngIf="cascadedId !== undefined  && redirectedFromCascadeModel.redirected==true && this.router.url.includes('cascadeModels') != true && this.router.url != '/dashboard/problemstatement/templates'" (click)="navigateToCascadeModel()" class="ingrAIn-cas-icon" src="assets/images/cascading-icon.svg"> -->

<ng-container *ngIf="displayUploadandDataSourceBlock == 'true'">
  <!-- <div class="ingrAI-navbar ingrAI-cust-wrap d-flex" *ngIf="this.router.url != '/choosefocusarea' && this.router.url.includes('reusable-NLP-services') != true"
    style="padding-left: 0;">
    <nav class="nav ingrAI-nav" role="navigation">
       <a href="javascript:;" class="active" routerLink="problemstatement" routerLinkActive="active"
        style="padding: 0 2rem;">Problem Statement</a>
      <a style="cursor: auto;">Data Engineering</a>
      <a style="cursor: auto;">Model Engineering</a>
      <a style="cursor: auto;">Deploy Model</a> 
      </nav>
    </div>-->
  <div class="prebuilt-panel">
    <div class="myw-navbar" style="top: 2.5rem" [ngClass]="isnavBarToggle == true ? 'collapsed': ''"
      *ngIf="!(this.router.url.includes('/dashboard/problemstatement/templates')  || this.router.url.includes('/dashboard/problemstatement/utilities'))">
      <div class="myw-container d-flex flex-wrap">
        <div class="d-flex flex-nowrap align-items-center myw-navbar-wrap">
          <div class="myw-navbar-inner">
            <nav class="nav myw-nav ingrain-nav" *ngIf="problemStatementService.isMappedFromTemplate === 'False'">
              <a style="cursor: pointer;" routerLinkActive="active"
                class="pl-0 nav-item nav-link active"><span>1</span><span>Problem Statement</span></a>
              <a style="cursor: pointer;" class="nav-item nav-link disabled"><span>2</span><span>Data
                  Engineering</span></a>
              <a style="cursor: pointer;" class="nav-item nav-link disabled"><span>3</span><span>Model
                  Engineering</span></a>
              <a style="cursor: pointer;" class="nav-item nav-link disabled"><span>4</span><span>Deploy Model</span></a>
            </nav>
            <nav class="nav myw-nav ingrain-nav" *ngIf="problemStatementService.isMappedFromTemplate === 'True'">
              <a *ngFor="let tab of allTabs; let i = index" (click)="panelClick(i)" style="cursor: pointer;"
                [ngClass]="[i==0 ? 'pl-0 nav-item nav-link': 'nav-item nav-link', tab.status === 'active'? 'active' : '']"><span>{{i+1}}</span>
                <span>{{tab.mainTab}}</span></a>
            </nav>
          </div>
        </div>
        <div class="d-flex flex-nowrap justify-content-end myw-navbar-actions"
          [ngClass]="isNavBarLabelsToggle == true ? 'myw-navbar-active': ''">
          <!-- <div class="myw-navbar-action myw-navbar-search">
                  <input type="text" class="form-control form-control-sm" placeholder="Search...">
                  <img src="assets/images/close.svg" alt="Close" />
              </div> -->
          <img alt="Cascading Icon"
            *ngIf="cascadedId !== undefined && this.router.url.includes('cascadeModels') != true"
            (click)="navigateToCascadeModel(true)" class="ingrAIn-cas-icon" src="assets/images/cascade.svg">
          <ng-container
            *ngIf="(this.router.url.includes('usecasedefinition')== true || this.router.url.includes('preprocessdata')== true) && this.router.url.includes('cascadeModels') != true">

            <a *ngIf="this.router.url.includes('usecasedefinition')== true " (click)="showData()"
              class="myw-navbar-action" role="button" matTooltip="View Sample Data" data-toggle="modal"
              data-target="#sampledataModal" data-toggle-tooltip="tooltip" data-placement="bottom"
              data-trigger="hover"><img src="assets/images/summary.svg" alt="View Sample Data" /><span>View Sample
                Data</span></a>

            <a *ngIf=" this.router.url.includes('preprocessdata')== true && isTimeSeries == false"
              [ngClass]="{'disabled': isNextDisabled }" (click)="viewData()" class="myw-navbar-action" role="button"
              matTooltip="View Data Quality" data-toggle="modal" data-target="#sampleshowModal"
              data-toggle-tooltip="tooltip" data-placement="bottom" data-trigger="hover"><img
                src="assets/images/noun_View_1687318.svg" alt="View Data Quality" /><span>View Data Quality</span></a>

            <a *ngIf=" this.router.url.includes('preprocessdata')== true" [ngClass]="{'disabled': isNextDisabled }"
              (click)="downloadData()" class="myw-navbar-action" role="button" matTooltip="Export the password protected file, click on info icon to know the password hint"
              data-toggle="modal" data-target="#sampleModal" data-toggle-tooltip="tooltip" data-placement="bottom"
              data-trigger="hover"><img src="assets/images/Iconfeather-download.svg"
                alt="Export the password protected file, click on info icon to know the password hint" /><span>Download Data</span></a>

            <a *ngIf="this.router.url.includes('preprocessdata')== true" [ngClass]="{'disabled': isNextDisabled }"
              (click)="showDataDataTransformation()" class="myw-navbar-action" role="button" matTooltip="Show Data"
              data-toggle="modal" data-target="#sampledataModal" data-toggle-tooltip="tooltip" data-placement="bottom"
              data-trigger="hover"><img src="assets/images/summary.svg" alt="Show Data" /><span>Show Data</span></a>

          </ng-container>

          <a *ngIf="problemStatementService.isMappedFromTemplate === 'True' && this.router.url.includes('cascadeModels') != true"
            (click)="isSaveAsSelected = false" class="myw-navbar-action" role="button" data-toggle="modal"
            data-target="#saveViewModal" matTooltip="Save View" data-toggle-tooltip="tooltip" data-placement="bottom"
            data-trigger="hover">
            <img src="assets/images/save.svg" alt="Save View" />
            <span>Save View</span>
          </a>

          <!-- To be added while checking Prebuilt
          <a href="javascript:;" *ngIf="!(this.router.url.includes('problemstatement/usecasedefinition') || this.router.url.includes('deploymodel'))" 
          class="myw-navbar-action" role="button" matTooltip="Save View"  (click)="saveModel()" data-toggle-tooltip="tooltip"
          data-placement="bottom" data-trigger="hover"><img src="assets/images/save.svg" alt="Save View" /><span>Save
            View</span></a> -->

          <div class="dropdown dropright dropflat d-flex ">
            <a class="myw-navbar-action" role="button" matTooltip="Info" data-toggle="dropdown" data-display="static"
              aria-haspopup="true" aria-expanded="false" id="infoPopup" data-toggle-tooltip="tooltip"
              data-placement="bottom" data-trigger="hover"><img src="assets/images/info.svg" alt="Info"
                (click)="populateInfoMessage()" /><span>Info</span></a>
            <div class="dropdown-menu dropdown-xl info-dropdown" aria-labelledby="infoPopup">
              <div class="d-flex align-items-center justify-content-between px-3 py-2">
                <h6 class="dropdown-title">Information</h6>
                <a style="cursor: pointer;" class="myw-dropdown-close" title="Close"><span
                    class="sr-only">Close</span></a>
              </div>
              <div *ngIf="infoMessage" class="dropdown-body px-3 pb-3 myw-scrollbar"
                style="max-height: 6rem;font-size: 0.875em;" [innerHTML]="infoMessage">
                <!-- <p>{{infoMessage}}</p> -->
              </div>
            </div>
          </div>
          <a style="cursor: pointer;" (click)="toggleNavBarLabels()" class="myw-navbar-toggle"
            matTooltip="Toggle Labels" data-toggle="tooltip" data-placement="left" data-trigger="hover"><img
              src="assets/images/caret.svg" alt="" /><span class="sr-only">Toggle Labels</span></a>
        </div>
      </div>
      <a style="cursor: pointer;" (click)="toggleNavBar()" class="myw-navbar-pin" matTooltip="Toggle Navbar"
        data-toggle="tooltip" data-placement="left" data-trigger="hover"><img src="assets/images/pin.svg" alt="" /><span
          class="sr-only">Toggle Navbar</span></a>
    </div>
    <div class="myw-container pt-4 myw-scrollbar scrollbar-container-height"
      *ngIf="this.router.url != '/dashboard/choosefocusarea' && this.router.url.includes('reusable-NLP-services') != true">
      <div class="d-flex align-items-center">
        <div class="fs-18 myw-500" *ngIf="!this.router.url.includes('/dashboard/problemstatement/templates')">Template
          Name : {{modelName}}
          <ng-container *ngIf="!modelName && this.router.url.includes('/Prediction')">{{ ls.getModelName() }}
          </ng-container>
        </div>
        <div class="myw-steps ml-auto">
          <ng-container
            *ngIf="(this.router.url.includes('problemstatement/templates') == true || this.router.url.includes('problemstatement/usecasedefinition')) == true">
            <a class="myw-step completed" routerLink="/choosefocusarea"><span>Model
                Template</span></a>
            <a *ngFor=" let subTab of allTabs[0].subTab; let i = index" class="myw-step"
              (click)="allTabs[0].status = 'active'" routerLink="{{subTab.routerLink}}"
              [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
              title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
          </ng-container>
          <ng-container *ngIf="problemStatementService.isMappedFromTemplate === 'True'">
            <ng-container *ngIf="this.router.url.includes('dataengineering') == true">
              <a *ngFor=" let subTab of allTabs[1].subTab; let i = index" class="myw-step"
                (click)="allTabs[1].status = 'active'" routerLink="{{subTab.routerLink}}"
                [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
                title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
            </ng-container>
            <ng-container *ngIf="this.router.url.includes('modelengineering') == true">
              <a *ngFor=" let subTab of allTabs[2].subTab; let i = index" class="myw-step"
                (click)="allTabs[2].status = 'active'" routerLink="{{subTab.routerLink}}"
                [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
                title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
            </ng-container>
            <ng-container *ngIf="this.router.url.includes('deploymodel') == true">
              <a *ngFor=" let subTab of allTabs[3].subTab; let i = index" class="myw-step"
                (click)="allTabs[3].status = 'active'" routerLink="{{subTab.routerLink}}"
                [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
                title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="this.router.url.includes('cascadeModels') == true">
        <app-problem-statement></app-problem-statement>
        <!-- <app-cascade-models></app-cascade-models> -->
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('usecasedefinition') == true">
        <app-pst-use-case-definition (isNextDisabled)="toDisableNext($event)"
          (currentModel)="getcurrentmodelName($event)"></app-pst-use-case-definition>
      </ng-container>
      <!-- <ng-container *ngIf="this.router.url.includes('templates') == true">
        <app-pst-templates></app-pst-templates>
      </ng-container> -->
      <ng-container *ngIf="this.router.url.includes('templates') == true">
        <app-pst-templates></app-pst-templates>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('utilities') == true">
        <app-my-utilities></app-my-utilities>
      </ng-container>
      <ng-container *ngIf="problemStatementService.isMappedFromTemplate === 'True'">
        <ng-container *ngIf="this.router.url.includes('datacleanup') == true">
          <app-data-cleanup (isNextDisabled)="toDisableNext($event)"  (onDataSave)="enableIgnoreAPICall($event)"></app-data-cleanup>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('preprocessdata') == true">
          <app-preprocess-data (isNextDisabled)="toDisableNext($event)" (isApplyDisabled)="toDisableApply($event)" (isTimeSeries)="checkTimeSeries($event)">
          </app-preprocess-data>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('FeatureSelection') == true">
          <app-model-engineering></app-model-engineering>
          <app-feature-selection></app-feature-selection>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('RecommendedAI') == true">
          <app-model-engineering></app-model-engineering>
          <app-recommended-ai></app-recommended-ai>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('TeachAndTest') == true">
          <app-model-engineering></app-model-engineering>
          <ng-container *ngIf="this.router.url.includes('WhatIfAnalysis') == true">
            <app-what-if-analysis></app-what-if-analysis>
          </ng-container>
          <ng-container *ngIf="this.router.url.includes('HyperTuning') == true && isTimeSeries == false">
            <app-hyper-tuning></app-hyper-tuning>
          </ng-container>

        </ng-container>
        <ng-container *ngIf="this.router.url.includes('CompareModels') == true">
          <app-model-engineering></app-model-engineering>
          <app-compare-models></app-compare-models>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('publishmodel') == true">
          <app-deploy-model></app-deploy-model>
          <app-publish-model></app-publish-model>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('deployedmodel') == true">
          <app-deploy-model></app-deploy-model>
          <app-deployed-model></app-deployed-model>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('/Monitoring') == true">
          <app-model-monitoring></app-model-monitoring>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('/Prediction') == true">
          <app-prediction-visualization></app-prediction-visualization>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="myw-container py-1" style="  position: sticky;  bottom: 0;" *ngIf="!( this.router.url.includes('/dashboard/problemstatement/templates')
    || this.router.url.includes('/Monitoring')
    || this.router.url.includes('/Prediction') )">
    <div class="d-flex myw-actions justify-content-end" *ngIf="this.router.url.includes('cascadeModels') != true">
      <a (click)="previous()" class="btn btn-secondary btn-previous"><img src="assets/images/back.svg"
          alt="Previous"><span>Previous</span></a>
      <!-- <a href="javascript:;" class="btn btn-secondary ml-auto"><span>Cancel</span></a> -->
      <a *ngIf="this.router.url.includes('preprocessdata') == true" class="btn btn-primary" (click)="apply()">Apply</a>
      <!-- <a href="javascript:;" (click)="next(lessdataquality)" [disabled]="isNextDisabled" class="btn btn-primary btn-next"><span>Next</span><img
      src="assets/images/back.svg" alt="Next"></a> -->
      <button (click)="next(lessdataquality)" [disabled]="(isNextDisabled)? 'isNextDisabled' : null"
        class="btn btn-primary btn-next" value="Next"><span>Next</span><img src="assets/images/back.svg"
          alt="Next"></button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="displayUploadandDataSourceBlock == 'false'">
  <div class="custom-panel">
    <div class="myw-navbar" style="top: 2.5rem" [ngClass]="isnavBarToggle == true ? 'collapsed': ''"
      *ngIf="!(this.router.url.includes('/dashboard/problemstatement/templates') || this.router.url.includes('/dashboard/problemstatement/utilities'))">
      <div class="myw-container d-flex flex-wrap">
        <div class="d-flex flex-nowrap align-items-center myw-navbar-wrap">
          <div class="myw-navbar-inner">
            <nav class="nav myw-nav ingrain-nav">
              <a *ngFor="let tab of allTabs; let i = index" (click)="panelClick(i)" style="cursor: pointer;"
                [ngClass]="[i==0 ? 'pl-0 nav-item nav-link': 'nav-item nav-link', tab.status === 'disabled'? 'disabled' : tab.status]"><span>{{i+1}}</span>
                <span>{{tab.mainTab}}</span></a>
            </nav>
          </div>
        </div>
        <div class="d-flex flex-nowrap justify-content-end myw-navbar-actions"
          [ngClass]="isNavBarLabelsToggle == true ? 'myw-navbar-active': ''">
          <!-- <div *ngIf="this.router.url.includes('datacleanup') == true" class="myw-navbar-action myw-navbar-search">
            <input type="text" class="form-control form-control-sm" placeholder="Search...">
            <img src="assets/images/close.svg" alt="Close" />
          </div> -->
          <img alt="Cascading Icon"
            *ngIf="cascadedId !== undefined && redirectedFromCascadeModel.redirected==true && this.router.url.includes('cascadeModels') != true && this.router.url != '/dashboard/problemstatement/templates'"
            (click)="navigateToCascadeModel(false)" class="ingrAIn-cas-icon" src="assets/images/cascade.svg">
          <ng-container
            *ngIf="(this.router.url.includes('usecasedefinition')== true || this.router.url.includes('preprocessdata')== true) && this.router.url.includes('cascadeModels') != true">

            <a *ngIf="this.router.url.includes('usecasedefinition')== true " (click)="showData()"
              class="myw-navbar-action" role="button" matTooltip="View Sample Data" data-toggle="modal"
              data-target="#sampledataModal" data-toggle-tooltip="tooltip" data-placement="bottom"
              data-trigger="hover"><img src="assets/images/summary.svg" alt="View Sample Data" /><span>View Sample
                Data</span></a>

            <a *ngIf=" this.router.url.includes('preprocessdata')== true && isTimeSeries == false"
              [ngClass]="{'disabled': isNextDisabled }" (click)="viewData()" class="myw-navbar-action" role="button"
              matTooltip="View Data Quality" data-toggle="modal" data-target="#sampleshowModal"
              data-toggle-tooltip="tooltip" data-placement="bottom" data-trigger="hover"><img
                src="assets/images/noun_View_1687318.svg" alt="View Data Quality" /><span>View Data Quality</span></a>

            <a *ngIf=" this.router.url.includes('preprocessdata')== true" [ngClass]="{'disabled': isNextDisabled }"
              (click)="downloadData()" class="myw-navbar-action" role="button" matTooltip="Export the password protected file, click on info icon to know the password hint"
              data-toggle="modal" data-target="#sampleModal" data-toggle-tooltip="tooltip" data-placement="bottom"
              data-trigger="hover"><img src="assets/images/Iconfeather-download.svg"
                alt="Export the password protected file, click on info icon to know the password hint" /><span>Download Data</span></a>

            <a *ngIf="this.router.url.includes('preprocessdata')== true" [ngClass]="{'disabled': isNextDisabled }"
              (click)="showDataDataTransformation()" class="myw-navbar-action" role="button" matTooltip="Show Data"
              data-toggle="modal" data-target="#sampledataModal" data-toggle-tooltip="tooltip" data-placement="bottom"
              data-trigger="hover"><img src="assets/images/summary.svg" alt="Show Data" /><span>Show Data</span></a>

          </ng-container>
          <a *ngIf="(this.router.url.includes('problemstatement/usecasedefinition') || this.router.url.includes('deploymodel')) && this.router.url.includes('cascadeModels') != true && isNextDisabled"
            class="myw-navbar-action" role="button" matTooltip="Save View" data-toggle="modal"
            data-target="#saveViewModal" (click)="isSaveAsSelected = false" data-toggle-tooltip="tooltip"
            data-placement="bottom" data-trigger="hover"><img src="assets/images/save.svg" alt="Save View" /><span>Save
              View</span></a>

          <a *ngIf="(this.router.url.includes('problemstatement/usecasedefinition') || this.router.url.includes('deploymodel')) && this.router.url.includes('cascadeModels') != true && !isNextDisabled"
            class="myw-navbar-action" role="button" matTooltip="Save View" (click)="saveModel(confirmChanges)"
            data-toggle-tooltip="tooltip" data-placement="bottom" data-trigger="hover"><img src="assets/images/save.svg"
              alt="Save View" /><span>Save
              View</span></a>

          <a *ngIf="!(this.router.url.includes('problemstatement/usecasedefinition') || this.router.url.includes('deploymodel')) && this.router.url.includes('cascadeModels') != true"
            class="myw-navbar-action" role="button" matTooltip="Save View" (click)="saveModel(confirmChanges)"
            data-toggle-tooltip="tooltip" data-placement="bottom" data-trigger="hover"><img src="assets/images/save.svg"
              alt="Save View" /><span>Save
              View</span></a>

          <div class="dropdown dropright dropflat d-flex ">
            <a class="myw-navbar-action" role="button" matTooltip="Info" data-toggle="dropdown" data-display="static"
              aria-haspopup="true" aria-expanded="false" id="infoPopup" data-toggle-tooltip="tooltip"
              data-placement="bottom" data-trigger="hover"><img src="assets/images/info.svg" alt="Info"
                (click)="populateInfoMessage()" /><span>Info</span></a>
            <div class="dropdown-menu dropdown-xl info-dropdown" aria-labelledby="infoPopup">
              <div class="d-flex align-items-center justify-content-between px-3 py-2">
                <h6 class="dropdown-title">Information</h6>
                <a style="cursor: pointer;" class="myw-dropdown-close" title="Close"><span
                    class="sr-only">Close</span></a>
              </div>
              <div *ngIf="infoMessage" class="dropdown-body px-3 pb-3 myw-scrollbar"
                style="max-height: 6rem;font-size: 0.875em;" [innerHTML]="infoMessage">
                <!-- <p>{{infoMessage}}</p> -->
              </div>
            </div>
          </div>
          <a style="cursor: pointer;" (click)="toggleNavBarLabels()" class="myw-navbar-toggle"
            matTooltip="Toggle Labels" data-toggle="tooltip" data-placement="left" data-trigger="hover"><img
              src="assets/images/caret.svg" alt="" /><span class="sr-only">Toggle Labels</span></a>
        </div>
      </div>
      <a style="cursor: pointer;" (click)="toggleNavBar()" class="myw-navbar-pin" matTooltip="Toggle Navbar"
        data-toggle="tooltip" data-placement="left" data-trigger="hover"><img src="assets/images/pin.svg" alt="" /><span
          class="sr-only">Toggle Navbar</span></a>
    </div>
    <div
      [ngClass]="this.router.url.includes('utilities') === true ? 'scrollbar-container-height' : 'myw-container pt-4 myw-scrollbar scrollbar-container-height'"
      *ngIf="this.router.url != '/dashboard/choosefocusarea' && this.router.url.includes('reusable-NLP-services') != true">
      <div class="d-flex align-items-center" *ngIf="this.router.url.includes('cascadeModels') != true">
        <div class="fs-18 myw-500"
          *ngIf="!this.router.url.includes('/dashboard/problemstatement/templates') && !this.router.url.includes('/dashboard/problemstatement/utilities')">
          Model Name
          :
          {{ls.getModelName()}}</div>
        <div class="myw-steps ml-auto">
          <ng-container
            *ngIf="this.router.url.includes('problemstatement/templates') == true  || this.router.url.includes('problemstatement/usecasedefinition') == true">
            <a href="javascript:;" class="myw-step completed" routerLink="/choosefocusarea"><span>Custom
                Model</span></a>
            <a *ngFor=" let subTab of allTabs[0].subTab; let i = index" class="myw-step" (click)="panelClick(0, i)"
              [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
              routerLink="{{subTab.routerLink}}" title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
          </ng-container>
          <ng-container *ngIf="this.router.url.includes('dataengineering') == true">
            <a *ngFor=" let subTab of allTabs[1].subTab; let i = index" class="myw-step" (click)="panelClick(1, i)"
              [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
              routerLink="{{subTab.routerLink}}" title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
          </ng-container>
          <ng-container *ngIf="this.router.url.includes('modelengineering') == true">
            <a *ngFor=" let subTab of allTabs[2].subTab; let i = index" class="myw-step" (click)="panelClick(2, i)"
              [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
              routerLink="{{subTab.routerLink}}" title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
          </ng-container>
          <ng-container *ngIf="this.router.url.includes('deploymodel') == true">
            <a *ngFor=" let subTab of allTabs[3].subTab; let i = index" class="myw-step" (click)="panelClick(3, i)"
              [ngClass]="subTab.breadcrumbStatus === 'disabled'? 'disabled' : subTab.breadcrumbStatus"
              routerLink="{{subTab.routerLink}}" title="{{subTab.childTab}}"><span>{{subTab.childTab}}</span></a>
          </ng-container>
        </div>
      </div>
      <ng-container *ngIf="this.router.url.includes('cascadeModels') == true">
        <app-problem-statement></app-problem-statement>
        <!-- <app-cascade-models></app-cascade-models> -->
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('usecasedefinition') == true">
        <app-pst-use-case-definition (isNextDisabled)="toDisableNext($event)"></app-pst-use-case-definition>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('templates') == true">
        <app-pst-templates></app-pst-templates>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('utilities') == true">
        <app-my-utilities></app-my-utilities>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('datacleanup') == true">
        <app-data-cleanup (isNextDisabled)="toDisableNext($event)" (onDataSave)="enableIgnoreAPICall($event)"></app-data-cleanup>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('preprocessdata') == true">
        <app-preprocess-data (isNextDisabled)="toDisableNext($event)" (isApplyDisabled)="toDisableApply($event)" (isTimeSeries)="checkTimeSeries($event)">
        </app-preprocess-data>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('FeatureSelection') == true">
        <app-model-engineering></app-model-engineering>
        <app-feature-selection (isNextDisabled)="toDisableNext($event)"></app-feature-selection>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('RecommendedAI') == true">
        <app-model-engineering></app-model-engineering>
        <app-recommended-ai (isNextDisabled)="toDisableNext($event)"></app-recommended-ai>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('TeachAndTest') == true">
        <app-model-engineering></app-model-engineering>
        <ng-container *ngIf="this.router.url.includes('WhatIfAnalysis') == true">
          <app-what-if-analysis></app-what-if-analysis>
        </ng-container>
        <ng-container *ngIf="this.router.url.includes('HyperTuning') == true && isTimeSeries == false">
          <app-hyper-tuning></app-hyper-tuning>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('CompareModels') == true">
        <app-model-engineering></app-model-engineering>
        <app-compare-models></app-compare-models>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('publishmodel') == true">
        <app-deploy-model></app-deploy-model>
        <app-publish-model (isPreviousDisabled)="toDisablePrevious($event)"></app-publish-model>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('deployedmodel') == true">
        <app-deploy-model></app-deploy-model>
        <app-deployed-model></app-deployed-model>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('/Monitoring') == true">
        <app-model-monitoring></app-model-monitoring>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('/Prediction') == true">
        <app-prediction-visualization></app-prediction-visualization>
      </ng-container>
    </div>
  </div>
  <div class="myw-container py-1" style="  position: sticky;  bottom: 0;" *ngIf="! ( this.router.url.includes('/dashboard/problemstatement/templates')
    || this.router.url.includes('/Monitoring')
    || this.router.url.includes('/Prediction') || this.router.url.includes('/dashboard/problemstatement/utilities') )">
    <div class="d-flex myw-actions justify-content-end" *ngIf="this.router.url.includes('cascadeModels') != true">
      <button (click)="previous()" [disabled]="(isPreviousDisabled)? isPreviousDisabled : null"
        class="btn btn-secondary btn-previous" value="Previous">
        <img src="assets/images/back.svg" alt="Previous">
        <span>Previous</span>
      </button>
      <!-- <a href="javascript:;" class="btn btn-secondary ml-auto"><span>Cancel</span></a> -->
      <button *ngIf="this.router.url.includes('preprocessdata') == true" class="btn btn-primary" [disabled]="isApplyDisabled" (click)="apply()">Apply</button>
      <!-- <a href="javascript:;" (click)="next(lessdataquality)" [disabled]="isNextDisabled" class="btn btn-primary btn-next"><span>Next</span><img
      src="assets/images/back.svg" alt="Next"></a> -->

      <ng-container *ngIf="!this.router.url.includes('/dashboard/deploymodel/deployedmodel')">
        <button (click)="next(lessdataquality)" [disabled]="(isNextDisabled)? isNextDisabled : null"
          class="btn btn-primary btn-next" value="Next"><span>Next</span>
          <img src="assets/images/back.svg" alt="Next">
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>
<!-- /Navbar -->

<ng-template #lessdataquality>
  <div class="deploymodle-confirmpopup">
    <div class="modal-header" style="border-bottom: none;">
      <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
        (click)="modalRefDataQuality.hide()">
        <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
          <use xlink:href="#ingrAI-icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      {{message}}
      <div class="modal-footer" style="border-top: none;">
        <!-- <button type="button" class="btn btn-secondary" style=" font-size: 1rem;" (click)="decline()">No</button> -->
        <button type="button" class="btn btn-primary" [disabled]="isNextDisabled" style=" font-size: 1rem;"
          (click)="confirm()">Ok</button>
      </div>
    </div>
  </div>
</ng-template>


<!-- save & save as model -->
<div class="modal" id="saveViewModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="saveViewModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveViewModalTitle">Save</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&nbsp;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" [hidden]="!isSaveAsSelected">
          <input type="text" #modalNameInput=ngModel maxlength="70" [(ngModel)]="newModelName" class="form-control"
            placeholder="Enter Model Name" />
        </div>
        <div class="d-flex justify-content-end myw-actions">
          <div class="mt-2" *ngIf="this.router.url.includes('problemstatement/usecasedefinition')
          || this.router.url.includes('deploymodel')">
            <label class="myw-checkbox">
              <input (change)="toggleSaveAs()" [checked]="isSaveAsSelected" type="checkbox">
              <span>Save As</span>
            </label>
          </div>
          <button class="btn btn-secondary" *ngIf="this.router.url.includes('problemstatement/usecasedefinition')
          || this.router.url.includes('deploymodel')" data-dismiss="modal" [hidden]="!isSaveAsSelected"
            (click)="onSaveAsValidation(newModelName)">Save As</button>
          <!-- (click)="onSaveAs()" -->
          <!-- <ng-container *ngIf="!readOnly">
            <button class="btn btn-primary" data-dismiss="modal" [disabled]="isSaveAsSelected"
              (click)="saveModel(confirmChanges)">Save</button>
          </ng-container>
          <ng-container *ngIf="readOnly">
            <button class="btn btn-primary" data-dismiss="modal" [disabled]="readOnly"
              (click)="saveModel(confirmChanges)">Save</button>
          </ng-container> -->

      <ng-container *ngIf="readOnly && ifModelDeployed == 'true'">      <!-- 1 D-{{ifModelDeployed}} R- {{readOnly}} -->
            <button class="btn btn-primary" data-dismiss="modal" [disabled]="readOnly"
            (click)="saveModel(confirmChanges)">Save</button>
          </ng-container>

          <ng-container *ngIf="!readOnly && ifModelDeployed == 'true'">      <!-- 2 D- {{ifModelDeployed}} R- {{readOnly}}-->
            <button class="btn btn-primary" data-dismiss="modal" disabled
            (click)="saveModel(confirmChanges)">Save</button>
          </ng-container>

          <ng-container *ngIf="!readOnly && ifModelDeployed == 'false'">      <!-- 3 D- {{ifModelDeployed}} R- {{readOnly}}-->
            <button class="btn btn-primary" data-dismiss="modal" [disabled]="isSaveAsSelected"
            (click)="saveModel(confirmChanges)">Save</button>
          </ng-container>


          

        </div>
      </div>
    </div>
  </div>
</div>
<!-- save & save as model -->

<!--Changes in trained model popup-->
<ng-template #confirmChanges>
  <div class="deploymodle-confirmpopup">
    <div class="modal-header" style="border-bottom: none;">
      <h5 class="modal-title" id="saveViewModalTitle">&nbsp;</h5>
      <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
        (click)="modalRef.hide()">
        <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
          <use xlink:href="#ingrAI-icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      You have made some changes to the trained model. By saving these changes, the model will have to be retrained
      in the Recommended AI section. Click Yes if you wish to Proceed or No to Return.
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-secondary" style=" font-size: 1rem;" (click)="decline()">No</button>
        <button type="button" class="btn btn-primary" style=" font-size: 1rem;" (click)="confirm()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>
<!--Changes in trained model popup-->
