<!-- <div *ngIf="lineChartDataCount > 0" class="col-md-12 row col-lg-7">
  <table class="width-100">
    <tbody>
      <tr class="no-Border">
        <td class="no-Border width-100">
          <div class="row width-100 pad-15">
            <div class="width-100">
              <div class="ingrAI-heading txtCenter row">
                <div class="ingrAI-heading fontweight" style="width:50%;padding-left: 7%;">
                  Test Data - Forecast
                </div>
                <div class="ingrAI-heading" style="width:23%">
                </div>
                <div class="ingrAI-heading txtCenter" style="width:27%">
                  <div class="row">
                    <div style="padding-top:5px">
                      <hr class="green-line">
                    </div>
                    <div class="font-txt">
                      Forecast
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive ingr-filter-table dvcharts-topmargin">
                <app-line-chart *ngIf='isData' [isSingleLine]="true"
                  [frequencyType]="freequecnyTypeonSelection" [lineChartData]="selectedModelLineChart"
                  [lineChartWidth]="screenWidth" [lineChartHeight]=300>
                </app-line-chart>
              </div>
              <div class="ingrAI-heading txtCenter row">

              </div>
            </div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>


</div> -->


<div class="width-100">
  <!-- <div class="ingrAI-heading txtCenter row">
    <div class="ingrAI-heading fontweight" style="width:50%;padding-left: 7%;">
      Test Data - Forecast
    </div>
    <div class="ingrAI-heading" style="width:23%">
    </div>
    <div class="ingrAI-heading txtCenter" style="width:27%">
      <div class="row">
        <div style="padding-top:5px">
          <hr class="green-line">
        </div>
        <div class="font-txt">
          Forecast
        </div>
      </div>
    </div>
  </div> -->
      <app-line-chart *ngIf='isData' [isSingleLine]="true"
      [frequencyType]="freequecnyTypeonSelection" [lineChartData]="selectedModelLineChart"
      [lineChartWidth]="screenWidth" [lineChartHeight]=600>
    </app-line-chart>
