<!-- <div id="main" class="vds-content d-flex flex-column flex-fill">
    <div class="vds-inner">

        <div class="vds-upload-file-container mt-3">
            <div class="d-flex align-items-center justify-content-end">
                <div class="d-flex mr-3">
                    <div class="vds-usecase-legends"><span class="vds-uc-column"></span> Unique Column</div>
                    <div class="vds-usecase-legends"><span class="vds-tc-column"></span> Target Column</div>
                </div>
                <a href="javascript:;" class="btn btn-secondary vds-add-row" (click)="addNewRecord()">Add Row</a>
                <a href="javascript:;" class="btn btn-secondary vds-add-row" (click)="deleteRecord()">Delete Row</a>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered vds-uc-table my-3 ">
                    <thead>
                        <tr>
                            <th class="vds-risk-col" width="100px" style="text-align: center;"
                                *ngFor="let headername of genericHeader; let headerIndex = index"
                                [ngClass]="{ 'vds-tc-column': headername == genericTarget , 'vds-uc-column': headername == genericUnique}">
                                <div class="d-flex">
                                    <div class="flex-grow-1" style="text-align: center;">{{headername}}</div>
                                    <div class="dropdown vds-uc-dropdown dropleft"
                                        *ngIf="headerIndex != 0 && headername !== 'Status' && headername != genericUnique
                                        && headername != genericTarget">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><img
                                                src="assets/MonteCarlo/images/view-more-white.svg" /></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:;" (click)="setTarget(headername)"
                                                style="text-align: center;">Set as Target</a>
                                
                                        </div>
                                    </div>
                                </div>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rowData of genericRow; trackBy: trackByRowData ; let rowIndex = index;">
                            <td *ngFor="let rowValue of rowData; trackBy: trackByRowValue ;  let columnIndex = index;">
                                <div class="d-flex" *ngIf="rowValue == 'Current' || rowValue == 'Past'">
                                    <div class="flex-grow-1">
                                        <input type='checkbox' *ngIf="rowValue !== 'Current'"
                                            style="vertical-align: middle;" (change)="selectedRecords($event, rowIndex)"
                                            [checked]=" (recordToDelete[rowIndex]) ? recordToDelete[rowIndex] : false" />
                                        {{rowValue}}</div>
                                    <div *ngIf="rowValue !== 'Current'" class="dropdown vds-uc-dropdown dropleft">
                                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><img
                                                src="assets/MonteCarlo/images/view-more.svg" /></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:;" style="text-align: center;"
                                                (click)="setRowAsCurrentIteration(rowData, rowIndex)">Set as Current</a>
                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="{{rowIndex +' '+ columnIndex}}"
                                    *ngIf="!(rowValue == 'Current' || rowValue == 'Past')">
                                    <input type="text" id="id_{{rowIndex +' '+ columnIndex}}" style="margin: auto; width: auto;"
                                        class="form-control vds-risk-control {{rowIndex +' '+ columnIndex}}" 
                                        [ngClass]="{ 'background-red' : ( rowValue =='invalid' || rowValue == 'invalidRange') ,
                                       'background-white' : !( rowValue =='invalid'  || rowValue == 'invalidRange')}" [value]="rowValue"
                                        (change)="rowEntered( $event , rowIndex,columnIndex  )" />
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->
<a href="javascript:;" class="btn btn-secondary vds-add-row" (click)="addNewRecord()" style="position: absolute;top: 0.2em;right: 29em;height: 2.3rem;">Add Row</a>
<div id="main" class="vds-content d-flex flex-column flex-fill">
    <div class="vds-inner vds-container" style="padding: 0 !important;">
        <div class="vds-upload-file-container vds-prediction-container" style="padding: 1rem 1rem;">
            <!-- <div class="d-flex align-items-center justify-content-end">
                <a href="javascript:;" class="btn btn-secondary vds-add-row" (click)="addNewRecord()">Add Row</a>
            </div> -->
            <div class="table-responsive">
                <table class="table genric-flow-table mb-0 mt-3">
                    <thead>
                        <tr>
                            <!-- <th width="20%">Status</th> -->
                            <th 
                            *ngFor="let headername of genericHeader; let headerIndex = index"
                            [ngClass]="{ 'vds-tc-column': headername == genericTarget , 'vds-uc-column': headername == genericUnique}">
                                <div class="d-flex">
                                    <div class="flex-grow-1">{{headername}} {{ (headername == genericUnique) ? '(UNIQUE ID)': '' }}  {{ (headername == genericTarget) ? '(TARGET)': '' }}</div>
                                    <div class="dropdown dropflat dropright d-flex ml-auto"
                                    *ngIf="headerIndex != 0 && headername !== 'Status' && headername != genericUnique
                                    && headername != genericTarget">
                                        <a href="javascript:;" class="vds-action" role="button" data-display="static" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" title="More Options" aria-label="More Options"><img src="assets/MonteCarlo/images/options.svg" alt="More Options" /></a>
                                        <div class="dropdown-menu" style="min-width: 10rem;">
                                            <div class="dropdown-body" style="min-height: auto !important;">
                                                <a href="javascript:;" class="dropdown-item" title="Set Target Column"  (click)="setTarget(headername)"><img src="assets/MonteCarlo/images/current-release.png" alt=""> Set Target Column</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rowData of genericRow; trackBy: trackByRowData ; let rowIndex = index;">
                            <td *ngFor="let rowValue of rowData; trackBy: trackByRowValue ;  let columnIndex = index;">
                                <div class="d-flex" *ngIf="rowValue == 'Current' || rowValue == 'Past'">
                                    <div class="flex-grow-1">{{rowValue}} {{' '}}Release</div>
                                    <div class="vds-table-options" *ngIf="rowValue == 'Past' && genericRow.length >= 6">
                                        <a href="javascript:;" (click)="deleteRecord(rowIndex)"><img src="assets/MonteCarlo/images/delete.svg" alt="Delete"></a>
                                    </div>
                                    <div *ngIf="rowValue !== 'Current'" class="dropdown dropflat dropright d-flex ml-auto">
                                        <a href="javascript:;" class="vds-action" role="button" data-display="static" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" title="More Options" aria-label="More Options"><img src="assets/MonteCarlo/images/options.svg" alt="More Options" /></a>
                                        <div class="dropdown-menu" style="min-width: 10rem;right: -6rem !important;">
                                            <div class="dropdown-body" style="min-height: auto !important;">
                                                <a href="javascript:;" class="dropdown-item" title="Set as Current Release" (click)="setRowAsCurrentIteration(rowData, rowIndex)">Set as Current Release</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="{{rowIndex +' '+ columnIndex}}"
                                *ngIf="!(rowValue == 'Current' || rowValue == 'Past')" [attr.title]="'You have ' +(70 - genericGrid.value?.length)+' of 70 charecters remaining.'">
                                <input #genericGrid type="text" id="id_{{rowIndex +' '+ columnIndex}}" style="margin: auto; width: auto;"
                                    class="form-control vds-risk-control {{rowIndex +' '+ columnIndex}}"
                                    maxlength="70" 
                                    [ngClass]="{ 'background-red' : ( rowValue =='invalid' || rowValue == 'invalidRange') ,
                                   'background-white' : !( rowValue =='invalid'  || rowValue == 'invalidRange')}" [value]="rowValue"
                                    (change)="rowEntered( $event , rowIndex,columnIndex  )" />
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>