.ingrain-range-value { -ms-flex: 0 0 2.75rem; flex: 0 0 2.75rem; max-width: 2.75rem; text-align: center; border: 1px solid #BEBEBE;
	border-radius: .25rem; font-size: .75rem; padding: 1px .125rem; font-size: .625rem; }
.ingrain-flyout-container.prescription  .ingrain-flyout{ height: 276px; }
.ingrain-flyout-container.prescription .ingrain-fly-header { justify-content: start; }
.ingrain-flyout-container.prescription .ingrain-flytext:after { right: 6rem; }
.ingrain-reg-col { padding: 1.25rem 1.125rem; } 
.ingrain-reg-item { display: flex; align-items: center; border: 1px solid #CFCFCF; border-radius: .5rem; background-color: #fff; padding: .825rem 1.125rem; flex: 1; text-transform: uppercase; color: #B2B2B2; white-space: nowrap;  }
.ingrain-reg-item:not(:last-child) { margin-right: 1rem; }
.ingrain-reg-item img { -webkit-filter: brightness(100%); filter: brightness(100%); opacity: 1; }
.ingrain-reg-item.active img, .ingrain-reg-item:hover img, .ingrain-reg-item:focus img, .ingrain-reg-item:active img { -webkit-filter: brightness(0%) invert(1); filter: brightness(0%) invert(1);  opacity: 1;  }
.ingrain-reg-item.active, .ingrain-reg-item:hover, .ingrain-reg-item:active, .ingrain-reg-item:focus  { background: transparent linear-gradient(180deg, #00BAFF 0%, #004DFF 100%) 0% 0% no-repeat padding-box; color: #fff; border-color: #004DFF;  }
.ingrain-bdr  { border-right: 2px dashed #CFCFCF; }
.ingrain-reg-col-usage span:first-child {font-weight: 500;}
.ingrain-reg-col-usage span { display: block; font-size: .75rem; text-align: center;  }


/* carousel */
.myw-carousel .carousel{ height: 100%; margin-bottom: 2.375rem; }
.myw-carousel .carousel-control-next, .myw-carousel .carousel-control-prev{ opacity: 1; width: 2rem; }
.myw-carousel .carousel-control-prev{ left: -2.5rem; }
.myw-carousel .carousel-control-next{ right: -2.5rem; }
/* .myw-carousel .carousel-control-prev-icon{ background: url("assets/images/left.svg") no-repeat center center transparent; background-size: 2rem; 
	width: 2rem; height: 2rem; border: 1px solid #004dff; border-radius: 50%; }
.myw-carousel .carousel-control-next-icon{ background: url("assets/images/right.svg") no-repeat center center transparent; background-size: 2rem;  
	width: 2rem; height: 2rem; border: 1px solid #004dff; border-radius: 50%; } */
.myw-carousel .carousel-indicators{ bottom: -2.125rem; margin-bottom: 0; }
.myw-carousel .carousel-indicators li{ background-color:#D9D9D9; width: 1rem;  }
.myw-carousel .carousel-indicators li.active{ background-color:#8A8A8A; width: 2rem; }
.myw-chart-carousel { padding: 0 10%; }
.myw-chart-carousel .myw-col { width: 100%; flex: 1 1 auto; }
.myw-chart-carousel .carousel-inner{ padding: 1rem .625rem .625rem; }
.myw-chart-carousel .myw-col .card{  border-color: #cfcfcf; border-width: 2px; border-radius: 1rem; height: 15.625rem; overflow: hidden;  }
.myw-chart-carousel .myw-col:not(:first-child) .card { border-left-color: transparent;  }
.myw-chart-carousel .myw-col .card:hover{ box-shadow: 0 0 .5rem rgba(0,0,0,.1); z-index:1;  border: 2px solid #004CFF; }
.myw-chart-carousel .myw-col .card.active{ box-shadow: 0 0 .625rem #D6DEFF; z-index:1; border: 2px solid #004CFF; }
.myw-chart-carousel .myw-col .card-header{ display: -ms-flexbox; display: flex; padding: .75rem .5rem .5rem; 
	background-color: #fff; border: 0; border-radius: 0; text-align: center; }
.myw-chart-carousel .myw-col .card-title{ -ms-flex: 1 1 auto; flex: 1 1 auto; font-weight: 500; font-size: .875rem; }
.myw-chart-carousel .myw-col .card-body{ padding: .75rem 1rem; }


.ingrain-chart { width: 7.5rem; height: 7.5rem; position: relative; }
.ingrain-chart-md { width: 5rem; height: 5rem; position: relative; }
.ingrain-chart > div { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 1rem;
	Color: #030101;  font-weight: 500; align-items: center; display: flex; flex-direction: column; }
.ingrain-chart-md > div { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 0.875rem;
		Color: #030101;  font-weight: 500; align-items: center; display: flex; flex-direction: column; }
.ingrain-chart-md > div span {font-size: .425rem; }
.ingrain-table tr th:first-child, .ingrain-table tr td:first-child { padding-left: 3rem; }
.ingrain-table tr th:last-child, .ingrain-table tr td:last-child { padding-right: 3rem; }
.ingrain-card-vr { position: relative;}
.ingrain-card-vr:after { content:''; position: absolute; right: 0; top: 1rem; bottom: 1rem; border-right: 1px solid #cfcfcf;  }
.ingrain-value { color: #6D6ACC; }

.ingrain-conf-table { position: relative;  }
.ingrain-conf-table thead tr:first-child th { padding: 0; }
.ingrain-conf-table thead th { background-color: #fff; border: 0; padding: .3125rem;   }
.ingrain-conf-table tbody td { padding: .3125rem; border: 0; } 
.ingrain-conf-table table { table-layout: fixed; width: 100%; }
.conf-bg { background-color: #BCCFEB; border-radius: .3125rem; padding: .3125rem;  }
.ingrain-conf-col { position: absolute; width: 26%; top: 0; display: flex; flex-direction: column; height: 100%; padding: 1.75rem 0 1.25rem 0; text-align: right; }
.ingrain-conf-act-text { position: absolute; font-weight: 500; transform: rotate(270deg);  width: 104px;  top: 95px;  right: -3px; font-size: .75rem;}
.myw-conf-table { font-size: .75rem; table-layout: fixed; border: 0; }
 .myw-conf-table tbody td, .myw-conf-table tbody th { padding: .125rem; text-align: center; font-weight: normal; }
 .myw-conf-table tbody td { border-color: #000; }
 
 .myw-conf-table th { border-color: transparent; border-right: inherit; }
 .myw-conf-table tbody tr th:first-child { position: relative; white-space: nowrap; padding-right: .625rem; } 
 .myw-conf-table tbody tr th:first-child:before { content:''; position: absolute; top: 50%; right: 0; width: .5rem; height: 1px; 
	background-color: #000;  }
.myw-conf-table tbody tr:last-child th:first-child:before  { display: none; }
.myw-conf-table tbody tr:last-child th { padding: 0; height: 60px; }
.myw-conf-table tbody tr:last-child th:not(:first-child) { position: relative; }
.myw-conf-table tbody tr:last-child th:not(:first-child):before { content: ''; position: absolute; top: 0;  right: 50%; 
	height: .5rem;  width: 1px; background-color: #000; }
.myw-conf-table tbody tr:last-child th:not(:first-child) span { transform: rotate(270deg); position: absolute;  white-space: nowrap;
    top: 24px; right: -9px; }
.myw-conf-table tbody tr:last-child th:last-child { border: transparent;}

.myw-toggle-switch.ingrain-switch input:not(:checked):not(:disabled) ~ .label-first, .myw-toggle-switch input:checked ~ 
.label-last { background-color: #000088;  color: #fff; }
.myw-toggle-switch.ingrain-switch input:checked ~ .label-last{ background-color:#000088; color: #fff; }

// .ingrain-predictive > [class^="col-"] .card.ingrain-card, .ingrain-prescriptive > [class^="col-"] .card.ingrain-card { min-height: 375px; }
.ingrain-predictive > [class^="col-"]:first-child .card.ingrain-card { margin-right: 3rem; overflow: unset; }
/* .ingrain-predictive > [class^="col-"]:first-child .card.ingrain-card:after { content:''; position: absolute; top: 50%; right: -3rem;  background: url("assets/images/arrow.svg") no-repeat right center transparent; height: 3rem; width: 3rem; 
	transform: translateY(-50%);  } */
.ingrain-features { height: 1rem; overflow-y: auto;}

.ingrain-predictive > [class^="col-"] .input-group .btn.disabled, .input-group .btn:disabled { background-color: transparent!important; border-color: #6A7070!important; }
.ingrain-prescriptive > [class^="col-"]:last-child .card.ingrain-card { margin-left: 3rem; overflow: unset; }
/* .ingrain-prescriptive > [class^="col-"]:last-child .card.ingrain-card:after { content:''; position: absolute; top: 50%; left: -3rem;  background: url("assets/images/arrow.svg") no-repeat right center transparent; height: 3rem; width: 3rem; 
	transform: translateY(-50%) rotate(180deg);  } */

.ingrain-predictive .card.ingrain-card:hover, .ingrain-prescriptive .card.ingrain-card:hover { box-shadow: 0 0 .5rem rgba(0,0,0,.1); z-index:1;  border: 1px solid #004CFF; }
.ingrain-predictive .card.ingrain-card.active, .ingrain-prescriptive .card.ingrain-card.active { box-shadow: 0 0 .625rem #D6DEFF; z-index:1; border: 1px solid #004CFF; }
.ingrain-prescriptive .card-header .disabled img, .ingrain-prescriptive .card-header :disabled img { opacity: .5; }

.ingrain-predictive .card.ingrain-card.card-auto { min-height: 130px; height: auto; }
.ingrain-predictive .card.ingrain-card.card.ingrain-card.card-hf { height: calc( 100% - 175px - 2rem);  } 

.ingrain-range { position: relative; }
.ingrain-range .myw-range{ margin-top: 2.125rem; }
.ingrain-range  .myw-range-output{ border: 1px solid #BEBEBE; min-width: 2rem; text-align: center; font-size: .625rem; color: #000;
	border-radius: .25rem; padding: .125rem; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); background: #fff; }
.ingrain-feature-val .form-group { margin-bottom: 4.5rem; }

.ingrain-feature-val [class^="col-"]:nth-last-of-type(-n+2) .form-group { margin-bottom: 0; }
.ingrain-cmp-container { border-top: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf;  }

.ingrain-cmp-container .row:first-child [class^="col"]:not(:last-child) .ingrain-cmp-col { position: relative; }
.ingrain-cmp-container .row:first-child [class^="col"]:not(:last-child) .ingrain-cmp-col:after { content:''; 
	position: absolute; top: -1rem; bottom: 0; right: -1rem; width: 1px; background: #cfcfcf; }
.ingrain-cmp-container .ingrain-card { margin: .5rem 0; height: calc(100% - 1rem);}
.ingrain-card.ingrain-test-card { min-height: 6.875rem; }

.features-d-flex{ display: flex;justify-content:space-between;}


.ingrain-predictive .card.highlight, .ingrain-prescriptive .card.highlight { box-shadow: 0 0 .5rem rgba(0,0,0,.1); z-index:1;  border: 1px solid #004CFF; }



.myw-switch .switch-toggle{
	background-color: #00B3DE; 
	background-image: linear-gradient(131deg, #00B3DE 0%, #0062FF 100%);
}

.myw-switch input:disabled ~ .switch-toggle {
    background-color: #00B3DE;
    background-image: linear-gradient(131deg, #00B3DE 0%, #0062FF 100%);
    opacity: 1;
}
  
.myw-switch input:disabled ~ .switch-toggle:after {
    background-color: #fff;
    opacity: 1;
}

.predective-outcome-lbl{
	word-break: break-word;
}

.card-title-download{
	font-weight: 600;
    margin: 0 1rem 0 0;
    font-size: .875rem;
    text-decoration: none;
    color: inherit;
}

.form-group-pre {
    margin-bottom: 0rem !important;
}