<span class="custom-option-title"> Enter API Details </span>
<div class="row">
  <div class="col-6" *ngIf="isDataSetNameRequired">
    <div class="form-group">
      <label class="form-label myw-required">Dataset name</label>
      <input type="text" #datasetNameInput=ngModel class="form-control" name='datasetName' required
        [(ngModel)]='datasetName' maxlength="70" placeholder="Type here">
        <label class="form-label">You have {{ 70 - datasetName?.length}} of 70 characters remaining.</label>
    </div>
  </div>
  <div [ngClass]="isDataSetNameRequired === false ? 'col-3' : 'col-6'">
    <div class="form-group">
      <label class="form-label">HTTP Method</label>&nbsp;&nbsp;<span
        *ngIf="isDataSetNameRequired">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <app-info-tooltip class="ml-auto" [className]="isDataSetNameRequired === false ? 'toggleLeft' : 'toggleRight'"
        [description]="'samplepayload'"></app-info-tooltip>
      <div>POST</div>
    </div>
  </div>
  <div [ngClass]="isDataSetNameRequired === false ? 'col-9' : 'col-6'">
    <div class="form-group">
      <label class="form-label myw-required">API URL</label>
      <input type="text" #apiurlNameInput=ngModel class="form-control" name='apiurl' required
        (keyup)="onKey(apiurlNameInput.value)" [(ngModel)]='apiurl' maxlength="500" placeholder="Type here">
        <label class="form-label">You have {{ 500 - apiurl?.length}} of 500 characters remaining.</label>
      <div *ngIf="errorvalid">
        <label style="color: red;font-size:smaller">
          Enter valid application url (start with http:// or https:// and url contain at least one dot(.))
        </label>
      </div>
      <div *ngIf="invalidDomain">
        <label style="color: red;font-size:smaller">
          For Authentication Method – ‘Same as Ingrain’, API URL entered is Incorrect. URL Host should be of current Environment that is - {{environmentDomain}}
        </label>
      </div>
    </div>
  </div>
  <div class="col-6" *ngIf="isCategoryRequired">
    <div class="form-group">
      <label class="form-label">Category</label>
      <div class="form-inline">
        <div class="form-inline">
          <label class="myw-checkbox"><input type="radio" (click)="getpublicflag()"
              name="radio-api"><span>Public</span></label>
          <label class="myw-checkbox"><input type="radio" (click)="getprivateflag()" name="radio-api"
              checked><span>Private</span></label>
        </div>
        <!-- <label class="myw-switch ingr-switch">
              <input #switch
                (click)="onSwitchChanged(switch)" type="checkbox" name="onoffswitch" id="myonoffswitch"
                [checked]="isPublic == true">
              <span class="label-first">Public</span>
              <span class="switch-toggle"></span>
              <span class="label-last">Private</span>
            </label>  -->
      </div>
    </div>
  </div>
</div>
<div class="d-flex">
  <div class="myw-api-bg mb-4">
    <div class="table-responsive mb-0">
      <table class="table table-striped table-hover table-vmiddle myw-table">
        <thead>
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dynamic of dynamicArray; let i = index;">
            <td><input type="text" #headerkeyInput=ngModel class="form-control" name='headerkey' required
                [(ngModel)]='dynamicArray[i].key' maxlength="70" placeholder="Type here">
                <label class="form-label">You have {{ 70 - dynamicArray[i].key?.length}} of 70 characters remaining.</label></td>
            <td><input type="text" #headervalueInput=ngModel class="form-control" name='headervalue' required
                [(ngModel)]='dynamicArray[i].value' maxlength="70" placeholder="Type here">
                <label class="form-label">You have {{ 70 - dynamicArray[i].value?.length}} of 70 characters remaining.</label></td>
            <td><a style="cursor: pointer;">
                <img src="assets/images/delete.svg" alt="Delete" (click)="deleteRow(i)" class="myw-icon myw-20" /></a>
            </td>
            <td>
              <a style="cursor: pointer;" (click)="addRow(i)">
                <img src="assets/images/add.svg" alt="Add operation" /></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="form-label myw-required">Body Parameters</label>
  <textarea class="form-control" [(ngModel)]="bodyparameter" style="height: 2.5rem;" maxlength="5000" placeholder="Type here"></textarea>
  <label class="form-label">You have {{ 5000 - bodyparameter?.length}} of 5000 characters remaining.</label>
</div>
<div class="form-group" *ngIf="isIncrementalRequired">

  <input #selectedincrementalData (click)="onCheckedIncrementalData(selectedincrementalData)" type="checkbox" />
  <span class="checkmark"></span>&nbsp;&nbsp;
  <span>Incremental Data</span>

</div>
<div class="row">
  <div class="col-6">
    <div *ngIf="isIncremental">
      <form [formGroup]="apiRow" (ngSubmit)="onSubmit()">
        <div>
          <div class="row mb-4">
            <div class="col-6">
              <div class="form-group">
                <mat-form-field class="w-100">
                  <mat-label class="form-group myw-required">Start Date</mat-label>
                  <input matInput formControlName="startDateControl" [matDatepicker]="picker1" placeholder="DD MM YYYY"
                    [max]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1">
                    <img src="assets/images/calendar.svg" alt="Calendar">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="apiRow.get('startDateControl').invalid">Start Date
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <mat-form-field class="w-100">
                  <mat-label class="form-group myw-required">End Date</mat-label>
                  <input formControlName="endDateControl" matInput [matDatepicker]="picker2" placeholder="DD MM YYYY"
                    [min]="startDate" [max]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="picker2">
                    <img src="assets/images/calendar.svg" alt="Calendar">
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error *ngIf="apiRow.get('endDateControl').invalid">End Date
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="isFetchTypeRequired">
  <label class="form-label">Fetch Type</label>
  <div class="form-inline">
    <div class="form-inline">
      <label class="myw-checkbox"><input type="radio" (click)="setFetchType()" name="radio-fetch-Type"
          checked><span>Multiple</span></label>
      <label class="myw-checkbox"><input type="radio" (click)="setFetchType()" name="radio-fetch-Type">
        <span>Single</span></label>
    </div>
  </div>
</div>

<div class="form-group">
  <label class="form-label">Authentication Method</label>
  <div class="form-inline">
    <div *ngIf="isAuthenticationtoken === true"><label class="myw-checkbox"><input type="radio" name="radio-auth"
          (click)="showtokentext()" value="1" checked><span>Token</span></label></div>
    &nbsp;&nbsp;
    <div>
      <ng-container *ngIf="isAuthenticationtoken === true">
        <label class="myw-checkbox"><input type="radio" name="radio-auth" (click)="showcredentialdetail()"
            value="2"><span>Credentials</span></label>
      </ng-container>
      <ng-container *ngIf="isAuthenticationtoken === false">
        <label class="myw-checkbox"><input type="radio" name="radio-auth" (click)="showcredentialdetail()" value="2"
            checked><span>Credentials</span></label>
      </ng-container>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="(credentialdetail === true)">
  <label class="form-label">Use Same as Ingrain</label>
  <div class="form-inline">
    <div class="form-inline">
      <label class="myw-checkbox"><input type="radio" (click)="setIngrainToken(true)" name="radio-ingrain-token"
          checked><span>Yes</span></label>
      <label class="myw-checkbox"><input type="radio" (click)="setIngrainToken(false)"
          name="radio-ingrain-token"><span>No</span></label>
    </div>
  </div>
</div>

<div class="myw-token" *ngIf="tokentext === true">
  <div class="form-group">
    <label class="form-label myw-required">Authentication Token</label>
    <textarea class="form-control" maxlength="2000" [(ngModel)]="authenticationtoken" style="height: 2.5rem;"
      placeholder="Type here"></textarea>
      <label class="form-label">You have {{ 2000 - authenticationtoken?.length}} of 2000 characters remaining.</label>
  </div>
</div>

<div *ngIf="(credentialdetail === true)">
  <div class="row" *ngIf="!UseIngrainAzureCredentials">
    <div class="col-6">
      <div class="form-group">
        <label class="form-label myw-required">TokenURL</label>
        <input type="text" #tokenurlInput=ngModel maxlength="500" class="form-control" name='tokenurl' required
          (keyup)="onKeyazureURL(tokenurlInput.value)" [(ngModel)]='tokenurl' placeholder="Type here">
          <label class="form-label">You have {{ 500 - tokenurl?.length}} of 500 characters remaining.</label>
        <div *ngIf="tokenerrorvalid">
          <label style="color: red;font-size:smaller">
            Enter valid application url (start with http:// or https:// and url contain at least one dot(.))
          </label>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-label myw-required">Grant Type</label>
        <input type="text" maxlength="70" #granttypeInput=ngModel class="form-control" name='granttype' required
          [(ngModel)]='granttype' placeholder="Type here">
          <label class="form-label">You have {{ 70 - granttype?.length}} of 70 characters remaining.</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-label myw-required">Client ID</label>
        <input type="text" maxlength="70" #clientidInput=ngModel class="form-control" name='clientid' required [(ngModel)]='clientid'
          placeholder="Type here">
          <label class="form-label">You have {{ 70 - clientid?.length}} of 70 characters remaining.</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-label myw-required">Client Secret</label>
        <input type="text" maxlength="70" #clientsecretInput=ngModel class="form-control" name='clientsecret' required
          [(ngModel)]='clientsecret' placeholder="Type here">
          <label class="form-label">You have {{ 70 - clientsecret?.length}} of 70 characters remaining.</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-label myw-required">Resource</label>
        <input type="text" maxlength="70" #resourceInput=ngModel class="form-control" name='resource' required [(ngModel)]='resource'
          placeholder="Type here">
          <label class="form-label">You have {{ 70 - resource?.length}} of 70 characters remaining.</label>
      </div>
    </div>
  </div>
</div>
<div style="margin-right: 10em;font-size: 0.85rem;font-weight: 500;border-left: 5px solid #004dff;padding-left: 5px;">
  <!-- <input type="checkbox" [checked]="PIConfirmCheckbox"> -->
  <div>
    <span style="margin-right: 5px;">Does this file contain PII Data?</span>
    <span>
      <app-info-tooltip [labelTitle]="''" [description]="'pidatahelpDataSet'" [isImage1]="true"></app-info-tooltip>
    </span>
  </div>
  <input type="radio" name="PIConfirmRadio" (change)="onPIConfirmation(true)"><span class="ml-2">Yes</span>
  <input type="radio" name="PIConfirmRadio" class="ml-2" (change)="onPIConfirmation(false)"><span class="ml-2">No</span>
</div>
<div *ngIf="tokentext" style="color: orange;">
  <label style="margin-top: 1.0rem;">
    Model template Creation will not be allowed as Authentication Method selected is ‘Token’.
  </label>
</div>
<div class="d-flex justify-content-end myw-actions mt-4">
  <button class="btn btn-primary" data-dismiss="modal" (click)="testAPI()">Test API</button>
  <button class="btn btn-primary" data-dismiss="modal" (click)="onSubmit()" [disabled]="saveDisabled">Save</button>
</div>
