<div class="d-flex justify-content-center align-items-center add-filter-container">
  <div class=" add-filter table-responsive ingrAI-data-modification-table">
    <table class="table ingrAI-table ingrAI-data-table margin-negetive-16">
      <thead>
        <tr>
          <th scope="col" width="40%">
            <div class="d-flex justify-content-between align-items-center ">
              <span>Add Filter</span>
              <button type="button" class="close" aria-label="Close" (click)='onClose()'>
                <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
                  <use xlink:href="#ingrAI-icon-close"></use>
                </svg>
              </button>
            </div>
          </th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let filter of filterData ;let i=index">
          <td>
            <label class="checkcontainer">
              <span>{{filter}}</span>
              <input #select [value]='filter' (click)="onClick(select.value)" type="checkbox">
              <span class="checkmark"></span>
            </label>
          </td>
        </tr>

      
      </tbody>
      <tfoot>
          <tr>
            <td class= "d-flex justify-content-end align-items-center">
              <input type="button">
            </td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>