
<div class="d-flex">
    <div class="d-flex vds-rel-list align-items-center">
        <!-- <div class="vds-release-title fs-20 myw-700">Release List</div>
        <div class="dropdown mr-3 vds-risk-dp vds-risk-dp-new ml-3">
            <button class="btn-input-btn dropdown-toggle" type="button" id="ipversion" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedInputVersion.Version}}</button>
            <div class="dropdown-menu" aria-labelledby="ipversion" style="max-height: 12rem; overflow-y: auto;">
                <ng-container  *ngFor="let version of inputVersionDropDownList">   
                <a href="javascript:;" (click)="getTemplateInfoById(version.TemplateID)"  class="dropdown-item"  [ngClass]="{ 'selectedInput' : selectedInputVersion.Version == version.Version }">{{version.Version}}</a>
                </ng-container>
            </div>
         </div>    -->
       
    </div>
    <div class="vds-actions d-flex ml-auto">
        <a class="btn btn-secondary vds-unhide-tab" *ngIf="!Effort.Visible" (click)="Effort.Visible = true">Unhide Effort</a>
        <a class="btn btn-secondary vds-unhide-tab" *ngIf="!Team.Visible" (click)="Team.Visible = true">Unhide Team</a>
        <a class="btn btn-secondary vds-unhide-tab" *ngIf="!Schedule.Visible" (click)="Schedule.Visible = true">Unhide Schedule</a>
        <a class="btn btn-secondary vds-unhide-tab" *ngIf="!Defect.Visible" (click)="Defect.Visible = true">Unhide Defect</a>
        <a href="javascript:;" class="btn btn-secondary vds-graphical-view" *ngIf="detailedView" (click)="showGraphicalView()">Graphical View</a>
        <a href="javascript:;" class="btn btn-secondary vds-detailed-view" *ngIf="!detailedView"  (click)="showDetailedView()">Detailed View</a>
        <a href="javascript:;" class="btn btn-secondary vds-add-row" (click)="insertNewRow()">Add Row</a>
    </div>
</div>
<div class="table-responsive release-risk-predictor" style="max-width: fit-content;">
    <table class="table vds-risk-table mb-2 mt-4">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th [colSpan]="effortColSpan" *ngIf="Effort.Visible" class="vds-risk-col">
                    <div class="d-flex">
                        <div class="flex-grow-1">Effort</div>
                        <div class="dropdown dropflat dropright d-flex ml-auto">
                            <a href="javascript:;" class="vds-action" role="button" data-display="static"
                                data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" title="More Options"
                                aria-label="More Options"><img src="assets/MonteCarlo/images/options.svg"
                                    alt="More Options" /></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-body" style="min-height: auto !important;">
                                    <a (click)="Effort.Visible = false" class="dropdown-item" title="Hide Tab"><img
                                            src="assets/MonteCarlo/images/eye.svg" alt="" /> Hide Tab</a>
                                    <a *ngIf=" Effort.Phases.length > 4 && Effort.Phases.length  != effortColSpan"
                                        class="dropdown-item" (click)="effortColSpan = Effort.Phases.length;Effort.Expanded = Effort.Phases.length - 1;"
                                        title="Expand Tab"><img src="assets/MonteCarlo/images/expand.svg"
                                            alt="Expand Tab" />Expand Tab</a>
                                    <a *ngIf=" Effort.Phases.length != 4 && Effort.Phases.length == effortColSpan"
                                        class="dropdown-item" (click)="effortColSpan = 4; Effort.Expanded = 3" title="Collapse Tab"><img
                                            src="assets/MonteCarlo/images/expand.svg" alt="Collapse Tab" /> Collapse
                                        Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
                <th [colSpan]="teamSizeColSpan"  *ngIf="Team.Visible" class="vds-risk-col">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <label class="myw-checkbox">
                                <input type="checkbox" #inputRef name="vds-team" [checked]="TeamCheckedBox"
                                (change)="updateTeamSizeCheckBox($event)"><span>Team
                                    Size</span></label>
                        </div>
                        <div class="dropdown dropflat dropright d-flex ml-auto">
                            <a class="vds-action" role="button" data-display="static" data-toggle="dropdown"
                                aria-expanded="false" aria-haspopup="true" title="More Options"
                                aria-label="More Options"><img src="assets/MonteCarlo/images/options.svg"
                                    alt="More Options" /></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-body" style="min-height: auto !important;">
                                    <a (click)="Team.Visible = false" class="dropdown-item" title="Hide Tab"><img
                                            src="assets/MonteCarlo/images/eye.svg" alt="" /> Hide Tab</a>
                                    <a class="dropdown-item"
                                        *ngIf=" Team.Phases.length > 4 && Team.Phases.length   != teamSizeColSpan"
                                        (click)="teamSizeColSpan = Team.Phases.length; Team.Expanded = Team.Phases.length - 1" title="Expand Tab"><img
                                            src="assets/MonteCarlo/images/expand.svg" alt="Expand Tab" /> Expand Tab</a>
                                    <a class="dropdown-item"
                                        *ngIf="Team.Phases.length != 4 && Team.Phases.length == teamSizeColSpan"
                                        (click)="teamSizeColSpan = 4; Team.Expanded = 3" title="Collapse Tab"><img
                                            src="assets/MonteCarlo/images/expand.svg" alt="Collapse Tab" /> Collapse
                                        Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
                <th [colSpan]="scheduleColSpan" *ngIf="Schedule.Visible" class="vds-risk-col">
                    <div class="d-flex">
                        <div class="flex-grow-1">Schedule</div>
                        <div class="dropdown dropflat dropright d-flex ml-auto">
                            <a href="javascript:;" class="vds-action" role="button" data-display="static"
                                data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" title="More Options"
                                aria-label="More Options"><img src="assets/MonteCarlo/images/options.svg"
                                    alt="More Options" /></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-body" style="min-height: auto !important;">
                                    <a (click)="Schedule.Visible = false" class="dropdown-item" title="Hide Tab"><img
                                            src="assets/MonteCarlo/images/eye.svg" alt="" /> Hide Tab</a>
                                    <a href="javascript:;" (click)="scheduleColSpan = Schedule.Phases.length; Schedule.Expanded = Schedule.Phases.length - 3"
                                        class="dropdown-item"
                                        *ngIf=" Schedule.Phases.length > 6 && Schedule.Phases.length   != scheduleColSpan"
                                        title="Expand Tab"><img src="assets/MonteCarlo/images/expand.svg"
                                            alt="Expand Tab" /> Expand Tab</a>
                                    <a class="dropdown-item" (click)="scheduleColSpan = 6; Schedule.Expanded = 3" title="Collapse Tab"
                                        *ngIf=" Schedule.Phases.length != 6 &&  Schedule.Phases.length == scheduleColSpan">
                                        <img src="assets/MonteCarlo/images/expand.svg" alt="Collapse Tab" /> Collapse
                                        Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
                <th [colSpan]="defectColSpan" *ngIf="Defect.Visible" class="vds-risk-col">
                    <div class="d-flex">
                        <div class="flex-grow-1">Defect</div>
                        <div class="dropdown dropflat dropright d-flex ml-auto">
                            <a href="javascript:;" class="vds-action" role="button" data-display="static"
                                data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" title="More Options"
                                aria-label="More Options"><img src="assets/MonteCarlo/images/options.svg"
                                    alt="More Options" /></a>
                            <div class="dropdown-menu">
                                <div class="dropdown-body" style="min-height: auto !important;">
                                    <a (click)="Defect.Visible = false" class="dropdown-item" title="Hide Tab"><img
                                            src="assets/MonteCarlo/images/eye.svg" alt="" /> Hide Tab</a>
                                    <a href="javascript:;" (click)="defectColSpan = Defect.Phases.length; Defect.Expanded = Defect.Phases.length - 1"
                                        class="dropdown-item"
                                        *ngIf=" Defect.Phases.length > 4 && Defect.Phases.length   != defectColSpan"
                                        title="Expand Tab"><img src="assets/MonteCarlo/images/expand.svg"
                                            alt="Expand Tab" /> Expand Tab</a>
                                    <a href="javascript:;"
                                        *ngIf="Defect.Phases.length != 4 &&  Defect.Phases.length == defectColSpan"
                                        (click)="defectColSpan = 4; Defect.Expanded = 3" class="dropdown-item" title="Expand Tab"><img
                                            src="assets/MonteCarlo/images/expand.svg" alt="Expand Tab" /> Collapse
                                        Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th width="14%">Release Name</th>
                <ng-container *ngIf="Effort.Visible" >
                <ng-container *ngFor="let effortPhase of Effort.Phases | slice: 0 : Effort.Expanded; let headerIndex = index ">
                    <th *ngIf="headerIndex < 3 && unselectedPhases[effortPhase] != 'False'  && effortPhase != Effort.TotalKey"><a href="javasript:;" class="table-sort"> {{effortPhase}}</a></th>
                    <th [@expandCols] *ngIf="headerIndex >= 3 && effortColSpan > 4 && unselectedPhases[effortPhase] != 'False  && effortPhase != Effort.TotalKey'"><a href="javasript:;"
                            class="table-sort"> {{effortPhase}}</a></th>
                </ng-container>

                <ng-container *ngFor="let effortPhase of Effort.Phases | slice: Effort.Phases.length - 1 : Effort.Phases.length; let headerIndex = index ">
                    <th><a href="javasript:;" class="table-sort"> {{effortPhase}}</a></th>
            
                </ng-container>
               </ng-container>

               <ng-container *ngIf="Team.Visible" >
                <ng-container *ngFor="let teamPhase of Team.Phases | slice: 0 : Team.Expanded; let headerIndex = index ">
                    <th *ngIf="headerIndex < 3 && unselectedPhases[teamPhase] != 'False' && teamPhase != Team.TotalKey"><a href="javasript:;" class="table-sort"> {{teamPhase}}</a></th>
                    <th [@expandCols] *ngIf="headerIndex >= 3 && teamSizeColSpan > 4 && unselectedPhases[teamPhase] != 'False'  && teamPhase != Team.TotalKey"><a href="javasript:;"
                            class="table-sort"> {{teamPhase}}</a></th>
                </ng-container>
                <ng-container *ngFor="let teamPhase of Team.Phases | slice: Team.Phases.length - 1 : Team.Phases.length; let headerIndex = index ">
                    <th><a href="javasript:;" class="table-sort"> {{teamPhase}}</a></th>
                </ng-container>
               </ng-container>


               <ng-container *ngIf="Schedule.Visible" >
                <ng-container *ngFor="let schedulePhase of Schedule.Phases | slice: 0 : Schedule.Expanded; let headerIndex = index ">
                    <th *ngIf="headerIndex < 3 && unselectedPhases[schedulePhase] != 'False' && schedulePhase != Schedule.TotalKey 
                    && schedulePhase != Schedule.StartDate && schedulePhase != Schedule.EndDate"><a href="javasript:;" class="table-sort"> {{schedulePhase}}</a></th>
                    <th [@expandCols] *ngIf="headerIndex >= 3 && scheduleColSpan > 5 && unselectedPhases[schedulePhase] != 'False' && schedulePhase != Schedule.TotalKey 
                        && schedulePhase != Schedule.StartDate && schedulePhase != Schedule.EndDate"><a href="javasript:;"
                            class="table-sort"> {{schedulePhase}}</a></th>
                </ng-container>
                <ng-container *ngFor="let schedulePhase of Schedule.Phases | slice: Schedule.Phases.length - 3 : Schedule.Phases.length; let headerIndex = index ">
                    <th><a href="javasript:;" class="table-sort"> {{schedulePhase}}</a></th>
                </ng-container>
               </ng-container>


                <ng-container *ngIf="Defect.Visible" >
                <ng-container *ngFor="let defectPhase of Defect.Phases | slice: 0 : Defect.Expanded; let headerIndex = index ">
                    <th *ngIf="headerIndex < 3 && unselectedPhases[defectPhase] != 'False'  && defectPhase != Defect.TotalKey"><a href="javasript:;" class="table-sort"> {{defectPhase}}</a></th>
                    <th [@expandCols] *ngIf="headerIndex >= 3 && defectColSpan > 4 && unselectedPhases[defectPhase] != 'False'  && defectPhase != Defect.TotalKey"><a href="javasript:;"
                            class="table-sort"> {{defectPhase}}</a></th>
                </ng-container>
                <ng-container *ngFor="let defectPhase of Defect.Phases | slice: Defect.Phases.length - 1 : Defect.Phases.length ; let headerIndex = index ">
                    <th><a href="javasript:;" class="table-sort"> {{defectPhase}}</a></th>
                </ng-container>
                </ng-container>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowData | slice: startRowNumber: lastRowNumber; let rowIndex = index">
                <td>
                    <div class="d-flex align-items-center">
                        <label class="myw-checkbox myw-radio" style="width: max-content;" *ngIf="data['Release State'] == 'Current'">
                            <input type="radio" name="vds-release"
                            [checked]="data['Release Name'] == SelectedCurrentRelease"
                            (change)="selectCurrentRelease(data['Release Name'])">
                            <span ><img
                            [src]="(data['Release State'] != 'Past') ? 'assets/MonteCarlo/images/current-release.png' : 'assets/MonteCarlo/images/past-release.png'" 
                            [alt]="(data['Release State'] != 'Past') ? 'Current Release' : 'Past Release'" />{{data['Release Name']}}</span>
                        </label>
                        <label class="" style="width: max-content;" *ngIf="data['Release State'] == 'Past'">
                           <span style="padding-left: 1.5rem;font-weight: 500;"><img style="margin-right: 0.325rem;"
                            [src]="(data['Release State'] != 'Past') ? 'assets/MonteCarlo/images/current-release.png' : 'assets/MonteCarlo/images/past-release.png'" 
                            [alt]="(data['Release State'] != 'Past') ? 'Current Release' : 'Past Release'" />{{data['Release Name']}}</span>
                        </label>
                        <span class="vds-table-options">
                            <a href="javascript:;" (click)="deleteRow(rowIndex)" *ngIf="data['Release State'] === 'Current' && rowData.length > 5"><img src="assets/MonteCarlo/images/delete.svg" alt="Delete" /></a>
                            <!-- <a href="javascript:;" *ngIf="data['Release State'] != 'Past'"><img src="assets/MonteCarlo/images/edit.svg" alt="Edit" /></a> -->
                        </span>
                    </div>
                </td>
                <ng-container *ngIf="Effort.Visible" >
                <ng-container *ngFor="let phase of Effort.Phases | slice: 0 : Effort.Expanded; let headerIndex2 = index ">
                    <td *ngIf="headerIndex2 < 3 && unselectedPhases[phase] != 'False' && phase != Effort.TotalKey"
                    [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Effort.TotalKey, 'background-red' : ( data[Effort.MainKey +'_'+ phase] =='invalid' || data[Effort.MainKey +'_'+ phase] == 'invalidRange') ,
                    'background-white' : !( data[Effort.MainKey +'_'+ phase] =='invalid'  || data[Effort.MainKey +'_'+ phase] == 'invalidRange')}"
                    ><input type="text" #inputRef class="form-control vds-risk-control"     
                         [value]="data[Effort.MainKey +'_'+ phase]"
                         maxlength="70" 
                         [attr.disabled]="data['Release State'] == 'Past' || phase == Effort.TotalKey ? true : null"
                         (change)="rowValueChanged($event, rowIndex, Effort, phase)"/>
                    </td>
                    <td [@expandCols] 
                    [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Effort.TotalKey, 'background-red' : ( data[Effort.MainKey +'_'+ phase] =='invalid' || data[Effort.MainKey +'_'+ phase] == 'invalidRange') ,
                    'background-white' : !( data[Effort.MainKey +'_'+ phase] =='invalid'  || data[Effort.MainKey +'_'+ phase] == 'invalidRange')}"
                    *ngIf="headerIndex2 >= 3 && effortColSpan > 4 && unselectedPhases[phase] != 'False' && phase != Effort.TotalKey"><input type="text" #inputRef
                            class="form-control vds-risk-control" [attr.disabled]="data['Release State'] == 'Past' || phase === Effort.TotalKey ? true : null"
                            (change)="rowValueChanged($event, rowIndex, Effort, phase)" maxlength="70"
                            [value]="data[Effort.MainKey +'_'+ phase]" /></td>
                </ng-container>

                <ng-container *ngFor="let phase of Effort.Phases | slice: Effort.Phases.length - 1 : Effort.Phases.length; let headerIndex2 = index ">
                    <td class="pastRow-disabled"><input type="text" #inputRef
                            class="form-control vds-risk-control" [attr.disabled]="data['Release State'] == 'Past' || phase === Effort.TotalKey ? true : null"
                            (change)="rowValueChanged($event, rowIndex, Effort, phase)"
                            maxlength="70"
                            [value]="data[Effort.MainKey +'_'+ Effort.TotalKey]" /></td>
                </ng-container>
                </ng-container>

                <ng-container *ngIf="Team.Visible" >
                <ng-container *ngFor="let phase of Team.Phases | slice: 0 : Team.Expanded; let headerIndex2 = index ">
                    <td [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Team.TotalKey || !TeamCheckedBox , 'background-red' : ( data[Team.MainKey+'_'+ phase] =='invalid' || data[Team.MainKey+'_'+ phase] == 'invalidRange') ,
                                       'background-white' : !( data[Team.MainKey+'_'+ phase] =='invalid'  || data[Team.MainKey+'_'+ phase] == 'invalidRange')}"
                    *ngIf="headerIndex2 < 3 && unselectedPhases[phase] != 'False' && phase != Team.TotalKey"><input type="text" #inputRef class="form-control vds-risk-control" 
                    (change)="rowValueChanged($event, rowIndex, Team, phase)"
                    [attr.disabled]="data['Release State'] == 'Past' || phase === Team.TotalKey || !TeamCheckedBox ? true : null"
                    maxlength="70"   [value]="data[Team.MainKey+'_'+ phase]"/>
                    </td>
                    <td  [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Team.TotalKey, 'background-red' : ( data[Team.MainKey+'_'+ phase] =='invalid' || data[Team.MainKey+'_'+ phase] == 'invalidRange') ,
                                       'background-white' : !( data[Team.MainKey+'_'+ phase] =='invalid'  || data[Team.MainKey+'_'+ phase] == 'invalidRange')}"
                    [@expandCols] *ngIf="headerIndex2 >= 3 && teamSizeColSpan > 4 && unselectedPhases[phase] != 'False' && phase != Team.TotalKey "><input type="text" #inputRef
                    [attr.disabled]="data['Release State'] == 'Past' || phase === Team.TotalKey ||  !TeamCheckedBox ? true : null"
                            class="form-control vds-risk-control"
                            maxlength="70"
                            (change)="rowValueChanged($event, rowIndex, Team, phase)"
                            [value]="data[Team.MainKey+'_'+ phase]" /></td>

                </ng-container>
                <ng-container *ngFor="let phase of Team.Phases | slice: Team.Phases.length - 1 : Team.Phases.length; let headerIndex2 = index ">
                    <td  class='pastRow-disabled'>
                   <input type="text" #inputRef [attr.disabled]="data['Release State'] == 'Past' || phase === Team.TotalKey ? true : null"
                            class="form-control vds-risk-control"
                            maxlength="70"
                            (change)="rowValueChanged($event, rowIndex, Team, phase)"
                            [value]="data[Team.MainKey+'_'+ Team.TotalKey]" /></td>

                </ng-container>
                </ng-container>

                <ng-container *ngIf="Schedule.Visible" >
                <ng-container *ngFor="let phase of Schedule.Phases | slice: 0 : Schedule.Expanded; let headerIndex2 = index ">
                    <td *ngIf="headerIndex2 < 3 && unselectedPhases[phase] != 'False' && phase != Schedule.TotalKey 
                     && phase != Schedule.StartDate && phase != Schedule.EndDate"
                    [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Schedule.TotalKey, 'background-red' : ( data[Schedule.MainKey +'_'+ phase] =='invalid' || data[Schedule.MainKey +'_'+ phase] == 'invalidRange') ,
                    'background-white' : !( data[Schedule.MainKey+'_'+ phase] =='invalid'  || data[Schedule.MainKey+'_'+ phase] == 'invalidRange')}"
                    ><input type="text" #inputRef class="form-control vds-risk-control" maxlength="70" (change)="rowValueChanged($event, rowIndex, Schedule, phase)"
                    [attr.disabled]="data['Release State'] == 'Past' || phase === Schedule.TotalKey ? true : null" 
                        [value]="data[Schedule.MainKey +'_'+ phase]"/>
                    </td>
                    <td [@expandCols] 
                    [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Schedule.TotalKey, 'background-red' : ( data[Schedule.MainKey+'_'+ phase] =='invalid' || data[Schedule.MainKey+'_'+ phase] == 'invalidRange') ,
                    'background-white' : !( data[Schedule.MainKey+'_'+ phase] =='invalid'  || data[Schedule.MainKey+'_'+ phase] == 'invalidRange')}"
                    *ngIf="headerIndex2 >= 3 && scheduleColSpan > 4 && unselectedPhases[phase] != 'False' && phase != Schedule.TotalKey
                    && phase != Schedule.StartDate && phase != Schedule.EndDate"><input type="text" #inputRef (change)="rowValueChanged($event, rowIndex, Schedule, phase)"
                            class="form-control vds-risk-control"
                            maxlength="70"
                            [attr.disabled]="data['Release State'] == 'Past' || phase === Schedule.TotalKey ? true : null"
                            [value]="data[Schedule.MainKey +'_'+ phase]"/></td>

                </ng-container>
                <ng-container *ngFor="let phase of Schedule.Phases | slice: Schedule.Phases.length - 3 : Schedule.Phases.length; let headerIndex2 = index ">
                    <td [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Schedule.TotalKey, 'background-red' : ( data[Schedule.MainKey+'_'+ phase] =='invalid' || data[Schedule.MainKey+'_'+ phase] == 'invalidRange') ,
                    'background-white' : !( data[Schedule.MainKey+'_'+ phase] =='invalid'  || data[Schedule.MainKey+'_'+ phase] == 'invalidRange')}">
                        <input type="text" #inputRef class="form-control vds-risk-control"
                        (change)="rowValueChanged($event, rowIndex, Schedule, phase)"
                        maxlength="70"
                            [attr.disabled]="data['Release State'] == 'Past' || phase === Schedule.TotalKey ? true : null"
                            [value]="data[Schedule.MainKey +'_'+ phase]"/></td>
                </ng-container>
                </ng-container>

                <ng-container *ngIf="Defect.Visible" >
                <ng-container *ngFor="let phase of Defect.Phases | slice: 0 : Defect.Expanded; let headerIndex2 = index ">
                    <td [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Defect.TotalKey , 'background-red' : ( data[Defect.MainKey+'_'+ phase] =='invalid' || data[Defect.MainKey+'_'+ phase] == 'invalidRange') ,
                    'background-white' : !( data[Defect.MainKey+'_'+ phase] =='invalid'  || data[Defect.MainKey+'_'+ phase] == 'invalidRange')}"
                    *ngIf="headerIndex2 < 3 && unselectedPhases[phase] != 'False'  && phase != Defect.TotalKey"><input type="text" #inputRef class="form-control vds-risk-control" (change)="rowValueChanged($event, rowIndex, Defect, phase)"                    
                    [attr.disabled]="data['Release State'] == 'Past' || phase === Defect.TotalKey ? true : null"
                    maxlength="70"  [value]="data[Defect.MainKey+'_'+ phase]" />
                    </td>
                    <td  [ngClass]="{'pastRow-disabled': data['Release State'] == 'Past' || phase === Defect.TotalKey, 'background-red' : ( data[Defect.MainKey+'_'+ phase] =='invalid' || data[Defect.MainKey+'_'+ phase] == 'invalidRange') ,
                    'background-white' : !( data[Defect.MainKey+'_'+ phase] =='invalid'  || data[Defect.MainKey+'_'+ phase] == 'invalidRange')}"
                     [@expandCols] *ngIf="headerIndex2 >= 3 && defectColSpan > 4 && unselectedPhases[phase] != 'False' && phase != Defect.TotalKey"><input type="text" #inputRef (change)="rowValueChanged($event, rowIndex, Defect, phase)"
                     [attr.disabled]="data['Release State'] == 'Past' || phase === Defect.TotalKey ? true : null"
                     maxlength="70" class="form-control vds-risk-control" [value]="data[Defect.MainKey +'_'+ phase]"/></td>

                </ng-container>
                <ng-container *ngFor="let phase of Defect.Phases | slice: Defect.Phases.length - 1 : Defect.Phases.length ; let headerIndex2 = index ">
                    <td class="pastRow-disabled">
                     <input type="text"
                     [attr.disabled]="data['Release State'] == 'Past' || phase === Defect.TotalKey ? true : null"
                     maxlength="70"
                            class="form-control vds-risk-control" [value]="data[Defect.MainKey +'_'+ Defect.TotalKey]"/></td>

                </ng-container>
                </ng-container>
            </tr>

        </tbody>
    </table>
</div>

<div class="text-muted fs-14 vds-info-text mt-2" *ngIf="phaseWise && !detailedView" > <i>Click on closed release to view more details</i></div>
<div class="text-muted fs-14 vds-info-text mt-2" *ngIf="!phaseWise && !detailedView"> <i>Click on hide icon to view release wise details</i></div>

<!----Phases wise chart START -->
<div class="row vds-chart-section" *ngIf="phaseWise && !detailedView">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Efforts</div>
                <!-- <a href="javascript:;" class="ml-auto"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a> -->
            </div>
            <div class="card-body" *ngIf="Effort.ChartData">
              <app-phase-details-chart [lineChartData]="Effort.ChartData"
              [lineChartHeight]='200' [lineChartWidth]='140'
              [chartTitle]="Effort.MainKey"
              [chartType]="'PhaseWise'"
              [xlabel]="'Release Name'" [ylabel]="'Overall Effort (Hrs)'"
              (releaseNameClicked)="showReleaseWiseData($event)"></app-phase-details-chart>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Team Size</div>
                <!-- <a href="javascript:;" class="ml-auto"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a> -->
            </div>
            <div class="card-body" *ngIf="Team.ChartData">
                <app-phase-details-chart [lineChartData]="Team.ChartData"
                [lineChartHeight]='200' [lineChartWidth]='140'
                [chartTitle]="Team.MainKey"
                [chartType]="'PhaseWise'"
                [xlabel]="'Release Name'" [ylabel]="'Overall Team Size'"
                (releaseNameClicked)="showReleaseWiseData($event)"></app-phase-details-chart>
              </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Schedule</div>
                <!-- <a href="javascript:;" class="ml-auto"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a> -->
            </div>
            <div class="card-body" *ngIf="Schedule.ChartData">
                <app-phase-details-chart [lineChartData]="Schedule.ChartData"
                [lineChartHeight]='200' [lineChartWidth]='140'
                [chartTitle]="Schedule.MainKey"
                [chartType]="'PhaseWise'"
                [xlabel]="'Release Name'" [ylabel]="'Overall Schedule(Days)'"
                (releaseNameClicked)="showReleaseWiseData($event)"></app-phase-details-chart>
              </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Defects</div>
                <!-- <a href="javascript:;" class="ml-auto"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a> -->
            </div>
            <div class="card-body" *ngIf="Defect.ChartData">
                <app-phase-details-chart [lineChartData]="Defect.ChartData"
                [lineChartHeight]='200' [lineChartWidth]='140'
                [chartTitle]="Defect.MainKey"
                [chartType]="'PhaseWise'"
                [xlabel]="'Release Name'" [ylabel]="'Overall Defect Count'"
                (releaseNameClicked)="showReleaseWiseData($event)"></app-phase-details-chart>
              </div>
        </div>
    </div>
</div>
<!----Phases wise chart END -->


<!----Release wise chart START-->
<div class="row vds-chart-section" *ngIf="!phaseWise && !detailedView">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Efforts - {{releaseNameSelected}}</div>
                <a href="javascript:;" class="ml-auto" (click)="phaseWise = true"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a>
            </div>
            <div class="card-body" *ngIf="Effort.ReleaseWiseChartData">
              <app-phase-details-chart [lineChartData]="Effort.ReleaseWiseChartData"
              [lineChartHeight]='200' [lineChartWidth]='140'
              [chartTitle]="Effort.MainKey"
              [chartType]="'ReleaseWise'"
              [xlabel]="'Phase'" [ylabel]="'Value'"></app-phase-details-chart>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Team Size - {{releaseNameSelected}}</div>
                <a href="javascript:;" class="ml-auto"  (click)="phaseWise = true"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a>
            </div>
            <div class="card-body" *ngIf="Team.ReleaseWiseChartData">
                <app-phase-details-chart [lineChartData]="Team.ReleaseWiseChartData"
                [lineChartHeight]='200' [lineChartWidth]='140'
                [chartTitle]="Team.MainKey"
                [chartType]="'ReleaseWise'"
                [xlabel]="'Phase'" [ylabel]="'Value'"></app-phase-details-chart>
              </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Schedule - {{releaseNameSelected}}</div>
                <a href="javascript:;" class="ml-auto"  (click)="phaseWise = true"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a>
            </div>
            <div class="card-body" *ngIf="Schedule.ReleaseWiseChartData">
                <app-phase-details-chart [lineChartData]="Schedule.ReleaseWiseChartData"
                [lineChartHeight]='200' [lineChartWidth]='140'
                [chartTitle]="Schedule.MainKey"
                [chartType]="'ReleaseWise'"
                [xlabel]="'Phase'" [ylabel]="'Value'"></app-phase-details-chart>
              </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-header d-flex">
                <div class="card-title">Defects - {{releaseNameSelected}}</div>
                <a href="javascript:;" class="ml-auto"  (click)="phaseWise = true"><img src="assets/MonteCarlo/images/eye.svg" alt=""/></a>
            </div>
            <div class="card-body" *ngIf="Defect.ReleaseWiseChartData">
                <app-phase-details-chart [lineChartData]="Defect.ReleaseWiseChartData"
                [lineChartHeight]='200' [lineChartWidth]='140'
                [chartTitle]="Defect.MainKey"
                [chartType]="'ReleaseWise'"
                [xlabel]="'Phase'" [ylabel]="'Value'"></app-phase-details-chart>
              </div>
        </div>
    </div>
</div>
<!----Release wise chart START-->


<ng-template #warningmessage >
    <div class="deploymodle-confirmpopup" >
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
          (click)="modalRefDataQuality.hide()">
          <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
            <use xlink:href="#ingrAI-icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
       <div style="overflow-y: auto;min-height: 178px;height: 200px;">
       <div *ngFor="let m of realeaseMessageAfterValidation"> {{m}}</div>
       <div *ngFor="let m of effortMessageAfterValidation"> {{m}}</div>
      </div>   
        <div class="modal-footer" style="border-top: none;">
          <!-- <button type="button" class="btn btn-secondary" style=" font-size: 1rem;" (click)="decline()">No</button> -->
          <button type="button" class="btn btn-primary" style=" font-size: 1rem;" (click)="modalRefDataQuality.hide()">Ok</button>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template #phasesWarningMessage >
    <div class="deploymodle-confirmpopup" >
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close pull-right" style="cursor: pointer;" aria-label="Close"
          (click)="mddalRefphasesWarningMessage.hide()">
          <svg class="ingrAI-icon-svg ingrAI-icon-svg-md">
            <use xlink:href="#ingrAI-icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
       <div style="overflow-y: auto;min-height: 178px;height: 200px;">
       <div *ngFor="let m of effortMessageAfterValidation"> {{m}}</div>
      </div>   
        <div class="modal-footer" style="border-top: none;">
          <!-- <button type="button" class="btn btn-secondary" style=" font-size: 1rem;" (click)="decline()">No</button> -->
          <button type="button" class="btn btn-primary" style=" font-size: 1rem;" (click)="mddalRefphasesWarningMessage.hide()">Ok</button>
        </div>
      </div>
    </div>
  </ng-template>
  
