<!-- Multiple Files Mapping Modal -->
<!-- <div class="modal" id="ingrAI-multiple-mapping" tabindex="-1" role="dialog" aria-labelledby="ingrAI-multiple-mapping-title" aria-hidden="true" data-backdrop="static"> -->
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="ingrAI-multiple-mapping-title">Multiple Files Mapping</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cancelcreate" (click)='onClose()'>
           <svg class="ingrAI-icon-svg ingrAI-icon-svg-md"><use xlink:href="#ingrAI-icon-close"></use></svg>
        </button>
      </div>
      <div class="modal-body py-0" *ngIf='parentFile.length !== 0'>
        <div class="info-msg">Please validate the parent-child relationship before proceeding with mapping.</div>
        <div class="table-responsive">
          <table class="table ingrAI-table ingrAI-multiple-mapping">
            <thead>
              <tr>
                <ng-container *ngIf="isOnlyFiles != true">
                  <th scope="col" width="25%">File</th>
                  <th scope="col" width="25%">Columns</th>
                  <th scope="col" width="25%">Mapping File</th>
                  <th scope="col" width="25%">Mapping Columns</th>
                </ng-container>
                <ng-container *ngIf="isOnlyFiles == true">
                  <th scope="col" width="20%">File</th>
                  <th scope="col" width="20%">Columns</th>
                  <th scope="col" width="20%">Mapping File</th>
                  <th scope="col" width="20%">Mapping Columns</th>
                  <th scope="col" width="20%">Join</th>
                </ng-container>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" id="source_file0">
                      <option [value]="parentFile[0].FileName">{{parentFile[0].FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping0.source_column" id="source_column0" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let parentColumn of parentFileColumns' [value]="parentColumn">{{parentColumn}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping0.mapping_file" id="mapping_file0" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping0.mapping_column" id="mapping_column0" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let mappingColumn of mappingColumns0' [value]="mappingColumn">{{mappingColumn}}</option>
                    </select>
                  </div>
                </td>
                <td *ngIf="isOnlyFiles == true">
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping0.mapping_join" id="mapping_join0" (change)="onJoinSelect($event)">
                      <option *ngFor = 'let mappingJoin of mappingJoin0' [value]="mappingJoin">{{mappingJoin}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping1.source_file" id="source_file1" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping1.source_column" id="source_column1" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let sourceColumn of sourceColumns1' [value]="sourceColumn">{{sourceColumn}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping1.mapping_file" id="mapping_file1" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control"  [(ngModel)]="mapping1.mapping_column" id="mapping_column1" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let mappingColumn of mappingColumns1' [value]="mappingColumn">{{mappingColumn}}</option>
                    </select>
                  </div>
                </td>
                <td *ngIf="isOnlyFiles == true">
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping1.mapping_join" id="mapping_join1" (change)="onJoinSelect($event)">
                      <option *ngFor = 'let mappingJoin of mappingJoin1' [value]="mappingJoin">{{mappingJoin}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping2.source_file" id="source_file2" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping2.source_column" id="source_column2" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let sourceColumn of sourceColumns2' [value]="sourceColumn">{{sourceColumn}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping2.mapping_file" id="mapping_file2" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping2.mapping_column" id="mapping_column2" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let mappingColumn of mappingColumns2' [value]="mappingColumn">{{mappingColumn}}</option>
                    </select>
                  </div>
                </td>
                <td *ngIf="isOnlyFiles == true">
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping2.mapping_join" id="mapping_join2" (change)="onJoinSelect($event)">
                      <option *ngFor = 'let mappingJoin of mappingJoin2' [value]="mappingJoin">{{mappingJoin}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping3.source_file" id="source_file3" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping3.source_column" id="source_column3" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let sourceColumn of sourceColumns3' [value]="sourceColumn">{{sourceColumn}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping3.mapping_file" id="mapping_file3" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping3.mapping_column" id="mapping_column3" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let mappingColumn of mappingColumns3' [value]="mappingColumn">{{mappingColumn}}</option>
                    </select>
                  </div>
                </td>
                <td *ngIf="isOnlyFiles == true">
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping3.mapping_join" id="mapping_join3" (change)="onJoinSelect($event)">
                      <option *ngFor = 'let mappingJoin of mappingJoin3' [value]="mappingJoin">{{mappingJoin}}</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping4.source_file" id="source_file4" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping4.source_column" id="source_column4" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let sourceColumn of sourceColumns4' [value]="sourceColumn">{{sourceColumn}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping4.mapping_file" id="mapping_file4" (change)="onSelectFileName($event)">
                      <option value=''>Select File</option>
                      <option *ngFor = 'let files of allFiles' [value]="files.FileName">{{files.FileName}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping4.mapping_column" id="mapping_column4" (change)="onColumnSelect($event)">
                      <option value=''>Select Column</option>
                      <option *ngFor = 'let mappingColumn of mappingColumns4' [value]="mappingColumn">{{mappingColumn}}</option>
                    </select>
                  </div>
                </td>
                <td *ngIf="isOnlyFiles == true">
                  <div class="form-group mb-0">
                    <select class="form-control" [(ngModel)]="mapping4.mapping_join" id="mapping_join4" (change)="onJoinSelect($event)">
                      <option *ngFor = 'let mappingJoin of mappingJoin4' [value]="mappingJoin">{{mappingJoin}}</option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='onClose()'>Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ingrAI-enter-model" (click)='uploadMappingData()' [disabled]="disableApply">Apply</button>
      </div>
    </div>
  </div>
<!-- </div> -->
<!-- /Multiple Files Mapping Modal -->