<!-- <div class="ingrAI-sub-nav">
  <div class="ingrAI-sub-nav-nav">
      <a routerLink = "FeatureSelection" routerLinkActive="active" class="ingrAI-sub-nav-button ingrAI-sub-nav-active" title="Feature Selection">
          <span class="ingrAI-sub-nav-button-text">Feature Selection</span>									
      </a>
      <a routerLink = "RecommendedAI" routerLinkActive="active" class="ingrAI-sub-nav-button" title="Recommended AI">
          <span class="ingrAI-sub-nav-button-text">Recommended AI</span>									
      </a>
      <a routerLink = "TeachAndTest" routerLinkActive="active" class="ingrAI-sub-nav-button" title="Teach and Test">
          <span class="ingrAI-sub-nav-button-text">Teach and Test</span>									
      </a>
      <a routerLink = "CompareModels" routerLinkActive="active" class="ingrAI-sub-nav-button" title="Compare Models">
        <span class="ingrAI-sub-nav-button-text">COMPARE TEST SCENARIOS</span>									
      </a>
  </div>
  <div class="d-flex ml-auto ingrAI-flow-control align-items-center">
      <input type="button" class="btn btn-primary" value="Previous"  (click) = 'previous()'/>
      <input type="button" class="btn btn-primary btn-next bt-bg-color" value="Next" [attr.disabled] = "isNextDisabled?'':null" (click)='next()'/>
  </div>
</div>

<router-outlet></router-outlet> -->