.c-icons__eye-icon {
	cursor: pointer;
	margin-left: 24px;
}
.c-icons__eye-icon img {
	width: 16px;
	height: 14px;
}
.c-icons__eye-icon-off {
	cursor: pointer;
	margin-left: 12px;
}
.c-icons__eye-icon-off img {
	width: 16px;
	height: 16px;
}