<div class="vds-actions d-flex ml-auto mt-md-3 mt-lg-2" style="flex-direction: column;"
  *ngIf="typeOfSimulation != 'generic' && router.url.includes('/Input')">

  <div class="dropdown dropright dropflat d-flex" style="flex-direction: row-reverse;">
    <button class="btn btn-primary" style="margin-left: 1em;"
      *ngIf="config.flow === 'input' && apiCore.paramData.viewSimulationFlag != 'Yes'" (click)="runSimulation()"
      [ngClass]="{'disabled': validator.disableRunSimulation }">Run Simulation</button>
    <button class="btn btn-primary" style="margin-left: 1em;"
      *ngIf="config.flow === 'input' && apiCore.paramData.viewSimulationFlag == 'Yes'" (click)="loadOutput()">View
      Simulation</button>
    <a href="javascript:;" class="btn btn-secondary" data-toggle="modal" data-target="#saveeditmodal ">Save Edits</a>
    <a href="javascript:;" class="btn btn-secondary" data-toggle="dropdown" data-display="static" aria-haspopup="true"
      aria-expanded="false" id="selectPhase">Select Phases</a>
    <div class="dropdown-menu dropdown-xl" aria-labelledby="selectPhase" style="z-index: 990;">
      <div class="dropdown-body">
        <div class="d-flex align-items-center p-3">
          <h6 class="dropdown-title">Select Phases</h6>
          <a href="javascript:;" class="ml-auto"><img src="assets/MonteCarlo/images/close-btn.svg" alt="Close" /></a>
        </div>
        <form class="dropdown-body px-3 pb-3">

          <div class="d-flex flex-wrap vds-columns" *ngIf="apiCore.paramData.InputSelection">
            <label *ngFor='let phase of phases'>
              <!-- {{selectedPhases[phase]}}  {{apiCore.paramData.InputSelection[phase]}} -->
              <input #inputRef type="checkbox" name="risk-columns" (change)="checkedPhase(phase, $event)"
                [attr.checked]="(apiCore.paramData.InputSelection[phase] == 'True')? true : null"
                [attr.disabled]=" (apiCore.paramData.InputSelection[phase] == 'NA') ? true : null">
              <span
                [ngClass]="{'checkedPhase' : (apiCore.paramData.InputSelection[phase] == 'True')  , 
                        'uncheckedPhase' : (apiCore.paramData.InputSelection[phase] == 'False') }">{{phase}}</span></label>

          </div>

          <div class="vds-actions d-flex justify-content-end align-items-center mt-3">
            <button type="reset" class="btn btn-secondary" (click)="clearAllPhases()">Clear All</button>
            <button type="reset" class="btn btn-secondary" (click)="selectAllPhases()">Select All</button>
            <button type="button" class="btn btn-primary ml-auto" (click)="UpdatePhaseSelection()">Apply</button>
          </div>
        </form>
      </div>
    </div>
    <a href="javascript:;" class="btn btn-secondary" data-toggle="modal" (click)="uploadFile(uploadModal)">Upload
      File</a>
  </div>
  <div class="d-flex" style="position: absolute;top: 5em; left: 1em;">
    <div class="d-flex vds-rel-list align-items-center">
      <div class="vds-release-title fs-20 myw-700">Release List</div>
      <div class="dropdown mr-3 vds-risk-dp vds-risk-dp-new ml-3" *ngIf="inputVersionDropDownList">
        <button class="btn-input-btn dropdown-toggle" style="font-size: 1em !important;" type="button" id="ipversion"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedInputVersion.Version}}</button>
        <div class="dropdown-menu" aria-labelledby="ipversion" style="max-height: 12rem; overflow-y: auto;">
          <ng-container *ngFor="let version of inputVersionDropDownList">
            <a href="javascript:;" (click)="getTemplateInfoById(version.TemplateID)" class="dropdown-item"
              [ngClass]="{ 'selectedInput' : selectedInputVersion.Version == version.Version }">{{version.Version}}</a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex align-items-center flex-wrap vds-container my-3"
  *ngIf="typeOfSimulation == 'notgeneric' && config.flow === 'output'">

  <div class="vds-actions d-flex flex-wrap ml-auto">
    <!-- <a href="javascript:;" class="btn btn-secondary mt-lg-0 mt-3" data-toggle="modal" data-target="#uploadmodal">Upload
      File</a> -->
    <a (click)='navigateToRRPInput()' class="btn btn-secondary mt-lg-0 mt-3">View Data</a>
    <div class="dropdown mr-3 vds-risk-dp vds-risk-dp-new mt-lg-0 mt-3">
      <button class="btn-input-btn dropdown-toggle" type="button" id="ipversion" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedInputVersion.Version}}
      </button>
      <div class="dropdown-menu" aria-labelledby="ipversion" x-placement="bottom-start"
        style="max-height: 12rem; overflow-y: auto; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
        <ng-container *ngFor="let version of inputVersionDropDownList">
          <a href="javascript:;" (click)="getTemplateInfoById(version.TemplateID)" class="dropdown-item"
            [ngClass]="{ 'selectedInput' : selectedInputVersion.Version == version.Version }">{{version.Version}}</a>
        </ng-container>
      </div>
    </div>
    <div class="dropdown vds-risk-dp vds-risk-dp-new mt-lg-0 mt-3">
      <button class="btn-input-btn dropdown-toggle" type="button" id="smversion" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedSimulatedVersion.SimulationVersion}}
      </button>
      <div class="dropdown-menu" aria-labelledby="smversion" style="max-height: 12rem; overflow-y: auto;">
        <div class="vds-version-item" *ngFor="let version of simulatedVersionDropDownList">
          <div class="vds-version-item-col mr-auto"
            [ngClass]="{ 'selectedInput' : selectedSimulatedVersion.SimulationVersion == version.SimulationVersion }">
            <div class="vds-version-name" (click)="runSimulation(version.SimulationID )" style="cursor: pointer;">
              {{version.SimulationVersion}}</div>
            <input #simulationVersion type="text" maxlength="70" class="form-control d-none" />
            <!-- <small class="form-text text-muted">You have {{70 - simulationVersion.value?.length}} of 70 characters
              remaining.</small> -->
          </div>
        </div>
      </div>
    </div>
    <a href="javascript:;" class="btn btn-secondary mt-lg-0 mt-3" data-toggle="modal"
      data-target="#saveSimulationVersion">Save</a>
  </div>
</div>


<div class="d-flex align-items-center flex-wrap" *ngIf="typeOfSimulation == 'generic'">
  <!-- <nav class="nav nav-tabs">
    <a class="nav-item nav-link" title="Input" [ngClass]="{ 'active': router.url.includes('/Input') }"
      (click)="loadInput()">Input</a>
    <a class="nav-item nav-link" title="Output"
      [ngClass]="{ 'active': router.url.includes('/Output') , 'disabled': !disableOutput }"
      (click)="loadOutput()">Output</a>
  </nav> -->
  <!-- <nav class="nav nav-tabs">
    <a class="nav-item nav-link active">Input</a>
    <a class="nav-item nav-link">Output</a>
  </nav> -->
  <div class="d-flex ml-auto mt-md-3 mt-lg-1">
    <div class="dropdown mr-3 vds-risk-dp vds-risk-dp-new mt-lg-0 mt-3"
    [ngClass]="{ 'marginRightInput': config.flow !== 'output' , 'marginRightOutput' : config.flow === 'output' }">
      <button class="btn-input-btn dropdown-toggle" type="button" id="ipversion" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedInputVersion.Version}}
      </button>
      <div class="dropdown-menu" aria-labelledby="ipversion" x-placement="bottom-start"
        style="max-height: 12rem; overflow-y: auto; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
        <ng-container *ngFor="let version of inputVersionDropDownList">
          <a href="javascript:;" (click)="getTemplateInfoById(version.TemplateID)" class="dropdown-item"
            [ngClass]="{ 'selectedInput' : selectedInputVersion.Version == version.Version }">{{version.Version}}</a>
        </ng-container>
      </div>
    </div>

    <!-- TODO :: To bind the simulation values based on the input version selected -->
    <div class="dropdown vds-risk-dp vds-risk-dp-new mt-lg-0 mt-3" *ngIf="config.flow === 'output'">
      <button class="btn-input-btn dropdown-toggle" type="button" id="smversion" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedSimulatedVersion.SimulationVersion}}
      </button>
      <div class="dropdown-menu" aria-labelledby="smversion" style="max-height: 12rem; overflow-y: auto;">
        <div class="vds-version-item" *ngFor="let version of simulatedVersionDropDownList">
          <div class="vds-version-item-col mr-auto"
            [ngClass]="{ 'selectedInput' : selectedSimulatedVersion.SimulationVersion == version.SimulationVersion }">
            <div class="vds-version-name" (click)="runSimulation(version.SimulationID )" style="cursor: pointer;">
              {{version.SimulationVersion}}</div>
            <input #simulationVersion2 type="text" maxlength="70" class="form-control d-none" />
            <!-- <small class="form-text text-muted">You have {{70 - simulationVersion2.value?.length}} of 70 characters
              remaining.</small> -->
          </div>
        </div>
      </div>
    </div>
    <!-- TODO :: To bind the simulation values based on the input version selected -->
    <a href="javascript:;" class="btn btn-secondary mr-3" (click)="uploadFile(uploadModal)"
      *ngIf="config.flow === 'input'">Upload Files</a>
    <a (click)='navigateToGenericInput()' *ngIf="config.flow === 'output'"
      class="btn btn-secondary mt-lg-0 mt-3 ml-2">View Data</a>
    <a href="javascript:;" class="btn btn-secondary" *ngIf="config.flow === 'input'" data-toggle="modal"
      data-target="#saveeditmodalGeneric ">Save </a>
    <a href="javascript:;" class="btn btn-secondary" *ngIf="config.flow === 'output'" data-toggle="modal"
      data-target="#saveeditmodalOutputGeneric ">Save </a>
    <!-- <a href="javascript:;" class="btn btn-secondary mr-3 ml-0" (click)="showSaveAsModal(saveAsModal)">Save As</a>
    <a href="javascript:;" class="btn btn-secondary mr-3 ml-0" *ngIf="config.flow === 'input'"
      (click)="saveGridData()">Save</a>
    <a href="javascript:;" class="btn btn-secondary ml-0" [ngClass]="{'mr-3' : config.flow !== 'output'}"
      *ngIf="config.flow === 'output'" (click)="updateOutputSimulationInfo()">Save</a> -->
    <button class="btn btn-primary ml-2"
      *ngIf="config.flow === 'input' && apiCore.paramData.viewSimulationFlag != 'Yes'" (click)="runSimulation()"
      [ngClass]="{'disabled': validator.disableRunSimulation }">Run Simulation</button>
    <button class="btn btn-primary" style="margin-left: 1em;"
      *ngIf="config.flow === 'input' && apiCore.paramData.viewSimulationFlag == 'Yes'" (click)="loadOutput()">View
      Simulation</button>
  </div>
</div>





<!-- Confirm Simulated Version deletion Modal -->
<ng-template #SimulationExistModel>
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-end pt-3 pr-3">
      <a href="javascript:;" (click)="simulationExistModelRef.hide()" aria-label="Close"><img
          src="assets/MonteCarlo/images/close-btn.svg" alt="Close" /></a>
    </div>
    <div class="modal-body d-flex text-center flex-column pt-0 px-5">
      <!-- <div class="vds-risk-modal-title">Save as</div> -->
      <div class="mb-3">Simulated version will be deleted. Do you want to save the input version ?</div>
      <!-- <input type="text" #saveAsNewName class="form-control control-border" /> -->
      <div class="d-flex justify-content-end mt-5">
        <a href="javascript:;" class="btn btn-secondary mr-3" (click)="simulationExistModelRef.hide()">No</a>
        <a href="javascript:;" class="btn btn-primary" (click)="saveGridDataChecked()">Yes</a>
      </div>
    </div>
  </div>
</ng-template>
<!-- Confirm Simulated Version deletion Modal -->

<!-- Save As Modal -->
<ng-template #saveAsModal>
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-end pt-3 pr-3">
      <a href="javascript:;" (click)="saveAsModalRef.hide()" aria-label="Close"><img
          src="assets/MonteCarlo/images/close-btn.svg" alt="Close" /></a>
    </div>
    <div class="modal-body d-flex text-center flex-column pt-0 px-5">
      <div class="vds-risk-modal-title">Save as</div>
      <!-- <div class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div> -->
      <input type="text" #saveAsNewName maxlength="70" class="form-control control-border" />
      <small class="form-text text-muted">You have {{70 - saveAsNewName.value?.length}} of 70 characters
        remaining.</small>
      <div class="d-flex justify-content-end mt-5">
        <a href="javascript:;" class="btn btn-secondary mr-3" (click)="saveAsModalRef.hide()">Close</a>
        <a href="javascript:;" class="btn btn-primary" (click)="saveAs(saveAsNewName.value)">Save &amp; Close</a>
      </div>
    </div>
  </div>
</ng-template>
<!-- /Save As Modal -->

<!-- Template Name As Modal -->
<ng-template #templateNameModal>
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-end pt-3 pr-3">
      <a href="javascript:;" (click)="templateNameModalRef.hide()" aria-label="Close"><img
          src="assets/MonteCarlo/images/close-btn.svg" alt="Close" /></a>
    </div>
    <div class="modal-body d-flex text-center flex-column pt-0 px-5">
      <div class="vds-risk-modal-title">{{templateNameString}}</div>
      <div class="mb-3">Enter name</div>
      <input type="text" #templateName maxlength="70" class="form-control control-border" />
      <small class="form-text text-muted">You have {{70 - templateName.value?.length}} of 70 characters
        remaining.</small>
      <div class="d-flex justify-content-end mt-5">
        <a href="javascript:;" class="btn btn-secondary mr-3" (click)="templateNameModalRef.hide()">Close</a>
        <a href="javascript:;" class="btn btn-primary" (click)="updateVersionName(templateName.value)">Save &amp;
          Close</a>
      </div>
    </div>
  </div>
</ng-template>
<!-- Template Name As Modal  -->


<!-- Upload Modal -->
<ng-template #uploadModal>
  <div class="modal-content">
    <div class="modal-header d-flex align-items-center pt-3 pr-3">
      <h5 class="modal-title" id="uploadmodalTitle">Upload File</h5>
      <a href="javascript:;" (click)="uploadModalRef.hide()" aria-label="Close"><img
          src="assets/MonteCarlo/images/close-btn.svg" alt="Close" /></a>
    </div>
    <div class="modal-body">
      <!-- Upload Section -->
      <div class="vds-upload-page-container">
        <ng-container *ngIf="template == 'FileUpload' && typeOfSimulation && flowInfo">
          <app-upload [flow]="typeOfSimulation" [initiator]="'Input'" (fileData)="setFileData($event)"></app-upload>
        </ng-container>

        <!-- Selecting Phases -->
        <ng-container *ngIf="template == 'MappingPhases' && typeOfSimulation == 'notgeneric'">
          <div class="vds-upload-file-container vds-excel-file">

            <form class="px-3 pb-3">
              <div class="d-flex flex-column pt-4 pb-4">
                <div class="mb-3" *ngIf="baseVersionCheckedBox">
                  <!-- <input type="text" #inputVariable class="form-control" placeholder="Enter Version Name"
                    [(ngModel)]="saveNewName" /> -->
                </div>
                <label class="myw-checkbox">
                  <input #inputRefCheckbox type="checkbox" name="vds-release-updateabase"
                  [attr.checked]="(InsertBase)? true : null"
                  (change)="checkedUpdateBase($event)"
                    class="mr-1">
                  <span class="font-weight-normal">Update data for Base Version File</span></label>

              </div>
              <div class="d-flex flex-wrap vds-columns">
                <label *ngFor='let phase of phases'>

                  <input #inputRef type="checkbox" name="risk-columns" (change)="checkedPhase(phase, $event)"
                    [attr.checked]="(selectedPhases[phase] == 'True')? true : null"><span [ngClass]="{'checkedPhase' : selectedPhases[phase] == 'True'  , 
                    'uncheckedPhase' : selectedPhases[phase] == 'False'}">{{phase}}</span></label>

              </div>
              <div class="vds-actions d-flex justify-content-end align-items-center mt-3">
                <button type="reset" class="btn btn-secondary" (click)="clearAllPhasesUpload()">Clear All</button>
                <button type="reset" class="btn btn-secondary" (click)="selectAllPhasesUpload()">Select All</button>
                <!-- <button type="button" class="btn btn-primary ml-auto">Apply</button> -->
              </div>

            </form>
          </div>
        </ng-container>

        <ng-container *ngIf="template == 'MappingPhases' && typeOfSimulation == 'generic'">
          <!-- <div class="vds-use-continue-btn my-3 text-right">
            <a href="javascript:;" class="btn btn-sm btn-primary vds-usecase-continue" (click)="setTargetAndUnique()">Continue</a>
        </div> -->
          <div class="vds-upload-file-container vds-case-file mb-5"
            style="height: 260px; min-height: 400px; overflow-y: scroll;">
            <div class="vds-upload-title">Select Target and Unique ID</div>
            <div class="row my-3">
              <div class="col-6">
                <div class="vds-excel-container">
                  <div class="vds-excel-head">Select Target</div>
                  <div class="vds-excel-body">
                    <div class="form-check pl-0" *ngFor="let name of target">
                      <div class="vds-checkbox vds-radio"><label><input type="radio" #targetRef
                            name="vds-usecase-excel-effort"
                            (change)="checkedTarget(name, targetRef)"><span>{{name}}</span></label></div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="vds-excel-container">
                  <div class="vds-excel-head">Unique ID Selection</div>
                  <div class="vds-excel-body">
                    <div class="form-check pl-0" *ngFor="let name of unique">
                      <div class="vds-checkbox vds-radio"><label><input type="radio" #uniqueRef
                            name="vds-usecase-excel-effort-uniqueId"
                            (change)="checkedUnique(name, uniqueRef)"><span>{{name}}</span></label></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="vds-continue-btn open">
        <a href="javascript:;" class="btn btn-sm btn-secondary mr-3" (click)="uploadModalRef.hide()">Close</a>
        <a href="javascript:;" class="btn btn-sm btn-primary vds-risk-continue"
          *ngIf="template == 'FileUpload' && file && file.length" (click)="setTemplate('MappingPhases')">Continue</a>
        <a href="javascript:;" class="btn btn-sm btn-primary vds-usecase-continue"
          *ngIf="template == 'MappingPhases' && typeOfSimulation == 'generic'"
          (click)="setTargetAndUnique()">Continue</a>
        <a href="javascript:;" class="btn btn-sm btn-primary vds-risk-save"
          *ngIf="template == 'MappingPhases'&& selectedPhasesCount >= 3" (click)="uploadFileFromInputScreen()">Save
          &amp; Continue</a>
      </div>
      <!-- /Upload Section -->
    </div>
  </div>
</ng-template>
<!-- /Upload Modal -->

<!-- Modal for RRP save edit-->
<!-- Save Edit Modal -->
<div class="vds-risk-modal modal fade" id="saveeditmodal" tabindex="-1" role="dialog"
  aria-labelledby="saveeditmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex pt-3 pr-3">
        <h5 class="modal-title">Save Edits</h5>
        <a href="javascript:;" class="ml-auto" data-dismiss="modal" aria-label="Close"><img
            src="assets/MonteCarlo/images/close-w.svg" alt="Close" /></a>
      </div>
      <div class="modal-body d-flex  flex-column pt-4 px-3">
        <div class="mb-3" *ngIf="baseVersionCheckedBox">
          <input type="text" #inputVariable class="form-control" placeholder="Enter Version Name"
            [(ngModel)]="saveNewName" maxlength="70" />
            <small class="form-text text-muted">You have {{70 - saveNewName?.length}} of 70 characters
              remaining.</small>
        </div>
        <label>
          <input #inputRefRRP type="checkbox" name="vds-release-eee"
          (change)="checkedSaveInput($event)"
          [checked]="(baseVersionCheckedBox) ? true : null"
            class="mr-1">
          <span class="font-weight-normal"
          >Save as new version</span></label>
        <div class="vds-actions d-flex justify-content-end mt-4">
            <!-- [ngClass]="{'disabled': validator.disableRunSimulation }" -->
          <button class="btn btn-primary" data-dismiss="modal" (click)="saveEdits()"
          [attr.disabled]="(selectedInputVersion.Version === 'Base_Version' && baseVersionCheckedBox !== true) ? 'true' : null ">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Save Edit Modal -->

<!-- Save Edit output Modal -->
<div class="vds-risk-modal modal fade" id="saveSimulationVersion" tabindex="-1" role="dialog"
  aria-labelledby="saveeditmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex pt-3 pr-3">
        <h5 class="modal-title">Save Edits</h5>
        <a href="javascript:;" class="ml-auto" data-dismiss="modal" aria-label="Close"><img
            src="assets/MonteCarlo/images/close-w.svg" alt="Close" /></a>
      </div>
      <div class="modal-body d-flex  flex-column pt-4 px-3">
        <div class="mb-3" *ngIf="outputSaveCheckBox">
          <!-- <input type="text" #simulationVersionInput=ngModel class="form-control" name='simulationVersion'
            placeholder="Enter Simulation Version Name" [(ngModel)]='simulationVersion'
            [disabled]='outputSimulationTxt' /> -->
          <input type="text" #simulationVersionInput class="form-control" placeholder="Enter Simulation Version Name"
          maxlength="70" [(ngModel)]="newSimulationVersionName" />
          <small class="form-text text-muted">You have {{70 - newSimulationVersionName?.length}} of 70 characters
            remaining.</small>
        </div>
        <label>
          <input type="checkbox" #outputSaveCheck2 name="vds-release"
          [checked]="(outputSaveCheckBox)? true : null"
          (change)="checkedSaveOutput($event)"
          class="mr-1">
          <span class="font-weight-normal">Save as simulation version with a new name</span>
        </label>
        <div class="vds-actions d-flex justify-content-end mt-4">
          <button class="btn btn-primary" data-dismiss="modal" (click)='saveSimulationVersions()'>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Save Edit output Modal -->


<!-- Modal for generic save edit-->
<!-- Save Edit Modal -->
<div class="vds-risk-modal modal fade" id="saveeditmodalGeneric" tabindex="-1" role="dialog"
  aria-labelledby="saveeditmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex pt-3 pr-3">
        <h5 class="modal-title">Save Edits</h5>
        <a href="javascript:;" class="ml-auto" data-dismiss="modal" aria-label="Close"><img
            src="assets/MonteCarlo/images/close-w.svg" alt="Close" /></a>
      </div>
      <div class="modal-body d-flex  flex-column pt-4 px-3">
        <div class="mb-3" *ngIf="baseVersionCheckedBox">
          <input type="text" #inputVariable class="form-control" placeholder="Enter Version Name"
          maxlength="70" [(ngModel)]="saveNewName" />
          <small class="form-text text-muted">You have {{70 - saveNewName?.length}} of 70 characters
            remaining.</small>
        </div>
        <label>
          <input #inputRefGeneric type="checkbox" name="vds-release"
           (change)="checkedSaveInput($event)"
           [checked]="(baseVersionCheckedBox)? true : null"
            class="mr-1">
          <span class="font-weight-normal">Save as new version</span></label>
        <div class="vds-actions d-flex justify-content-end mt-4">
          <button class="btn btn-primary" data-dismiss="modal" (click)="saveEdits()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Save Edit Modal -->


<!-- Save Edit output Modal -->
<div class="vds-risk-modal modal fade" id="saveeditmodalOutputGeneric" tabindex="-1" role="dialog"
  aria-labelledby="saveeditmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex pt-3 pr-3">
        <h5 class="modal-title">Save Edits</h5>
        <a href="javascript:;" class="ml-auto" data-dismiss="modal" aria-label="Close"><img
            src="assets/MonteCarlo/images/close-w.svg" alt="Close" /></a>
      </div>
      <div class="modal-body d-flex  flex-column pt-4 px-3">
        <div class="mb-3" *ngIf="outputSaveCheckBox">
          <!-- <input type="text" #simulationVersionInput=ngModel class="form-control" name='simulationVersion'
            placeholder="Enter Simulation Version Name" [(ngModel)]='simulationVersion'
            [disabled]='outputSimulationTxt' /> -->
          <input type="text" #simulationVersionInput class="form-control" placeholder="Enter Simulation Version Name"
          maxlength="70" [(ngModel)]="newSimulationVersionName" />
          <small class="form-text text-muted">You have {{70 - newSimulationVersionName?.length}} of 70 characters
            remaining.</small>
        </div>
        <label>
          <input type="checkbox" #outputSaveCheck name="vds-release"
          [checked]="(outputSaveCheckBox)? true : null"
          (change)="checkedSaveOutput($event)"
          class="mr-1">
          <span class="font-weight-normal">Save as simulation version with a new name</span>
        </label>
        <div class="vds-actions d-flex justify-content-end mt-4">
          <button class="btn btn-primary" data-dismiss="modal"
            (click)='saveSimulationVersionsGenericOutput()'>Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Save Edit output Modal -->