.ingrAI-left-menu-container .ingrAI-left-menu-item {
    border-bottom: 1px solid #BDC9DA;
  }
  
  .ingrAI-left-menu-container .ingrAI-left-menu-item a {
    color: #333333;
    padding: 0.5rem 0;
  }
  
  .ingrAI-left-menu-container .ingrAI-left-menu-item a:hover {
    text-decoration: none;
  }
  
  .ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-name {
    width: calc( 100% - 4rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .ingrAI-left-menu-container .ingrAI-left-menu-item .ingrAI-left-menu-value {
    width: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .ingrAI-left-menu-container {
    height: 400px;
    overflow-y: auto;
  }
  
  .ingrAI-visualization-chart {
    height: 350px;
  }


  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.y-axis-text .tick .text {
  
}


::ng-deep .tooltip {	
  position: absolute;			
  text-align: left;			
  width: auto;					
  height: auto;					
  padding: 2px;				
  font: 10px sans-serif;		
  background: transparent;
  border: transparent	;
  border-radius: 8px;			
  pointer-events: none;	
  min-width: auto;
  padding: 2px;
}
::ng-deep .actual-bg-color{
  background-color: #1E88E5 !important;
  border: 1px solid #1E88E5 !important;	
  padding: 2px;
}
::ng-deep .forecast-bg-color{
  background-color: white !important;
  border: 1px solid white !important;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 5px;
}

::ng-deep .red-bg-color{
  background-color: #db5e5a !important;
  border: 1px solid #db5e5a !important;
  padding: 5px;
}

// #1E88E5' : '#6DB473